<h2 mat-dialog-title>Search Info
</h2>
<mat-dialog-content>
    <p>The search filter will filter by item name, along with masterwork, mod and perk names. It also has a few
        special commands (some of which match DIM's filters)</p>
    <ul>
        <li><code>AND</code> let's you type in multiple filters at once. For example <code>godroll AND rampage</code> or even <code>alloy AND rampage AND zen</code></li>
        <li><code>OR</code> let's you type in multiple filters at once. For example <code>solar OR void</code> (OR causes AND to be ignored, they cannot be combined) </li>
        <li><code>!</code> adds a NOT filter to your query. <code>!pulse monitor</code> 
            will show guns missing Pulse Monitor. <code>!zen AND rampage</code> 
            will show guns with rampage but not zen moment.</li> 
        <li><code>is:godroll</code> Show only items that match a god roll from a curated list of rolls 
            (see the docs links on the top right for more info)</li>
        <li><code>is:godrollpvp</code> <code>is:godrollpve</code> Selected by PvE vs PvP god rolls</li>
        <li><code>is:goodrollpvp</code> <code>is:goodrollpvp</code> <code>is:goodrollpve</code> 
            Rolls with all good perks, but not full god rolls</li>
        <li><code>is:highest</code> Shows the highest PL item for each slot (best to avoid sharding this if you only have one!)</li>
        <li><code>is:cap&lt;1360</code> Shows gear by its max power level. Supports <code>&gt;</code>, <code>&lt;</code>, <code>&gt;=</code>, <code>&lt;=</code>, and <code>=</code></li>
        <li><code>is:fixme</code> Show items with godroll/goodroll perks that aren't currently active</li>
        <li><code>is:masterwork</code> Has a fully upgraded masterwork socket</li>
        <li><code>is:hasmod</code> Has a mod applied</li>
        <li><code>is:random</code> Is a random roll, and thus cannot be restored from Collections</li>
        <li><code>is:fixed</code> Is a fixed roll, you can always grab it from collections</li>
        <li><code>is:light&gt;=900</code> Finds gear by Light Level (aka Power Level). Supports <code>&gt;</code>, <code>&lt;</code>, <code>&gt;=</code>, <code>&lt;=</code>, and <code>=</code></li>
        <li><code>is:stattotal&gt;=60</code> Finds armor by total stat points, same options as for is:light above</li>
        <li><code>is:prefpoints&gt;=30</code> Finds armor by total *preferred* stat points, same options as for is:light above</li>
        <li><code>is:locked</code> and <code>is:unlocked</code>Filters by lock state</li>
        <li><code>season:worthy</code> or <code>season:undying/dawn/opulence/drifter/forge/outlaw</code>Filters by specific season on armor</li>
        <li><code>has:arrivals</code> or <code>has:undying/dawn/opulence/drifter/forge/outlaw</code>Shows all armor that can hold that season's mod slot (so Season of Worthy armor would show for any of Arrivals + Worthy + Dawn) </li>

        <li><code>is:extratagged</code> This shows cases where you have more than one item marked Upgrade/Keep for a given slot+energy (+frame for guns). Similar to the '+2/2' button under "Copies"</li>
    </ul>
</mat-dialog-content>