.controls-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-wrapper {
  line-height: normal;
  box-sizing: border-box;
}

.quick-actions {
  display: flex;
  align-items: center;
}

.action {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.grid-wrapper {
  height: 100%;
  width: 100%;
  text-align: left;
}
