
<div class="main left">
  <div style="width: 100%" *ngIf="auth.authFeed | async; else notLoggedIn">
  <!-- <div *ngIf="false; else notLoggedIn"> -->
    <div class="controls-wrapper">
      <div>
        <button
          mat-button
          class="mat-accent mat-raised-button"
          (click)="toggleFilterPanel()">
          {{ filterButtonText }}
        </button>
        <span
          *ngIf="filters.filtersActive | async">
          <button
            mat-button
            class="mat-accent mat-raised-button margin-left-10"
            (click)="clearFilters()">
            Clear Filters
          </button>
          &nbsp;&nbsp;*You have filters active
        </span>
      </div>
      <div class="quick-actions">
        <div class="action"
        matTooltip="If hiding completed, activities in the table will be hidden if all characters have completed it.">
          <mat-checkbox
            [checked]="gridSettings.hideComplete | async"
            (change)="hideCompleteToggle($event)">
          </mat-checkbox>
          <b>&nbsp;&nbsp;{{ (gridSettings.hideComplete | async) ? 'Show all' : 'Hide completed' }}</b>
        </div>
        <div class="action">
          <mat-slide-toggle
            [checked]="gridSettings.compact | async"
            (change)="onCompactToggleChange($event)">
          </mat-slide-toggle>
          <b>&nbsp;&nbsp;View:&nbsp;{{ (gridSettings.compact | async) ? 'Compact' : 'Normal' }}</b>
        </div>
      </div>
    </div>
    
    <div [hidden]="!filterPanelOpen" class="filter-wrapper margin-top-20">
      <d2c-activity-filters></d2c-activity-filters>
    </div>
    <div class="grid-wrapper margin-top-20">
      <!-- <p class="type-caption">
        WIP! To sort by a column, click the header. To sort by multiple columns,
        hold shift and click the headers in the order you want to sort by.
        The <strong>Activity Details</strong> column will sort by weekly vs daily bounties.
        The <strong>Character</strong> columns will sort by completion state, prioritizing in-progress bounties.
      </p> -->
      <d2c-todo-table></d2c-todo-table>
      <br>
      <div>
        This table features filtering and sorting.
        <ul>
          <li>
            Filters can be accessed by pressing the "Edit Filters"
            button at the top of the screen. To toggle a filter on or off,
            click on the filter icon. To move large groups of filters,
            you can use some of the quick-filters at the bottom of each card.
          </li>
          <li>
            Sorting is done by clicking on the header of each column.
            To multi-sort, shift click on the columns you want to sort by,
            in the order you want them sorted.
            <ul>
              <li>Icon Column - Sorts roughly by activity type.
                It will group bounties by vendor and organize milestones roughly by type</li>
              <li>Activity Details - Sorts by a more general type.
                Bounties are sorted by weekly vs daily. Milestones
                don't have a sort among other milestones, but are
                prioritized higher than bounties.</li>
              <li>
                Rewards Column - Sorts by gear power level drop. For bounties, this doesn't apply
              </li>
              <li>
                Character Column - Sorts by completion state. In-progress items are first, followed by not started items, then completed, and finally not available.
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #notLoggedIn>
    <d2c-sign-in-required></d2c-sign-in-required>
  </ng-template>

</div>
