<div class="mat-typography">
  <h2 mat-dialog-title>Preferred Armor Stats</h2>
  <mat-dialog-content>
    <div class="form-container">
      <p class="simple-caption">Select stats which will be added up and used for sorting when ordering your armor by
        points.<br>If you wish to entirely hide a class from deals, turn all stats off.</p>
      <div class="toggles">
        <mat-tab-group>
          <mat-tab *ngFor="let destinyClass of destinyClasses" [label]="destinyClass">
            <div class="margin-10">

              <div class="responsive-row" *ngFor="let c of preferredStatService.choices">
                <div>
                  <mat-slider [max]="100" [min]="0" [step]="5" [thumbLabel]="true" [tickInterval]="10"
                    [(ngModel)]="preferred.stats[destinyClass][c]"></mat-slider>
                </div>
                <div>
                  {{c}} {{preferred.stats[destinyClass][c]}}%
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div>
        <div class="show-all-stats">
          <mat-checkbox [(ngModel)]="preferred.showAllStats">Show all stats</mat-checkbox>
        </div>
        <div class="show-all-stats">
          <mat-checkbox [(ngModel)]="preferred.ignoreEnergyOnVendorArmorDeals"><span>Ignore energy for vendor armor
              deals</span></mat-checkbox>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button (click)="closeSave()">Save</button>
    <button mat-button (click)="closeReset()">Reset</button>
    <button mat-button (click)="closeCancel()">Cancel</button>
  </div>
</div>