.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container>* {
    // width: 100%;
}

.toggles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-evenly;
}

.toggle {
    margin: 10px;
}

.show-all-stats {
    margin: 10px;
    // max-width: 200px;
}


.responsive-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.responsive-row > div {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 800px) {

    .responsive-row {
        flex-direction: column;
    }

}
:host::ng-deep.mat-checkbox-layout{
    white-space: normal !important;
    }
    
    :host::ng-deep.mat-checkbox-inner-container{
        margin-top: 4px;
    }