<ng-container *ngIf="game$|async as g">
    <div class="flex-row justify-center">
        <div class="pgcrImage" [style.background-image]="'url(//www.bungie.net' + g.pgcrImage + ')' ">
            <h3 class="pgcrImageText">{{g.mode}}: {{g.activityName}} 
                <span class="pad-left" *ngIf="g.pveSuccess!=null">
                    <fa-icon [icon]="iconService.fasTimes" *ngIf="g.pveSuccess==false" class="warn-text"> </fa-icon>
                    <fa-icon [icon]="iconService.fasCheck" *ngIf="g.pveSuccess==true" class="accent-text"></fa-icon>
                </span>
            </h3>            
            <div class="flex-row">
                <p class="pgcrImageText">{{g.period|date:'shortDate'}} {{g.period|date:'shortTime'}}</p>
                <p class="pgcrImageText">{{g.activityDurationSecondsText}}</p>
                
            </div>
            <div class="pgcrImageText">{{g.activityLocation}}</div>
            <div class="pgcr-spacer"></div>            
            <p *ngIf="g.pveTeamScore" class="pgcrImageText">{{g.pveTotalTeamScore|number}} - {{g.timeLostPoints|number}} =  <b>{{g.pveTeamScore|number}} pts</b></p>
        </div>       
        <table class="tidy-auto-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th *ngIf="g.viewMode==ViewMode.GAMBIT">Reaper</th>
                    <th *ngIf="g.viewMode==ViewMode.GAMBIT">Collector</th>
                    <th *ngIf="g.viewMode==ViewMode.GAMBIT">Invader</th>
                    <th *ngIf="g.viewMode==ViewMode.GAMBIT">Primeval</th>
                    <th *ngIf="g.viewMode!=ViewMode.GAMBIT">Kills</th>
                    <th *ngIf="g.viewMode!=ViewMode.GAMBIT">Assists</th>
                    <th>KD</th>
                    <th *ngIf="g.viewMode!=ViewMode.PVE">Medals</th>
                    <th *ngIf="!g.allScoresZero && (g.viewMode==ViewMode.PVP || g.pveTeamScore)">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of g.entries" class="pgcr-hover-row" (click)="show(e)">
                    <ng-container *ngIf="e.fireTeamStatus=='first'">
                        <td [attr.rowspan]="e.fireTeamSize" class="fireteam-group-cell">
                            <div class="accent-bg-text fireteam-group">&nbsp;</div>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="e.fireTeamStatus==null">
                        <td> </td>
                    </ng-container>                    
                    <td>
                        <ng-container *ngIf="e?.info.player as player">
                            <div class="flex-row">
                            <div *ngIf="player.destinyUserInfo?.iconPath as icon" class="icon size-40" [style.background-image]="'url(//www.bungie.net' + icon + ')'"></div>
                            <div>
                                <div>{{player.destinyUserInfo.displayName}}</div>
                                <div class="simple-caption-darker-no-margin">{{player.characterClass}} {{player.lightLevel}}</div>
                            </div>
                            </div>
                        </ng-container>
                        
                    </td>
                    <td *ngIf="g.viewMode==ViewMode.GAMBIT">{{findGeneralStat(e, 'Hostiles Defeated')}}</td>
                    <td *ngIf="g.viewMode==ViewMode.GAMBIT">{{findGeneralStat(e, 'Motes Deposited')}} 
                        <ng-container *ngIf="findGeneralStat(e, 'Motes Lost') as lost">
                            <div class="simple-caption-darker-no-margin warn-text margin-top-5" *ngIf="lost>0">
                                {{lost}} lost
                            </div>
                        </ng-container>
                    <td *ngIf="g.viewMode==ViewMode.GAMBIT">
                        <ng-container *ngIf="findGeneralStat(e, 'Guardians Defeated') as kills"><div *ngIf="kills>0">{{kills}} kills</div></ng-container>
                        <ng-container *ngIf="findGeneralStat(e, 'Motes Denied') as denied"><div class="simple-caption-darker-no-margin  margin-top-5" *ngIf="denied>0">{{denied}} denied</div></ng-container>
                    </td>
                    <td *ngIf="g.viewMode==ViewMode.GAMBIT">{{findGeneralStat(e, 'Primeval Damage')|number}}</td>
                    <td *ngIf="g.viewMode!=ViewMode.GAMBIT">{{e.values.kills}}</td>
                    <td *ngIf="g.viewMode!=ViewMode.GAMBIT">{{e.values.assists}}</td>
                    <td>{{e.values.kd|number:'1.0-2'}}</td>
                    <td *ngIf="g.viewMode!=ViewMode.PVE">{{e.info.medalsEarned}}</td>
                    
                    <td *ngIf="!g.allScoresZero && (g.viewMode==ViewMode.PVP || g.pveTeamScore)">{{e.info.score|number}}</td>
                </tr>
            </tbody>
        </table>

        <div class="flex-row">
            <div *ngFor="let e of g.entries">
                <div class="detail-list">
                    <h3>Values</h3>
                    <ng-container *ngFor="let key of Object.keys(e.values)">
                        <div>
                            {{key}}: {{e.values[key]}}
                        </div>
                    </ng-container>
                    
                </div>
                <div class="detail-list">
                    <h3>General</h3>
                    <ng-container *ngFor="let g of e.general">
                        <div>
                            <span [matTooltip]="g.statDesc">{{g.statName}}: {{g.value}}</span>
                        </div>
                    </ng-container>
                    
                </div>
                
                <div class="detail-list">
                    <h3>Medals</h3>
                    <ng-container *ngFor="let g of e.medals">
                        <div>
                            <span [matTooltip]="g.statDesc">{{g.statName}}: {{g.value}}</span>
                        </div>
                    </ng-container>
                    
                </div>
                
                <div class="detail-list">
                    <h3>Weapons</h3>
                    <ng-container *ngFor="let w of e.weapons">
                        <div>
                            {{w.displayProperties.name}}: {{w.kills}}
                        </div>
                    </ng-container>
                    
                </div>
            </div>
        </div>
    </div>
    

    <div style="max-width: 300px; overflow: scroll;">
        <pre style="text-align: left">{{g|json}}</pre>
    </div>

</ng-container>