
.pgcrImage {    
    width: 306px;
    height: 172px; // todo set to larger for high res
    
    aspect-ratio: 16/9;
    background-size: contain;    
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    background-repeat: no-repeat;
}

.pgcrImageText {
    background-color: hsla(0,0%,100%,.5);
    color: #000;
    padding:3px;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;

}


.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  .flex-row>* {
    margin: 5px;
  }