<h3>PGCR2</h3>

<ng-container *ngIf="game$|async as g">
    <div class="flex-row">
        <div class="pgcrImage" [style.background-image]="'url(//www.bungie.net' + g.pgcrImage + ')' ">
            <h3 class="pgcrImageText">{{g.mode}}: {{g.activityName}}</h3>
            <p class="pgcrImageText">{{g.activityLocation}}</p>
        </div>
        <table class="checklist-table">
            <tbody>
                <tr>
                    <th>Start</th>
                    <td>{{g.period|date:'shortDate'}} {{g.period|date:'shortTime'}}</td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td>{{g.activityDurationSecondsText}}</td>
                </tr>
                <tr *ngIf="g.pveSuccess!=null">
                    <th>PVE Success</th>
                    <td>
                        <fa-icon [icon]="iconService.fasTimes" *ngIf="g.pveSuccess==false" class="warn-text"> </fa-icon>
                        <fa-icon [icon]="iconService.fasCheck" *ngIf="g.pveSuccess==true" class="accent-text"></fa-icon>
                    </td>
                </tr>
                <tr *ngIf="g.pveTeamScore">
                    <th>Score</th>
                    <td>{{g.pveTeamScore|number}}</td>
                </tr>
                <tr *ngIf="g.timeLostPoints">
                    <th>Score lost to time</th>
                    <td>{{g.timeLostPoints|number}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <pre style="text-align: left">{{g|json}}</pre>
</ng-container>