@import 'styles-variables';

table.responsive-table{
  & td {
    text-align: left;
    vertical-align: top;
  }
}

.desc-cell{
  max-width: 400px;
}

.burn-icon {
  width: 60px;
  height: 60px;
  background-size: cover;
  display: inline-block;
}