      <div class="fixed-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="(state.loading|async)===true"></mat-spinner>
      </div>
      <div class="body-text" (keydown.r)="onR($event)" tabindex="1">

        <div *ngIf="errorMsg|async as msg">{{msg}}</div>
        <ng-container *ngIf="state.player|async as player">
          <ng-container *ngIf="player!=null && player.superprivate">
            <h4>
              <fa-icon [icon]="PLATFORMS_DICT[player.profile.userInfo.membershipType+''].icon"
                style="font-weight: normal !important"></fa-icon>
              {{player.profile.userInfo.displayName}} - Hidden by Privacy Settings
            </h4>
          </ng-container>

          <ng-container *ngIf="player!=null && !player.superprivate">
            <h2>
              <fa-icon [icon]="PLATFORMS_DICT[player.profile.userInfo.membershipType+''].icon"
                style="font-weight: normal !important"></fa-icon>
              {{player.profile.userInfo.displayName}}
              <d2c-friend-star title="true" [userInfo]="player.profile.userInfo" [favoritesMap]=(favoritesMap|async)>
              </d2c-friend-star>
              <button mat-icon-button (click)="state.requestRefresh()">
                <fa-icon [icon]="iconService.farSync"></fa-icon>
              </button>
            </h2>

            <h4>
              <ng-container *ngIf="player.title?.trim().length>0"> {{player.title}} |</ng-container>
              <ng-container *ngIf="player.artifactPowerBonus"> +{{player.artifactPowerBonus}} Artifact</ng-container>
              <ng-container *ngIf="player.seasonRank!=null && player.seasonRank.level"> | Season Rank:
                {{player.seasonRank.level}} </ng-container>
            </h4>
            <ng-container
              *ngIf="player.profile.userInfo!=null && player.profile.userInfo.bungieInfo!=null && player.profile.userInfo.bungieInfo.clans!=null">

              <ng-container class="clans"
                *ngFor="let clan of player.profile.userInfo.bungieInfo.clans; first as isFirst; last as isLast">
                <ng-container *ngIf="isFirst">Clan: </ng-container>
                <a [routerLink]="['/clan', clan.id]">{{clan.name}}</a>
                <ng-container *ngIf="!isLast">, </ng-container>
              </ng-container>
            </ng-container>

            <div class="simple-caption-darker" *ngIf="player!=null && !player.superprivate">
              <ng-container *ngIf="player.currentActivity==null">
                Last played: {{player.profile.dateLastPlayed | d2cAgoHumanized }}
              </ng-container>
              <span *ngIf="player.currentActivity!=null">
                Playing now: {{player.currentActivity.type}} - {{player.currentActivity.name}} | Started
                {{player.currentActivity.dateActivityStarted | d2cAgoHumanized }}
              </span>
            </div>

            <div class="button-row">
              <a mat-button [routerLink]="['/party', player.characters[0].membershipType, player.characters[0].membershipId]">
                <fa-icon class="menu-icon" [icon]="iconService.falGamepad"
                  [class.accent-text]="player.currentActivity!=null"></fa-icon>
                <span class="d-none d-md-inline">Current Party</span>
              </a>
              <a mat-button
                [routerLink]="['/history', player.characters[0].membershipType, player.characters[0].membershipId, player.characters[0].characterId]">
                <fa-icon [icon]="iconService.fasHistory" class="menu-icon"></fa-icon>
                <span class="d-none d-md-inline">Activity History</span>
              </a>
              <a mat-button
                [routerLink]="['/recent-players', player.characters[0].membershipType, player.characters[0].membershipId, player.characters[0].characterId]">
                <fa-icon [icon]="iconService.fasUserFriends" class="menu-icon"></fa-icon>
                <span class="d-none d-md-inline">Recent Teammates</span>
              </a>
              <button mat-button [matMenuTriggerFor]="menu">
                <fa-icon [icon]="iconService.fasEllipsisV" class="menu-icon"></fa-icon>
                <span class="d-none d-md-inline">External Links</span>
              </button>
              <mat-menu #menu="matMenu">
                <a mat-menu-item href="https://destiny2utils.com/" rel="noopener" target="_blank" rel="noopener">
                  <mat-icon>upgrade</mat-icon>
                  Destiny 2 Utils
                </a>
                <a mat-menu-item href="https://app.destinyitemmanager.com/" target="_blank" rel="noopener">
                  <mat-icon>bookmark</mat-icon>
                  <span>DIM</span>
                </a>
                <a mat-menu-item [href]="getRaidLink(player)" target="_blank" rel="noopener">
                  <mat-icon>flag</mat-icon>
                  <span>Raid.Report</span>
                </a>
              </mat-menu>
            </div>

            <nav mat-tab-nav-bar color="accent">
              <a mat-tab-link routerLink="milestones" routerLinkActive #rla1="routerLinkActive"
                [active]="rla1.isActive">
                <fa-icon [icon]="iconService.fasFlag"></fa-icon><span class="d-none d-md-inline">&ensp;Milestones</span>
              </a>
              <a mat-tab-link routerLink="pursuits" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
                <fa-icon [icon]="iconService.fasGift"></fa-icon><span class="d-none d-md-inline">&ensp;Pursuits</span>
              </a>
              <a mat-tab-link routerLink="triumphs" routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive">
                <fa-icon [icon]="iconService.fasTrophy"></fa-icon><span class="d-none d-md-inline">&ensp;Triumphs</span>
              </a>
              <a mat-tab-link routerLink="collections" routerLinkActive #rla6="routerLinkActive"
                [active]="rla6.isActive">
                <i class="icon-collections"></i><span class="d-none d-md-inline">&ensp;Collections</span>
              </a>
              <a mat-tab-link routerLink="checklist" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
                <fa-icon [icon]="iconService.fasCheckSquare"></fa-icon><span
                  class="d-none d-md-inline">&ensp;Checklist</span>
              </a>
              <a mat-tab-link routerLink="lifetime" routerLinkActive #rlaLifetime="routerLinkActive"
                [active]="rlaLifetime.isActive">
                <fa-icon [icon]="iconService.fasSigma"></fa-icon><span class="d-none d-md-inline">&ensp;Lifetime</span>
              </a>
              <a mat-tab-link routerLink="more" routerLinkActive #rlaMore="routerLinkActive"
                [active]="rlaMore.isActive">
                <fa-icon [icon]="iconService.fasEllipsisV"></fa-icon><span class="d-none d-md-inline">&ensp;More</span>
              </a>
            </nav>

            <router-outlet></router-outlet>
          </ng-container>
        </ng-container>
      </div>
