@import "styles-variables";

.button-row {
  & button {
    margin-bottom: 10px;
  }
}

.body-text {
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: 0.01px;
  overflow-wrap: break-word;
  z-index: 1;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
    width: auto;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .body-text {
    width: auto;
  }
}

.menu-icon {
  padding-right: 5px;
}
