<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <div class="fixed-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="(state.loading|async)===true"></mat-spinner>
      </div>
      <div class="body-text">
        
        <div *ngIf="errorMsg|async as msg">{{msg}}</div>
        <ng-container *ngIf="state.player|async as player">
          <ng-container *ngIf="player!=null && player.superprivate">
            <h4><i style="font-weight: normal !important"
                [ngClass]="const.PLATFORMS_DICT[player.profile.userInfo.membershipType+''].iconClass"></i>
              {{player.profile.userInfo.displayName}} - Hidden by Privacy Settings</h4>
          </ng-container>

          <ng-container *ngIf="player!=null && !player.superprivate">
            <h1>
              <i style="font-weight: normal !important"
                [ngClass]="const.PLATFORMS_DICT[player.profile.userInfo.membershipType+''].iconClass"></i>
              {{player.profile.userInfo.displayName}}
              <a mat-icon-button
                [ngClass]="(favoritesMap|async)[storageService.getFavKey(player.profile.userInfo)]!==undefined?'warn-text':''"
                (click)="storageService.toggleFav(player.profile.userInfo, null)" href="javascript:void(0)"> <i class="far fa-heart"></i></a>
              <a mat-icon-button href="javascript:void(0)" (click)="state.requestRefresh()"> <i class="far fa-sync"></i></a>
            </h1>
            <h4 *ngIf="player.title.trim().length>0">{{player.title}}</h4>
            <ng-container
              *ngIf="player.profile.userInfo!=null && player.profile.userInfo.bungieInfo!=null && player.profile.userInfo.bungieInfo.clans!=null">

              <ng-container class="clans"
                *ngFor="let clan of player.profile.userInfo.bungieInfo.clans; first as isFirst; last as isLast">
                <ng-container *ngIf="isFirst">Clan: </ng-container>
                <a [routerLink]="['/clan', clan.id]">{{clan.name}}</a>
                <ng-container *ngIf="!isLast">, </ng-container>
              </ng-container>
            </ng-container>

            <div class="simple-caption" *ngIf="player!=null && !player.superprivate">
              <ng-container
                *ngIf="(player.currentActivity==null || (player.currentActivity!=null && player.currentActivity.name=='Tower'))">
                Last played: {{today| amDifference:player.profile.dateLastPlayed | amDuration:'ms'}} ago
              </ng-container>
              <span *ngIf="player.currentActivity!=null && player.currentActivity.name!='Tower'">
                Playing now: {{player.currentActivity.type}} - {{player.currentActivity.name}} | Started {{today|
                    amDifference:player.currentActivity.dateActivityStarted|
                    amDuration:'ms'}} ago
              </span>
            </div>

            <div class="button-row">
              <button mat-button (click)="showBurns()">
                <i class="menu-icon fa-icon fas fa-burn"></i>
                <span class="d-none d-md-inline">Today's Modifiers</span>
              </button>
              <a mat-button
                [routerLink]="['/history', player.characters[0].membershipType, player.characters[0].membershipId, player.characters[0].characterId]">
                <i class="menu-icon fa-icon fas fa-history"></i>
                <span class="d-none d-md-inline">Activity History</span>
              </a>
              <a mat-button
                [routerLink]="['/recent-players', player.characters[0].membershipType, player.characters[0].membershipId, player.characters[0].characterId]">
                <i class="menu-icon fa-icon fas fa-user-friends"></i>
                <span class="d-none d-md-inline">Recent Teammates</span>
              </a>
              <button mat-button [matMenuTriggerFor]="menu">
                <i class="menu-icon fa-icon fas fa-ellipsis-v"></i>
                <span class="d-none d-md-inline">External Links</span>
              </button>
              <mat-menu #menu="matMenu">
                <a mat-menu-item href="https://app.destinyitemmanager.com/" rel="warn-text" target="_blank"
                  rel="noopener">
                  <mat-icon>bookmark</mat-icon>
                  <span>DIM</span>
                </a>
                <a mat-menu-item [href]="getRaidLink(player)" rel="warn-text" target="_blank" rel="noopener">
                  <mat-icon>flag</mat-icon>
                  <span>Raid.Report</span>
                </a>
              </mat-menu>
            </div>

            <nav mat-tab-nav-bar>
              <a mat-tab-link routerLink="milestones" routerLinkActive #rla1="routerLinkActive"
                [active]="rla1.isActive">
                <i class="fas fa-flag"></i><span class="d-none d-md-inline">&ensp;Milestones</span>
              </a>
              <a mat-tab-link routerLink="pursuits" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
                <i class="fas fa-gift"></i><span class="d-none d-md-inline">&ensp;Pursuits</span>
              </a>
              <a mat-tab-link routerLink="triumphs" routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive">
                <i class="fas fa-trophy"></i><span class="d-none d-md-inline">&ensp;Triumphs</span>
              </a>
              <a mat-tab-link routerLink="collections" routerLinkActive #rla6="routerLinkActive"
                [active]="rla6.isActive">
                <i class="icon-collections"></i><span class="d-none d-md-inline">&ensp;Collections</span>
              </a>
              <a mat-tab-link routerLink="checklist" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
                <i class="fas fa-check-square"></i><span class="d-none d-md-inline">&ensp;Checklist</span>
              </a>
              <a mat-tab-link routerLink="lifetime" routerLinkActive #rlaLifetime="routerLinkActive"
                [active]="rlaLifetime.isActive">
                <i class="fas fa-sigma"></i><span class="d-none d-md-inline">&ensp;Lifetime</span>
              </a>
              <!-- <a mat-tab-link routerLink="progress" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
                <i class="fas fa-chart-line"></i><span class="d-none d-md-inline">&ensp;Progress</span>
              </a> -->
              <a mat-tab-link routerLink="more" routerLinkActive #rlaMore="routerLinkActive"
                [active]="rlaMore.isActive">
                <i class="fas fa-ellipsis-v"></i><span class="d-none d-md-inline">&ensp;More</span>
              </a>
              <!-- <a mat-tab-link routerLink="chars" routerLinkActive #rla7="routerLinkActive" [active]="rla7.isActive">
                <i class="fas fa-users"></i><span class="d-none d-md-inline">&ensp;Chars</span>
              </a> -->
            </nav>

            <router-outlet></router-outlet>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="(disableAds|async)!==true" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="(disableAds|async)!==true" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>