.seal-body {
  text-align: left;
  margin: 5px;
  max-width: 500px;
}

.seal-icon {
  width: 37.875px;
  height: 37.875px;
  margin: 5px 15px 5px 5px;
  background-size: cover;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}
