<div class="childComponent">
  <div class="childVert">
    <div class="main">

      <h1>Destiny 2 Checklist</h1>
      <div class="actions">
        <a class="space-right" mat-raised-button color="accent" rel="noopener"
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS">
          <i class="fab fa-paypal"></i> Donate
        </a>
        <a class="space-right" mat-raised-button target="_blank" rel="noopener"
          href="https://twitter.com/DestinyChecklst">
          <i class="fab fa-twitter"></i> @DestinyChecklst
        </a>
        <a class="space-right" mat-raised-button target="_blank" rel="noopener"
          href="https://www.reddit.com/r/destinychecklistnet">
          <i class="fab fa-reddit"></i> /r/destinychecklistnet
        </a>
        <a class="space-right" mat-raised-button target="_blank" rel="noopener"
          href="https://github.com/dcaslin/d2-checklist/">
          <i class="fab fa-github"></i> Source Code
        </a>
      </div>
      <div class="get-started">
        <section class="body-1">
          <p>
            This site's goal is to help people have more fun with Destiny 2. As the game changes so will its features.
            Focus is generally on tracking data for yourself, your friends and your clan.
          </p>
        </section>
        <section class="body-2">
          <p>This site is <a href="https://github.com/dcaslin/d2-checklist/" target="_blank">open sourced on GitHub</a>,
            and actively supported via
            <a href="https://www.reddit.com/r/destinychecklistnet" target="_blank" rel="noopener">Reddit</a> and
            <a href="https://twitter.com/DestinyChecklst" target="_blank" rel="noopener">Twitter</a>.
          </p>
          <p>
            If you don't like ads, just pop over to the <a routerLink="/settings">settings page</a> and disable
            them. The site will remember your settings in the future.
            That same settings page also has options to choose a dark (or pink) theme.
          </p>
          <p> You can help support the site by using one of the Amazon links below:</p>
          <div class="link-row">
              <a href="https://www.amazon.com/Destiny-Grimoire-Anthology-Vol-I/dp/1945683449/ref=as_li_ss_il?keywords=destiny+grimoire+bungie&qid=1563114029&s=digital-text&sr=1-1-catcorr&linkCode=li2&tag=destinychecklist-20&linkId=37dc3afddb326a358af1b5c12d42aff5&language=en_US"
                target="_blank"><img border="0"
                  src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1945683449&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US"></a><img
                src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=1945683449"
                width="1" height="1" border="0" alt="" />
              <a href="https://www.amazon.com/Destiny-Comic-Collection-Bungie-Inc/dp/1945683953/ref=as_li_ss_il?keywords=destiny+grimoire&qid=1563112028&s=gateway&sr=8-3&linkCode=li2&tag=destinychecklist-20&linkId=6e6720c3a56e4556600bb79caa360f79&language=en_US"
                target="_blank"><img border="0"
                  src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1945683953&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US"></a><img
                src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=1945683953"
                width="1" height="1" border="0" alt="" />
              <a href="https://www.amazon.com/Art-Destiny-Bungie/dp/1608874206/ref=as_li_ss_il?keywords=destiny+grimoire&qid=1563112028&s=gateway&sr=8-7&linkCode=li2&tag=destinychecklist-20&linkId=8b2700b846e4ba71bbff0883d59fe8ef&language=en_US"
                target="_blank"><img border="0"
                  src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1608874206&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US"></a><img
                src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=1608874206"
                width="1" height="1" border="0" alt="" />
              <a href="https://www.amazon.com/Art-Destiny-2-Bungie/dp/168383111X/ref=as_li_ss_il?keywords=destiny+grimoire&qid=1563112028&s=gateway&sr=8-4&linkCode=li2&tag=destinychecklist-20&linkId=c35ad54587438920f3db1f9252eb0714&language=en_US"
                target="_blank"><img border="0"
                  src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=168383111X&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US"></a><img
                src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=168383111X"
                width="1" height="1" border="0" alt="" />
            </div>
          
        </section>
      </div>
    </div>
    <div *ngIf="(disableAds|async)!==true" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="(disableAds|async)!==true" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>