<ng-container *ngIf="signedOnUserService.signedOnUser$|async as currUser; else notSignedIn">
    <ng-container *ngIf="signedOnUserService.player$|async as player; else noPlayerYet">

        <d2c-bounty-shopping-list 
            [player]="player" 
            [currUser]="currUser" 
            [debugmode]="debugmode|async"
            [loading]="signedOnUserService.playerLoading$|async" 
            [vendorsLoading]="signedOnUserService.vendorsLoading$|async"
            [vendorData]="signedOnUserService.vendors$|async"
            [shoppingListHashes]="shoppingListHashes$|async" 
            [currentModalBountySet]="modalBountySet$|async"
            (toggleVendorBounty)="onToggleVendorBounty($event)"
            (clearShoppingList)="onClearShoppingList()"
            (showModalBountySet)="onShowModalBountySet($event)"
            (refresh)="signedOnUserService.refreshPlayerAndVendors()">
        </d2c-bounty-shopping-list>
    </ng-container>
</ng-container>
<!-- Decide if show anything w/o sign on -->
<ng-template #notSignedIn>
    <d2c-sign-in-required></d2c-sign-in-required>
</ng-template>
<ng-template #noPlayerYet>
    <fa-icon class="fa-icon" [icon]="iconService.farSpinner" style="opacity: 0.5" [spin]="true" size="2x"
        [fixedWidth]="true"></fa-icon>
    <!-- <div class="center-spinner">
        <mat-spinner class="loading" class="center-spinner"></mat-spinner>
    </div> -->
</ng-template>