<mat-dialog-content>
    <div class="column">


        <h4>{{title}}</h4>
        <div>{{desc}}</div>


        <table class="responsive-table">
            <thead>
                <tr>
                    <th>
                        Player
                    </th>
                    <th>
                        Platform
                    </th>
                    <th>
                        Last Logon
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of users">
                    <td class="lead">
                        <a [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId]">
                            {{member.destinyUserInfo.displayName}}
                        </a>
                    </td>
                    <td data-label="Platform">
                        {{member.destinyUserInfo.platformName}}
                    </td>
                    <td data-label="Last Logon">
                        {{today| amDifference:(member.lastOnlineStatusChange | amFromUnix) | amDuration:'ms'}} ago
                    </td>
                </tr>
            </tbody>
        </table>
    </div>