.hide-mobile-inline {
  display: inline;
  visibility: visible;
}

.title-icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  display: inline-block;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: row dense;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
  font-size: 24px;
  box-sizing: content-box;
  border-radius: 50%;
  padding: 4px;
}

.icon-parent{
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 4px;
}

.title-text {
  margin: 0px !important;
}

.title {
  display: flex;
  flex-direction: row;
}
