<div class="settings-body">

    <div class="filter-row">        
        <button mat-stroked-button (click)="openUserDialog('Overridden Cross-Save Members', 'These accounts were overridden by cross-save from another platform, you should probably remove them from your clan.', state.defunctMembers)">
                {{state.defunctMembers.length}} members overridden by cross-save ignored.
        </button>
    </div>
    <div class="filter-row">
        <mat-form-field class="searchField searchPlatform">
            <mat-select [(ngModel)]="state.inactivityMonthThreshold" placeholder="Inactivity cutoff"
                (selectionChange)="state.inactivityThresholdChange()">
                <mat-option *ngFor="let i of state.inactivityMonthOptions" [value]="i">
                    {{i}} months
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <button mat-stroked-button (click)="openUserDialog('Inactive Members', 'These accounts are valid but haven\'t logged on in '+state.inactivityMonthThreshold+' months.', state.inactiveMembers)">
                {{state.inactiveMembers.length}} inactive hidden.
        </button>
    </div>
    <div class="filter-row">
        <mat-form-field class="searchField searchPlatform">
            <mat-select [(ngModel)]="state.selectedPlatform" placeholder="Platform"
                (selectionChange)="state.selectedPlatformChange()">
                <mat-select-trigger>
                    <i [ngClass]="state.selectedPlatform.iconClass"></i>&ensp;{{state.selectedPlatform.name }}
                </mat-select-trigger>
                <mat-option *ngFor="let p of state.platforms" [value]="p">
                    <i [ngClass]="p.iconClass"></i>&ensp;{{ p.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="filter-count">{{(state.sortedMembers|async).length}} / {{state.members.length}}</span>

    </div>

</div>