<p>uber-list works!</p>

<div>
  <d2c-signed-on-loading-icon></d2c-signed-on-loading-icon>
  <button mat-icon-button class="pad-left-more" (click)="state.refresh()">
    <fa-icon [icon]="iconService.fasSyncAlt"></fa-icon>
  </button>
</div>

<ng-container *ngIf="signedOnUserService.player$|async as player">

  <ng-container *ngIf="state.rows$|async as rows">
    <table class="responsive-table">
      <thead>
        <tr>
          <th class="sticky">&nbsp;</th>
          <th class="sticky">Activity</th>
          <th class="sticky">Rewards</th>

          <th class="sticky" *ngFor="let char of player.characters">
            {{char.className}} - {{char.light}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <ng-container *ngIf="row.type=='pursuit'">
            <td>
              <ng-container *ngIf="row?.title?.icon as icon">
                <div class="list-icon divider-border" [style.background-image]="'url(//www.bungie.net' + icon + ')'">
                </div>
              </ng-container>
            </td>
            <td>
              {{row.title.name}}
            </td>
            <td>
              <div class="flex-row" *ngIf="row.title.values as rewards">
                <div *ngFor="let r of rewards">
                  <img *ngIf="r.icon" [src]="'//www.bungie.net' + r.icon" class="reward-icon" loading="lazy"
                    [matTooltip]="(r.quantity > 0 ? r.quantity:'') + ' ' + r.name">
                </div>
              </div>

            </td>
            <td *ngFor="let char of player.characters">
              <ng-container *ngIf="row.characterEntries[char.id] as data">
                <d2c-uber-pursuit-check [pursuit]="data"></d2c-uber-pursuit-check>
              </ng-container>
              
            </td>
          </ng-container>
          <ng-container *ngIf="row.type=='milestone'">
            <td>
              <ng-container *ngIf="row.desc?.displayProperties?.icon as icon">
                <div class="list-icon divider-border" [class.invert]="icon.endsWith('png')"
                  [class.brighten]="icon.endsWith('jpg')"
                  [style.background-image]="'url(//www.bungie.net' + icon + ')'">
                </div>
              </ng-container>
            </td>
            <td>
              {{row.title.name}}
            </td>
            <td>
              <div class="flex-row" *ngIf="row.rewards as rewards">
                <div *ngFor="let r of rewards">
                  <img *ngIf="r.icon" [src]="'//www.bungie.net' + r.icon" class="reward-icon" loading="lazy"
                    [matTooltip]="(r.quantity > 0 ? r.quantity:'') + ' ' + r.name">
                </div>
              </div>
            </td>
            <td *ngFor="let char of player.characters">
              <ng-container *ngIf="row.characterEntries[char.id] as data">
                <d2c-milestone-check [milestoneStatus]="data" [detailed]="true"></d2c-milestone-check>
              </ng-container>
              
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

  </ng-container>

</ng-container>