<p>uber-list works!</p>
<d2c-signed-on-loading-icon></d2c-signed-on-loading-icon>
<div>
  <span class="fake-link pad-left-more" (click)="state.refresh()">
    <fa-icon [icon]="iconService.fasSyncAlt"></fa-icon>
  </span>
</div>

<ng-container *ngIf="state.rows$|async as rows">

  <div *ngFor="let row of rows">

    <ng-container  *ngIf="row?.item?.icon as icon">
      <div class="list-icon divider-border" 
      [style.background-image]="'url(//www.bungie.net' + icon + ')'"></div>
    </ng-container>
    <ng-container  *ngIf="row.desc?.displayProperties?.icon as icon">
      <div class="list-icon divider-border" [class.invert]="icon.endsWith('png')"
      [class.brighten]="icon.endsWith('jpg')"
      [style.background-image]="'url(//www.bungie.net' + icon + ')'"></div>
    </ng-container>
   

    {{row.hash}} {{row.name}} {{row.desc?.displayProperties?.icon}}

  </div>
</ng-container>