<ng-container *ngIf="state.player|async as player">
  <div class="hide-complete-collectibles">
    <mat-checkbox [(ngModel)]="state.hideCompleteCollectibles">Hide Completed</mat-checkbox>
  </div>
  <mat-tree [dataSource]="collectionDatasource" [treeControl]="collectionTreeControl">
    <mat-tree-node class="tree-leaf" *matTreeNodeDef="let node" [hidden]="hideNode(node)" matTreeNodeToggle
      matTreeNodePadding (click)="selectedTreeNodeHash=node.data.hash; location.go(state.getPlayerRouteString(['collections','tree',node.data.hash]))">
      <button mat-icon-button disabled></button>
      <div *ngIf="node.data.icon!=null" class="transparent-icon transparent-branch-icon"
        [style.background-image]="'url(//www.bungie.net' + node.data.icon + ')'"></div>
      <div style="text-align: left; margin-bottom: 20px" [class.warn-text]="node.data.hash == selectedTreeNodeHash" [id]="'tree-node-'+node.data.hash">
        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="node.data.acquired " class="accent-text mat-option.mat-selected"></fa-icon>        
        <fa-icon [icon]="iconService.farSquare" *ngIf="!node.data.acquired"></fa-icon>                
        {{node.data.name}} <ng-container *ngIf="debugmode|async">{{node.data.hash}}</ng-container>
        <br>
        <span class="simple-caption">
          {{node.data.sourceString}}
        </span>
      </div>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" [hidden]="hideNode(node)" matTreeNodePadding [id]="'tree-node-'+node.data.hash">
      <button mat-icon-button matTreeNodeToggle (click)="selectedTreeNodeHash=node.data.hash; location.go(state.getPlayerRouteString(['collections','tree',node.data.hash]))">
        <mat-icon class="mat-icon-rtl-mirror">
          {{collectionTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div *ngIf="node.data.icon!=null" class="transparent-icon transparent-branch-icon"
        [style.background-image]="'url(//www.bungie.net' + node.data.icon + ')'"></div>
      <div style="text-align: left" [id]="node.data.hash">        
        <fa-icon [icon]="iconService.fasCheckSquare"  *ngIf="node.data.complete" class="accent-text mat-option.mat-selected"></fa-icon>        
        <fa-icon [icon]="iconService.farSquare" *ngIf="!node.data.complete"></fa-icon>
        {{node.data.name}}
        <span *ngIf="debugmode|async">{{node.data.hash}}</span>
        <span class="simple-caption">
          {{node.data.progress}}/{{node.data.completionValue}} {{node.data.progressDescription}}
        </span> <br>
        <mat-progress-bar [color]="node.data.hash == selectedTreeNodeHash?'warn':'primary'" class="pres-node-prog"
          mode="determinate" [value]="node.data.progress*100/node.data.completionValue"></mat-progress-bar>
      </div>
    </mat-tree-node>
  </mat-tree>

</ng-container>