<ng-container *ngIf="state.modelPlayer|async as modelPlayer; else loadingModel">
    <h4 *ngIf="(state.sortedMembers|async).length==0" class="left warn-text">
        All members filtered out, check your <a routerLink="../settings">Settings</a>
    </h4>
    <table class="tidy-auto-table clan-table" *ngIf="(state.sortedMembers|async).length>0">
        <thead>
            <tr>
                <ng-container *ngTemplateOutlet="sortHeader"></ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of state.sortedMembers|async">
                <td class="lead">
                    <a [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId]">
                        {{member.destinyUserInfo.displayName}} {{member.destinyUserInfo.platformName}}
                    </a>
                    <d2c-friend-star [userInfo]="member.destinyUserInfo" [favoritesMap]=(favoritesMap|async)></d2c-friend-star>
                    <span class="fake-link" style="margin-left:0.25em"
                        (click)="state.loadSpecificPlayer(member, true)">
                        &ensp;<fa-icon [icon]="iconService.fasSync"></fa-icon>
                    </span>
                    <ng-container *ngIf="member.player$|async as player">
                        <span class="simple-caption" *ngIf="player!=null && player.title.trim().length>0">
                            {{player.title}}
                        </span>
                    </ng-container>
                    
                </td>
                <td>
                    <ng-container *ngIf="member.player$|async as player">
                        <ng-container *ngIf="!player.superprivate">
                            <ng-container
                                *ngIf="member.isOnline && player && player.currentActivity; else lastPlayed">
                                <a mat-button
                                    [routerLink]="['/','party',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId]"
                                    matTooltip="Playing right now!">
                                    <fa-icon [icon]="iconService.fasGamepadAlt" size="2x"></fa-icon>
                                </a>
                                <div *ngIf="player && player.currentActivity">
                                    {{player.currentActivity.type}}</div>

                            </ng-container>

                            <ng-template #lastPlayed>
                                {{player.profile.dateLastPlayed|d2cAgoHumanized}}
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="player.superprivate">
                            Blocked by privacy settings
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="(member.player$|async)==null">
                        {{member.lastOnlineStatusChange|d2cAgoHumanized}}
                    </ng-container>

                </td>
                <ng-container *ngIf="member.player$|async as player; else noPlayer">
                    <td>
                        <ng-container *ngIf="!player.superprivate">
                            +{{player.artifactPowerBonus}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!player.superprivate && player.seasonRank && player.seasonRank.level">
                            {{player.seasonRank.level}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!player.superprivate">
                            {{player.triumphScore|number : '1.0-0'}}
                        </ng-container>
                    </td>
                    <td data-label="Trials">
                        <ng-container *ngIf="!player.superprivate && player.trialsRank">
                            {{player.trialsRank.currentProgress|number}}
                            <div class="simple-caption">
                                {{player.trialsRank.title}}
                            </div>
                            <div class="simple-caption" *ngIf="player.trialsRank.currentResetCount">
                                {{player.trialsRank.currentResetCount}} resets
                            </div>

                        </ng-container>
                    </td>
                    <td data-label="Glory">
                        <ng-container *ngIf="!player.superprivate && player.glory">
                            {{player.glory.currentProgress|number}}
                            <div class="simple-caption">
                                {{player.glory.title}}
                            </div>

                        </ng-container>
                    </td>
                    <td data-label="Gambit">
                        <ng-container *ngIf="!player.superprivate && player.gambitRank">
                            {{player.gambitRank.currentProgress|number}}
                            <div class="simple-caption" *ngIf="player.gambitRank.currentResetCount">
                                {{player.gambitRank.currentResetCount}} resets
                            </div>

                        </ng-container>
                    </td>
                    <td data-label="Crucible">
                        <ng-container *ngIf="!player.superprivate && player.crucibleRank">
                            {{player.crucibleRank.currentProgress|number}}

                            <div class="simple-caption" *ngIf="player.crucibleRank.currentResetCount">
                                {{player.crucibleRank.currentResetCount}} resets                                
                            </div>
                        </ng-container>
                    </td>
                    <td data-label="Vanguard">
                        <ng-container *ngIf="!player.superprivate && player.vanguardRank">
                            {{player.vanguardRank.currentProgress|number}}
                            <div class="simple-caption" *ngIf="player.vanguardRank.currentResetCount">
                                {{player.vanguardRank.currentResetCount}} resets                                
                            </div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!player.superprivate">
                            {{player.getWeeklyXp()/1000000|number:'1.1-1'}} M
                        </ng-container>
                    </td>

                    <td data-label="Max Current Light Level">
                        <ng-container *ngIf="!player.superprivate && player.maxLL">{{player.maxLL}}
                            <ng-container *ngIf="player.maxLLFraction"><sup>{{player.maxLLFraction.top}}</sup>&frasl;<sub>{{player.maxLLFraction.bottom}}</sub></ng-container>
                        </ng-container>
                    </td>
                    <td data-label="Time played">
                        <span *ngIf="!player.superprivate && player.minsPlayed" [matTooltip]="player.minsPlayed + ' mins'">
                            {{ player.minsPlayed | d2cMinsHumanized }}
                        </span>
                    </td>
                </ng-container>
                <ng-template #noPlayer>
                    <td colspan="10">
                        <fa-icon [icon]="iconService.farSpinner" [pulse]="true" [fixedWidth]="true"
                            *ngIf="!member.errorMsg"></fa-icon>
                        <span class="simple-caption" *ngIf="member.errorMsg">{{member.errorMsg}}</span>
                    </td>
                </ng-template>


            </tr>
        </tbody>
        <tfoot>
            <tr>
                <ng-container *ngTemplateOutlet="sortHeader"></ng-container>

            </tr>
        </tfoot>
    </table>

</ng-container>

<ng-template #loadingModel>
    <h1>
        <fa-icon [icon]="iconService.farSpinner" [pulse]="true" [fixedWidth]="true"></fa-icon>
    </h1>
</ng-template>
<br>

<ng-template #sortHeader>
    <th>
        <span class="fake-link" (click)="state.toggleSort('member')">Member
            <ng-container *ngIf="state.sort && state.sort.name=='member'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('date')">Last Played
            <ng-container *ngIf="state.sort && state.sort.name=='date'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('artifactPowerBonus')">Artifact
            <ng-container *ngIf="state.sort && state.sort.name=='artifactPowerBonus'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('seasonRank')">Season Rk
            <ng-container *ngIf="state.sort && state.sort.name=='seasonRank'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('triumph')">Triumph
            <ng-container *ngIf="state.sort && state.sort.name=='triumph'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('trialsRank')">Trials
            <ng-container *ngIf="state.sort && state.sort.name=='trialsRank'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('glory')">Glory
            <ng-container *ngIf="state.sort && state.sort.name=='glory'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('gambitRank')">Gambit
            <ng-container *ngIf="state.sort && state.sort.name=='gambitRank'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('crucibleRank')">Crucible
            <ng-container *ngIf="state.sort && state.sort.name=='crucibleRank'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('vanguardRank')">Vanguard
            <ng-container *ngIf="state.sort && state.sort.name=='vanguardRank'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th>
        <span class="fake-link" (click)="state.toggleSort('xp')">Weekly XP
            <ng-container *ngIf="state.sort && state.sort.name=='xp'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th matTooltip="Max LL of current chars (actual max could be higher)">
        <span class="fake-link" (click)="state.toggleSort('ll')">Max LL
            <ng-container *ngIf="state.sort && state.sort.name=='ll'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
    <th matTooltip="Total time played (does not include deleted chars)">
        <span class="fake-link" (click)="state.toggleSort('minsPlayed')">Time Played
            <ng-container *ngIf="state.sort && state.sort.name=='minsPlayed'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </span>
    </th>
</ng-template>