<ng-container *ngIf="state.modelPlayer|async as modelPlayer; else loadingModel">
    <h4 *ngIf="(state.sortedMembers|async).length==0" class="left warn-text">
        All members filtered out, check your <a routerLink="../settings">Settings</a>
    </h4>
    <table class="tidy-auto-table clan-table" *ngIf="(state.sortedMembers|async).length>0">
        <thead>
            <tr>
                <ng-container *ngTemplateOutlet="sortHeader"></ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of state.sortedMembers|async">
                <td class="lead">
                    <a [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId]">
                        {{member.destinyUserInfo.displayName}} {{member.destinyUserInfo.platformName}}
                    </a>
                    <a style="margin-left:0.25em"
                        [ngClass]="(favoritesMap|async)[storageService.getFavKey(member.destinyUserInfo)]!==undefined?'warn-text':''"
                        (click)="storageService.toggleFav(member.destinyUserInfo, member.bungieNetUserInfo.membershipId)"
                        href="javascript:void(0)">
                        <fa-icon [icon]="iconService.farHeart" style="font-weight: normal !important"></fa-icon>
                    </a>
                    <a style="margin-left:0.25em" href="javascript:void(0)"
                        (click)="state.loadSpecificPlayer(member, true)">
                        &ensp;<fa-icon [icon]="iconService.fasSync"></fa-icon>
                    </a>
                    <span class="simple-caption" *ngIf="member.player!=null && member.player.title.trim().length>0">
                        {{member.player.title}}
                    </span>
                </td>
                <td>
                    <ng-container *ngIf="member.player!=null">
                        <ng-container *ngIf="!member.player.superprivate">
                            <ng-container
                                *ngIf="member.isOnline && member.player && member.player.currentActivity; else lastPlayed">
                                <a mat-flat-button color="accent"
                                    [routerLink]="['/','party',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId]"
                                    matTooltip="Playing right now!">
                                    <fa-icon [icon]="iconService.falGamepad" size="2x"></fa-icon>
                                </a>
                                <div *ngIf="member.player && member.player.currentActivity">
                                    {{member.player.currentActivity.type}}</div>

                            </ng-container>

                            <ng-template #lastPlayed>
                                <ng-container *ngIf="member.player">
                                    {{today| amDifference:member.player.profile.dateLastPlayed | amDuration:'ms'}} ago
                                </ng-container>
                                <ng-container *ngIf="!member.player">
                                    {{today| amDifference:(member.lastOnlineStatusChange | amFromUnix) | amDuration:'ms'}}
                                    ago
                                </ng-container>
                            </ng-template>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="member.player==null">
                        {{today| amDifference:(member.lastOnlineStatusChange | amFromUnix) | amDuration:'ms'}} ago
                    </ng-container>

                </td>
                <ng-container *ngIf="member.player!=null; else noPlayer">
                    <td>
                        <ng-container *ngIf="!member.player.superprivate">
                            +{{member.player.artifactPowerBonus}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!member.player.superprivate && member.player.seasonRank && member.player.seasonRank.level">
                            {{member.player.seasonRank.level}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!member.player.superprivate">
                            {{member.player.triumphScore|number : '1.0-0'}}
                        </ng-container>
                    </td>
                    <td data-label="Glory">
                        <ng-container *ngIf="!member.player.superprivate && member.player.glory">
                            {{member.player.glory.currentProgress|number}}
                            <div class="simple-caption">
                                {{member.player.glory.title}}
                            </div>

                        </ng-container>
                    </td>
                    <td data-label="Infamy">
                        <ng-container *ngIf="!member.player.superprivate && member.player.infamy">
                            {{member.player.infamy.currentProgress|number}}

                            <div class="simple-caption" *ngIf="member.player.infamy.lifetimeResetCount">
                                {{member.player.infamy.lifetimeResetCount}} resets
                                <div *ngIf="member.player.infamy.currentResetCount">
                                    {{member.player.infamy.currentResetCount}} current</div>
                            </div>

                        </ng-container>
                    </td>
                    <td data-label="Valor">
                        <ng-container *ngIf="!member.player.superprivate && member.player.valor">
                            {{member.player.valor.currentProgress|number}}

                            <div class="simple-caption" *ngIf="member.player.valor.lifetimeResetCount">
                                {{member.player.valor.lifetimeResetCount}} resets
                                <div *ngIf="member.player.valor.currentResetCount">
                                    {{member.player.valor.currentResetCount}} current</div>
                            </div>

                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!member.player.superprivate">
                            {{member.player.getWeeklyXp()/1000000|number:'1.1-1'}} M
                        </ng-container>
                    </td>

                    <td data-label="Max Current Light Level">
                        <ng-container *ngIf="!member.player.superprivate && member.player.maxLL">{{member.player.maxLL}}
                        </ng-container>
                    </td>
                </ng-container>
                <ng-template #noPlayer>
                    <td colspan="7">
                        <fa-icon [icon]="iconService.farSpinner" [pulse]="true" [fixedWidth]="true"
                            *ngIf="!member.errorMsg"></fa-icon>
                        <span class="simple-caption" *ngIf="member.errorMsg">{{member.errorMsg}}</span>
                    </td>
                </ng-template>


            </tr>
        </tbody>
        <tfoot>
            <tr>
                <ng-container *ngTemplateOutlet="sortHeader"></ng-container>

            </tr>
        </tfoot>
    </table>

</ng-container>

<ng-template #loadingModel>
    <h1>
        <fa-icon [icon]="iconService.farSpinner" [pulse]="true" [fixedWidth]="true"></fa-icon>
    </h1>
</ng-template>
<br>

<ng-template #sortHeader>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('member')">Member
            <ng-container *ngIf="state.sort && state.sort.name=='member'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('date')">Last Played
            <ng-container *ngIf="state.sort && state.sort.name=='date'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('artifactPowerBonus')">Artifact
            <ng-container *ngIf="state.sort && state.sort.name=='artifactPowerBonus'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('seasonRank')">Season Rank
            <ng-container *ngIf="state.sort && state.sort.name=='seasonRank'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('triumph')">Triumph Score
            <ng-container *ngIf="state.sort && state.sort.name=='triumph'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('glory')">Glory
            <ng-container *ngIf="state.sort && state.sort.name=='glory'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('infamy')">Infamy
            <ng-container *ngIf="state.sort && state.sort.name=='infamy'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('valor')">Valor
            <ng-container *ngIf="state.sort && state.sort.name=='valor'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('xp')">Weekly XP
            <ng-container *ngIf="state.sort && state.sort.name=='xp'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>
    <th matTooltip="Max LL of current chars (actual max could be higher)">
        <a href="javascript:void(0)" (click)="state.toggleSort('ll')">Max LL
            <ng-container *ngIf="state.sort && state.sort.name=='ll'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
    </th>

</ng-template>