.checklist-body {
  // max-width: 750px;
  text-align: left;
  margin: 5px;
}

.hide-complete {
  margin: 5px;
  font-size: smaller;
  font-weight: lighter;
}

.check-list-name {
  width: 200px;
}

.check-list-status {
  width: 50px;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.bottom-note {
  margin-left: 10px;
  text-align: left;
}

.multi-check-cell {
  min-width: 50px;;
}


.link-icon {
  margin-left: 5px;
  font-size: 15px;
}