<ng-container *ngIf="state.player|async as player">
  <h4 class="triumph-score">Seals
    <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="state.hideCompleteTriumphs">
      Hide Completed
    </mat-checkbox>
  </h4>
  <mat-accordion>
    <ng-container *ngFor="let s of player.seals">
      <mat-expansion-panel *ngIf="!hideCompleteTriumphs || !s.complete">
        <mat-expansion-panel-header>
          <mat-panel-title [class.accent-text]="s.complete">
            <div *ngIf="s.icon!=null" class="seal-icon"
              [style.background-image]="'url(//www.bungie.net' + s.icon + ')'"></div>
            {{s.title}}
            <ng-container *ngIf="debugmode|async">{{s.hash}}</ng-container>
          </mat-panel-title>
          <mat-panel-description [class.accent-text]="s.complete">
            {{s.progress}} / {{s.completionValue}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="seal-body">
          <p style="margin-bottom: 20px">{{s.desc}}</p>
          <table class="checklist-table">
            <tbody>
              <ng-container *ngFor="let c of s.children">
                <tr *ngIf="!hideCompleteTriumphs || !c.complete">
                  <td>
                    <i *ngIf="c.complete && c.redeemed"
                      class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                    <i *ngIf="c.complete && !c.redeemed"
                      class="warn-text mat-option.mat-selected fas fa-check-square"></i>
                    <i *ngIf="!c.complete" class="far fa-square"></i>

                    <ng-container *ngIf="c.lowLinks==null || c.lowLinks.mapLink==null">
                      {{c.name}} </ng-container>
                    <a [href]="c.lowLinks.mapLink" *ngIf="c.lowLinks!=null && c.lowLinks.mapLink!=null" target="_blank"
                      rel="noopener">
                      {{c.name}}
                      <i class='accent-text far fa-map-marker-alt'></i>
                    </a>
                    <ng-container *ngIf="debugmode|async">{{c.hash}}</ng-container>
                    <br>
                    <span class="simple-warn-caption" *ngIf="c.complete && !c.redeemed">Not yet
                      redeemed.<br></span>
                    <span class="simple-caption">
                      {{c.score}} pts. {{c.desc}}
                    </span>
                    <div *ngFor="let o of c.objectives">
                      <span class="simple-caption">
                        <i *ngIf="o.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                        <i *ngIf="!o.complete" class="far fa-square"></i>
                        {{o.progress}}/{{o.completionValue}} {{o.progressDescription}}
                      </span>
                      <mat-progress-bar class="pres-node-prog" mode="determinate"
                        [value]="o.progress*100/o.completionValue"></mat-progress-bar>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ng-container>