.node-caption {
    font-size: smaller;
}

.cv-complete {
    opacity: 0.5;
}

.padded {
    margin-right: 5px;
    margin-left: 5px
}

.record {
    text-align: left;
    margin-bottom: 20px
}

.low-links {
    // font-size: 20px;
}

.branch-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.hide-mobile-block {
    display: none;
    visibility: hidden;
}



@media screen and (min-width: 1019px) {

    .hide-mobile-block {
        display: block;
        visibility: visible;
    }
}