<ng-container *ngIf="state.player|async as player">
  <h4 class="triumph-score">Triumphs - Score: {{player.triumphScore|number : '2.0-0'}}
    <button class="hide-complete-triumphs" mat-button (click)="downloadCsvTriumphs()">

      <fa-icon [icon]="iconService.falDownload"></fa-icon> CSV
    </button>
    <button class="hide-complete-triumphs" mat-button (click)="sumTriumphs()">
      <fa-icon [icon]="iconService.falSigma"></fa-icon>
    </button>
    <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="state.hideCompleteTriumphs">
      Hide Completed
    </mat-checkbox>
    <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="state.showZeroPtTriumphs">
      Show Zero Pt
    </mat-checkbox>
    <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="state.showInvisTriumphs">
      Show Invisible
    </mat-checkbox>
  </h4>

  <mat-tree [dataSource]="recordDatasource" [treeControl]="triumphTreeControl">
    <mat-tree-node class="tree-leaf" *matTreeNodeDef="let node" [hidden]="hideNode(node)" matTreeNodeToggle
      matTreeNodePadding
      (click)="selectedTreeNodeHash=node.data.hash; location.go(state.getPlayerRouteString(['triumphs','tree',node.data.hash]))">
      <button mat-icon-button disabled></button>
      <div class="record" [class.warn-text]="node.data.hash == selectedTreeNodeHash"
        [id]="'tree-node-'+node.data.hash">

        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="node.data.complete && node.data.redeemed"
          class="accent-text mat-option.mat-selected"></fa-icon>

        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="node.data.complete && !node.data.redeemed"
          class="warn-text mat-option.mat-selected"></fa-icon>
        <fa-icon [icon]="iconService.farSquare" *ngIf="!node.data.complete"></fa-icon>

        <ng-container *ngIf="node.data.lowLinks==null || node.data.lowLinks.mapLink==null">
          {{node.data.name}} </ng-container>
        <a [href]="node.data.lowLinks.mapLink" *ngIf="node.data.lowLinks!=null && node.data.lowLinks.mapLink!=null"
          target="_blank" rel="noopener">
          {{node.data.name}}
          <fa-icon [icon]="iconService.farMapMarkerAlt" class="accent-text"></fa-icon>
        </a>
        <ng-container *ngIf="debugmode|async">{{node.data.hash}}</ng-container>
        <fa-icon [icon]="iconService.farStar" *ngIf="state.dTrackedTriumphIds[node.data.hash]!=true"
          (click)="state.trackTriumph(node.data)"></fa-icon>
        <fa-icon [icon]="iconService.fasStar" *ngIf="state.dTrackedTriumphIds[node.data.hash]==true" class="accent-text"
          (click)="state.untrackTriumph(node.data)"></fa-icon>

        <span class="pad-left" *ngIf="node.data.contentVault && !node.data.complete"
          matTooltip="This Triumph will be vaulted next season, complete it now or never!">
          <fa-icon [icon]="iconService.fasExclamationCircle" class="warn-text"></fa-icon>
        </span>
        <span class="pad-left" *ngIf="node.data.contentVault && node.data.complete"
          matTooltip="This Triumph will be vaulted next season, but you got it already! Nice!">
          <fa-icon [icon]="iconService.fasCheckCircle" class="half-opacity"></fa-icon>
        </span>

        <br>
        <span class="simple-warn-caption" *ngIf="node.data.complete && !node.data.redeemed">Not yet
          redeemed.<br></span>
        <span class="simple-caption">
          {{node.data.score}} pts. {{node.data.desc}}
        </span>
        <div *ngFor="let o of node.data.objectives">
          <span class="simple-caption">
            <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="o.complete" class="accent-text mat-option.mat-selected">
            </fa-icon>
            <fa-icon [icon]="iconService.farSquare" *ngIf="!o.complete"></fa-icon>
            {{o.progress}}/{{o.completionValue}} {{o.progressDescription}} <span *ngIf="o.score"> - {{o.score}}
              pts</span>
          </span>
          <mat-progress-bar [color]="node.data.hash == selectedTreeNodeHash?'warn':'primary'" class="pres-node-prog"
            mode="determinate" [value]="o.progress*100/o.completionValue">
          </mat-progress-bar>
        </div>
      </div>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" [hidden]="hideNode(node)" matTreeNodePadding
      [id]="'tree-node-'+node.data.hash">
      <button mat-icon-button matTreeNodeToggle
        (click)="selectedTreeNodeHash=node.data.hash; location.go(state.getPlayerRouteString(['triumphs','tree',node.data.hash]))">
        <mat-icon class="mat-icon-rtl-mirror">
          {{triumphTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div class="left">
        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="node.data.complete"
          class="accent-text mat-option.mat-selected"></fa-icon>
        <fa-icon [icon]="iconService.farSquare" *ngIf="!node.data.complete"></fa-icon>
        {{node.data.name}} <span *ngIf="debugmode|async">{{node.data.hash}}</span>
        <span class="simple-caption">
          <span class="padded">{{node.data.progress}}/{{node.data.completionValue}}</span>
          <span class="padded d-none d-xl-inline">{{node.data.pts|number}} / {{node.data.totalPts|number}}
            pts</span>
        </span>
        <ng-container *ngIf="node.data.unredeemedCount>0">
          <span class="simple-warn-caption">+{{node.data.unredeemedCount}} to redeem</span>
        </ng-container>
        <span class="cv-caption" [class.cv-complete]="node.data.vaultedChildrenComplete==node.data.vaultedChildren" *ngIf="node.data.vaultedChildren" matTooltip="Includes triumphs that will be vaulted next season">
            {{node.data.vaultedChildrenComplete}} / {{node.data.vaultedChildren}} <fa-icon class="pad-left" [icon]="iconService.fasExclamationCircle"></fa-icon>
        </span>
        <br>

        <mat-progress-bar [color]="node.data.hash == selectedTreeNodeHash?'warn':'primary'" class="pres-node-prog"
          mode="determinate" [value]="node.data.progress*100/node.data.completionValue"></mat-progress-bar>
      </div>
    </mat-tree-node>
  </mat-tree>
</ng-container>