<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <div class="body-text" [ngClass]="animateOnRouteEnter">
        <h2 *ngIf="this.player!=null && this.player.profile!=null" class="centerMe">Vendors -
          <a [routerLink]="['/',this.player.profile.userInfo.membershipType, this.player.profile.userInfo.displayName]"
            *ngIf="player!=null">{{player.profile.userInfo.displayName}} - {{selectedUser.selectedUser.platformName}}</a>
        </h2>

        <ng-container *ngIf="loading==false && player==null">
          <h2>Sign-in Required</h2>
          <p>You must sign in for the site to access this info on your account. Click the "Sign In" button on the upper
            right if you want to continue.</p>
        </ng-container>

        <mat-button-toggle-group #chargroup="matButtonToggleGroup" *ngIf="player!=null && player.characters!=null"
          [value]="player.characters[0]" (change)="setChar(chargroup.value, false)">
          <mat-button-toggle *ngFor="let c of player.characters" [value]="c">
            {{c.className}} - {{c.light}}
          </mat-button-toggle>
        </mat-button-toggle-group>
        <br>

        <mat-button-toggle-group #optionsgroup="matButtonToggleGroup" *ngIf="player!=null && player.characters!=null"
          [value]="option" style="margin-top: 1em" (change)="option = optionsgroup.value">
          <mat-button-toggle *ngFor="let o of options" [value]="o">
            {{o}}
          </mat-button-toggle>
        </mat-button-toggle-group>

        <ng-container *ngIf="vendorData!=null">

          <ng-container *ngIf="option=='Bounties'">
            <table class="tidy-table itemTable" style="margin-top: 1em">
              <thead>
                <tr>
                  <th class="item-icon-cell"></th>
                  <th>Name</th>
                  <th>Objectives</th>
                  <th>Reward</th>
                  <th>Vendor</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let i of vendorData">
                  <tr *ngIf="i.type==ItemType.Bounty">
                    <td class="item-icon-cell">
                      <span *ngIf="i.icon!=null" class="item-icon" [style.background-image]="'url(//www.bungie.net' +i.icon + ')'"></span>
                    </td>
                    <td>
                      {{i.name}} <ng-container *ngIf="debugmode">{{i.status}}</ng-container><br>
                      <span class="type-caption">{{i.itemTypeAndTierDisplayName}}</span>
                    </td>


                    <td>
                      <div *ngFor="let o of i.objectives">
                        {{o.total}} {{o.units}}
                      </div>
                    </td>
                    <td>
                      <div *ngFor="let v of i.value">
                        {{v.name}} <ng-container *ngIf="v.quantity>0">{{v.quantity}}</ng-container>
                      </div>
                    </td>
                    <td>
                      {{i.vendor.name}}
                      <span class="type-caption">Resets in {{ i.vendor.nextRefreshDate | amDifference: today |
                        amDuration:'ms'}}</span>
                      <div *ngFor="let c of i.costs">
                        <small>{{c.name}} {{c.quantity}}</small>
                      </div>
                      <div *ngIf="i.status!=null" class="warn-text">
                          <small>{{i.status}}</small>
                        </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
          <ng-container *ngIf="option=='Gear'">
            <table class="tidy-table itemTable" style="margin-top: 1em">
              <thead>
                <tr>
                  <th class="item-icon-cell"></th>
                  <th>Name</th>
                  <th>Perks</th>
                  <th class="d-none d-md-table-cell">Vendor</th>
                </tr>

              </thead>
              <tbody>
                <ng-container *ngFor="let i of vendorData">
                  <tr *ngIf="(i.type==ItemType.Armor || i.type==ItemType.Weapon) && i.rolledPerks!=null && i.rolledPerks.length>0">
                    <td class="item-icon-cell">
                      <span *ngIf="i.icon!=null" class="item-icon" [style.background-image]="'url(//www.bungie.net' +i.icon + ')'"></span>
                    </td>
                    <td>
                      {{i.name}} <ng-container *ngIf="debugmode">{{i.status}}</ng-container><br>
                      <span class="type-caption">{{i.itemTypeAndTierDisplayName}}</span>
                      <div class="d-block d-md-none">{{i.vendor.name}}</div>
                    </td>
                    <td>
                      <ng-container *ngFor="let perks of i.rolledPerks; last as isLast">
                        <div>
                          <ng-container *ngFor="let perk of perks; last as isLast2">
                            <span [matTooltip]="perk.desc" style="white-space: nowrap;">

                              <span *ngIf="perk.icon!=null" class="small-item-icon transparent-icon"
                                [style.background-image]="'url(//www.bungie.net' +perk.icon + ')'"></span>
                              {{perk.name}}
                            </span>
                            <span style="width: 1em;" *ngIf="!isLast2"></span>
                          </ng-container>
                        </div>
                        <hr class="divider" *ngIf="!isLast">
                      </ng-container>
                    </td>
                    <td class="d-none d-md-table-cell">
                      {{i.vendor.name}}
                      <span class="type-caption">Resets in {{ i.vendor.nextRefreshDate | amDifference: today |
                        amDuration:'ms'}}</span>
                      <div *ngFor="let c of i.costs">
                        <small>{{c.name}} {{c.quantity}}</small>
                      </div>
                      <div *ngIf="i.status!=null" class="warn-text">
                          <small>{{i.status}}</small>
                        </div>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
          <ng-container *ngIf="option=='Cosmetics'">
            <table class="tidy-table itemTable" style="margin-top: 1em">
              <thead>
                <tr>
                  <th class="item-icon-cell"></th>
                  <th>Name</th>
                  <th>Vendor</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let i of vendorData">
                  <tr *ngIf="(i.type==ItemType.Mod || i.type==ItemType.Ship || i.type==ItemType.Vehicle || i.type==ItemType.Emote  || i.type==ItemType.Ghost)">
                    <td class="item-icon-cell">
                      <span *ngIf="i.icon!=null" class="item-icon" [style.background-image]="'url(//www.bungie.net' +i.icon + ')'"></span>
                    </td>
                    <td>
                      {{i.name}} <ng-container *ngIf="debugmode">{{i.status}}</ng-container><br>
                        {{i.itemTypeAndTierDisplayName}} 
                    </td>                    
                    <td>
                      {{i.vendor.name}}
                      <span class="type-caption">Resets in {{ i.vendor.nextRefreshDate | amDifference: today |
                        amDuration:'ms'}}</span>
                      <div *ngFor="let c of i.costs">
                        <small>{{c.name}} {{c.quantity}}</small>
                      </div>
                      <div *ngIf="i.status!=null" class="warn-text">
                        <small>{{i.status}}</small>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
          <ng-container *ngIf="option=='Exchange'">
              <table class="tidy-table itemTable" style="margin-top: 1em">
                <thead>
                  <tr>
                    <th class="item-icon-cell"></th>
                    <th>Name</th>
                    <th>Vendor</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let i of vendorData">
                    <tr *ngIf="(i.type==ItemType.Dummy) && i.vendor.name=='Spider'">
                      <td class="item-icon-cell">
                        <span *ngIf="i.icon!=null" class="item-icon" [style.background-image]="'url(//www.bungie.net' +i.icon + ')'"></span>
                      </td>
                      <td>
                        {{i.name}} <br>
                        Quantity: {{i.quantity}}
                      </td>                    
                      <td>
                        {{i.vendor.name}}
                        <span class="type-caption">Resets in {{ i.vendor.nextRefreshDate | amDifference: today |
                          amDuration:'ms'}}</span>
                        <div *ngFor="let c of i.costs">
                          <small>Cost: {{c.name}} {{c.quantity}}</small>
                        </div>
                        <div *ngIf="i.status!=null" class="warn-text">
                            <small>{{i.status}}</small>
                          </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>