<ng-container *ngIf="signedOnUserService.player$|async as player">
    <ng-container *ngIf="state.currChar$|async as currChar">

        <h3 mat-dialog-title>{{data.title.name}}</h3>
        <div mat-dialog-content>
            <p class="simple-caption-darker">{{data.title.desc}}</p>
            <ng-container *ngIf="data.type=='milestone'">
                <ng-container *ngIf="data.title as msn">
                    <div class="flex-column">
                        <ng-container *ngIf="msn.resets">
                            <h5>Resets <span class="type-caption">{{msn.resets | d2cAgoHumanized}}</span></h5>
                            
                        </ng-container>
                        <h5>Rewards</h5>
                        <div class="type-caption">{{msn.rewards}}</div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="data.type=='bounty'|| data.type=='quest'">
                <div class="flex-row">
                    <div>
                        <h5>Objectives</h5>
                        <ul class="no-margin" *ngIf="data.title as i">
                            <li *ngFor="let o of i.objectives">{{o.completionValue}} {{o.progressDescription}}</li>
                        </ul>
                    </div>
                    <div *ngIf="data?.title?.values?.length>0">
                        <h5>Rewards</h5>
                        <div class="flex-column" *ngIf="data.title as i">
                            <div *ngFor="let r of i.values">
                                <img *ngIf="r.icon" [src]="'//www.bungie.net' + r.icon" class="reward-icon"
                                    loading="lazy">
                                <span class="pad-left">
                                    <ng-container *ngIf="r.quantity>0">{{r.quantity}} </ng-container>{{r.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <mat-tab-group [selectedIndex]="player.characters.indexOf(currChar)"
                (selectedTabChange)="state.currChar$.next(player.characters[$event.index])">
                <mat-tab *ngFor="let char of player.characters" [label]="char.className">
                    <div class="margin-5 flex-column">
                        <ng-container *ngIf="data.type=='milestone'">

                            <div class="flex-row" *ngIf="data.characterEntries[char.id] as milestone">
                                <div class="flex-column">
                                    <h5>Progress: <d2c-milestone-check class="pad-left" [milestoneStatus]="milestone"></d2c-milestone-check></h5>
                                    <ng-container *ngIf="!milestone.locked && !milestone.tooLowPower && !milestone.readyToCollect">
                                        <div>
                                            <mat-progress-bar mode="determinate" [value]="100 * milestone.pct"></mat-progress-bar>
                                            {{(100 * milestone.pct)|number : '1.0-0'}}%
                                        </div>
                                    </ng-container>
                                    
                                    <div class="type-caption" *ngIf="milestone.suppInfo">
                                        {{milestone.suppInfo}}
                                    </div>
                                    <div class="type-caption warn-text" *ngIf="milestone.locked">
                                        Not available to this character
                                    </div>
                                    <div class="type-caption warn-text" *ngIf="milestone.tooLowPower && !milestone.locked">
                                        Character PL may be too low
                                    </div>
                                    <div class="type-caption" *ngIf="milestone.readyToCollect">
                                        Complete, ready to collect!
                                    </div>
                                    <div *ngIf="milestone.phases">
                                        <ng-container *ngFor="let phase of milestone.phases">                
                                            <fa-icon [icon]="iconService.fasCheckSquare" class="accent-text mat-option.mat-selected" *ngIf="phase===true" style="margin-left: 5px"></fa-icon>
                                            <fa-icon [icon]="iconService.farSquare" *ngIf="phase===false" style="margin-left: 5px"></fa-icon>                
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="data.type=='bounty' || data.type=='quest'">
                            <div *ngIf="data.characterEntries[char.id] as pursuit else noEntry">
                                <div *ngIf="pursuit.vendorItem && !pursuit.characterItem">
                                    <ng-container *ngIf="pursuit.vendorItem.vendorItemInfo as vi">
                                        <div class="flex-row">
                                            <div>
                                                <h5>
                                                    <fa-icon [icon]="iconService.fasStoreAlt" class="pad-right">
                                                    </fa-icon> {{vi.vendor.name}}
                                                </h5>
                                                <div *ngIf="vi.status!=null" class="warn-text">
                                                    <small>{{vi.status}}</small>
                                                </div>
                                                <div class="type-caption">Resets
                                                    {{ vi.vendor.nextRefreshDate |
                                                    d2cAgoHumanized}}</div>
                                            </div>
                                            <div *ngIf="vi.costs?.length>0">
                                                <h5>Cost</h5>
                                                <div class="type-caption" *ngFor="let c of vi.costs">
                                                    <img *ngIf="c.desc.displayProperties.icon"
                                                        [src]="'//www.bungie.net' + c.desc.displayProperties.icon"
                                                        class="reward-icon" loading="lazy">
                                                    <span class="pad-left">
                                                        <ng-container *ngIf="c.count>0">{{c.count|number: '0.0-0'}}
                                                        </ng-container>{{c.desc.displayProperties.name}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div *ngIf="pursuit.characterItem as g">
                                    <div class="flex-row">
                                        <div *ngIf="g.questline">
                                            <a mat-stroked-button (click)="openQuestDialog(g.questline)">
                                                <fa-icon [icon]="iconService.farProjectDiagram"></fa-icon> Questline
                                                {{g.questline.progress}}
                                            </a>
                                        </div>
                                        <div class="flex-column">
                                            <h5>Progress</h5>
                                            <div>
                                                <mat-progress-bar mode="determinate" [value]="g.aggProgress">
                                                </mat-progress-bar>
                                                {{g.aggProgress|number : '1.0-0'}}%
                                            </div>
                                            <div class="type-caption">
                                                <span *ngIf="g.expired else notExpired" class="warn-text">
                                                    Expired {{ g.expirationDate | d2cAgoHumanized }}
                                                </span>
                                                <ng-template #notExpired>
                                                    <span *ngIf="g.expirationDate!=null else noExp">
                                                        Expires in {{ g.expirationDate | d2cAgoHumanized:true }}
                                                    </span>
                                                    <ng-template #noExp>
                                                        Never Expires
                                                    </ng-template>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="flex-column">
                                            <h5>Objectives</h5>
                                            <div *ngFor="let obj of g.objectives">
                                                <fa-icon [icon]="iconService.farCheckSquare" *ngIf="obj.complete"
                                                    class="accent-text mat-option.mat-selected"></fa-icon>
                                                <fa-icon [icon]="iconService.farSquare" *ngIf="!obj.complete"></fa-icon>
                                                <span class="pad-left type-caption">
                                                    {{obj.progressDescription}}
                                                    <span *ngIf="obj.progress!=null">{{obj.progress|number:
                                                        '0.0-0'}}/{{obj.completionValue|number: '0.0-0'}}</span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>
                        </ng-container>
                        <ng-template #noEntry>
                            Not available
                        </ng-template>
                    </div>

                </mat-tab>
            </mat-tab-group>

        </div>


    </ng-container>
</ng-container>