<ng-container *ngIf="signedOnUserService.player$|async as player">
    <ng-container *ngIf="state.currChar$|async as currChar">

        <h3 mat-dialog-title>{{data.title.name}}</h3>
        <div mat-dialog-content>
            <p>TODO: fix layout and alignment, show questline popup for quests</p>
            <ng-container *ngIf="data.type=='milestone'">
                <ng-container *ngIf="data.title as msn">
                    <div>Name: {{msn.name}}</div>
                    <div>Desc: {{msn.desc}}</div>
                    <div *ngIf="msn.resets">Resets in {{msn.resets | d2cAgoHumanized}}</div>
                    <div>Rewards: {{msn.rewards}}</div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="data.type=='milestone'">

            </ng-container>

            <ng-container *ngIf="data.type=='bounty'">
                <p>bounty</p>
                <ng-container *ngIf="data.title as i">
                    <div>Name: {{i.name}}</div>
                    <div>Desc: {{i.desc}}</div>
                    <div>Objectives:
                        <div *ngFor="let o of i.objectives">
                            {{o.completionValue}} {{o.progressDescription}}
                        </div>
                    </div>

                    <div>Rewards:

                        <div class="flex-row" *ngIf="i.values as rewards">
                            <div *ngFor="let r of rewards">
                                <img *ngIf="r.icon" [src]="'//www.bungie.net' + r.icon" class="reward-icon"
                                    loading="lazy">
                                <span> {{r.quantity}} {{r.name}}</span>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="data.type=='quest'">
                <ng-container *ngIf="data.title as i">
                    <div>Name: {{i.name}}</div>
                    <div>Desc: {{i.desc}}</div>
                    <div>Objectives:
                        <div *ngFor="let o of i.objectives">
                            {{o.completionValue}} {{o.progressDescription}}
                        </div>
                    </div>

                    <div>Rewards:

                        <div class="flex-row" *ngIf="i.values as rewards">
                            <div *ngFor="let r of rewards">
                                <img *ngIf="r.icon" [src]="'//www.bungie.net' + r.icon" class="reward-icon"
                                    loading="lazy">
                                <span> {{r.quantity}} {{r.name}}</span>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </ng-container>


            <mat-tab-group [selectedIndex]="player.characters.indexOf(currChar)"
                (selectedTabChange)="state.currChar$.next(player.characters[$event.index])">
                <mat-tab *ngFor="let char of player.characters" [label]="char.className + ' - ' + char.light">
                    <div class="flex-column">


                        <ng-container *ngIf="data.type=='milestone'">
                            <div *ngIf="data.characterEntries[char.id] as entry">
                                <d2c-milestone-check [milestoneStatus]="entry" [detailed]="true"></d2c-milestone-check>
                                {{entry|json}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="data.type=='bounty' || data.type=='quest'">
                            <div *ngIf="data.characterEntries[char.id] as pursuit else noEntry">
                                <div *ngIf="pursuit.vendorItem && !pursuit.characterItem">
                                    For sale at
                                    <ng-container *ngIf="pursuit.vendorItem.vendorItemInfo as vi">
                                        {{vi.vendor.name}}
                                        <span class="type-caption">Resets {{ vi.vendor.nextRefreshDate |
                                            d2cAgoHumanized}}</span>
                                        <div *ngFor="let c of vi.costs">
                                            <small>{{c.desc.displayProperties.name}} {{c.count}}</small>
                                        </div>
                                        <div *ngIf="vi.status!=null" class="warn-text">
                                            <small>{{vi.status}}</small>
                                        </div>
                                    </ng-container>
                                </div>
                                <div *ngIf="pursuit.characterItem as g">

                                    <div class="total-progress">
                                        <div class="progress-pct">{{g.aggProgress|number : '1.0-0'}}%</div>
                                        <mat-progress-bar class="progress-bar" mode="determinate"
                                            [value]="g.aggProgress">
                                        </mat-progress-bar>
                                    </div>
                                    <div class="obj-desc" *ngFor="let obj of g.objectives">
                                        <fa-icon [icon]="iconService.farCheckSquare" *ngIf="obj.complete"
                                            class="accent-text mat-option.mat-selected"></fa-icon>
                                        <fa-icon [icon]="iconService.farSquare" *ngIf="!obj.complete"></fa-icon>
                                        {{obj.progressDescription}}
                                        <span *ngIf="obj.progress!=null">{{obj.progress}}/{{obj.completionValue}}</span>
                                    </div>

                                    <span *ngIf="g.expired else notExpired" class="expire-caption warn-text">
                                        Expired {{ g.expirationDate | d2cAgoHumanized }}
                                    </span>
                                    <ng-template #notExpired>
                                        <span *ngIf="g.expirationDate!=null else noExp" class="expire-caption">
                                            <fa-icon [icon]="iconService.fasClock"></fa-icon>
                                            {{ g.expirationDate | d2cAgoHumanized:true }}
                                        </span>
                                        <ng-template #noExp>
                                            <span class="expire-caption">
                                                <fa-icon [icon]="iconService.fasClock"></fa-icon> Never
                                            </span>
                                        </ng-template>
                                    </ng-template>


                                </div>
                            </div>
                        </ng-container>
                        <ng-template #noEntry>
                            Not available
                        </ng-template>
                    </div>

                </mat-tab>
            </mat-tab-group>

        </div>


    </ng-container>
</ng-container>