<div class="left">
  <div class="grid-parent">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Active Activity Types
        </mat-card-title>
        <mat-card-subtitle>
          Only activity types in this box will be shown in the table.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngTemplateOutlet="itemList;context:{state: true}"></ng-container>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button (click)="showTimespan(Timespan.WEEKLY)">Only Weekly</button>
        <button mat-raised-button (click)="showTimespan(Timespan.DAILY)">Only Daily</button>
        <button mat-raised-button (click)="ignoreAll()">Hide All</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Hidden Activity Types
        </mat-card-title>
        <mat-card-subtitle>
          Activities in this box will not be shown in the table.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngTemplateOutlet="itemList;context:{state: false}"></ng-container>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-raised-button (click)="enableAll()">Show All</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #itemList let-state="state">
    <div class="icons-container">
      <ng-container *ngFor="let type of types; let i = index">
        <div
          *ngIf="type.d2cActive === state"
          class="filter-item pointer"
          matTooltip="{{type.iconTooltip}} {{type.timespan}}&#13;Click to {{type.d2cActive ? 'ignore' : 'enable'}}"
          matTooltipClass="multi-line-tooltip"
          (click)="toggleActivityType(type)">
          <d2c-bungie-icon
            iconClass="icon size-40"
            [icon]="type.icon">
          </d2c-bungie-icon>
          <!-- Overlay is put over the icon when the icon is not an active filter -->
          <div class="overlay"></div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
