@import 'styles-variables';


:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.stat-val{
  padding: 5px;
  margin-bottom: 5px;
}

a:link {
  text-decoration: underline;
}


.icon {
  background-size: cover;
}


.card{
  margin-bottom: 10px;
}