<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <md-spinner class="loading" class="center-spinner" *ngIf="loading===true"></md-spinner>
      <div [ngClass]="animateOnRouteEnter" style="text-align:left">

        <ng-container *ngIf="data!=null">
          <h2>
            PGCR: {{data.mode}} - {{data.name}}
            <ng-container *ngIf="data.level>0"> Lvl {{data.level}}</ng-container>
            <ng-container *ngIf="data.isPrivate"> (Private)</ng-container>
          </h2>
          <p>Start: {{data.period|date:'short'}} &emsp; Finish: {{data.finish|date:'short'}} &emsp; Duration: {{ data.activityDurationSeconds | amDuration:'seconds' }}</p>

          <md-card class="card" *ngIf="data.teams!=null && data.teams.length>0">
            <md-card-content>
              <p>
                <span *ngFor="let t of data.teams">
                <b>{{t.name}} {{t.standing}} {{t.score}}</b>&emsp;
              </span>
              </p>
            </md-card-content>
          </md-card>

          <md-card class="card" *ngFor="let entry of data.entries">

            <md-card-header>
              <div *ngIf="entry.user.icon!=null" class="icon" md-card-avatar [style.background-image]="'url(//www.bungie.net' + entry.user.icon + ')'"></div>
              <md-card-title>

                <b><a href="javascript:void(0)" (click)="loadPlayer(entry.user.membershipType, entry.user.displayName)" color="accent">{{entry.user.displayName}} </a></b>                {{entry.characterClass}} {{entry.lightLevel}} <span class="kd accent-text">{{entry.kd| number : '1.2-2'}} KD<br></span>                {{entry.team}}
                <div><span class="warn-text" *ngIf="entry.team!=null">Team {{entry.team}}</span><span *ngIf="entry.team==null">&nbsp;</span>                  <span class="fireteamsize">Fireteam Size: {{entry.fireteamSize}}</span></div>
              </md-card-title>
              <md-card-subtitle>
                <span class="mat-chip stat-val" *ngIf="entry.score!=null && entry.score>0">Score: {{entry.score}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.kills!=null">Kills: {{entry.kills}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.assists!=null">Deaths: {{entry.deaths}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.assists!=null">Assists: {{entry.assists}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.fireteam!=null">Fireteam: {{entry.fireteam}}</span>
              </md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Kills</th>
                    <th>Prec %</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let w of entry.weapons">
                    <td>{{w.name}}</td>
                    <td>{{w.type}}</td>
                    <td>{{w.kills}}</td>
                    <td>{{w.precPct|percent}}</td>
                  </tr>

                </tbody>
              </table>
            </md-card-content>
          </md-card>



        </ng-container>
      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>