<div class="childComponent">
  <div class="childVert">
    <div class="main mat-typography">

      <div class="center-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="(loading|async)===true"></mat-spinner>
      </div>
      <div style="text-align:left">

        <ng-container *ngFor="let data of pgcr|async">
          <h2>
            {{data.mode}} - {{data.name}}
            <span class="pad-left">
              <i *ngIf="data.pve==true && data.pveSuccess==false" class="warn-text fas fa-times" aria-hidden="true"></i>
              <i *ngIf="data.pve==true && data.pveSuccess==true" class="accent-text fas fa-check"
                aria-hidden="true"></i>
            </span>
          </h2>
          <div *ngIf="debugmode|async">
            <ng-container *ngIf="data.level>0"> Lvl {{data.level}}</ng-container>
            <ng-container *ngIf="data.isPrivate"> (Private)</ng-container>
          </div>
          <table class="timing-table">
            <tr>
              <th>Date</th>
              <th>Start</th>
              <th>Finish</th>
              <th>Duration</th>
            </tr>
            <tr>
              <td>{{data.period|date:'shortDate'}}</td>
              <td>{{data.period|date:'shortTime'}}</td>
              <td>{{data.finish|date:'shortTime'}}</td>
              <td>{{data.activityDurationSeconds | amnsTiming:'seconds' }}</td>
            </tr>
          </table>

          <mat-card class="card" *ngIf="data.teams!=null && data.teams.length>0">
            <mat-card-content>

              <b *ngFor="let t of data.teams;let last = last;">
                {{t.name}} {{t.score}} ({{t.standing}}) <ng-container *ngIf="!last">&emsp;-&emsp;</ng-container>
              </b>

            </mat-card-content>
          </mat-card>

          <mat-card class="card" *ngFor="let entry of data.entries">

            <mat-card-header class="full-width">
              <div *ngIf="entry.user.icon!=null" class="icon" mat-card-avatar
                [style.background-image]="'url(//www.bungie.net' + entry.user.icon + ')'"></div>
              <mat-card-title class="full-width">
                <b>
                  <a *ngIf="entry.user.membershipType!=4"
                    [routerLink]="['/'+entry.user.membershipType, entry.user.displayName]"
                    color="accent">{{entry.user.displayName}}</a>
                  <a *ngIf="entry.user.membershipType==4" href="javascript:void(0)" color="accent"
                    (click)="navigateBnetMember(entry.bungieNetUserInfo)">
                    {{entry.user.displayName}}
                  </a>
                  <a style="margin-left:0.25em"
                    [ngClass]="(favoritesMap|async)[storageService.getFavKey(entry.user)]!==undefined?'warn-text':''"
                    (click)="storageService.toggleFav(entry.user, entry.bungieNetUserInfo.membershipId)"
                    href="javascript:void(0)">
                    <i style="font-weight: normal !important" class="far fa-heart"></i>
                  </a>
                </b>
                <span class="kd accent-text">{{entry.kd| number : '1.2-2'}} KD
                  <br>
                </span>
              </mat-card-title>
              <mat-card-subtitle class="full-width">
                <div class="pad-left" *ngIf="entry.team!=null">Team {{entry.team}}</div>
                <div>
                  <span class="pad-left"> {{entry.characterClass}} {{entry.lightLevel}}LL</span>
                  <span class="pad-left" *ngIf="entry.fireteam!=null">Fireteam: {{entry.fireteam}}
                    ({{entry.fireteamSize}} member)</span>
                </div>
                <div>
                  <span class="pad-left" *ngIf="entry.score!=null && entry.score>0">Score: {{entry.score}}</span>
                  <span class="pad-left" *ngIf="entry.kills!=null">Kills: {{entry.kills}}</span>
                  <span class="pad-left" *ngIf="entry.assists!=null">Deaths: {{entry.deaths}}</span>
                  <span class="pad-left" *ngIf="entry.assists!=null">Assists: {{entry.assists}}</span>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="full-width">
              <table class="weapon-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Kills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let w of entry.weapons">
                    <td>{{w.name}}
                      <span class="simple-caption-no-margin">{{w.type}}</span></td>
                    <td>{{w.kills}} <span class="simple-caption">{{w.precPct|percent:'1.0-0'}}</span></td>
                  </tr>
                </tbody>
              </table>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                      <i class="fas fa-info-square"></i>&nbsp;Medals etc.
                  </mat-expansion-panel-header>
                  <table class="weapon-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let w of entry.extra">
                        <td>
                          <span *ngIf="w.desc!=null">
                            {{w.desc.statName}}
                            <div class="simple-caption" style="max-width: 200px">
                              {{w.desc.statDescription}}
                            </div>
                          </span>
                          <ng-container *ngIf="w.desc==null">
                            {{w.name}}
                          </ng-container>
                        </td>
                        <td>{{w.value|number}}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>


            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
    <div *ngIf="(disableAds|async)!==true" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="(disableAds|async)!==true" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>