@import 'styles-variables';


:host {
}

.stat-val{
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

a:link {
  text-decoration: underline;
}

.kd{
  float: right;
  font-weight: bold;
}


.icon {
  background-size: cover;
}


.card{
  margin-bottom: 10px;
}