@import 'styles-variables';

.stat-val{
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

a:link {
  text-decoration: underline;
}

table.weapon-table {
  margin-bottom: 15px;
  width: 100%;
  & th {
    
    padding-right: 0.325em;
  }
  & td {

    padding-right: 0.325em;
  }
}

.kd{
  float: right;
  margin-left: 10px;
  font-weight: bold;
}


.icon {
  background-size: cover;
}

.no-medal-icon {
  text-align: center;
}

.medal-icon {
  width: 48px;
  height: 48px;
  background-size: cover;
}


::ng-deep .mat-card-header-text {
  width: 100% !important;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.card{
  margin-bottom: 10px;
}
