<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <md-spinner class="loading" class="center-spinner" *ngIf="loading===true"></md-spinner>
      <div [ngClass]="animateOnRouteEnter">

        <ng-container *ngIf="data!=null">
          <h2>
            PGCR: {{data.mode}} - {{data.name}}
            <ng-container *ngIf="data.level>0"> Lvl {{data.level}}</ng-container>
            <ng-container *ngIf="data.isPrivate"> (Private)</ng-container>
          </h2>
          <md-list style="text-align: left">
           
            <h3 md-subheader>Players</h3>

            <ng-container *ngFor="let entry of data.entries">
              <md-list-item>
                <img *ngIf="entry.user.icon!=null" mdListAvatar [src]="'//www.bungie.net'+entry.user.icon">
                <h4 md-line>
                  <a href="javascript:void(0)" (click)="loadPlayer(entry.user.membershipType, entry.user.displayName)" color="accent">{{entry.user.displayName}} </a>
                  
                  {{entry.characterClass}} Lvl {{entry.characterLevel}}
                  <span *ngIf="entry.light>0">-  Light {{entry.light}}</span>
                </h4>
                <p md-line>

                  <span class="mat-chip stat-val" *ngIf="entry.score!=null && entry.score>0">Score: {{entry.score}}</span>
                  <span class="mat-chip stat-val" *ngIf="entry.kills!=null">Kills: {{entry.kills}}</span>
                  <span class="mat-chip stat-val" *ngIf="entry.assists!=null">Deaths: {{entry.deaths}}</span>
                  <span class="mat-chip stat-val" *ngIf="entry.assists!=null">Assists: {{entry.assists}}</span>
                  <span class="mat-chip stat-val" *ngIf="entry.fireteam!=null">Fireteam: {{entry.fireteam}}</span>
                </p>
              </md-list-item>

              <md-divider></md-divider>

            </ng-container>
          </md-list>

        </ng-container>

      </div>


    </div>

    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adFormat="horizontal" adSlot="6246523328"></ng-adsense>
  </div>

</div>