<div class="multi-line-cell">
  <div class="rewards-wrapper">
    <div class="reward" *ngFor="let reward of data.rewards">
      <d2c-bungie-icon
        iconClass="icon size-22"
        [icon]="reward.icon"
        matTooltip="{{reward.name}}&#13;&#13;{{reward.description}}"
        matTooltipClass="multi-line-tooltip">
      </d2c-bungie-icon>
      <!-- TODO add tooltip that tells what drop levels they would get on each character -->
      <div class="type-caption" *ngIf="reward.subText">{{reward.subText}}</div>
    </div>
  </div>
</div>
