.milestone-row {
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.milestoneVisibilityButton{
  margin-left: 0.5em;
}

.hideMilestoneButton {
  opacity: 0.5;
}

.milestone-resets {

}

.check {
  font-size: large;
}

.clanMsRow {
  text-align: left;
}

.lifetime {
  font-size: small;
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  max-width: 125px;
}

.trophy {
  opacity: 0.7;
  padding-left: 0.25em;
}

.percent {
  font-size: smaller;
  font-weight: lighter;
}

.bottom-note {
  margin-left: 1em;
  text-align: left;
  max-width: 900px;
}

.ms-supp-info {
  margin-top: 5px;
}

a:link.recipes {
  text-decoration: underline;
  font-size: smaller;
  font-weight: lighter;
  opacity: 0.8;
}
