<ng-container *ngIf="state.player|async as player">

  <div *ngIf="(player.milestoneList).length==0">
    <br>
    <h2>Privacy</h2>
    <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
  </div>

  <div class="mobile-button-row" style="margin-top: 5px">
    <span class="mat-caption">Hide Completed</span>
  </div>
  <div class="mobile-button-row" style="margin-top: 5px">
    <button mat-button (click)="toggleHide('ALL')" [color]="'ALL'==hideCompleteChars?'accent':'default'">All</button>
    <button *ngFor="let c of player.characters" (click)="toggleHide(c.characterId)"
      [color]="c.characterId==hideCompleteChars?'accent':'default'" mat-button>{{c.className}}</button>
  </div>


  <div *ngIf="(hiddenMilestones|async).length>0" class="mobile-button-row" style="margin-top: 5px">
    <span class="mat-caption" (click)="showAllMilestones()">Show hidden milestones</span>
  </div>

  <table class="responsive-table" *ngIf="(player.milestoneList).length>0">
    <thead>
      <tr>
        <th scope="col" style="width: 25%">Activity
          <i *ngIf="'ALL'!=hideCompleteChars" (click)="hideCompleteChars = 'ALL'" class="fal fa-eye-slash"
            matTooltip="Hide milestones where all chars are complete"></i>
          <i *ngIf="hideCompleteChars=='ALL'" (click)="hideCompleteChars = null" class="warn-text fal fa-eye"
            matTooltip="Stop hiding milestones where all chars are complete"></i>
          <a *ngIf="(hiddenMilestones|async).length>0 || hideCompleteChars!=null" href="javascript:void(0)"
            matTooltip="Show all hidden milestones" class="milestoneVisibilityButton" (click)="showAllMilestones()">show
            all</a>
        </th>
        <th scope="col" *ngFor="let char of player.characters">
          {{char.className}} - {{char.light}} {{char.title}}
          <i *ngIf="char.characterId!=hideCompleteChars" (click)="hideCompleteChars = char.characterId"
            class="fal fa-eye-slash" matTooltip="Hide milestones that this char has completed"></i>
          <i *ngIf="char.characterId==hideCompleteChars" (click)="hideCompleteChars = null" class="warn-text fal fa-eye"
            matTooltip="Stop hiding milestones that this char has completed"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let mileStoneName of player.milestoneList">
        <tr *ngIf="(hiddenMilestones|async).indexOf(mileStoneName.key)===-1 && !hideRow(mileStoneName)">
          <td class="lead">
            <span [matTooltip]="mileStoneName.desc" matTooltipClass="preserve-white-space">
              <a href="javascript:void(0)" (click)="sortByName()">
                {{mileStoneName.name}} <span *ngIf="debugmode|async">PL({{mileStoneName.pl}})</span>
                <i *ngIf="sort=='nameDesc'" class="fal fa-sort-down"></i>
                <i *ngIf="sort=='nameAsc'" class="fal fa-sort-up"></i>
              </a>
            </span>
            <span *ngIf="debugmode|async"> {{mileStoneName.key}} </span>
            <a href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
              class="milestoneVisibilityButton" (click)="hideMilestone(mileStoneName.key)">
              <i class="fal fa-eye-slash"></i>
            </a>

            <span class="caption" *ngIf="mileStoneName.resets!=null && mileStoneName!=''">
              <a href="javascript:void(0)" style="opacity: 0.75" (click)="sortByReset()">
                Resets in {{today| amDifference:mileStoneName.resets | amDuration:'ms'}}

                <i *ngIf="sort=='resetDesc'" class="fal fa-sort-down"></i>
                <i *ngIf="sort=='resetAsc'" class="fal fa-sort-up"></i>
              </a>
              <ng-container *ngIf="debugmode|async">
                <br> {{mileStoneName.resets|date:'short'}}
              </ng-container>
              <div class="accent-text ms-supp-info" *ngIf="mileStoneName.suppInfo!=null">{{mileStoneName.suppInfo}}
              </div>

            </span>
            <d2c-reward-desc [pl]="mileStoneName.pl" [rewards]="mileStoneName.rewards" [sort]="sort"
              (sortClick)="sortByRewards()"></d2c-reward-desc>
            
          </td>
          <td [attr.data-label]="char.className+' - '+char.light+' '+char.title" *ngFor="let char of player.characters">
            <d2c-milestone-check [char]="char" [mileStoneName]="mileStoneName" detailed="true"></d2c-milestone-check>
          </td>
        </tr>
      </ng-container>
      <tr
        *ngIf="player.characters.length>=1 && player.characters[0].clanMilestones!=null && (hiddenMilestones|async).indexOf('1')===-1">
        <td class="lead" matTooltip="Shared clan rewards, one per account">Clan Milestones
          <a href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
            class="milestoneVisibilityButton" (click)="hideMilestone('1')">hide</a>
          <d2c-reward-desc pl="1" rewards="Powerful Gear" [sort]="sort" (sortClick)="sortByRewards()"></d2c-reward-desc>
        </td>
        <td [attr.colspan]="player.characters.length">
          <div class="clanMsRow">
            <span style="margin-right: 0.5em" *ngFor="let clanMs of player.characters[0].clanMilestones">
              {{clanMs.name}}
              <i *ngIf="clanMs.earned==true && !clanMs.redeemed==true"
                class="warn-text mat-option.mat-selected fas fa-check-square"></i>
              <i *ngIf="clanMs.earned==true && clanMs.redeemed==true"
                class="accent-text mat-option.mat-selected fas fa-check-square"></i>
              <i *ngIf="!clanMs.earned==true" class="far fa-square"></i>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<div class="bottom-note">
  <ul class="left">
    <li>Thanks to /u/windzer408 for their <a target="_blank" rel="noopener" href="https://old.reddit.com/r/DestinyTheGame/comments/by1a21/i_made_simple_chalice_of_opulence_combination/">fantastic Menagerie combination table</a> (which is linked as "Recipes" above on the Menagerie milestone)</li>
    <li>Milestones disappear on completion, so it's hard to differentiate between complete and
      unavailable
      milestones. Chars that aren't eligable for milestones may therefore show as complete.</li>
    <li>lt = lifetime</li>
    <li>Milestones with this icon <i class="far fa-minus-square"></i> denote players that are not yet
      max
      level, due to recent API changes it's impossible to tell whether they're done or ineligible</li>
  </ul>
</div>