<ng-container *ngIf="state.player|async as player">

  <div *ngIf="(player.milestoneList).length==0">
    <br>
    <h2>Privacy</h2>
    <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
  </div>

  <div class="mobile-button-row" style="margin-top: 5px">
    <span class="mat-caption">Hide Completed</span>
  </div>
  <div class="mobile-button-row" style="margin-top: 5px">
    <button mat-button (click)="toggleHide('ALL')" [color]="'ALL'==hideCompleteChars?'accent':'default'">All</button>
    <button *ngFor="let c of player.characters" (click)="toggleHide(c.characterId)"
      [color]="c.characterId==hideCompleteChars?'accent':'default'" mat-button>{{c.className}}</button>
  </div>


  <div *ngIf="(hiddenMilestones|async).length>0" class="mobile-button-row" style="margin-top: 5px">
    <span class="mat-caption" (click)="showAllMilestones()">Show hidden milestones</span>
  </div>

  <table class="responsive-table" *ngIf="(player.milestoneList).length>0">
    <thead>
      <tr>
        <th scope="col" style="width: 25%">Activity

          <fa-icon *ngIf="'ALL'!=hideCompleteChars" [icon]="iconService.falEyeSlash" (click)="hideCompleteChars = 'ALL'"
            matTooltip="Hide milestones where all chars are complete"></fa-icon>

          <fa-icon *ngIf="hideCompleteChars=='ALL'" [icon]="iconService.falEye"
            matTooltip="Hide milestones where all chars are complete" (click)="hideCompleteChars = null"
            class="warn-text" matTooltip="Stop hiding milestones where all chars are complete"></fa-icon>
          <a *ngIf="(hiddenMilestones|async).length>0 || hideCompleteChars!=null" href="javascript:void(0)"
            matTooltip="Show all hidden milestones" class="milestoneVisibilityButton" (click)="showAllMilestones()">show
            all</a>
        </th>
        <th scope="col" *ngFor="let char of player.characters">
          {{char.className}} - {{char.light}} {{char.title}}

          <fa-icon [icon]="iconService.falEyeSlash" *ngIf="char.characterId!=hideCompleteChars"
            (click)="hideCompleteChars = char.characterId" matTooltip="Hide milestones that this char has completed">
          </fa-icon>
          <fa-icon [icon]="iconService.falEye" *ngIf="char.characterId==hideCompleteChars"
            (click)="hideCompleteChars = null" class="warn-text"
            matTooltip="Stop hiding milestones that this char has completed">
          </fa-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let mileStoneName of player.milestoneList">
        <tr *ngIf="(hiddenMilestones|async).indexOf(mileStoneName.key)===-1 && !hideRow(mileStoneName)">
          <td class="lead">
            <span [matTooltip]="mileStoneName.desc" matTooltipClass="preserve-white-space">
              <a href="javascript:void(0)" (click)="sortByName()">
                {{mileStoneName.name}} <span *ngIf="debugmode|async">PL({{mileStoneName.pl}})</span>
                <fa-icon *ngIf="state.sort=='nameDesc'" [icon]="iconService.falSortDown"></fa-icon>
                <fa-icon *ngIf="state.sort=='nameAsc'" [icon]="iconService.falSortUp"></fa-icon>
              </a>
            </span>
            <span *ngIf="debugmode|async"> {{mileStoneName.key}} </span>
            <a href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
              class="milestoneVisibilityButton" (click)="hideMilestone(mileStoneName.key)">
              <fa-icon [icon]="iconService.falEyeSlash"></fa-icon>
            </a>

            <span class="caption" *ngIf="mileStoneName.resets!=null && mileStoneName!=''">
              <a href="javascript:void(0)" style="opacity: 0.75" (click)="sortByReset()">
                Resets in {{today| amDifference:mileStoneName.resets | amDuration:'ms'}}
                <fa-icon *ngIf="state.sort=='resetDesc'" [icon]="iconService.falSortDown"></fa-icon>
                <fa-icon *ngIf="state.sort=='resetAsc'" [icon]="iconService.falSortUp"></fa-icon>
              </a>
              <ng-container *ngIf="debugmode|async">
                <br> {{mileStoneName.resets|date:'short'}}
              </ng-container>
              <div class="accent-text ms-supp-info" *ngIf="mileStoneName.suppInfo!=null">{{mileStoneName.suppInfo}}
              </div>

            </span>
            <d2c-reward-desc [pl]="mileStoneName.pl" [rewards]="mileStoneName.rewards" [sort]="state.sort"
              (sortClick)="sortByRewards()"></d2c-reward-desc>

          </td>
          <td [attr.data-label]="char.className+' - '+char.light+' '+char.title" *ngFor="let char of player.characters">
            <div class="asdf">
              <d2c-milestone-check [char]="char" [mileStoneName]="mileStoneName" [detailed]="true">
              </d2c-milestone-check>
            </div>
          </td>
        </tr>
      </ng-container>
      <tr
        *ngIf="player.characters.length>=1 && player.characters[0].clanMilestones!=null && (hiddenMilestones|async).indexOf('1')===-1">
        <td class="lead" matTooltip="Shared clan rewards, one per account">Clan Milestones
          <a href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
            class="milestoneVisibilityButton" (click)="hideMilestone('1')">hide</a>
          <d2c-reward-desc pl="3" rewards="Powerful Gear" [sort]="state.sort" (sortClick)="sortByRewards()">
          </d2c-reward-desc>
        </td>
        <td [attr.colspan]="player.characters.length">
          <div class="clanMsRow">
            <span style="margin-right: 0.5em" *ngFor="let clanMs of player.characters[0].clanMilestones">
              {{clanMs.name}}
              <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="clanMs.earned==true && !clanMs.redeemed==true"
                class="warn-text mat-option.mat-selected"></fa-icon>
              <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="clanMs.earned==true && clanMs.redeemed==true"
                class="accent-text mat-option.mat-selected"></fa-icon>
              <fa-icon [icon]="iconService.farSquare" *ngIf="!clanMs.earned==true"></fa-icon>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<div class="bottom-note">
  <ul class="left">    
    <!-- TODO UPDATE ME -->
    <li><span class="warn-text">[Season of Worthy update]</span> New power caps are 1000 and 1010, more to come as we see the season roll out
    </li>
    <li><span class="">[Season of Dawn update]</span> Most things have stayed 
      the same, with power level caps jumped by 10 (so Powerful is capped at 960 instead of 950) and Pinnacle is capped at 970 (instead of 960)
    </li>
    <li><span class="">[Shadowkeep update]</span> Drop info (i.e. +2 for Pinnacle, +3 for Powerful etc) above
      is <b>estimated</b> based on player reports. Each drop has a tooltip describing soft and hard caps.
      In general, all gear, including blues, will give you gains up to 900.
      Powerful and pinnacle gear will give you gains to 960. At or above 960, <b>only</b> Pinnacle Gear will raise your light
      level. I attempt to document this with the "soft cap" and "hard cap" notes.
      When in doubt, trust Bungie or (trustworthy) Reddit sources on drop levels, I'm simply guesstimating here.
    </li>
    <li>Milestones disappear on completion, so it's hard to differentiate between complete and
      unavailable milestones. Chars that aren't eligible for milestones may therefore show as complete. Milestones with
      this icon 
      <fa-icon [icon]="iconService.falCheckSquare" class="faint" matTooltip="LL&lt;900, may not be unlocked"></fa-icon>
      denote players that are below max light level,
      and **may** be ineligible for certain milestones. With the API at the moment it's impossible to tell the
      difference between complete and ineligible milestones.</li>
  </ul>
</div>