<ng-container *ngIf="state.player|async as player">

  <div *ngIf="(player.milestoneList).length==0">
    <br>
    <h2>Privacy</h2>
    <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
  </div>

  <div class="mobile-button-row" style="margin-top: 5px">
    <span class="mat-caption">Hide Completed</span>
  </div>
  <div class="mobile-button-row" style="margin-top: 5px">
    <button mat-button (click)="toggleHide('ALL')" [color]="'ALL'==hideCompleteChars?'accent':'default'">All</button>
    <button *ngFor="let c of player.characters" (click)="toggleHide(c.characterId)"
      [color]="c.characterId==hideCompleteChars?'accent':'default'" mat-button>{{c.className}}</button>
  </div>


  <div *ngIf="(hiddenMilestones|async).length>0" class="mobile-button-row" style="margin-top: 5px">
    <span class="mat-caption warn-text" (click)="showAllMilestones()">Show hidden milestones</span>
  </div>

  <table class="responsive-table" *ngIf="(player.milestoneList).length>0">
    <thead>
      <tr>
        <th scope="col" style="width: 25%">Activity

          <button mat-button *ngIf="'ALL'!=hideCompleteChars" (click)="hideCompleteChars = 'ALL'"
            matTooltip="Hide milestones where all chars are complete">
            <fa-icon [icon]="iconService.falEyeSlash"></fa-icon>
          </button>
          <button mat-button *ngIf="hideCompleteChars=='ALL'" matTooltip="Hide milestones where all chars are complete"
            (click)="hideCompleteChars = null" matTooltip="Stop hiding milestones where all chars are complete">
            <fa-icon [icon]="iconService.falEye" class="warn-text"></fa-icon>
          </button>

          <span *ngIf="(hiddenMilestones|async).length>0" matTooltip="Show all hidden milestones"
            class="warn-text pad-left fake-link pad-left-more" (click)="showAllMilestones()">Restore Hidden</span>
        </th>
        <th scope="col" *ngFor="let char of player.characters">
          <button mat-stroked-button (click)="showPlBuckets(char)"
            [matTooltip]="char.basePLString ? char.basePLString :null">
            {{char.className}} - {{char.light}}
            <ng-container *ngIf="char.lightFraction">
              <sup>{{char.lightFraction.top}}</sup>&frasl;<sub>{{char.lightFraction.bottom}}</sub>
            </ng-container>
          </button>
          <button mat-button *ngIf="char.characterId!=hideCompleteChars" (click)="hideCompleteChars = char.characterId"
            matTooltip="Hide milestones that this char has completed">
            <fa-icon [icon]="iconService.falEyeSlash"></fa-icon>
          </button>
          <button mat-button *ngIf="char.characterId==hideCompleteChars" (click)="hideCompleteChars = null"
            matTooltip="Stop hiding milestones that this char has completed">
            <fa-icon [icon]="iconService.falEye" class="warn-text"></fa-icon>
          </button>
          <div *ngIf="debugmode|async">{{char.characterId}}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let mileStoneName of player.milestoneList">
        <tr *ngIf="(hiddenMilestones|async).indexOf(mileStoneName.key)===-1 && !hideRow(mileStoneName)">
          <td class="lead">
            <div class="milestone-row">
              <div [matTooltip]="mileStoneName.desc" matTooltipClass="preserve-white-space">
                <span class="fake-link" (click)="sortByName()">
                  {{mileStoneName.name}} <span *ngIf="debugmode|async">PL({{mileStoneName.pl}})</span>
                  <fa-icon *ngIf="state.sort=='nameDesc'" [icon]="iconService.falSortDown"></fa-icon>
                  <fa-icon *ngIf="state.sort=='nameAsc'" [icon]="iconService.falSortUp"></fa-icon>
                </span>
              </div>
              <div *ngIf="debugmode|async"> {{mileStoneName.key}} </div>
              <div class="fake-link" matTooltip="Hide this milestone, click Show All to restore it later"
                class="hideMilestoneButton" (click)="hideMilestone(mileStoneName.key)">
                <fa-icon [icon]="iconService.farTimes"></fa-icon>
              </div>
            </div>
            <div class="milestone-row" *ngIf="mileStoneName.suppInfo!=null">
              <div class="ms-supp-info accent-text">{{mileStoneName.suppInfo}}</div>
            </div>
            <div class="milestone-row">
              <d2c-reward-desc [boost]="mileStoneName.boost" [maxPl]="player.characters[0].basePL" [rewards]="mileStoneName.rewards" [sort]="state.sort"
                (sortClick)="sortByRewards()"></d2c-reward-desc>
              <div class="caption milestone-resets" *ngIf="mileStoneName.resets!=null && mileStoneName!=''">
                <span class="fake-link" style="opacity: 0.75" (click)="sortByReset()">
                  Resets in {{mileStoneName.resets | d2cAgoHumanized}}
                  <fa-icon *ngIf="state.sort=='resetDesc'" [icon]="iconService.falSortDown"></fa-icon>
                  <fa-icon *ngIf="state.sort=='resetAsc'" [icon]="iconService.falSortUp"></fa-icon>
                </span>
                <ng-container *ngIf="debugmode|async">
                  <br> {{mileStoneName.resets|date:'short'}}
                </ng-container>

              </div>
            </div>

          </td>
          <td
            [attr.data-label]="char.className+' - '+char.light+' ' +(char.lightFraction?(char.lightFraction.top+'/'+char.lightFraction.bottom):'')+' '+char.title"
            *ngFor="let char of player.characters">
            <d2c-milestone-check [milestoneStatus]="char.milestones[mileStoneName.key]" [detailed]="true">
            </d2c-milestone-check>
          </td>
        </tr>
      </ng-container>
      <tr
        *ngIf="player.characters.length>=1 && player.characters[0].clanMilestones!=null && (hiddenMilestones|async).indexOf('1')===-1">
        <td class="lead" matTooltip="Shared clan rewards, one per account">

          <div class="milestone-row">
            <div>Clan Milestones</div>
            <div class="fake-link" matTooltip="Hide this milestone, click Show All to restore it later"
              class="hideMilestoneButton" (click)="hideMilestone('1')">
              <fa-icon [icon]="iconService.farTimes"></fa-icon>
            </div>
          </div>
          <div class="milestone-row">
            <span class="simple-caption">Powerful Gear +1</span>
          </div>
        </td>
        <td [attr.colspan]="player.characters.length">
          <div class="clanMsRow">
            <span style="margin-right: 0.5em" *ngFor="let clanMs of player.characters[0].clanMilestones">
              {{clanMs.name}}
              <fa-icon [icon]="iconService.fasStar" matTooltip='Collect reward'
                *ngIf="clanMs.earned==true && !clanMs.redeemed==true" class="warn-text mat-option.mat-selected">
              </fa-icon>
              <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="clanMs.earned==true && clanMs.redeemed==true"
                class="accent-text mat-option.mat-selected"></fa-icon>
              <fa-icon [icon]="iconService.farSquare" *ngIf="!clanMs.earned==true"></fa-icon>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<div class="bottom-note">
  <ul class="left">
    <!-- UPDATE ME -->
    <!-- <li><span class="">[Beyond Light update]</span> First cut done, plenty of known issues to clean up soon. First of
      all is when milestones properly unlock in the API.
    </li>
    <li><span class="">[Season of Arrivals update]</span> New power caps are 1050 and 1060, more to come as we
      see the season roll out
    </li>
    <li><span class="">[Shadowkeep update]</span> Drop info (i.e. +2 for Pinnacle, +3 for Powerful etc) above
      is <b>estimated</b> based on player reports. Each drop has a tooltip describing soft and hard caps.
      In general, all gear, including blues, will give you gains up to 900.
      Powerful and pinnacle gear will give you gains to 960. At or above 960, <b>only</b> Pinnacle Gear will raise your
      light
      level. I attempt to document this with the "soft cap" and "hard cap" notes.
      When in doubt, trust Bungie or (trustworthy) Reddit sources on drop levels, I'm simply guesstimating here.
    </li> -->
    <li>Milestones disappear on completion, so it's hard to differentiate between complete and
      unavailable milestones. Chars that aren't eligible for milestones may therefore show as complete. Milestones with
      this icon
      <fa-icon [icon]="iconService.falMinusSquare" class="faint" matTooltip="Not available"></fa-icon>
      denotes activities that aren't available.
      Usually you need to level up and/or complete story missions to get these.
      In some cases, I'm making an educated guess here as it's sometimes impossible to tell the difference
      between a completed milestone and one that's unavailable (b/c milestones dissappear on completion). I use a
      blunt "Are you under 900PL?" check in those cases.
    </li>
  </ul>
</div>