<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <md-spinner class="loading" class="center-spinner" *ngIf="loading===true"></md-spinner>
      <div class="body">

        <ng-container *ngIf="info==null">
          <h2>Loading clan info. This could take a while if your clan is large...</h2>
        </ng-container>

        <ng-container *ngIf="info!=null">
          <h1>{{info.name}}</h1>

          <md-card *ngIf="modelPlayer!=null" class="clanMsRow clan-card">
            <h2 class="hidden-sm-down">Weekly Clan Bounties</h2>

            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.nightfall==true"> 
                                          Nightfall <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                                      </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.nightfall==false">
                                          Nightfall <i class="fa fa-square-o"></i>
                                      </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.raid==true"> 
                                          Raid <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                                      </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.raid==false">
                                          Raid <i class="fa fa-square-o"></i>
                                      </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.crucible==true"> 
                                          Crucible <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                                      </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.crucible==false">
                                          Crucible <i class="fa fa-square-o"></i>
                                      </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.trials==true"> 
                                          Trials <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                                      </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.trials==false">
                                          Trials <i class="fa fa-square-o"></i>
                                      </span>
          </md-card>

          <ng-container *ngIf="info.progressions!=null">
            <md-expansion-panel>
              <md-expansion-panel-header>
                <md-panel-title>
                  Clan Progress
                </md-panel-title>
                <md-panel-description class="hidden-sm-down">
                  Created: {{info.creationDate|date:'short'}} &emsp; {{info.memberCount}} members
                </md-panel-description>
              </md-expansion-panel-header>
              <br>
              <md-card class="clan-card" *ngFor="let faction of info.progressions">

                <md-card-header>

                  <md-card-title>{{faction.name}} &ensp; Level {{faction.level}} - {{faction.percentToNextLevel|percent}} to level {{faction.level+1}} &emsp; Remaining XP to get this week: <b>{{(faction.weeklyLimit - faction.weeklyProgress)|number}}</b></md-card-title>
                  <md-card-subtitle>{{faction.desc}}
                  </md-card-subtitle>
                </md-card-header>

                <div>
                  <md-progress-bar color="accent" mode="determinate" [value]="faction.percentToNextLevel*100">
                  </md-progress-bar>
                </div>
              </md-card>

            </md-expansion-panel>
          </ng-container>

          <br>
          
          <div class="mobile-button-row">
              <button md-raised-button  (click)="toggleMemberSort()">Sort Name <i *ngIf="sort=='memberDesc'" class="fa fa-sort-desc"></i> <i *ngIf="sort=='memberAsc'" class="fa fa-sort-asc"></i></button>
              <button md-raised-button  (click)="toggleDateSort()">Sort Last Played <i *ngIf="sort=='dateDesc'" class="fa fa-sort-desc"></i> <i *ngIf="sort=='dateAsc'" class="fa fa-sort-asc"></i></button>
            </div>
            

          <table class="responsive-table" *ngIf="this.sortedMembers!=null">
            <thead>
              <tr>
                <th>
                  <a href="javascript:void(0)" (click)="toggleMemberSort()">Member <i *ngIf="sort=='memberDesc'" class="fa fa-sort-desc"></i> <i *ngIf="sort=='memberAsc'" class="fa fa-sort-asc"></i></a>
                </th>
                <th>
                  <a href="javascript:void(0)" (click)="toggleDateSort()">Last Played <i *ngIf="sort=='dateDesc'" class="fa fa-sort-desc"></i> <i *ngIf="sort=='dateAsc'" class="fa fa-sort-asc"></i></a>
                </th>
                <ng-container *ngIf="modelPlayer!=null">
                  <th [mdTooltip]="mileStoneName.desc" *ngFor="let mileStoneName of modelPlayer.milestoneList">{{mileStoneName.name}}</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of sortedMembers">
                <td class="lead">
                  <a href="javascript:void(0)" (click)="router.navigate([member.destinyUserInfo.membershipType, member.destinyUserInfo.displayName])">
                  {{member.destinyUserInfo.displayName}} {{member.destinyUserInfo.platformName}}
                </a>
                  <a *ngIf="member.player==null" href="javascript:void(0)" (click)="loadSpecificPlayer(member)"><i class="fa fa-refresh"></i></a>
                </td>
                <td *ngIf="member.player==null">N/A</td>
                <ng-container *ngIf="member.player!=null">
                  <td>
                    {{today| amDifference:member.player.profile.dateLastPlayed | amDuration:'ms'}} ago
                  </td>
                  <td *ngFor="let mileStoneName of modelPlayer.milestoneList" [attr.data-label]="mileStoneName.name">
                    <ng-container *ngFor="let char of member.player.characters">
                      <ng-container *ngIf="char.milestones[mileStoneName.key]!=null">
                        <ng-container *ngIf="char.milestones[mileStoneName.key].complete==true">
                          <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                        </ng-container>
                        <ng-container *ngIf="char.milestones[mileStoneName.key].complete==false && char.milestones[mileStoneName.key].pct==0">
                          <i class="fa fa-square-o"></i>
                        </ng-container>
                        <ng-container *ngIf="char.milestones[mileStoneName.key].pct>0 && char.milestones[mileStoneName.key].pct<1">
                          <i [mdTooltip]="char.milestones[mileStoneName.key].info" class="accent-text fa fa-minus-square-o"></i>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </td>
                </ng-container>
                <ng-container *ngIf="member.player==null && modelPlayer!=null">
                  <td *ngFor="let mileStoneName of modelPlayer.milestoneList">...</td>
                </ng-container>

              </tr>
            </tbody>
          </table>
        </ng-container>

      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>