<ng-container *ngIf="(disableAds|async)!==true">
    <ng-container *ngIf="screenWidth$|async as screenWidth">
        <ng-container *ngIf="adType=='unknown'">
            Unknown type, fixme
        </ng-container>
        <ng-container *ngIf="adType=='top'">
            <div class="adTop" *ngIf="screenWidth<=1000">
                
                <d2c-nitro-unit unitId="d2c-ad-nitro-mobile-top" title="Mobile banner 320 x 50" [width]="320" [height]='50'></d2c-nitro-unit>
            </div>
            <div class="adTopDesktop" *ngIf="screenWidth>1000 && screenWidth<=1439">
                <d2c-nitro-unit unitId="d2c-ad-nitro-desktop-top" title="Desktop banner 970 x 90" [width]="970" [height]='90'></d2c-nitro-unit>
            </div>
        </ng-container>
        <ng-container *ngIf="adType=='right'">
            <div class="adRight" *ngIf="screenWidth>1500">
                
                <d2c-nitro-unit unitId="d2c-ad-nitro-desktop-right" title="Desktop right 300 x 600" [width]="300" [height]='600'></d2c-nitro-unit>
            </div>
            <div class="adRight" *ngIf="screenWidth>1439 && screenWidth<=1500">
                <d2c-nitro-unit unitId="d2c-ad-nitro-desktop-thin-right" title="Desktop right 160 x 600" [width]="160" [height]='600'></d2c-nitro-unit>
            </div>
        </ng-container>
        <ng-container *ngIf="adType=='bottom' && screenWidth<=1439">
            <div class="adBottom">
                
                <d2c-nitro-unit unitId="d2c-ad-nitro-mobile-bottom" title="Mobile footer 300 x 250" [width]="300" [height]='250'></d2c-nitro-unit>
            </div>
        </ng-container>
    </ng-container>
</ng-container>