<h2 mat-dialog-title>Today's Modifiers</h2>
<mat-dialog-content>
  <!-- <dl>
    <ng-container *ngFor="let b of data">
      <dt>{{b.name}}</dt>
      <dd>{{b.desc}}</dd>
    </ng-container>
  </dl> -->
  <mat-list>
    <mat-list-item *ngFor="let b of data">
      <span mat-list-icon *ngIf="b.icon!=null" class="burn-icon transparent-icon" [style.background-image]="'url(//www.bungie.net' + b.icon + ')'"></span>
      <h4 mat-line>{{b.name}}</h4>
      <p class="d-none d-md-inline" mat-line> {{b.desc}}</p>

    </mat-list-item>
  </mat-list>
</mat-dialog-content>