<mat-dialog-content>
  <h2>Reckoning Modifiers</h2>
  <mat-list>
    <mat-list-item *ngFor="let b of data.reckBurns">
      <span mat-list-icon *ngIf="b.icon!=null" class="burn-icon transparent-icon"
        [style.background-image]="'url(//www.bungie.net' + b.icon + ')'"></span>
      <h4 mat-line>{{b.name}}</h4>
      <p class="d-none d-md-inline" mat-line> {{b.desc}}</p>
    </mat-list-item>
  </mat-list>
  <h2>Heroic Modifiers</h2>
  <mat-list>
    <mat-list-item *ngFor="let b of data.burns">
      <span mat-list-icon *ngIf="b.icon!=null" class="burn-icon transparent-icon"
        [style.background-image]="'url(//www.bungie.net' + b.icon + ')'"></span>
      <h4 mat-line>{{b.name}}</h4>
      <p class="d-none d-md-inline" mat-line> {{b.desc}}</p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>