<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <div class="center-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      </div>
      <div class="body-text" [ngClass]="animateOnRouteEnter">
        <br />
        <div class="searchRow">
            <mat-form-field class="searchField searchPlatform">
                <mat-select [(ngModel)]="selectedPlatform" placeholder="Platform" (selectionChange)="onPlatformChange()">
                    <mat-select-trigger>
                        <i [ngClass]="selectedPlatform.iconClass"></i>&ensp;{{selectedPlatform.name }}
                      </mat-select-trigger>
                  <mat-option *ngFor="let p of platforms" [value]="p">
                    <i [ngClass]="p.iconClass"></i>&ensp;{{ p.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <mat-form-field class="searchField searchGt">
            <input matInput placeholder="Gamer tag" [(ngModel)]="gamerTag" (keyup.enter)="routeSearch()" (change)="onGtChange()">
          </mat-form-field>
          <button mat-mini-fab color="primary searchField" (click)="routeSearch()" color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="player==null && !loading">
          <h4>Player not found on {{selectedPlatform.desc}}, try another or search?</h4>
          <div class="button-row">
            <ng-container *ngFor="let plat of platforms">
              <button class="space-right" *ngIf="plat.type!=selectedPlatform.type" mat-raised-button color="accent"
                (click)="router.navigate([plat.type, gamerTag, selectedTab])">{{plat.desc}}</button>
            </ng-container>
            <button mat-raised-button color="primary" (click)="router.navigate(['search', gamerTag])">Search Bungie
              Names</button>
          </div>
          <br>
          <br>
          <br>
        </ng-container>

        <ng-container *ngIf="player!=null">
          <h4>{{player.profile.userInfo.displayName}} -
            <span *ngIf="player.superprivate">[hidden by privacy settings]</span>
            <span *ngIf="(player.currentActivity==null || (player.currentActivity!=null && player.currentActivity.name=='Tower')) && !player.superprivate">
              Last played: {{today| amDifference:player.profile.dateLastPlayed | amDuration:'ms'}} ago
            </span>
            <span *ngIf="player.currentActivity!=null && player.currentActivity.name!='Tower'">
              Playing now! {{player.currentActivity.type}} - {{player.currentActivity.name}} | Started {{today|
              amDifference:player.currentActivity.dateActivityStarted|
              amDuration:'ms'}} ago
            </span>
          </h4>

          <div class="button-row">
            <a mat-button [routerLink]="['/history', player.characters[0].membershipType, player.characters[0].membershipId, player.characters[0].characterId]">
              <mat-icon>history</mat-icon>
              <span class="d-none d-md-inline">Activity History</span>
            </a>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
              <span class="d-none d-md-inline">External Links</span>
            </button>
            <mat-menu #menu="matMenu">
              <a mat-menu-item *ngIf="player.profile.userInfo.membershipType==1" target="_blank" rel="noopener" [href]="'https://account.xbox.com/Messages?gamerTag='+player.profile.userInfo.displayName">
                <mat-icon>message</mat-icon>
                <span>Message on XBL</span>
              </a>
              <a mat-menu-item [href]="getRaidLink(player)" rel="warn-text" target="_blank" rel="noopener">
                <mat-icon>flag</mat-icon>
                <span>Raid.Report</span>
              </a>
              <a mat-menu-item [href]="getTrialsLink(player)" rel="noopener" target="_blank" rel="noopener">
                <mat-icon>remove_red_eye</mat-icon>
                <span>Trials.Report</span>
              </a>
            </mat-menu>
          </div>

          <mat-tab-group #maintabs (selectedTabChange)='changeTab($event)'>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-flag"></i>
                <span class="d-none d-md-inline">&ensp;Milestones</span>
              </ng-template>
              <ng-container *ngIf="player!=null">

                <div *ngIf="player.milestoneList.length==0">
                  <br>
                  <h2>Privacy</h2>
                  <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
                </div>

                <div *ngIf="hiddenMilestones.length>0" class="mobile-button-row" style="margin-top: 5px">
                  <button mat-button (click)="showAllMilestones()">Show hidden milestones</button>
                </div>

                <table class="responsive-table" *ngIf="player.milestoneList.length>0">
                  <thead>
                    <tr>
                      <th scope="col">Activity
                        <a *ngIf="hiddenMilestones.length>0" href="javascript:void(0)" matTooltip="Show all hidden milestones"
                          class="milestoneVisibilityButton" (click)="showAllMilestones()">show all</a>
                      </th>
                      <th scope="col" *ngFor="let char of player.characters">
                        {{char.className}} - {{char.light}}
                        <span *ngIf="char.wellRested" matTooltip="Well-Rested: Increased XP for Bright Engrams">
                          <i class="warn-text fas fa-2x fas fa-bed"></i>
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let mileStoneName of player.milestoneList">
                      <tr *ngIf="hiddenMilestones.indexOf(mileStoneName.key)===-1">
                        <td class="lead">
                          <span [matTooltip]="mileStoneName.desc">{{mileStoneName.name}} </span>
                          <span *ngIf="debugmode"> {{mileStoneName.key}} </span>
                          <a href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
                            class="milestoneVisibilityButton" (click)="hideMilestone(mileStoneName.key)">hide</a>

                          <span class="caption" *ngIf="mileStoneName.resets!=null && mileStoneName!=''">
                            Resets in {{today| amDifference:mileStoneName.resets | amDuration:'ms'}}
                            <ng-container *ngIf="debugmode">
                              <br> {{mileStoneName.resets|date:'short'}}
                            </ng-container>
                          </span>
                          <br>
                          <span class="simple-caption">
                            {{mileStoneName.rewards}}
                          </span>

                        </td>
                        <td [attr.data-label]="char.className+' - '+char.light" *ngFor="let char of player.characters">
                          <span class="check">
                            <ng-container *ngIf="char.milestones[mileStoneName.key]!=null">

                              <div>
                                <ng-container *ngIf="char.milestones[mileStoneName.key].complete==true">
                                  <i class="accent-text mat-option.mat-selected fas fa-check-square"></i>

                                  <div *ngIf="mileStoneName.hasPartial==true" class="percent">{{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}</div>
                                </ng-container>
                                <ng-container *ngIf="char.milestones[mileStoneName.key].complete==false && char.milestones[mileStoneName.key].pct==0">
                                  <i class="far fa-square"></i>
                                  <div *ngIf="mileStoneName.hasPartial==true" class="percent">{{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}</div>
                                </ng-container>
                                <ng-container *ngIf="char.milestones[mileStoneName.key].pct>0 && char.milestones[mileStoneName.key].pct<1">
                                  <i [matTooltip]="char.milestones[mileStoneName.key].info" class="accent-text far fa-minus-square"></i>
                                  <div class="percent">{{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}</div>
                                </ng-container>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==2171429505 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.nf|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.nfFastestMs!=null">
                                    | {{char.aggHistory.nfFastestMs| amnsTiming:'ms'}}</ng-container>
                                </div>
                                <div>
                                  <b>{{char.aggHistory.hmNf|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.hmNfFastestMs!=null">
                                    | {{char.aggHistory.hmNfFastestMs| amnsTiming:'ms'}}</ng-container>
                                  <span class="trophy">
                                    <i class="trophy fas fa-trophy" aria-hidden="true"></i>
                                  </span>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="char.milestones[mileStoneName.key].suppInfo!=null">
                                {{char.milestones[mileStoneName.key].suppInfo}}
                              </div>

                              <div class="lifetime" *ngIf="mileStoneName.key==1234 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.eater|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.eaterFastestMs!=null">
                                    | {{char.aggHistory.eaterFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>

                              <div class="lifetime" *ngIf="mileStoneName.key==1235 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.raid|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.raidFastestMs!=null">
                                    | {{char.aggHistory.raidFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==2345 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.spire|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.spireFastestMs!=null">
                                    | {{char.aggHistory.spireFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==1236 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.hmRaid|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.hmRaidFastestMs!=null">
                                    | {{char.aggHistory.hmRaidFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                  <span class="trophy">
                                    <i class="trophy fas fa-trophy" aria-hidden="true"></i>
                                  </span>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==3456 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.lwNm|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.lwNmFastestMs!=null">
                                    | {{char.aggHistory.lwNmFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>


                            </ng-container>
                            <ng-container *ngIf="char.milestones[mileStoneName.key]==null && !mileStoneName.neverDisappears">
                              <i *ngIf="char.baseCharacterLevel>=char.maxLevel" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                              <i *ngIf="char.baseCharacterLevel<char.maxLevel" class="far fa-minus-square" matTooltip="Not max level: possibly complete / possibly ineligible"></i>
                            </ng-container>
                          </span>
                        </td>
                      </tr>
                    </ng-container>
                    <tr *ngIf="player.characters.length>=1 && player.characters[0].clanMilestones!=null && hiddenMilestones.indexOf('1')===-1">
                      <td class="lead" matTooltip="Shared clan rewards, one per account">Clan Milestones
                        <a href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
                          class="milestoneVisibilityButton" (click)="hideMilestone('1')">hide</a>
                      </td>
                      <td [attr.colspan]="player.characters.length">

                        <div class="clanMsRow">

                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.nightfall==true">
                            Nightfall
                            <i class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                          </span>
                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.nightfall==false">
                            Nightfall
                            <i class="far fa-square"></i>
                          </span>
                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.raid==true">
                            Raid
                            <i class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                          </span>
                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.raid==false">
                            Raid
                            <i class="far fa-square"></i>
                          </span>
                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.crucible==true">
                            Crucible
                            <i class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                          </span>
                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.crucible==false">
                            Crucible
                            <i class="far fa-square"></i>
                          </span>
                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.trials==true">
                            Trials
                            <i class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                          </span>
                          <span class="clanMs" *ngIf="player.characters[0].clanMilestones.trials==false">
                            Trials
                            <i class="far fa-square"></i>
                          </span>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </ng-container>
              <div class="bottom-note">
                <ul class="left">
                  <li>Light level in parentheses after milestones are their suspected Soft Cap. After reaching the SC
                    light level rewards have lower light levels.</li>
                  <li>Milestones disappear on completion, so it's hard to differentiate between complete and
                    unavailable
                    milestones. Chars that aren't eligable for milestones may therefore show as complete.</li>
                  <li>lt = lifetime</li>
                  <li>Milestones with this icon <i class="far fa-minus-square"></i> denote players that are not yet
                    max
                    level, due to recent API changes it's impossible to tell whether they're done or ineligible</li>
                </ul>
                <!-- * Max LL vendor info provided by
              <a href="https://vendorengrams.xyz/" target="_blank" rel="noopener">vendorengrams.xyz</a>. Go there and vote!
              <br>  -->
              </div>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-gift"></i>
                <span class="d-none d-md-inline">&ensp;Bounties</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <ng-container *ngIf="player.bounties==null || player.bounties.length==0">
                  <br>
                  <ng-container *ngIf="(bungieService.selectedUserFeed | async)==null">
                    <h2>Bungie Authentication Required</h2>
                    <p>You must grant this site access to your private Bungie API's for the site to
                      access this info on your account
                      (like what you might be doing with Destiny Item Manager today). <b>Click the "Sign In" button
                        on the upper
                        right if you want to continue.</b></p>
                  </ng-container>

                  <ng-container *ngIf="(bungieService.selectedUserFeed | async)!=null">
                    <h2>Privacy</h2>
                    <p>
                      This user hasn't enabled viewing their non-equipped inventory.<br>
                      They'd need to <a class="underline" href="https://www.bungie.net/en/Profile/Settings?category=Privacy"
                        target="_blank" rel="noopener">
                        check the "Show my non-equipped Inventory" at Bungie.net.</a>
                      <br><br>
                      [Hiding non-equipped inventory is the default privacy setting]
                    </p>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="player.bounties!=null && player.bounties.length>0">
                  <mat-tab-group>
                    <mat-tab [label]="char.className+' - '+char.light" *ngFor="let char of player.characters">
                      <a [routerLink]="['/vendors']" style="margin-top: 5px; margin-bottom: 5px" mat-stroked-button>Available
                        Bounties</a>
                      <table class="responsive-table">
                        <tbody>
                          <ng-container *ngFor="let g of player.bounties">
                            <tr *ngIf="g.owner==char">
                              <td class="lead" data-label="">
                                <span *ngIf="g.icon!=null" class="item-icon" [style.background-image]="'url(//www.bungie.net' + g.icon + ')'"></span>
                                <ng-container *ngIf="g.mapLink==null">{{g.name}} </ng-container>
                                <a [href]="g.mapLink" *ngIf="g.mapLink!=null" target="_blank" rel="noopener">
                                  {{g.name}}
                                  <i class='accent-text far fa-map-marker-alt'></i>
                                </a>
                                <span *ngIf="g.expirationDate!=null" class="expire-caption warn-text">
                                  <i class="fas fa-clock"></i>
                                  {{ g.expirationDate | amDifference: today |
                                  amDuration:'ms'}} </span>
                                <div class="simple-caption">{{g.desc}}</div>
                              </td>
                              <td data-label="">
                                <div class="obj-desc" *ngFor="let obj of g.objectives">
                                  <i *ngIf="obj.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                                  <i *ngIf="!obj.complete" class="far fa-square"></i>
                                  {{obj.progressDescription}} {{obj.aggProgress}}
                                  <span *ngIf="obj.progress!=null">{{obj.progress}}/{{obj.completionValue}}</span>
                                  <mat-progress-bar class="bounty-progress" *ngIf="obj.completionValue!=null && obj.completionValue>0"
                                    mode="determinate" [value]="100*obj.progress/obj.completionValue">
                                  </mat-progress-bar>
                                </div>
                                <div class="obj-desc" *ngIf="g.values!=null && g.values.length>0">
                                  <div *ngFor="let v of g.values">
                                    {{v.name}} <ng-container *ngIf="v.quantity>0">{{v.quantity}}</ng-container>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </mat-tab>
                  </mat-tab-group>
                </ng-container>
              </ng-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-check-square"></i>
                <span class="d-none d-md-inline">&ensp;Checklist</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <div *ngIf="player.checklists==null || player.checklists.length==0">
                  <br>
                  <h2>Privacy</h2>
                  <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
                </div>
                <mat-accordion [multi]="debugmode" *ngIf="player.checklists!=null && player.checklists.length>0 && selectedTab=='checklist'">
                  <mat-expansion-panel *ngFor="let checklist of player.checklists" [expanded]="debugmode">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{checklist.name}}
                        <span *ngIf="debugmode">&ensp;[{{checklist.hash}}]</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        {{checklist.complete}} / {{checklist.total}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="checklist-body">
                      <div class="hide-complete">
                        <mat-checkbox [(ngModel)]="hideCompleteChecklist">Hide Completed</mat-checkbox>
                      </div>
                      <table class="checklist-table">
                        <thead>
                          <tr>
                            <th class="check-list-name">Name</th>
                            <th class="check-list-status">Status</th>
                            <th class="d-none d-md-table-cell" *ngIf="checklist.hasDescs">Desc</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let check of checklist.entries">
                            <tr *ngIf="!hideCompleteChecklist || !check.checked">
                              <td>
                                <ng-container *ngIf="check.mapUrl==null">{{check.name}}</ng-container>
                                <ng-container *ngIf="check.mapUrl!=null">
                                  <a [href]="check.mapUrl" target="_blank" rel="noopener">{{check.name}}
                                    <i class='accent-text far fa-map-marker-alt'></i>
                                  </a>

                                </ng-container>

                                <span *ngIf="debugmode">
                                  &ensp;[{{check.hash}}] &ensp;
                                  <a href="javascript:void(0)" (click)="routeSearch()">
                                    <i class="fas fa-sync fa-fw" [class.fa-spin]="loading" aria-hidden="true"></i>
                                  </a>
                                </span>
                              </td>
                              <td>
                                <span>
                                  <i *ngIf="check.checked" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                                  <i *ngIf="!check.checked" class="far fa-square"></i>
                                </span>
                              </td>
                              <td class="d-none d-md-table-cell" *ngIf="checklist.hasDescs">
                                {{check.desc}}
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>

                  </mat-expansion-panel>
                  <mat-expansion-panel *ngFor="let checklist of player.charChecklists" [expanded]="debugmode">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{checklist.name}}
                        <span *ngIf="debugmode">&ensp;[{{checklist.hash}}]</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        <span *ngFor="let t of checklist.totals">{{t.char.className}} {{t.complete}}/{{t.total}}&emsp;</span>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="checklist-body">
                      <div class="hide-complete">
                        <mat-checkbox [(ngModel)]="hideCompleteChecklist">Hide All Completed</mat-checkbox>
                      </div>
                      <table class="checklist-table">
                        <thead>
                          <tr>
                            <th style="width: 200px">Name</th>
                            <th style="width: 50px">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let check of checklist.entries">
                            <tr *ngIf="!hideCompleteChecklist || !check.allDone">
                              <td>
                                <ng-container *ngIf="check.mapUrl==null">{{check.name}}</ng-container>
                                <ng-container *ngIf="check.mapUrl!=null">
                                  <a [href]="check.mapUrl" target="_blank" rel="noopener">{{check.name}}
                                    <i class='accent-text far fa-map-marker-alt'></i>
                                  </a>
                                </ng-container>
                                <ng-container *ngIf="check.oncePerAccount==true">*</ng-container>
                                <span *ngIf="debugmode">
                                  &ensp;[{{check.hash}}] &ensp;
                                  <a href="javascript:void(0)" (click)="routeSearch()">
                                    <i class="fas fa-sync fa-fw" [class.fa-spin]="loading" aria-hidden="true"></i>
                                  </a>
                                </span>
                              </td>
                              <td>
                                <span class="space-right" *ngFor="let c of check.checked">
                                  <i *ngIf="c.checked" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                                  <i *ngIf="!c.checked && !check.oncePerAccount" class="far fa-square"></i>
                                  <i *ngIf="!c.checked && check.oncePerAccount" class="far fa-minus-square"></i>
                                </span>
                              </td>

                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>

                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
              <div class="bottom-note">
                <br>
                <ul>
                  <li>Looking for all the Catalysts?
                    <a href="https://twitter.com/Aussie_Halo" target="_blank" rel="noopener">@Aussie_Halo</a> has them
                    all in a nice
                    <a class="accent-text" href="https://docs.google.com/spreadsheets/d/1hPI1oO5izJaDASpPWdTb4sB_eAzxTI1eFMh6ixeVpMM/edit#gid=0"
                      target="_blank" rel="noopener">Google spreadsheet</a>
                  </li>
                  <li>Only 4 of Cayde's Journals are completable in game, thus the other 16 are pre-filtered.</li>
                  <li>2 Adventures are account only</li>
                </ul>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-chart-line"></i>
                <span class="d-none d-md-inline">&ensp;Progress</span>
              </ng-template>
              <ng-container *ngIf="player!=null">

                <mat-tab-group>
                  <mat-tab [label]="char.className+' - '+char.light" *ngFor="let char of player.characters">

                    <div *ngIf="char.factions==null || char.factions.length==0">
                      <br>
                      <h2>Privacy</h2>
                      <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
                    </div>

                    <table class="responsive-table" *ngIf="char.factions!=null && char.factions.length>0">
                      <thead>
                        <tr>
                          <th scope="col">Faction</th>
                          <th scope="col">Progress</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let faction of char.factions">
                          <td class="lead" data-label="">
                            <span [matTooltip]="faction.desc">{{faction.name}}</span>


                            <span class="light">Level {{faction.level}} </span>
                            <span class="caption">{{faction.info}}</span>

                          </td>
                          <td data-label="">
                            {{faction.currentProgress}} points
                            <br /> {{faction.percentToNextLevel|percent:'1.0-0'}} to level {{faction.level+1}}
                            <div>
                              <mat-progress-bar mode="determinate" [value]="faction.percentToNextLevel*100">
                              </mat-progress-bar>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <br>


                  </mat-tab>
                </mat-tab-group>

              </ng-container>

            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-trophy"></i>
                <span class="d-none d-md-inline">&ensp;Triumphs</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <h3 class="triumph-score">Triumph Score: {{player.triumphScore|number : '2.0-0'}}
                  <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="hideCompleteTriumph">Hide Completed</mat-checkbox>                
              </h3> 
                <mat-tree [dataSource]="recordDatasource" [treeControl]="treeControl2">
                  <mat-tree-node class="tree-leaf" *matTreeNodeDef="let node" [hidden]="hideTriumph(node)" matTreeNodeToggle matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <!-- <div *ngIf="node.data.icon!=null" class="transparent-icon" [style.background-image]="'url(//www.bungie.net' + node.data.icon + ')'"></div> -->
                    <div style="text-align: left; margin-bottom: 20px">
                      <i *ngIf="node.data.complete && node.data.redeemed" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                      <i *ngIf="node.data.complete && !node.data.redeemed" class="warn-text mat-option.mat-selected fas fa-check-square"></i>
                      <i *ngIf="!node.data.complete" class="far fa-square"></i>

                      <ng-container *ngIf="node.data.mapLink==null"> {{node.data.name}} </ng-container>
                      <a [href]="node.data.mapLink" *ngIf="node.data.mapLink!=null" target="_blank" rel="noopener">
                        {{node.data.name}}
                        <i class='accent-text far fa-map-marker-alt'></i>
                      </a>
                      <ng-container *ngIf="debugmode">{{node.data.hash}}</ng-container>
                      <br>
                      <span class="simple-warn-caption" *ngIf="node.data.complete && !node.data.redeemed">Not yet
                        redeemed.<br></span>
                      <span class="simple-caption">
                        {{node.data.desc}}
                      </span>
                      <div *ngFor="let o of node.data.objectives">
                        <span class="simple-caption">
                          <i *ngIf="o.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                          <i *ngIf="!o.complete" class="far fa-square"></i>
                          {{o.progress}}/{{o.completionValue}} {{o.progressDescription}}
                        </span>
                        <mat-progress-bar class="pres-node-prog" mode="determinate" [value]="o.progress*100/o.completionValue"></mat-progress-bar>
                      </div>
                    </div>
                  </mat-tree-node>
                  <mat-tree-node *matTreeNodeDef="let node;when: hasChild"  [hidden]="hideTriumph(node)" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl2.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    <!-- <div *ngIf="node.data.icon!=null" class="triumph-icon" [style.background-image]="'url(//www.bungie.net' + node.data.icon + ')'"></div> -->
                    <div style="text-align: left">
                      <i *ngIf="node.data.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                      <i *ngIf="!node.data.complete" class="far fa-square"></i>
                      {{node.data.name}} <span *ngIf="debugmode">{{node.data.hash}}</span>
                      <span class="simple-caption">
                        {{node.data.progress}}/{{node.data.completionValue}} {{node.data.progressDescription}}
                      </span>
                      <ng-container *ngIf="node.data.unredeemedCount>0">
                        <span class="simple-warn-caption">+{{node.data.unredeemedCount}} to redeem</span>
                      </ng-container>
                      <br>

                      <ng-container *ngIf="node.data.unredeemedCount==0">
                        <mat-progress-bar class="pres-node-prog" mode="determinate" [value]="node.data.progress*100/node.data.completionValue"></mat-progress-bar>
                      </ng-container>
                      <ng-container *ngIf="node.data.unredeemedCount>0">
                        <!-- <mat-progress-bar class="pres-node-prog" color="warn" mode="determinate" [value]="(node.data.unredeemedCount)*100/node.data.completionValue"></mat-progress-bar> -->
                        <mat-progress-bar class="pres-node-prog" color="warn" mode="determinate" [value]="(node.data.unredeemedCount+node.data.progress)*100/node.data.completionValue"></mat-progress-bar>
                      </ng-container>
                    </div>
                  </mat-tree-node>
                </mat-tree>
              </ng-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-database"></i>
                <span class="d-none d-md-inline">&ensp;Collections</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <div class="hide-complete-collectibles">
                    <mat-checkbox  [(ngModel)]="hideCompleteCollectible">Hide Completed</mat-checkbox>                
                </div>
                <mat-tree [dataSource]="collectionDatasource" [treeControl]="treeControl2">
                  <mat-tree-node class="tree-leaf" *matTreeNodeDef="let node" [hidden]="hideCollectible(node)" matTreeNodeToggle matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <div *ngIf="node.data.icon!=null" class="transparent-icon transparent-leaf-icon"
                      [style.background-image]="'url(//www.bungie.net' + node.data.icon + ')'"></div>
                    <div style="text-align: left; margin-bottom: 20px">
                      <i *ngIf="node.data.acquired " class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                      <i *ngIf="!node.data.acquired" class="far fa-square"></i>
                      {{node.data.name}} <ng-container *ngIf="debugmode">{{node.data.hash}}</ng-container>
                      <br>
                      <span class="simple-caption">
                        {{node.data.sourceString}}
                      </span>
                    </div>
                    <!-- {{node.data.name}} <span *ngIf="debugmode">{{node.data.hash}}</span>: {{node.data.acquired}}
                    {{node.data.sourceString}} -->
                  </mat-tree-node>
                  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" [hidden]="hideCollectible(node)" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl2.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    <div *ngIf="node.data.icon!=null" class="transparent-icon  transparent-branch-icon"
                      [style.background-image]="'url(//www.bungie.net' + node.data.icon + ')'"></div>
                    <div style="text-align: left">
                      <i *ngIf="node.data.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                      <i *ngIf="!node.data.complete" class="far fa-square"></i>
                      {{node.data.name}} <span *ngIf="debugmode">{{node.data.hash}}</span>
                      <span class="simple-caption">
                        {{node.data.progress}}/{{node.data.completionValue}} {{node.data.progressDescription}}
                      </span> <br>
                      <mat-progress-bar class="pres-node-prog" mode="determinate" [value]="node.data.progress*100/node.data.completionValue"></mat-progress-bar>
                    </div>

                    <!-- {{node.data.name}} <span *ngIf="debugmode">{{node.data.hash}}</span>:
                    {{node.data.progress}}/{{node.data.completionValue}} {{node.data.progressDescription}}
                    {{node.data.complete}} -->

                  </mat-tree-node>
                </mat-tree>
              </ng-container>
              <div>
                <br>
                <a mat-stroked-button href="https://destinysets.com/" target="_blank" rel="noopener">Dive deeper at
                  DestinySets</a>
              </div>
            </mat-tab>
           <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-users"></i>
                <span class="d-none d-md-inline">&ensp;Chars</span>
              </ng-template>
              <ng-container *ngIf="player!=null">

                <mat-card class="char-card" *ngFor="let char of player.characters">
                  <mat-card-header>
                    <div mat-card-avatar *ngIf="char.emblemPath!=null" class="player-header-image"
                      [style.background-image]="'url(//www.bungie.net' + char.emblemPath + ')'"></div>
                    <mat-card-title>{{char.className}} - {{char.race}} {{char.gender}} &ensp;
                      <span style="white-space:nowrap;">Light {{char.light}}</span>
                      <ng-container *ngIf="char.wellRested && char.baseCharacterLevel>=char.maxLevel">&ensp;WELL
                        RESTED!</ng-container>
                    </mat-card-title>
                    <mat-card-subtitle *ngIf="!player.superprivate">
                      Last played {{today| amDifference:char.dateLastPlayed| amDuration:'ms'}} ago, for
                      {{char.minutesPlayedThisSession}} mins
                      <br> Total time played: {{ char.minutesPlayedTotal*60 | amDuration:'seconds' }} |
                      {{char.minutesPlayedTotal/60|
                      number : '1.0-0'}} hours | {{char.minutesPlayedTotal}} mins
                      <br>
                    </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>

                    <div *ngIf="char.baseCharacterLevel<char.maxLevel">Level {{char.baseCharacterLevel}} &ensp;
                      {{char.percentToNextLevel|percent:'1.0-0'}} to next level
                      <mat-progress-bar mode="determinate" [value]="char.percentToNextLevel*100">
                      </mat-progress-bar>

                      <div class="row dl-row">
                        <dl class="col-xs-6 dl-child">
                          <dt>Daily Progress</dt>
                          <dd>{{char.levelProgression.dailyProgress| number:0}}</dd>
                        </dl>
                        <dl class="col-xs-6 dl-child">
                          <dt>XP needed to next level</dt>
                          <dd>{{(char.levelProgression.nextLevelAt - char.levelProgression.progressToNextLevel)|
                            number:0}}</dd>
                        </dl>
                      </div>
                    </div>

                    <div *ngIf="char.legendProgression!=null && char.baseCharacterLevel>=char.maxLevel">
                      <b>Level {{char.baseCharacterLevel}}</b> &ensp; Legend Level {{char.legendProgression.level}}
                      &ensp; {{char.legendProgression.percentToNextLevel|percent:'1.0-0'}}
                      to level {{char.legendProgression.level+1}}
                      <mat-progress-bar mode="determinate" [value]="char.legendProgression.percentToNextLevel*100">
                      </mat-progress-bar>

                      <div class="row dl-row">
                        <dl class="col-xs-6 dl-child">
                          <dt>Daily Progress</dt>
                          <dd>{{char.legendProgression.dailyProgress| number:0}}</dd>
                        </dl>
                        <dl class="col-xs-6 dl-child">
                          <dt>XP needed to next level</dt>
                          <dd>{{(char.legendProgression.nextLevelAt - char.legendProgression.progressToNextLevel)|
                            number:0}}</dd>
                        </dl>
                      </div>
                    </div>

                    <div class="stat-chip-list">
                      <ng-container *ngFor="let stat of char.stats; let i=index">
                        <span class="mat-chip stat-chip" *ngIf="stat.name!=null" [matTooltip]="stat.desc">{{stat.name}}:
                          {{stat.value}}</span>
                      </ng-container>
                    </div>

                  </mat-card-content>
                  <mat-card-actions>
                    <a mat-button (click)="history(char)">
                      <mat-icon>history</mat-icon> Activity History
                    </a>
                  </mat-card-actions>

                </mat-card>
              </ng-container>

            </mat-tab>

            <!-- <mat-tab label="Gear">

            <ng-container *ngIf="player!=null">
              <anms-gear [gear]="player.gear"></anms-gear>
            </ng-container>

          </mat-tab> -->
          </mat-tab-group>
        </ng-container>
      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>