@import 'styles-variables';

:host {
}

.clanMs{
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.expire-caption{
  margin-left: 1em;
  opacity: 0.7;
  // font-size: smaller;
  // font-weight: lighter;
}

.dl-row{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
}

.dl-child{
  margin-right: 10px;
  margin-bottom: 0px;
}

.light{
  font-weight: lighter;
  margin-left: 10px;
}

a.underline:link {
  text-decoration: underline;
}

.check{
  font-size: large;
}

.clanMsRow{
  text-align: left;
}

.lifetime{
  font-size: small;
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  max-width: 125px;
}

.trophy{
  opacity: 0.7;
  padding-left: 0.25em;
}

.percent{
  font-size: smaller;
  font-weight: lighter;
}

.milestoneVisibilityButton{
  font-size: smaller;
  font-weight: lighter;
  margin-left: 0.5em;
}

.mat-select{
      margin-top: -7px;
 }
  
 .ll{
   float: right;
 }

.coming-soon-note{
  font-size: smaller;
  font-weight: lighter;
}


.button-row {
  & button{  
    margin-bottom: 10px;
  }
}

.body-text {
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}


.searchRow{
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}

.searchField{
  margin-bottom: 10px;
}

.searchPlatform{
  width: 75px;
  margin-right: 10px;
}

.searchGt{
  width: 125px;
  margin-right: 10px;
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
      width: auto;
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {


  .body-text {
    width: auto;
  }
}

.mat-chip{
  margin-bottom: 5px;
}

.notes{
  text-align: left; 
  max-width: 500px;
}


.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.bottom-note{
  margin-left: 1.0em;
  text-align: left;
}

.external-link{
  opacity: 0.5;
}

.obj-desc{
  text-align: left;
}


.underline {
  text-decoration: underline;
}

.bounty-progress{
  max-width: 250px;
}



.item-icon{
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  background-size: cover;
  //display: inline-block;
}


.char-icon{
  width: 32px;
  height: 32px;
  // border-radius: 50%;
  background-size: cover;
  display: inline-block;
}


.help-button-row {
  & a{  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.button-margin{
  margin-left: 5px;
  margin-right: 5px;
}


.menu-icon {
  padding-right: 5px;
}