<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <md-spinner class="loading" class="center-spinner" *ngIf="loading===true"></md-spinner>
      <div class="body-text" [ngClass]="animateOnRouteEnter">
        <br/>
        <div class="centerMe">
          <md-select style="min-width: 235px" class="searchField" [(ngModel)]="selectedPlatform" placeholder="Platform" (change)="onPlatformChange()">
            <md-option *ngFor="let p of platforms" [value]="p">
              {{ p.name }}
            </md-option>
          </md-select>
          &emsp;
          <md-form-field class="searchField" class="gt">
            <input mdInput placeholder="Gamer tag" [(ngModel)]="gamerTag" (keyup.enter)="routeSearch()" (change)="onGtChange()">
          </md-form-field>
          &emsp;
          <button md-mini-fab color="primary searchField" (click)="routeSearch()" color="primary"><md-icon>search</md-icon></button>
        </div>


        <ng-container *ngIf="player==null && !loading">
          <h4>Player not found on {{selectedPlatform.desc}}, try another or search?</h4>
          <div class="button-row">
            <ng-container *ngFor="let plat of platforms">
              <button *ngIf="plat.type!=selectedPlatform.type" md-raised-button color="accent" (click)="router.navigate([plat.type, gamerTag, selectedTab])">{{plat.desc}}</button>
            </ng-container>
            <button md-raised-button color="primary" (click)="router.navigate(['search', gamerTag])">Search Bungie Names</button>
          </div>
          <br>
          <br>
          <br>
        </ng-container>

        <h4 *ngIf="player!=null">{{player.profile.userInfo.displayName}} -
          <span *ngIf="player.currentActivity==null">
              Last played: {{today| amDifference:player.profile.dateLastPlayed | amDuration:'ms'}} ago 
            </span>
          <span *ngIf="player.currentActivity!=null">
                <mark>Playing now! {{player.currentActivity.type}} - {{player.currentActivity.name}} | 
                Started {{today| amDifference:player.currentActivity.dateActivityStarted| amDuration:'ms'}} ago</mark>
            </span>
        </h4>


        <md-tab-group #maintabs (selectChange)='changeTab($event)'>
          <md-tab label="Checklist">
            <ng-container *ngIf="player!=null">

              <div *ngIf="player.milestoneList.length==0">
                <br>
                <h1>Nothing here? Try signing in. </h1>
                <h4>There's a Bungie API bug blocking access otherwise.<br><br> Sorry about that.</h4>
              </div>

              <table class="responsive-table" *ngIf="player.milestoneList.length>0">
                <thead>
                  <tr>
                    <th scope="col">Actvity</th>
                    <th scope="col" *ngFor="let char of player.characters">
                      {{char.className}} - {{char.light}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mileStoneName of player.milestoneList">
                    <td class="lead" [mdTooltip]="mileStoneName.desc" [attr.data-label]="Activity">
                      {{mileStoneName.name}}
                      <span class="caption">{{mileStoneName.type}}</span>

                    </td>
                    <td [attr.data-label]="char.className+' - '+char.light" *ngFor="let char of player.characters">
                      <ng-container *ngIf="char.milestones[mileStoneName.key]!=null">
                        
                        <ng-container *ngIf="char.milestones[mileStoneName.key].complete==true">
                          <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                        </ng-container>
                        <ng-container *ngIf="char.milestones[mileStoneName.key].complete==false && char.milestones[mileStoneName.key].pct==0">
                          <i class="fa fa-square-o"></i>
                        </ng-container>
                        <ng-container *ngIf="char.milestones[mileStoneName.key].pct>0 && char.milestones[mileStoneName.key].pct<1">
                            <i [mdTooltip]="char.milestones[mileStoneName.key].info" class="accent-text fa fa-minus-square-o"></i>
                          </ng-container>
                      </ng-container>
                      <ng-container *ngIf="char.milestones[mileStoneName.key]==null">
                        N/A
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>

          </md-tab>
          <md-tab label="Progress">
            <ng-container *ngIf="player!=null">

              <md-tab-group>
                <md-tab [label]="char.className+' - '+char.light" *ngFor="let char of player.characters">

                  <div *ngIf="char.factions==null || char.factions.length==0">
                    <br>
                    <h1>Nothing here? Try signing in. </h1>
                    <h4>There's a Bungie API bug blocking access otherwise.<br><br> Sorry about that.</h4>
                  </div>

                  <table class="responsive-table" *ngIf="char.factions!=null && char.factions.length>0">
                    <thead>
                      <tr>
                        <th scope="col">Faction</th>
                        <th scope="col">Progress</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let faction of char.factions">
                        <td class="lead" [mdTooltip]="faction.desc" data-label="">
                          {{faction.name}}
                          <span class="caption">{{faction.info}}</span>
                        </td>
                        <td data-label="">
                          {{faction.percentToNextLevel|percent}} to level {{faction.level+1}}
                          <div>
                            <md-progress-bar color="accent" mode="determinate" [value]="faction.percentToNextLevel*100">
                            </md-progress-bar>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- 

                  <ng-container *ngIf="char.factions!=null && char.factions.length>0">


                    <md-card class="char-card" *ngFor="let faction of char.factions">



                      <md-card-header>
                        <div md-card-avatar *ngIf="faction.icon!=null" class="player-header-image" [style.background-image]="'url(//www.bungie.net' + faction.icon + ')'"></div>
                        <md-card-title>{{faction.name}} &ensp; {{faction.level}}</md-card-title>
                        <md-card-subtitle>{{faction.percentToNextLevel|percent}} to level {{faction.level+1}}
                        </md-card-subtitle>
                      </md-card-header>

                      <div>
                        <md-progress-bar color="accent" mode="determinate" [value]="faction.percentToNextLevel*100">
                        </md-progress-bar>
                      </div>
                    </md-card>

                  </ng-container> -->






                </md-tab>
              </md-tab-group>

            </ng-container>

          </md-tab>
          <md-tab label="Chars">

            <ng-container *ngIf="player!=null">

              <md-card class="char-card" *ngFor="let char of player.characters">
                <md-card-header>
                  <div md-card-avatar *ngIf="char.emblemPath!=null" class="player-header-image" [style.background-image]="'url(//www.bungie.net' + char.emblemPath + ')'"></div>
                  <md-card-title>{{char.className}} - {{char.race}} {{char.gender}} &ensp;
                    <span style="white-space:nowrap;">Light {{char.light}}&emsp;
                                  <button md-mini-fab title="Activity History" (click)="history(char)">
                                    <md-icon>history</md-icon>
                                  </button>
                                </span>
                  </md-card-title>
                  <md-card-subtitle>Time played: {{ char.minutesPlayedTotal*60 | amDuration:'seconds' }} ({{char.minutesPlayedTotal}} mins)
                  </md-card-subtitle>
                </md-card-header>

                <div>Level {{char.baseCharacterLevel}} &ensp; {{char.percentToNextLevel|percent}} to next level
                  <md-progress-bar color="accent" mode="determinate" [value]="char.percentToNextLevel*100">
                  </md-progress-bar>
                </div>
              </md-card>
            </ng-container>

          </md-tab>
        </md-tab-group>

      </div>








    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adFormat="horizontal" adSlot="6246523328"></ng-adsense>
  </div>
</div>