@import 'styles-variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.clanMs{
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.clanMsRow{
  text-align: left;
}

.mat-select{
      margin-top: -7px;
 }
  
 .ll{
   float: right;
 }

.stat-chip-list{
  max-width: 500px;
}
.stat-chip{
  padding: 5px;
  margin-bottom: 5px !important;
  display: inline-block;
}

.coming-soon-note{
  font-size: smaller;
  font-weight: lighter;
}

.char-card{
  margin-bottom: 10px;
  text-align: left;
}

.button-row {
  & button{  
    margin-bottom: 10px;
  }
}

.body-text {
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}

.player-header-image {
  background-size: cover;
}

.searchField{
  margin-bottom: 10px;
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
      width: auto;
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {


  .body-text {
    width: auto;
  }
}

.mat-chip{
  margin-bottom: 5px;
}

.notes{
  text-align: left; 
  max-width: 500px;
}
