@import 'styles-variables';

:host {
}

.clanMs{
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.expire-caption{
  margin-left: 1em;
  opacity: 0.7;
  // font-size: smaller;
  // font-weight: lighter;
}

.dl-row{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
}

.dl-child{
  margin-right: 10px;
  margin-bottom: 0px;
}

.light{
  font-weight: lighter;
  margin-left: 10px;
}

.rankupContainer{
  display: inline-block;
}

.rankupRow{
  display: block;
  margin-bottom: 15px;
  line-height: 2.5;
}

.mobile-header{
  opacity: .8;
}

.rankup{
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  //font-size: larger;
  border-radius: 24px;
  //border: 5px solid red;
  margin-left: 10px;
}

a.underline:link {
  text-decoration: underline;
}

.check{
  font-size: large;
}

.clanMsRow{
  text-align: left;
}

.lifetime{
  font-size: small;
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  max-width: 125px;
}

.trophy{
  opacity: 0.7;
}

.percent{
  font-size: smaller;
  font-weight: lighter;
}

.milestoneVisibilityButton{
  font-size: smaller;
  font-weight: lighter;
  margin-left: 0.5em;
}

.mat-select{
      margin-top: -7px;
 }
  
 .ll{
   float: right;
 }

.stat-chip-list{
  max-width: 500px;
}
.stat-chip{
  padding: 5px;
  border-radius: 12px;
  margin-bottom: 5px !important;
  display: inline-block;
}

.coming-soon-note{
  font-size: smaller;
  font-weight: lighter;
}

.char-card{
  margin-bottom: 10px;
  text-align: left;
}

.button-row {
  & button{  
    margin-bottom: 10px;
  }
}

.body-text {
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}

.player-header-image {
  background-size: cover;
}

.searchRow{
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}

.searchField{
  margin-bottom: 10px;
}

.searchPlatform{
  width: 75px;
  margin-right: 10px;
}

.searchGt{
  width: 125px;
  margin-right: 10px;
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
      width: auto;
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {


  .body-text {
    width: auto;
  }
}

.mat-chip{
  margin-bottom: 5px;
}

.notes{
  text-align: left; 
  max-width: 500px;
}

.checklist-body {
  // max-width: 750px;
  text-align: left;
  margin: 5px;
}

.seal-body{
  // max-width: 750px;
  text-align: left;
  margin: 5px;

}

.hide-complete{
  margin: 5px;
  font-size: smaller;
  font-weight: lighter;
}

.hide-complete-triumphs{
  margin-left: 2em;
  font-size: small;
  font-weight: lighter;
}

.hide-complete-collectibles{
  text-align: left;
  margin: 5px;
  margin-top: 10px;  
  margin-left: 1em;  
  font-size: small;
  font-weight: lighter;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.bottom-note{
  margin-left: 1.0em;
  text-align: left;
}

.external-link{
  opacity: 0.5;
}

.obj-desc{
  text-align: left;
}


.underline {
  text-decoration: underline;
}

.bounty-progress{
  max-width: 250px;
}

.triumph-icon{
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-size: cover;
}

.transparent-branch-icon{
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}


.transparent-leaf-icon{
  float: left;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}


.item-icon{
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  background-size: cover;
  //display: inline-block;
}


.char-icon{
  width: 32px;
  height: 32px;
  // border-radius: 50%;
  background-size: cover;
  display: inline-block;
}


.help-button-row {
  & a{  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.check-list-name{
  width: 200px
}

.check-list-status{
  width: 50px;
}

.triumph-score{
  margin: 10px;
  text-align: left;
}

.pres-node-prog{
  max-width: 100px;
}


.low-hanging-node-prog{
  max-width: 200px;
}

@media screen and (max-width: 600px) {
  .low-hanging-desc{
    max-width: 300px;
  }
}

