<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <div class="fixed-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="(loading|async)===true"></mat-spinner>
      </div>
      <div class="body-text">
        <br />
        <div class="searchRow">
          <mat-form-field class="searchField searchPlatform">
            <mat-select [(ngModel)]="selectedPlatform" placeholder="Platform" (selectionChange)="onPlatformChange()">
              <mat-select-trigger>
                <i [ngClass]="selectedPlatform.iconClass"></i>&ensp;{{selectedPlatform.name }}
              </mat-select-trigger>
              <mat-option *ngFor="let p of platforms" [value]="p">
                <i [ngClass]="p.iconClass"></i>&ensp;{{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="searchField searchGt">
            <input matInput placeholder="Gamer tag" [(ngModel)]="gamerTag" (keyup.enter)="routeSearch()"
              (change)="onGtChange()">
          </mat-form-field>
          <button mat-mini-fab color="primary searchField" (click)="routeSearch()" color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="player==null && (loading|async)==false">
          <h4>Player not found on {{selectedPlatform.desc}}, try another or search?</h4>
          <div class="button-row">
            <ng-container *ngFor="let plat of platforms">
              <button class="space-right" *ngIf="plat.type!=selectedPlatform.type" mat-raised-button color="accent"
                (click)="router.navigate([plat.type, gamerTag, selectedTab])">{{plat.desc}}</button>
            </ng-container>
            <button mat-raised-button color="primary" (click)="router.navigate(['search', gamerTag])">Search Bungie
              Names</button>
          </div>
          <br>
          <br>
          <br>
        </ng-container>
        <ng-container *ngIf="player!=null && player.superprivate">
          <h4><i style="font-weight: normal !important"
              [ngClass]="const.PLATFORMS_DICT[player.profile.userInfo.membershipType+''].iconClass"></i>
            {{player.profile.userInfo.displayName}} - Hidden by Privacy Settings</h4>
        </ng-container>

        <ng-container *ngIf="player!=null && !player.superprivate">
          <h1>
            <i style="font-weight: normal !important"
              [ngClass]="const.PLATFORMS_DICT[player.profile.userInfo.membershipType+''].iconClass"></i>
            {{player.profile.userInfo.displayName}}
            <a [ngClass]="(favoritesMap|async)[storageService.getFavKey(player.profile.userInfo)]!==undefined?'warn-text':''"
              (click)="storageService.toggleFav(player.profile.userInfo, null)" href="javascript:void(0)"> <i
                style="font-weight: normal !important" class="far fa-heart"></i></a>
          </h1>
          <h4 *ngIf="player.title.trim().length>0">{{player.title}}</h4>
          <ng-container
            *ngIf="player.profile.userInfo!=null && player.profile.userInfo.bungieInfo!=null && (player.profile.userInfo.bungieInfo.clans)!=null">
            Clan:
            <ng-container class="clans" *ngFor="let clan of player.profile.userInfo.bungieInfo.clans; last as isLast">
              <a [routerLink]="['/clan', clan.id]">{{clan.name}}</a>
              <ng-container *ngIf="!isLast">, </ng-container>
            </ng-container>
          </ng-container>

          <div class="simple-caption" *ngIf="player!=null && !player.superprivate">
            <ng-container
              *ngIf="(player.currentActivity==null || (player.currentActivity!=null && player.currentActivity.name=='Tower'))">
              Last played: {{today| amDifference:player.profile.dateLastPlayed | amDuration:'ms'}} ago
            </ng-container>
            <span *ngIf="player.currentActivity!=null && player.currentActivity.name!='Tower'">
              Playing now! {{player.currentActivity.type}} - {{player.currentActivity.name}} | Started {{today|
              amDifference:player.currentActivity.dateActivityStarted|
              amDuration:'ms'}} ago
            </span>
          </div>

          <div class="button-row">
            <button mat-button (click)="showBurns()">
              <i class="menu-icon fa-icon fas fa-burn"></i>
              <span class="d-none d-md-inline">Today's Modifiers</span>
            </button>
            <a mat-button
              [routerLink]="['/history', player.characters[0].membershipType, player.characters[0].membershipId, player.characters[0].characterId]">
              <i class="menu-icon fa-icon fas fa-history"></i>
              <span class="d-none d-md-inline">Activity History</span>
            </a>
            <a mat-button
              [routerLink]="['/recent-players', player.characters[0].membershipType, player.characters[0].membershipId, player.characters[0].characterId]">
              <i class="menu-icon fa-icon fas fa-user-friends"></i>
              <span class="d-none d-md-inline">Recent Teammates</span>
            </a>
            <button mat-button [matMenuTriggerFor]="menu">
              <i class="menu-icon fa-icon fas fa-ellipsis-v"></i>
              <span class="d-none d-md-inline">External Links</span>
            </button>
            <mat-menu #menu="matMenu">
              <a mat-menu-item *ngIf="player.profile.userInfo.membershipType==1" target="_blank" rel="noopener"
                [href]="'https://account.xbox.com/Messages?gamerTag='+player.profile.userInfo.displayName">
                <mat-icon>message</mat-icon>
                <span>Message on XBL</span>
              </a>
              <a mat-menu-item [href]="getRaidLink(player)" rel="warn-text" target="_blank" rel="noopener">
                <mat-icon>flag</mat-icon>
                <span>Raid.Report</span>
              </a>
              <a mat-menu-item [href]="getTrialsLink(player)" rel="noopener" target="_blank" rel="noopener">
                <mat-icon>remove_red_eye</mat-icon>
                <span>Trials.Report</span>
              </a>
            </mat-menu>
          </div>

          <mat-tab-group #maintabs (selectedTabChange)='changeTab($event)'>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-flag"></i>
                <span class="d-none d-md-inline">&ensp;Milestones</span>
              </ng-template>
              <ng-container *ngIf="player!=null">

                <div *ngIf="(player.milestoneList|async).length==0">
                  <br>
                  <h2>Privacy</h2>
                  <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
                </div>

                <div class="mobile-button-row" style="margin-top: 5px">
                  <span class="mat-caption">Hide Completed</span>
                </div>
                <div class="mobile-button-row" style="margin-top: 5px">
                  <button mat-button (click)="toggleHide('ALL')"
                    [color]="'ALL'==hideCompleteChars?'accent':'default'">All</button>
                  <button *ngFor="let c of player.characters" (click)="toggleHide(c.characterId)"
                    [color]="c.characterId==hideCompleteChars?'accent':'default'" mat-button>{{c.className}}</button>
                </div>


                <div *ngIf="(hiddenMilestones|async).length>0" class="mobile-button-row" style="margin-top: 5px">
                  <span class="mat-caption" (click)="showAllMilestones()">Show hidden milestones</span>
                </div>

                <table class="responsive-table" *ngIf="(player.milestoneList|async).length>0">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 25%">Activity
                        <i *ngIf="'ALL'!=hideCompleteChars" (click)="hideCompleteChars = 'ALL'" class="fal fa-eye-slash"
                          matTooltip="Hide milestones where all chars are complete"></i>
                        <i *ngIf="hideCompleteChars=='ALL'" (click)="hideCompleteChars = null"
                          class="warn-text fal fa-eye"
                          matTooltip="Stop hiding milestones where all chars are complete"></i>
                        <a *ngIf="(hiddenMilestones|async).length>0 || hideCompleteChars!=null"
                          href="javascript:void(0)" matTooltip="Show all hidden milestones"
                          class="milestoneVisibilityButton" (click)="showAllMilestones()">show
                          all</a>
                      </th>
                      <th scope="col" *ngFor="let char of player.characters">
                        {{char.className}} - {{char.light}} {{char.title}}
                        <i *ngIf="char.characterId!=hideCompleteChars" (click)="hideCompleteChars = char.characterId"
                          class="fal fa-eye-slash" matTooltip="Hide milestones that this char has completed"></i>
                        <i *ngIf="char.characterId==hideCompleteChars" (click)="hideCompleteChars = null"
                          class="warn-text fal fa-eye"
                          matTooltip="Stop hiding milestones that this char has completed"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let mileStoneName of player.milestoneList|async">
                      <tr *ngIf="(hiddenMilestones|async).indexOf(mileStoneName.key)===-1 && !hideRow(mileStoneName)">
                        <td class="lead">
                          <span [matTooltip]="mileStoneName.desc" matTooltipClass="preserve-white-space">
                            <a href="javascript:void(0)" (click)="sortByName()">
                              {{mileStoneName.name}}
                              <i *ngIf="sort=='nameDesc'" class="fal fa-sort-down"></i>
                              <i *ngIf="sort=='nameAsc'" class="fal fa-sort-up"></i>
                            </a>
                          </span>
                          <span *ngIf="debugmode|async"> {{mileStoneName.key}} </span>
                          <a href="javascript:void(0)"
                            matTooltip="Hide this milestone, click Show All to restore it later"
                            class="milestoneVisibilityButton" (click)="hideMilestone(mileStoneName.key)">
                            <i class="fal fa-eye-slash"></i>
                          </a>

                          <span class="caption" *ngIf="mileStoneName.resets!=null && mileStoneName!=''">
                            <a href="javascript:void(0)" style="opacity: 0.75" (click)="sortByReset()">
                              Resets in {{today| amDifference:mileStoneName.resets | amDuration:'ms'}}

                              <i *ngIf="sort=='resetDesc'" class="fal fa-sort-down"></i>
                              <i *ngIf="sort=='resetAsc'" class="fal fa-sort-up"></i>
                            </a>
                            <ng-container *ngIf="debugmode|async">
                              <br> {{mileStoneName.resets|date:'short'}}
                            </ng-container>
                          </span>
                          <br>
                          <span class="simple-caption">
                            <a href="javascript:void(0)" style="opacity: 0.75"
                              (click)="sortByRewards()">{{mileStoneName.rewards}}

                              <i *ngIf="sort=='rewardsDesc'" class="fal fa-sort-down"></i>
                              <i *ngIf="sort=='rewardsAsc'" class="fal fa-sort-up"></i>
                            </a>
                          </span>

                        </td>
                        <td [attr.data-label]="char.className+' - '+char.light+' '+char.title"
                          *ngFor="let char of player.characters">
                          <span class="check">
                            <ng-container *ngIf="char.milestones[mileStoneName.key]!=null">

                              <div>
                                <ng-container *ngIf="char.milestones[mileStoneName.key].phases!=null">
                                  <ng-container *ngFor="let phase of char.milestones[mileStoneName.key].phases">
                                    <i *ngIf="phase===true" style="margin-left: 5px"
                                      class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                                    <i *ngIf="phase===false" style="margin-left: 5px" class="far fa-square"></i>
                                  </ng-container>
                                </ng-container>
                                <ng-container *ngIf="char.milestones[mileStoneName.key].phases==null">
                                  <ng-container *ngIf="char.milestones[mileStoneName.key].complete==true">
                                    <i class="accent-text mat-option.mat-selected fas fa-check-square"></i>

                                    <div *ngIf="mileStoneName.hasPartial==true" class="percent">
                                      {{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}</div>
                                  </ng-container>
                                  <ng-container
                                    *ngIf="char.milestones[mileStoneName.key].complete==false && char.milestones[mileStoneName.key].pct==0">
                                    <i class="far fa-square"></i>
                                    <div *ngIf="mileStoneName.hasPartial==true" class="percent">
                                      {{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}</div>
                                  </ng-container>
                                  <ng-container
                                    *ngIf="char.milestones[mileStoneName.key].pct>0 && char.milestones[mileStoneName.key].pct<1">
                                    <i [matTooltip]="char.milestones[mileStoneName.key].info"
                                      class="accent-text far fa-minus-square"></i>
                                    <div class="percent">{{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}
                                    </div>
                                  </ng-container>
                                </ng-container>

                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==2171429505 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.nf|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.nfFastestMs!=null">
                                    | {{char.aggHistory.nfFastestMs| amnsTiming:'ms'}}</ng-container>
                                </div>
                                <div>
                                  <b>{{char.aggHistory.hmNf|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.hmNfFastestMs!=null">
                                    | {{char.aggHistory.hmNfFastestMs| amnsTiming:'ms'}}</ng-container>
                                  <span class="trophy">
                                    <i class="trophy fas fa-trophy" aria-hidden="true"></i>
                                  </span>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="char.milestones[mileStoneName.key].suppInfo!=null">
                                {{char.milestones[mileStoneName.key].suppInfo}}
                              </div>

                              <div class="lifetime" *ngIf="mileStoneName.key==1234 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.eater|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.eaterFastestMs!=null">
                                    | {{char.aggHistory.eaterFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>

                              <div class="lifetime" *ngIf="mileStoneName.key==1235 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.raid|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.raidFastestMs!=null">
                                    | {{char.aggHistory.raidFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==2345 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.spire|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.spireFastestMs!=null">
                                    | {{char.aggHistory.spireFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==1236 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.hmRaid|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.hmRaidFastestMs!=null">
                                    | {{char.aggHistory.hmRaidFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                  <span class="trophy">
                                    <i class="trophy fas fa-trophy" aria-hidden="true"></i>
                                  </span>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==3181387331 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.lwNm|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.lwNmFastestMs!=null">
                                    | {{char.aggHistory.lwNmFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>
                              <div class="lifetime" *ngIf="mileStoneName.key==1342567285 && char.aggHistory!=null">
                                <div>Lifetime</div>
                                <div>
                                  <b>{{char.aggHistory.spNm|number : '2.0-0'}}</b>
                                  <ng-container *ngIf="char.aggHistory.spNmFastestMs!=null">
                                    | {{char.aggHistory.spNmFastestMs| amnsTiming:'ms'}}
                                  </ng-container>
                                </div>
                              </div>


                            </ng-container>
                            <ng-container
                              *ngIf="char.milestones[mileStoneName.key]==null && !mileStoneName.neverDisappears">
                              <i *ngIf="char.baseCharacterLevel>=char.maxLevel"
                                class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                              <i *ngIf="char.baseCharacterLevel<char.maxLevel" class="far fa-minus-square"
                                matTooltip="Not max level: possibly complete / possibly ineligible"></i>
                            </ng-container>
                          </span>
                        </td>
                      </tr>
                    </ng-container>
                    <tr
                      *ngIf="player.characters.length>=1 && player.characters[0].clanMilestones!=null && (hiddenMilestones|async).indexOf('1')===-1">
                      <td class="lead" matTooltip="Shared clan rewards, one per account">Clan Milestones
                        <a href="javascript:void(0)"
                          matTooltip="Hide this milestone, click Show All to restore it later"
                          class="milestoneVisibilityButton" (click)="hideMilestone('1')">hide</a>
                      </td>
                      <td [attr.colspan]="player.characters.length">
                        <div class="clanMsRow">
                          <span style="margin-right: 0.5em" *ngFor="let clanMs of player.characters[0].clanMilestones">
                            {{clanMs.name}}
                            <i *ngIf="clanMs.earned==true && !clanMs.redeemed==true"
                              class="warn-text mat-option.mat-selected fas fa-check-square"></i>
                            <i *ngIf="clanMs.earned==true && clanMs.redeemed==true"
                              class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                            <i *ngIf="!clanMs.earned==true" class="far fa-square"></i>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
              <div class="bottom-note">
                <ul class="left">
                  <li>Light level in parentheses after milestones are their suspected Soft Cap. After reaching the SC
                    light level rewards have lower light levels.</li>
                  <li>Milestones disappear on completion, so it's hard to differentiate between complete and
                    unavailable
                    milestones. Chars that aren't eligable for milestones may therefore show as complete.</li>
                  <li>lt = lifetime</li>
                  <li>Milestones with this icon <i class="far fa-minus-square"></i> denote players that are not yet
                    max
                    level, due to recent API changes it's impossible to tell whether they're done or ineligible</li>
                </ul>
                <!-- * Max LL vendor info provided by
              <a href="https://vendorengrams.xyz/" target="_blank" rel="noopener">vendorengrams.xyz</a>. Go there and vote!
              <br>  -->
              </div>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-gift"></i>
                <span class="d-none d-md-inline">&ensp;Bounties
                  <span class="d-none d-lg-inline">/Quests</span>
                </span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <anms-bounties [player]="player">
                </anms-bounties>
              </ng-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-check-square"></i>
                <span class="d-none d-md-inline">&ensp;Checklist</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <anms-checklist [parentLoading]="loading" [selectedTab]="selectedTab"
                  (refreshPlayer)="performSearch(true)" [player]="player"></anms-checklist>
              </ng-container>
              <div class="bottom-note">
                <br>
                <ul>
                  <li>Looking for all the Catalysts?
                    <a href="https://twitter.com/Aussie_Halo" target="_blank" rel="noopener">@Aussie_Halo</a> has them
                    all in a nice
                    <a class="accent-text"
                      href="https://docs.google.com/spreadsheets/d/1hPI1oO5izJaDASpPWdTb4sB_eAzxTI1eFMh6ixeVpMM/edit#gid=0"
                      target="_blank" rel="noopener">Google spreadsheet</a>
                  </li>
                  <li>Only 4 of Cayde's Journals are completable in game, thus the other 16 are pre-filtered.</li>
                  <li>2 Adventures are account only</li>
                </ul>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-chart-line"></i>
                <span class="d-none d-md-inline">&ensp;Progress</span>
              </ng-template>
              <ng-container *ngIf="player!=null">

                <mat-tab-group>
                  <mat-tab [label]="char.className+' - '+char.light" *ngFor="let char of player.characters">

                    <div *ngIf="char.factions==null || char.factions.length==0">
                      <br>
                      <h2>Privacy</h2>
                      <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
                    </div>

                    <table class="responsive-table" *ngIf="char.factions!=null && char.factions.length>0">
                      <thead>
                        <tr>
                          <th scope="col">Faction</th>
                          <th scope="col">Progress</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let faction of char.factions">
                          <td class="lead" data-label="">
                            <span [matTooltip]="faction.desc"
                              matTooltipClass="preserve-white-space">{{faction.name}}</span>
                            <span class="light">Level {{faction.level}}
                              <ng-container *ngIf="debugmode|async">{{faction.hash}}</ng-container>
                              <ng-container
                                *ngIf="faction.steps!=null && faction.level>0 && (faction.steps[faction.level-1]!=null)">
                                {{faction.steps[faction.level-1].stepName}}
                              </ng-container>
                            </span>
                            <span class="caption">{{faction.info}}</span>
                            <div class="row dl-row simple-caption">
                              <dl class="col-xs-3 dl-child">
                                <dt>Daily</dt>
                                <dd>{{faction.dailyProgress| number:0}}</dd>
                              </dl>
                              <dl class="col-xs-3 dl-child">
                                <dt>Weekly</dt>
                                <dd>{{faction.weeklyProgress| number:0}}</dd>
                              </dl>
                              <dl class="col-xs-3 dl-child">
                                <dt>To Next Level</dt>
                                <dd>{{(faction.nextLevelAt - faction.progressToNextLevel)|
                                  number:0}}</dd>
                              </dl>
                              <dl class="col-xs-3 dl-child">
                                <dt>Level Cap</dt>
                                <dd>
                                  <ng-container *ngIf="faction.levelCap>0">
                                    {{faction.levelCap| number:0}}
                                  </ng-container>
                                  <ng-container *ngIf="faction.levelCap<=0">
                                    None
                                  </ng-container>
                                </dd>
                              </dl>
                              <dl class="col-xs-3 dl-child">
                                <dt>Total Earned</dt>
                                <dd>
                                  {{faction.currentProgress|number:0}}
                                </dd>
                              </dl>
                            </div>
                          </td>
                          <td data-label="">
                            {{faction.percentToNextLevel|percent:'1.0-0'}} to level {{faction.level+1}}
                            <div>
                              <mat-progress-bar mode="determinate" [value]="faction.percentToNextLevel*100">
                              </mat-progress-bar>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <br>


                  </mat-tab>
                </mat-tab-group>

              </ng-container>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-trophy"></i>
                <span class="d-none d-md-inline">&ensp;Triumphs</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <anms-triumphs [selectedTab]="selectedTab" [selectedTreeNodeHash]="selectedTreeNodeHash"
                  (refreshPlayer)="performSearch(true)" [currPlayer]="player" (nodeClicked)="branchNodeClick($event)">
                </anms-triumphs>
              </ng-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="icon-collections"></i>
                <span class="d-none d-md-inline">&ensp;Collections</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <anms-collections [selectedTab]="selectedTab" [selectedTreeNodeHash]="selectedTreeNodeHash"
                  [collections]="player.collections" (nodeClicked)="branchNodeClick($event)">
                </anms-collections>
              </ng-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fas fa-users"></i>
                <span class="d-none d-md-inline">&ensp;Chars</span>
              </ng-template>
              <ng-container *ngIf="player!=null">
                <anms-chars [player]="player"></anms-chars>
              </ng-container>

            </mat-tab>
          </mat-tab-group>
        </ng-container>
      </div>
    </div>
    <div *ngIf="(disableAds|async)!==true" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="(disableAds|async)!==true" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>