
.faint {
  opacity: 0.5;
}

.total-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-pct {
  flex-grow: 0;
  margin: 5px;
}

.progress-bar {
  flex-grow: 1;
  margin-bottom: 5px;
  max-width: 40px;
}
