<div class="flex-column">
    <ng-container *ngIf="pursuit else isNull">
        <div *ngIf="pursuit.vendorItem">
            <fa-icon class="secondary-text" [icon]="iconService.farSign"></fa-icon>
        </div>
        <div *ngIf="pursuit.characterItem">
            <fa-icon [icon]="iconService.fasUser"></fa-icon>
        </div>
    </ng-container>
    <ng-template #isNull>
        <fa-icon [icon]="iconService.farTimesSquare" class="faint" matTooltip="Pursuit missing, probably not available"></fa-icon>
    </ng-template>
</div>