<mat-dialog-content>
    <h4>{{entry.data.name}}</h4>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                
                <fa-icon [icon]="iconService.fasChartLine"></fa-icon><span class="d-none d-md-inline">&ensp;Chart</span>
            </ng-template>
            <div class="tab-body">
                <d2c-clan-lifetime-graph [data]="entry.all"></d2c-clan-lifetime-graph>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]="iconService.farTable"></fa-icon><span
                    class="d-none d-md-inline">&ensp;Data&ensp;-</span>&ensp;{{entry.all.length}}
            </ng-template>
            <div class="tab-body">

                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>
                                <span class="fake-link" (click)="sortData('name')"> Player
                                    <ng-container *ngIf="sort.name=='name'">
                                        <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                                        <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                                    </ng-container>
                                </span>
                            </th>
                            <th>
                                <span class="fake-link" (click)="sortData('activityCompletions')">
                                    Completions
                                    <ng-container *ngIf="sort.name=='activityCompletions'">
                                        <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                                        <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                                    </ng-container>
                                </span>
                            </th>
                            <th>
                                <span class="fake-link" (click)="sortData('efficiency')">
                                    Efficiency
                                    <ng-container *ngIf="sort.name=='efficiency'">
                                        <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                                        <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                                    </ng-container>
                                </span>
                            </th>
                            <th *ngIf="entry.data.type=='nf'">

                                <span class="fake-link" (click)="sortData('activityBestSingleGameScore')">
                                    Top Personal Score
                                    <ng-container *ngIf="sort.name=='activityBestSingleGameScore'">
                                        <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                                        <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                                    </ng-container>
                                </span>
                            </th>
                           
                            <th *ngIf="entry.data.type=='nf'">
                                <span class="fake-link" (click)="sortData('fastestCompletionMsForActivity')">
                                    Fastest
                                    <ng-container *ngIf="sort.name=='fastestCompletionMsForActivity'">
                                        <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                                        <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                                    </ng-container>
                                </span>

                            </th>
                            <th>
                                <span class="fake-link" (click)="sortData('activitySecondsPlayed')">
                                    Time Played
                                    <ng-container *ngIf="sort.name=='activitySecondsPlayed'">
                                        <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                                        <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                                    </ng-container>
                                </span>
                            </th>
                            <th>
                                <span class="fake-link" (click)="sortData('kd')">
                                    K/D
                                    <ng-container *ngIf="sort.name=='kd'">
                                        <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                                        <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                                    </ng-container>
                                </span>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let entry of entry.all">
                            <tr *ngIf="entry.data as a">
                                <td *ngIf="entry.member as member" class="lead">
                                    <a [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId]">
                                        {{member.destinyUserInfo.displayName}}</a>
                                    
                                </td>
                                <td data-label="Completions">
                                    {{a.activityCompletions}}
                                </td>
                                <td data-label="Efficiency">
                                    {{a.efficiency|number: '1.1-1'}}
                                </td>
                                <td *ngIf="entry.data.type=='nf'" data-label="Top Personal Score">
                                    <ng-container *ngIf="a.activityCompletions>0; else emptyCell">
                                        {{+a.activityBestSingleGameScore| number}}
                                    </ng-container>
                                </td>
                                <td *ngIf="entry.data.type=='nf'" data-label="Fastest">
                                    <ng-container *ngIf="a.activityCompletions>0; else emptyCell">
                                        <ng-container
                                            *ngIf="a.activityCompletions>0 && a.fastestCompletionMsForActivity; else emptyCell">
                                            {{a.fastestCompletionMsForActivity| xmnsTiming:'ms'}}
                                        </ng-container>
                                    </ng-container>
                                </td>
                                <td data-label="Time Played">
                                    {{a.activitySecondsPlayed| xmnsTiming:'s'}}
                                </td>
                                <td data-label="K/D">
                                    {{a.kd| number:'1.1-1'}}
                                </td>

                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <ng-template #emptyCell>
                    &nbsp;
                </ng-template>
            </div>
        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>