<ng-container *ngIf="desc.displayProperties.icon!=null">
    <div [ngClass]="{
        'item':true,
        'divider-border': true,
        'item-large': !small,
        'item-small': small
      }">
        <img [src]="'//www.bungie.net' + desc.displayProperties.icon" [ngClass]="{
            'redacted':desc.redacted,
            'item-image': true,
            'item-image-large': !small,
            'item-image-small': small
          }" loading="lazy">
        <div *ngIf="desc.iconWatermark" [ngClass]="{
            
            'icon-watermark': true,
            'icon-watermark-large': !small,
            'icon-watermark-small': small
          }">
            <img [src]="'//www.bungie.net' + desc.iconWatermark" [ngClass]="{
                'img':true,
                'img-large': !small,
                'img-small': small
              }" loading="lazy">
        </div>
    </div>
</ng-container>