<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <div class="center-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      </div>
      <h1>Clan Search</h1>
      <div class="note centerMe"><small>Clan names must match exactly.</small>
      </div>
      <div>
        <mat-form-field class="searchField">
          <input matInput placeholder="Clan name" [(ngModel)]="name" (keyup.enter)="search()">
        </mat-form-field>
        &emsp;
        <button mat-mini-fab color="primary searchField" (click)="search()" color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <ng-container *ngIf="clan!=null">
        <div>
          <a [routerLink]="['/clan', clan.groupId]">{{clan.name}}</a>
        </div>
        <mat-card class="clan-card">
          <mat-card-header>
            <div mat-card-avatar class="clan-avatar transparent-icon" [style.background-image]="'url(//www.bungie.net' + clan.avatarPath + ')'"></div>
            <mat-card-title>
                <a [routerLink]="['/clan', clan.groupId]">{{clan.name}}</a>
            </mat-card-title>
            <mat-card-subtitle>
              {{clan.memberCount}} members
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{clan.about}}
          </mat-card-content>
          <mat-card-actions>
              <a mat-button [routerLink]="['/clan', clan.groupId]">VIEW CLAN PROGRESS</a>
            </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>

</div>