<mat-dialog-content>
    <h4>{{item.data.name}}</h4>
    <div class="simple-caption">{{item.data.desc}}</div>

    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]="iconService.farSquare"></fa-icon><span class="d-none d-md-inline">&ensp;Incomplete&ensp;-</span>&ensp;{{item.notDone.length}}
            </ng-template>
            <div class="tab-body">
                <ng-container *ngTemplateOutlet="playerTable; context: {items: item.notDone}">
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Complete">
            <ng-template mat-tab-label>
                <fa-icon [icon]="iconService.farCheckSquare"></fa-icon><span class="d-none d-md-inline">&ensp;Complete&ensp;-</span>&ensp;{{item.done.length}}
            </ng-template>
            <div class="tab-body">
                <ng-container *ngTemplateOutlet="playerTable; context: {items: item.done}">
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<ng-template #playerTable let-items='items'>
    <div class="simple-caption" *ngIf="items.length==0">None</div>

    <table class="checklist-table" *ngIf="items.length>0">
        <thead>
            <tr>
                <th>
                    <a href="javascript:void(0)" (click)="sortData('name')"> Player
                        <ng-container *ngIf="sort.name=='name'">
                            <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                            <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                        </ng-container>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of items">
                <td *ngIf="i.member as member">
                    <a [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId, 'collections','tree',item.data.hash]">
                        {{member.destinyUserInfo.displayName}}
                    </a>
                    <ng-container *ngIf="member.player$|async as player">
                        <span class="simple-caption" *ngIf="player!=null && player.title.trim().length>0">
                            {{player.title}}
                        </span>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>