.body {
    margin: 10px;
  }
  
  
  .pgcr-link {
    text-decoration: underline;
    margin-top: 5px;
    font-size: smaller;
    font-weight: lighter;
  
  }

  .player-link{
    margin-top: 5px;
    font-size: smaller;
    font-weight: lighter;
  }