.item-name {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.compare-icon-cell {
  display: flex;
  flex-direction: row;
}

.compare-icon-lead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70px;
}

.owned {
  opacity: 0.7;
}

.owned-label {
  font-weight: 900;
}

$gear-table-padding: 4px;
table.gear-table {
  border-collapse: collapse;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1250px;
  table-layout: auto;
  & caption {
    font-size: 21px;
    margin: 7px 0 10px;
  }
  & tr {
    padding: 5px;
  }
  & td {
    font-size: 14px;
    padding: $gear-table-padding;
    text-align: left;
    vertical-align: top;
    & .caption {
      float: right;
      font-weight: lighter;
    }
  }
  & td.lead {
    padding: $gear-table-padding;
    text-align: left;
    font-weight: bold;
    & .caption {
      float: right;
      font-size: smaller;
      font-weight: lighter;
    }
  }
  & th {
    padding: $gear-table-padding;
    text-align: left;
    font-size: 12px;
    vertical-align: top;
  }
}
