<h2 mat-dialog-title>Target Armor Perks</h2>
<mat-dialog-content>
  <div class="form-container">
    <p class="simple-caption">Perks matching items below will be highlighted on the Armor list</p>
    <mat-form-field>
      <mat-label>Weapon 1</mat-label>
      <select matNativeControl [(ngModel)]="target.weapon1">
        <option value="none">None</option>
        <option *ngFor="let c of parent.weaponTypeChoices" [value]="c.matchValue.toLowerCase()">{{c.display}}</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Weapon 2</mat-label>
      <select matNativeControl [(ngModel)]="target.weapon2">
        <option value="none">None</option>
        <option *ngFor="let c of parent.weaponTypeChoices" [value]="c.matchValue.toLowerCase()">{{c.display}}</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Weapon 3</mat-label>
      <select matNativeControl [(ngModel)]="target.weapon3">
        <option value="none">None</option>
        <option *ngFor="let c of parent.weaponTypeChoices" [value]="c.matchValue.toLowerCase()">{{c.display}}</option>
      </select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="target.specialAmmoFinder">Special Ammo Finder</mat-checkbox>
    <mat-checkbox [(ngModel)]="target.heavyAmmoFinder">Heavy Ammo Finder</mat-checkbox>
    <mat-checkbox [(ngModel)]="target.traction">Traction</mat-checkbox>
    <mat-checkbox [(ngModel)]="target.fastball">Fastball</mat-checkbox>

  </div>

</mat-dialog-content>