<ng-container *ngIf="plug.active; else notSelected">
    <d2c-god-roll-plug class="smaller" [plug]="plug" [debugmode]="debugmode"></d2c-god-roll-plug>    
</ng-container>

<ng-template #notSelected>
    <span class="not-selected-plug">
        <span class="fake-link" (click)="selectWeaponPerkPlug()" *ngIf="socket.isWeaponPerk">
            <d2c-god-roll-plug class="smaller" [plug]="plug" [debugmode]="debugmode"></d2c-god-roll-plug>
        </span>
    </span>
  </ng-template>


<ng-template #notSelectable>
    <d2c-god-roll-plug class="smaller" [plug]="plug" [debugmode]="debugmode"></d2c-god-roll-plug>
</ng-template>