<ng-container *ngIf="state.modelPlayer|async as modelPlayer; else loadingModel">

    <div class="mobile-button-row">
        <button mat-button (click)="showAllClanMilestones()" *ngIf="(hiddenClanMilestones|async).length>0">
            <fa-icon [icon]="iconService.falEye"></fa-icon> All
        </button>
        <button mat-button (click)="showDefaultClanMilestones()"
            *ngIf="(hiddenClanMilestones|async).length!=storageService.getDefaultHideClanMs().length">
            <fa-icon [icon]="iconService.falEye"></fa-icon> Default
        </button>
    </div>
    <div class="mobile-button-row">
        <button mat-button (click)="state.toggleSort('name')">Sort Name
            <ng-container *ngIf="state.sort && state.sort.name=='member'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </button>
        <button mat-button (click)="state.toggleSort('date')">Sort Last Played
            <ng-container *ngIf="state.sort && state.sort.name=='date'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </button>
    </div>
    <table class="responsive-table clan-table">
        <thead>
            <tr>
                <ng-container *ngTemplateOutlet="sortHeader"></ng-container>
                <ng-container *ngFor="let mileStoneName of modelPlayer.milestoneList">
                    <th class="milestone-header" *ngIf="(hiddenClanMilestones|async).indexOf(mileStoneName.key)===-1">
                        <span [matTooltip]="mileStoneName.desc"
                            matTooltipClass="preserve-white-space">{{mileStoneName.name}}</span>
                        <span *ngIf="debugmode|async">{{mileStoneName.key}}</span>
                        <a href="javascript:void(0)"
                            matTooltip="Hide this milestone, click Show All to restore it later"
                            class="milestoneVisibilityButton" (click)="hideClanMilestone(mileStoneName.key)">
                            <fa-icon [icon]="iconService.falEyeSlash"></fa-icon>
                        </a>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of filteredMembers|async">
                <td class="lead">
                    <a [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId]">
                        {{member.destinyUserInfo.displayName}} {{member.destinyUserInfo.platformName}}
                    </a>
                    <a style="margin-left:0.25em"
                        [ngClass]="(favoritesMap|async)[storageService.getFavKey(member.destinyUserInfo)]!==undefined?'warn-text':''"
                        (click)="storageService.toggleFav(member.destinyUserInfo, member.bungieNetUserInfo.membershipId)"
                        href="javascript:void(0)">
                        <fa-icon [icon]="iconService.farHeart" style="font-weight: normal !important"></fa-icon>
                    </a>
                    <a style="margin-left:0.25em" href="javascript:void(0)" (click)="state.loadSpecificPlayer(member, true)">
                        &ensp;<fa-icon [icon]="iconService.fasSync"></fa-icon>
                    </a>
                    <ng-container *ngIf="member.player$|async as player">
                        <span class="simple-caption" *ngIf="player!=null && player.title.trim().length>0">
                            {{player.title}}
                        </span>
                    </ng-container>
                </td>
                <ng-container *ngIf="member.player$|async as player">
                
                    <td *ngIf="player.characters!=null && player.characters.length>0 && player.characters[0].milestones==null"
                        [attr.colspan]="modelPlayer.milestoneList.length">
                        Blocked by privacy settings
                    </td>
                    <ng-container
                        *ngIf="player.characters!=null && player.characters.length>0 && player.characters[0].milestones!=null && modelPlayer!=null">

                        <ng-container *ngFor="let mileStoneName of modelPlayer.milestoneList">

                            <td *ngIf="(hiddenClanMilestones|async).indexOf(mileStoneName.key)===-1"
                                class="clan-player-ms-cell" [attr.data-label]="mileStoneName.name">
                                <ng-container *ngFor="let char of player.characters">
                                    <d2c-milestone-check [milestoneStatus]="char.milestones[mileStoneName.key]" detailed="false">
                                    </d2c-milestone-check>
                                </ng-container>
                            </td>
                        </ng-container>

                    </ng-container>
                </ng-container>
                <ng-container *ngIf="(member.player$|async)==null && member.errorMsg==null && modelPlayer!=null">
                    <ng-container *ngFor="let mileStoneName of modelPlayer.milestoneList">
                        <td *ngIf="(hiddenClanMilestones|async).indexOf(mileStoneName.key)===-1">...</td>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="member.errorMsg!=null && modelPlayer!=null">
                    <td [attr.colspan]="(modelPlayer.milestoneList).length+2">
                        {{member.errorMsg}}
                    </td>
                </ng-container>
            </tr>
        </tbody>
        <tfoot>
            <tr>

                <ng-container *ngTemplateOutlet="sortHeader"></ng-container>
                <ng-container *ngIf="modelPlayer!=null">
                    <ng-container *ngFor="let mileStoneName of modelPlayer.milestoneList">
                        <th *ngIf="(hiddenClanMilestones|async).indexOf(mileStoneName.key)===-1">
                            <span [matTooltip]="mileStoneName.desc"
                                matTooltipClass="preserve-white-space">{{mileStoneName.name}}</span>
                            <span *ngIf="debugmode|async">{{mileStoneName.key}}</span>
                            <a href="javascript:void(0)"
                                matTooltip="Hide this milestone, click Show All to restore it later"
                                class="milestoneVisibilityButton" (click)="hideClanMilestone(mileStoneName.key)">
                                <fa-icon [icon]="iconService.falEyeSlash"></fa-icon>
                            </a>
                        </th>
                    </ng-container>


                </ng-container>
            </tr>
        </tfoot>
    </table>

</ng-container>

<ng-template #loadingModel>
    <h1>
        <fa-icon [icon]="iconService.farSpinner" [pulse]="true" [fixedWidth]="true"></fa-icon>
    </h1>
</ng-template>
<br>

<div class="bottom-note">
    <ul class="left">
        <li>Note: The Bungie API will sometimes incorrectly report milestones as complete (or partially
            complete). If
            you're a clan leader trying to see when someone last played, trust the "Last Played" column even if
            some
            weekly milestones appear to be completed.</li>
        <li>Milestones with this icon <fa-icon [icon]="iconService.farMinusSquare"></fa-icon> denote players that are
            not yet max
            level, due to recent API changes it's impossible to tell whether they're done or ineligible</li>
    </ul>
</div>

<ng-template #sortHeader>
    <th>
        <a href="javascript:void(0)" (click)="state.toggleSort('member')">Member
            <ng-container *ngIf="state.sort && state.sort.name=='member'">
                <fa-icon [icon]="iconService.fasSortUp" *ngIf="state.sort.ascending"></fa-icon>
                <fa-icon [icon]="iconService.fasSortDown" *ngIf="!state.sort.ascending"></fa-icon>
            </ng-container>
        </a>
        <div class="d-none d-md-inline">
            <button class="d-none d-md-inline" mat-button (click)="showAllClanMilestones()"
                *ngIf="(hiddenClanMilestones|async).length>0">
                <fa-icon [icon]="iconService.falEye"></fa-icon> All
            </button>
            <button class="d-none d-md-inline" mat-button (click)="showDefaultClanMilestones()"
                *ngIf="(hiddenClanMilestones|async).length!=storageService.getDefaultHideClanMs().length">
                <fa-icon [icon]="iconService.falEye"></fa-icon> Default
            </button>
        </div>


    </th>
</ng-template>