
    <div *ngIf="(state.notFound|async)==false; else notFound">

      <h3 class="clan-name">
        <ng-container *ngIf="(state.info|async)!=null">Clan: {{(state.info|async).name}}</ng-container>
        <ng-container *ngIf="(state.info|async)==null"><fa-icon [icon]="iconService.farSpinner" [pulse]="true" [fixedWidth]="true"></fa-icon></ng-container>
      </h3>
      <ng-container *ngIf="state.profilesLoaded|async as pct">
        <mat-progress-bar *ngIf="pct<1" mode="determinate" [value]="pct*100"></mat-progress-bar>
      </ng-container>
      <nav mat-tab-nav-bar color="accent">
        <a mat-tab-link routerLink="members" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
          <fa-icon [icon]="iconService.fasUsers"></fa-icon><span class="d-none d-md-inline">&ensp;Members</span>
        </a>
        <a mat-tab-link routerLink="triumphs" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
            <fa-icon [icon]="iconService.fasTrophy"></fa-icon><span class="d-none d-md-inline">&ensp;Triumphs</span>
        </a>
        <a mat-tab-link routerLink="collections" routerLinkActive #rla9="routerLinkActive" [active]="rla9.isActive">
          <i class="icon-collections"></i><span class="d-none d-md-inline">&ensp;Collections</span>
        </a>
        <a mat-tab-link routerLink="milestones" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
            <fa-icon [icon]="iconService.fasFlag"></fa-icon><span class="d-none d-md-inline">&ensp;Milestones</span>
        </a>
        <a mat-tab-link routerLink="info" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
          <fa-icon [icon]="iconService.farInfoSquare"></fa-icon><span class="d-none d-md-inline">&ensp;Info</span>
        </a>
        <a mat-tab-link routerLink="lifetime" routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive">
          <fa-icon [icon]="iconService.farSigma"></fa-icon><span class="d-none d-md-inline">&ensp;Lifetime</span>
        </a>
        <a mat-tab-link routerLink="settings" routerLinkActive #rla6="routerLinkActive" [active]="rla6.isActive">
            <fa-icon [icon]="iconService.fasCog"></fa-icon><span class="d-none d-md-inline">&ensp;Settings</span>
          </a>
      </nav>
      <div class="body clan-body">
        <div class="center-spinner">
          <mat-spinner class="loading" class="center-spinner" *ngIf="(state.loading|async)===true">
          </mat-spinner>
        </div>
        <router-outlet *ngIf="(state.loading|async) === false"></router-outlet>
      </div>
    </div>   

<ng-template #notFound>
    <div class="main">
      <h3>Clan Not Found</h3>
      <p>Try searching instead</p>
      <a mat-raised-button color="primary" routerLink="/searchClans">Search Clans</a>
    </div>
  </ng-template>