@import 'styles-variables';

.clan-name {
    text-align: left;
    margin-left: 35px;
}
.clan-body {
    max-width: 2000px !important;
}

@media (max-width: map-get($grid-breakpoints, xl)) {
    .clan-body {
        max-width: 90vw !important;
    }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
    .clan-body {
        max-width: 90vw !important;
    }
}

@media (max-width: map-get($grid-breakpoints, md)) {
    .clan-body {
        max-width: 95vw !important;
    }
}
@media (max-width: map-get($grid-breakpoints, sm)) {
    .clan-body {
        max-width: 100vw !important;
    }
}

@media (max-width: map-get($grid-breakpoints, xs)) {
    .clan-body {
        max-width: 360 !important;
    }
}

.clan-table {
    max-width: 2000px !important;
}


.button-row {
    & button {
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.body {
    max-width: 1200px;
    margin: 10px auto 0 auto;
    padding-bottom: 10px;
    font-size: 0.9em;
    letter-spacing: .01px;
    z-index: 1;
}
