<ng-container *ngIf="state.player|async as player">
  <h4 class="triumph-score">Moments of Triumph 2019 (MMXIX)
    <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="state.hideCompleteTriumphs">
      Hide Completed
    </mat-checkbox>
  </h4>
  <ng-container *ngFor="let s of player.seals">
    <div *ngIf="s.hash == '1002334440'">
      <div class="left secondary-text mot-progress">{{s.progress}} / {{s.completionValue}} Triumphs Complete</div>
      <table class="responsive-table">
        <tbody>
          <ng-container *ngFor="let t of s.children">

            <tr *ngIf="t==null">
              <td>Triumph missing for now</td>
            </tr>
            <tr *ngIf="t!=null && (!state.hideCompleteTriumphs || !t.complete)">
              <td class="lead" data-label="">
                <ng-container *ngIf="t.lowLinks==null || t.lowLinks.mapLink==null">
                  {{t.name}} </ng-container>
                <a class="mot-link" [href]="t.lowLinks.mapLink" *ngIf="t.lowLinks!=null && t.lowLinks.mapLink!=null" target="_blank"
                  rel="noopener">
                  {{t.name}}
                  <i class='accent-text far fa-map-marker-alt'></i>
                </a>
                <span class="mot-link" *ngIf="debugmode|async">{{t.hash}}</span>
                <i *ngIf="state.dTrackedTriumphIds[t.hash]!=true" class="far fa-star mot-link"
                  (click)="state.trackTriumph(t)"></i>
                <i *ngIf="state.dTrackedTriumphIds[t.hash]==true" class="fas fa-star accent-text mot-link"
                  (click)="state.untrackTriumph(t)"></i>
                <span class="simple-warn-caption mot-link" *ngIf="t.complete && !t.redeemed">Not yet
                    redeemed.<br></span>

                <br>
                <span class="simple-caption">
                  <ng-container *ngFor="let p of t.path; index as i; last as isLast">
                    <ng-container *ngIf="i>0">
                      <a href="javascript:void(0)" [routerLink]="['..', 'tree', p.hash]">{{p.path}}</a>
                      <ng-container *ngIf="debugmode|async">{{p.hash}} </ng-container>
                      <ng-container *ngIf="!isLast">
                        /
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </span>
              </td>
              <td class="left" data-label="">
                {{t.percent}}%
                <mat-progress-bar class="low-hanging-node-prog" mode="determinate" [value]="t.percent">
                </mat-progress-bar>
              </td>

              <td class="left" data-label="">
                {{t.score}} pts
              </td>

              <td class="left" data-label="">
                <div class="low-hanging-desc">{{t.desc}}</div>
                <div class="low-hanging-desc" *ngFor="let o of t.objectives">
                  <span class="simple-caption">
                    <i *ngIf="o.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                    <i *ngIf="!o.complete" class="far fa-square"></i>
                    {{o.progress}}/{{o.completionValue}} {{o.progressDescription}}
                  </span>
                  <mat-progress-bar class="pres-node-prog" mode="determinate"
                    [value]="o.progress*100/o.completionValue"></mat-progress-bar>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>
  </ng-container>

</ng-container>