<div class="left test-container">
    <h1>Test Bed</h1>
    <d2c-uber-list></d2c-uber-list>
    <hr>
    <ul>
        <li>Modal for activity type filters
            <ul>
                <li>Milestones only</li>
                <li>Bounties only</li>
                <li>Weekly Only</li>
                <li>Daily Only</li>
                <li>Hide Trials</li>
                <li>Hide All</li>
                <li>Individual types of milestones</li>
            </ul>
        </li>
        <li>Modal for reward filters
            <ul>
                <li>Only Gear</li>
                <li>Pinncale</li>
                <li>powerful or better</li>
                <li>Individual reward types</li>
            </ul>
        </li>
        <li>Show on button if filters are active</li>
        <li>Offer X to clear filter</li>
    </ul>
</div>