<p>testbed works!</p>
<p>
    <button (click)="refresh()">Refresh</button>
</p>


<ng-container *ngIf="playerLoading$|async as loading">
    <div>Player loading</div>
</ng-container>
<ng-container *ngIf="player$|async as player">
    <div>Player: {{player.profile?.userInfo?.displayName}}</div>
</ng-container>

<ng-container *ngIf="vendors$|async as vendors">
    <div *ngFor="let vendor of vendors">
        <ng-container *ngIf="!vendor">Loading</ng-container>
        {{vendor}}
    </div>    
</ng-container>
<!-- 
<ng-container *ngIf="s|async as vendors">
    <div *ngFor="let v of vendors">
        V {{v|json}}
    </div>
</ng-container>
 -->
