<div class="childComponent">
    <div class="childVert">
      <div class="main">
  
        <h1>Last Wish Raid Leaderboard</h1>
  
        <div class="note">Huge thanks to <a href="https://trials.report/"
          rel="noopener" target="_blank">Destiny Trials Report</a> for the underlying data! 
          <a href="https://www.reddit.com/r/destinychecklistnet/comments/9g5r4s/d2checklist_forsaken_last_wish_leaderboard_info/" rel="noopener" target="_blank">More info.</a></div>
  
        <div>
          <mat-form-field class="searchField">
            <input matInput [(ngModel)]="tempFilter" (keyup.enter)="search()" placeholder="Wildcard search">
            <button mat-button *ngIf="filter!=null" matSuffix mat-icon-button (click)="clear()">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
          <button mat-button style="margin-left: 5px" (click)="search()" [disabled]="tempFilter==null || tempFilter.trim().length<4">
              <mat-icon>search</mat-icon>Search
          </button>
          <ng-container *ngIf="debugmode">Temp: {{tempFilter}} &emsp;&emsp;Filter: {{filter}} &emsp;&emsp;Total: {{total}}</ng-container>
        </div>

        <div class="table-container">
          <div class="center-spinner">
            <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true || isLoadingResults===true"></mat-spinner>
          </div>
          <mat-paginator [hidden]="filter!=null && filter.trim().length>0" #paginatorTop [length]="total" [showFirstLastButtons]="true" [hidePageSize]="true" 
            [pageIndex]="pageIndex" [pageSize]="pageSize"></mat-paginator>
          <mat-table class="centerMe leader-table" [dataSource]="dataRows">
            <ng-container cdkColumnDef="rank">
              <mat-header-cell class="rankCol" *cdkHeaderCellDef>Rank</mat-header-cell>
              <mat-cell class="rankCol" *cdkCellDef="let row">
                <a mat-button  [routerLink]="['/pgcr',row.pgcr]">
                        {{row.rank}} 
                      </a>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="end">
              <mat-header-cell *cdkHeaderCellDef class="d-none d-md-table-cell">
                Since Launch
              </mat-header-cell>
              <mat-cell *cdkCellDef="let row" class="d-none d-md-table-cell">
                  {{row.end | amDifference: LAUNCH_DATE :'seconds' : false  | amnsTiming:'seconds'}}
                  <span class="">
                    <br><span class="simple-caption">{{row.end|date:'short'}}</span>
                  </span>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="fireteam">
              <mat-header-cell *cdkHeaderCellDef>Fireteam</mat-header-cell>
              <mat-cell class="player-cell" *cdkCellDef="let row">
                <span class="name" *ngFor="let p of row.fireTeam">
                    <a class="name-link" [routerLink]="['/'+row.membershipType, p.displayName]">{{p.displayName}}</a>
                    <ng-container *ngIf="p.twitchUrls!=null">
                      <a class="accent-text twitch-url" *ngFor="let t of p.twitchUrls" 
                        rel="noopener" [href]="t" target="_blank">
                        <i class="fa fa-twitch"></i>
                      </a>
                    </ng-container>
                    
                  </span>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="duration">
              <mat-header-cell *cdkHeaderCellDef class="d-none d-lg-table-cell">Duration</mat-header-cell>
              <mat-cell *cdkCellDef="let row" class="d-none d-lg-table-cell">
              {{ row.duration | amnsTiming:'seconds' }} h
              </mat-cell>
            </ng-container>
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [hidden]="filter!=null && filter.trim().length>0" #paginatorBottom [length]="total" [showFirstLastButtons]="true" [hidePageSize]="true" 
            [pageIndex]="pageIndex" [pageSize]="pageSize"></mat-paginator>
        </div>
      </div>
      <div *ngIf="disableads===false" class="adRight">
        <small class="adText">Advertisement</small>
        <ng-adsense adFormat="vertical"></ng-adsense>
      </div>
  
    </div>
    <div *ngIf="disableads===false" class="adBottom">
      <small class="adText">Advertisement</small>
      <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
    </div>
  </div>