@import 'styles-variables';

:host {
}

.searchField{
  margin-bottom: 10px;
}

.twitch-url{
  margin-left: 0.3em;
}


.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}



.player-cell{
  max-width: 550px;
}
  
@media screen and (max-width: 750px) {
  .player-cell{
    max-width: 250px;
  }
}

// a:link {
//   text-decoration: underline;
// }

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 1200px;
}

.rankCol{
  width: 45px !important;
}

.name{
  margin-right: 10px;
}

.note{
  font-size: smaller;
  font-weight: lighter;
  max-width: 800px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}