<div class="d-none d-xl-inline-block slide-left" *ngFor="let c of signedOnUserService.currencies$|async">
    <span class="margin-left-10" [matTooltip]="c.count+' '+c.name">
        <span class="currency-icon" [style.background-image]="'url(//www.bungie.net' + c.icon + ')'"></span>
        <span>{{c.count|number}}</span>
    </span>
</div>
<div class='defer-block d-xl-none'>
    <div class="defer-block d-xl-none slide-left" *ngFor="let c of signedOnUserService.currencies$|async">
        <ng-container *ngIf="c.hash=='3159615086' || c.hash=='1022552290'">
            <span class="margin-left-10" [matTooltip]="c.count+' '+c.name">
                <span class="currency-icon" [style.background-image]="'url(//www.bungie.net' + c.icon + ')'"></span>
                <span>{{c.count|number}}</span>
            </span>
        </ng-container>

    </div>
    <a mat-button [matMenuTriggerFor]="currencyMenu">
        <fa-icon [icon]="iconService.fasEllipsisV"></fa-icon>
    </a>
    <mat-menu #currencyMenu="matMenu">
        <button mat-menu-item *ngFor="let c of signedOnUserService.currencies$|async">
            <div class='flex-row'>
                <span class="currency-icon" [style.background-image]="'url(//www.bungie.net' + c.icon + ')'"></span>
                <span>{{c.count|number}}</span>
            </div>
            
        </button>
    </mat-menu>
</div>