
.defer-block {
    display: inline-block;
}

.slide-left {
    animation: slide-left-anim 0.4s ease;
}
.pad-left-5 {
    padding-left: 5px;;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.flex-row > span {
    padding: 10px;
}
