.triumph-score {
  margin: 10px;
  text-align: left;
}

.pres-node-prog {
  max-width: 100px;
}

.low-hanging-node-prog {
  max-width: 200px;
}

@media screen and (max-width: 600px) {
  .low-hanging-desc {
    max-width: 300px;
  }
}

.transparent-branch-icon {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}

.transparent-leaf-icon {
  float: left;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}

.pres-node-prog {
  max-width: 100px;
}

.hide-complete-triumphs {
  margin-left: 2em;
  font-size: small;
  font-weight: lighter;
}

.triumph-icon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-size: cover;
}

.transparent-branch-icon {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}

.transparent-leaf-icon {
  float: left;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}

.seal-body {
  text-align: left;
  margin: 5px;
}

.searchField {
  margin-bottom: 10px;
}
