.body {
  margin: 10px;
}

// table.responsive-table {
//   & th {
//     text-align: left;
//   }
//   & td {
//     text-align: left;
//     vertical-align: top;
//   }
// }


a:link {
  text-decoration: underline;
}