<div class="body">
    <ng-container *ngIf="state.player|async as player; else loading">
        <ng-container *ngIf="player.aggHistory; else loading">

            <mat-tab-group>
                <mat-tab label="Efficiency">
                    <d2c-player-efficiency-graph *ngIf="player.aggHistory.length>0; else loading">
                    </d2c-player-efficiency-graph>
                </mat-tab>
                <mat-tab label="Raids">
                    <ng-container *ngTemplateOutlet="aggTable; context: {type: 'raid', player: player}">
                    </ng-container>
                </mat-tab>
                <mat-tab label="Nightfalls">
                    <ng-container *ngTemplateOutlet="aggTable; context: {type: 'nf', player: player}">
                    </ng-container>
                </mat-tab>
               
            </mat-tab-group>


        </ng-container>
    </ng-container>
    <ng-template #loading>
        <h1>
            <fa-icon [icon]="iconService.farSpinner" [pulse]="true" [fixedWidth]="true"></fa-icon>
        </h1>
    </ng-template>
</div>


<ng-template #aggTable let-type="type" let-player="player">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Efficiency</th>
                <th>Completions</th>
                <th *ngIf="type=='nf'">Top Personal Score</th>
                <th *ngIf="type=='nf'">Fastest</th>
                <th>Time Played</th>
                <th>K/D</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let a of player.aggHistory">
                <tr *ngIf="type==a.type">
                    <td>
                        <span *ngIf="a.special" matTooltip="Weekly Nightfall">
                            <b>{{a.name}}</b>
                            <fa-icon [icon]="iconService.fasCalendarStar" class="pad-left accent-text"></fa-icon>
                        </span>
                        <span *ngIf="!a.special">
                            {{a.name}}
                        </span>

                    </td>
                    <td data-label="Efficiency">
                        {{a.efficiency|number: '1.1-1'}}
                    </td>
                    <td data-label="Completions">
                        {{a.activityCompletions}}
                        <div class="simple-caption-no-margin" *ngFor="let cc of a.charCompletions">
                            {{cc.char.className}}: {{cc.count}}
                        </div>
                    </td>
                    <td *ngIf="type=='nf'" data-label="Top Personal Score">
                        <ng-container *ngIf="a.activityCompletions>0; else emptyCell">
                            {{a.activityBestSingleGameScore| number}}
                        </ng-container>
                    </td>
                    <td *ngIf="type=='nf'" data-label="Fastest">
                        <ng-container
                            *ngIf="a.activityCompletions>0 && a.fastestCompletionMsForActivity; else emptyCell">
                            {{a.fastestCompletionMsForActivity| d2cTiming:'ms'}}
                        </ng-container>
                    </td>
                    <td data-label="Time Played">
                        {{a.activitySecondsPlayed| d2cTiming:'s'}}
                    </td>
                    <td data-label="K/D">
                        {{a.kd| number:'1.1-1'}}
                    </td>
                </tr>
            </ng-container>

            <!-- 
                    activityKills: number;
                    activityAssists: number;
                    activityDeaths: number;

                    activityPrecisionKills: number; -->
        </tbody>
    </table>
</ng-template>


<ng-template #emptyCell>
    &nbsp;
</ng-template>