.body {
  margin: 10px;
}

// table.responsive-table {
//   & th {
//     text-align: left;
//   }
//   & td {
//     text-align: left;
//     vertical-align: top;
//   }
// }


.pgcr-link {
  text-decoration: underline;
  margin-top: 5px;
  font-size: smaller;
  font-weight: lighter;

}