
.clan-card {
    text-align: left;
    margin-bottom: 10px;
}


.clanMs {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.clanMsRow {
    text-align: left;
}

.clan-header-image {
    background-size: cover;
}
