.body {
    margin: 10px;
    text-align: left;
}

.section {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.clan-progress-row{
    margin: 10px;
}

.clanMs {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
