<ng-container *ngIf="state.player|async as player">

  <div class="left" style="margin: 10px">
    <mat-form-field style="margin-right: 10px" appearance="standard">
      <!-- <mat-label>Character</mat-label> -->
      <mat-select [(ngModel)]="state.filterChar" placeholder="Show all characters"
        (selectionChange)="filterAndSortPursuits()">
        <mat-option *ngFor="let char of player.characters" [value]="char">{{char.className}} - {{char.light}}
        </mat-option>
        <mat-option [value]="'all'">All chars</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="searchField">
      <input matInput (keyup)="searchSubject.next()" [(ngModel)]="displayFilterText" placeholder="Wildcard filter">
      <button mat-button *ngIf="(realFilterText|async)!=null && (realFilterText|async).length>0" matSuffix
        mat-icon-button aria-label="Clear" (click)="displayFilterText=null;searchSubject.next()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="state.hideCompletePursuits"
      (change)="filterAndSortPursuits()">
      Hide Completed
    </mat-checkbox>
  </div>
  <table class="responsive-table">
    <thead>
      <tr>


        <th class="header-cell">
          <span class="fake-link" (click)="sortData('name')"> {{getTitle()}}
            <ng-container *ngIf="sort.name=='name'">
              <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
              <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
            </ng-container>
          </span>

        </th>
        <th class="header-cell">
          <span class="fake-link" (click)="sortData('player')"> Player
            <ng-container *ngIf="sort.name=='player'">
              <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
              <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
            </ng-container>
          </span>

        </th>
        <th class="header-cell" *ngIf="mode!='quests'">
          <span class="fake-link" (click)="sortData('expiration')"> Expiration
            <ng-container *ngIf="sort.name=='expiration'">
              <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
              <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
            </ng-container>
          </span>
        </th>
        <th class="header-cell">
          <span class="fake-link" (click)="sortData('progress')"> Progress
            <ng-container *ngIf="sort.name=='progress'">
              <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
              <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
            </ng-container>
          </span>
        </th>
        <th class="header-cell">Rewards</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let g of filteredPursuits|async">
        <tr>
          <td class="lead" data-label="">
            <div class="img-layout">
              <div class="img-cell">
                <span *ngIf="g.icon!=null" class="item-icon"
                  [style.background-image]="'url(//www.bungie.net' + g.icon + ')'"></span>
              </div>
              <div class="img-body">
                <ng-container *ngIf="g.lowLinks==null || g.lowLinks.mapLink==null"> {{g.name}}</ng-container>
                <a [href]="g.lowLinks.mapLink" *ngIf="g.lowLinks!=null && g.lowLinks.mapLink!=null" target="_blank"
                  rel="noopener">
                  {{g.name}} <fa-icon [icon]="iconService.farMapMarkerAlt" class="accent-text"></fa-icon>
                </a>
                <button mat-icon-button *ngIf="state.dTrackedPursuits[g.hash]!=true" (click)="state.trackPursuit(g)">
                  <fa-icon [icon]="iconService.farStar"></fa-icon>
                </button>
                <button mat-icon-button *ngIf="state.dTrackedPursuits[g.hash]==true" (click)="state.untrackPursuit(g)">
                  <fa-icon [icon]="iconService.fasStar" class="accent-text"></fa-icon>
                </button>
                <!-- <button mat-icon-button *ngIf="state.dTrackedPursuits[g.hash]==true" (click)="state.untrackPursuit(g)">
                  <fa-icon [icon]="iconService.fasStar" class="accent-text"></fa-icon>
                </button>
                <button mat-icon-button *ngIf="!g.tracked"  matTooltip="Click to track this in game." (click)="state.gameTrackPursuit(g, true)">
                  <fa-icon [icon]="iconService.farBookmark"></fa-icon>
                </button>
                <button mat-icon-button *ngIf="g.tracked" matTooltip="This is tracked in game, click to untrack." (click)="state.gameTrackPursuit(g, false)">
                  <fa-icon [icon]="iconService.fasBookmark" class="accent-text"></fa-icon>
                </button> -->
                <span *ngIf="debugmode|async">&ensp;[{{g.hash}}]</span>
                <div *ngIf="g.questline">
                  <a mat-stroked-button (click)="openQuestDialog(g.questline)">
                    <fa-icon [icon]="iconService.farProjectDiagram"></fa-icon> Questline {{g.questline.progress}}
                  </a>
                </div>
                <div class="simple-caption pursuit-caption">{{g.desc}}</div>
              </div>
            </div>
          </td>
          <td data-label="">
            <div class="img-layout" *ngIf="g.owner|async as o">
              <div class="img-cell d-none d-md-inline">
                <span *ngIf="o.emblemPath!=null" class="player-icon"
                  [style.background-image]="'url(//www.bungie.net' + o.emblemPath + ')'"></span>
              </div>
              <div class="img-body">
                {{o.label}}
              </div>
            </div>



          </td>
          <td data-label="Expiration" *ngIf="mode!='quests'">
            <span *ngIf="g.expired else notExpired" class="expire-caption warn-text">
              Expired {{ g.expirationDate | amDifference: today | amDuration:'ms'}} ago
            </span>
            <ng-template #notExpired>
              <span *ngIf="g.expirationDate!=null else noExp" class="expire-caption">
                <fa-icon [icon]="iconService.fasClock"></fa-icon>
                {{ g.expirationDate | amDifference: today | amDuration:'ms'}}
              </span>
              <ng-template #noExp>
                <span class="expire-caption">
                  <fa-icon [icon]="iconService.fasClock"></fa-icon> Never
                </span>
              </ng-template>
            </ng-template>

          </td>
          <td data-label="">
            <div class="total-progress">
              <div class="progress-pct">{{g.aggProgress|number : '1.0-0'}}%</div>
              <mat-progress-bar class="progress-bar" mode="determinate" [value]="g.aggProgress">
              </mat-progress-bar>
            </div>
            <div class="obj-desc" *ngFor="let obj of g.objectives">
              <fa-icon [icon]="iconService.farCheckSquare" *ngIf="obj.complete"
                class="accent-text mat-option.mat-selected"></fa-icon>
              <fa-icon [icon]="iconService.farSquare" *ngIf="!obj.complete"></fa-icon>
              {{obj.progressDescription}}
              <span *ngIf="obj.progress!=null">{{obj.progress}}/{{obj.completionValue}}</span>
            </div>

          </td>

          <td data-label="">
            <ul class="obj-desc" *ngIf="g.values!=null && g.values.length>0">
              <li *ngFor="let v of g.values">
                <span *ngIf="v.quantity>0">{{v.quantity}}</span> {{v.name}}
              </li>
            </ul>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="mode=='tracked' && (filteredPursuits|async).length==0" class="left" style="margin: 10px">
    Click a star on a pursuit on another tab to track it here
  </div>

</ng-container>