.triumph-item{
    max-width: 500px;
}

.small-margin {
  margin: 5px;
}

.clan-child-header {
  display: flex;
  flex-direction: row;
}

.clan-child-name {
  margin: auto;
  font-weight: bold;
}

.clan-child-spacer {
  margin: auto;
  flex-grow: 1;
}

.clan-child-details { 
  margin: auto; 
}

.triumph-desc {
  margin: 5px;
  font-size: 12px;
  opacity: 0.8;
}