@import 'styles-variables';

.logo {
  height: 38px;
  width: 38px;
}

.sub-row {
  font-size: smaller;
  height: 40px;
  animation: slide-down-anim 1.0s ease;
}

.currency-icons {
  margin-right: 10px;
  margin-left: 10px;
}

.defer-block {
  display: inline-block;
}

.slide-left {
  animation: slide-left-anim 0.4s ease;
}

@keyframes slide-down-anim {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    height: 40px;
    transform: translateX(0);
  }
}

@keyframes slide-left-anim {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.currency-icon {
  width: 24px;
  height: 24px;

  background-size: cover;
  display: inline-block;
}

.currency-chip {
  margin-left: 10px;
}

mat-sidenav-container {
  height: 100%;

  mat-toolbar {
    z-index: 1;

    .nav-button {
      margin: 0 10px 0 0;
    }

    .branding {
      cursor: pointer;
    }

    .sign-in-button {
      line-height: 35px;
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }

      .sign-in-button {
        min-width: 0;
        padding: 0 10px;
        margin: 0 5px 0 0;
      }
    }
  }
}


mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      margin: 0 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}

.ribbon {
  height: 3px;
  background-color: #B53339;
}


.holder {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
}

.footer {
  height: 140px;
  max-height: 140px;
  flex-grow: 0;
}

.footer {
  padding: 0 15px;
  text-align: center;
  z-index: 1;

  .row {
    padding: 0px 0;

    .links {
      a {
        transition: padding 0.5s;
        display: inline-block;
        padding: 20px 5px;

        &:hover {
          text-decoration: none;
        }

        span {
          display: inline-block;
          width: 70px;
          padding: 0 0 0 5px;
          overflow: hidden;
          text-align: left;
          white-space: nowrap;
          transition: width 0.5s;
        }
      }

      @media (max-width: map-get($grid-breakpoints, md)) {
        a {
          padding: 20px;

          span {
            width: 0;
            padding: 0;
          }
        }
      }

      @media (max-width: map-get($grid-breakpoints, sm)) {
        a {
          padding: 20px 5px;
        }
      }
    }
  }
}

.gm-section {
  display: inline-block;
  margin-right: 3em;
}

.fake-link {
  color: inherit;
  text-decoration: none;
}


.childComponent {
  // height: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  // background-color: goldenrod;
}

.childVert {
  flex: 1 1 auto;
  display: inline-flex;
  flex-direction: row;
  // background-color: yellow;
}


.main {
  flex-grow: 1;
  // height: 100%;
  padding: 20px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  // background-color: green;
}

.component-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 960px) {
  .main {
    padding: 5px;
  }
}
