<md-sidenav-container>

  <md-sidenav #sidenav mode="push">
    <div routerLink="" class="branding"><img [src]="logo" /> <span>D2 Checklist</span></div>
    <md-nav-list>
      <!-- <a md-list-item (click)="sidenav.close();myClan()"  *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.clanId!=null">
            My Clan
          </a> -->
      <a md-list-item (click)="sidenav.close();myProfile()" *ngIf="this.signedOnUser!=null">
            My Info
          </a>
      <a md-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </md-nav-list>
  </md-sidenav>

  <div class="wrapper">

    <md-toolbar color="primary">
      <button md-icon-button class="hidden-md-up" (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>

      <span routerLink="" class="branding spacer hidden-md-up text-center"><img
        [src]="logo"/> D2 Checklist</span>
      <span routerLink="" class="branding spacer hidden-sm-down"><img
        [src]="logo"/> D2 Checklist</span>

      <span class="hidden-sm-down">
          <button md-button class="nav-button" 
          mdTooltip="Coming soon!" tipPosition="before"
          (click)="myClan()" *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.clanId!=null">
              <span>My Clan</span>
      </button>
      <button md-button class="nav-button" (click)="myProfile()" *ngIf="this.signedOnUser!=null">
          <span>My Info</span>
        </button>
      <button md-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </button>
      </span>

      <button md-button class="sign-in-button" *ngIf="signedOnUser==null && !loggingOn" mdTooltip="Grants access to private endpoints and some bugged public data too"
        mdTool tipPosition="before" (click)="onLoginClick()">
        Sign in
      </button>

      <button *ngIf="signedOnUser!=null && this.signedOnUser.selectedUser!=null" md-button [mdTooltip]="this.signedOnUser.selectedUser.displayName"
        mdTooltipPosition="before" [mdMenuTriggerFor]="toolbarUserMenu">
        <md-icon *ngIf="this.signedOnUser.membership.destinyMemberships.length==1">person</md-icon>
        <md-icon *ngIf="this.signedOnUser.membership.destinyMemberships.length>1">supervisor_account</md-icon>
        <span class="hidden-sm-down">{{this.signedOnUser.selectedUser.displayName}} - {{this.signedOnUser.selectedUser.platformName}}</span>
        
      </button>
      <md-menu #toolbarUserMenu="mdMenu">
        <ng-container *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.destinyMemberships.length>1">
          <button md-menu-item *ngFor="let avail of this.signedOnUser.membership.destinyMemberships" [disabled]="avail == this.signedOnUser.selectedUser"
            (click)="selectUser(avail)">
            <md-icon>account_circle</md-icon>
            <span>{{avail.platformName}}</span>
          </button>
        </ng-container>

        <button md-menu-item (click)="onLogoutClick()">
          <md-icon>power_settings_new</md-icon>
          <span>Logout</span>
        </button>
      </md-menu>

      <button md-icon-button routerLink="settings" class="hidden-sm-down">
        <md-icon>settings</md-icon>
      </button>
    </md-toolbar>

    <div class="content">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.reddit.com/r/destinychecklistnet" target="_blank">
            <i class="fa fa-reddit fa-2x" aria-hidden="true"></i>
            <span>Reddit</span>
          </a>
          <a href="https://bitbucket.org/dcaslin/d2-checklist/" target="_blank">
            <i class="fa fa-bitbucket fa-2x" aria-hidden="true"></i>
            <span>Source</span>
          </a>
          <a href="https://twitter.com/DestinyChecklst" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>

          <a mdTooltip="destinychecklistnet at gmail.com" mdTooltipPosition="above">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            <span>Email</span>
          </a>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS" target="_blank">
            <i class="fa fa-paypal fa-2x" aria-hidden="true"></i>
            <span>Donate</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - Destiny Checklist | <a href="https://www.destinychecklist.net/privacy">Privacy Policy </a> |
          Not affiliated with Bungie or Destiny

        </div>
      </div>
    </div>

  </div>

</md-sidenav-container>