<div class="holder">
  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
      <div routerLink="" class="branding">
        <img class="logo" src="/assets/logo.svg" />
        <span>D2 Checklist</span>
      </div>
      <mat-nav-list>
        <ng-container *ngIf="(signedOnUser|async)!=null && (signedOnUser|async).userInfo!=null">
          <a mat-list-item [routerLink]="[signedOnUser.value.userInfo.membershipType, signedOnUser.value.userInfo.membershipId]" (click)="sidenav.close();">
            <mat-icon>account_circle</mat-icon>&ensp;{{(signedOnUser|async).userInfo.displayName}} -
            {{(signedOnUser|async).userInfo.platformName}}
          </a>
          <ng-container *ngIf="(signedOnUser|async).membership.clans!=null">
            <a *ngFor="let clan of (signedOnUser|async).membership.clans" mat-list-item
              (click)="sidenav.close();loadClan(clan)">
              <mat-icon>flag</mat-icon>&ensp;{{clan.name}}
            </a>
          </ng-container>
          <mat-divider></mat-divider>
        </ng-container>

        <a mat-list-item (click)="sidenav.close()" routerLink="home" routerLinkActive="active">
          <mat-icon>home</mat-icon>&ensp;Home
        </a>
        <a mat-list-item (click)="sidenav.close()" routerLink="gear" routerLinkActive="active">
          <fa-icon [icon]="iconService.fasBowArrow"></fa-icon>&ensp;Gear
        </a>
        <a mat-list-item (click)="sidenav.close()" routerLink="friends" routerLinkActive="active">
          <mat-icon>favorite</mat-icon>&ensp;Friends
        </a>
        <a mat-list-item (click)="sidenav.close()" routerLink="vendors" routerLinkActive="active">
          <mat-icon>store</mat-icon>&ensp;Vendors
        </a>
        <a mat-list-item [matMenuTriggerFor]="searchMobileMenu">
          <mat-icon>search</mat-icon>&ensp;Search
        </a>
        <mat-menu #searchMobileMenu="matMenu">
          <button (click)="sidenav.close()" mat-menu-item class="nav-button" routerLink="search"
            routerLinkActive="active">
            Search Users
          </button>
          <button (click)="sidenav.close()" mat-menu-item class="nav-button" routerLink="searchClans"
            routerLinkActive="active">
            Search Clans
          </button>
        </mat-menu>
        <a mat-list-item (click)="sidenav.close()" routerLink="about" routerLinkActive="active">
          <mat-icon>info</mat-icon>&ensp;About
        </a>
        <a mat-list-item (click)="sidenav.close()" routerLink="settings" routerLinkActive="active">
          <mat-icon>settings</mat-icon>&ensp;Settings
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">
      <div class="ribbon"></div>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
          <span routerLink="" class="branding spacer d-md-none text-center">
            <img class="logo" src="/assets/logo.svg" /> D2 Checklist</span>
          <span routerLink="" class="branding spacer d-none d-md-inline">
            <img class="logo" src="/assets/logo.svg" /> D2 Checklist</span>
          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" routerLink="home" routerLinkActive="active">
              <mat-icon>home</mat-icon>
              <span class="d-none d-xl-inline"> Home</span>
            </button>
            <button mat-button class="nav-button" routerLink="gear" routerLinkActive="active">
              <fa-icon [icon]="iconService.fasBowArrow"></fa-icon>
              <span class="d-none d-xl-inline"> Gear</span>
            </button>
            <button mat-button class="nav-button" routerLink="friends" routerLinkActive="active">
              <mat-icon>favorite</mat-icon>
              <span class="d-none d-xl-inline"> Friends</span>
            </button>
            <button mat-button class="nav-button" routerLink="vendors" routerLinkActive="active">
              <mat-icon>store</mat-icon>
              <span class="d-none d-xl-inline"> Vendors</span>
            </button>
           
            <button mat-button class="nav-button" [matMenuTriggerFor]="searchMenu">
              <mat-icon>search</mat-icon>
              <span class="d-none d-xl-inline"> Search</span>
            </button>
            <mat-menu #searchMenu="matMenu">
              <button mat-menu-item class="nav-button" routerLink="search" routerLinkActive="active">
                Search Users
              </button>
              <button mat-menu-item class="nav-button" routerLink="searchClans" routerLinkActive="active">
                Search Clans
              </button>
            </mat-menu>
            <button mat-button class="nav-button" routerLink="about" routerLinkActive="active">
              <mat-icon>info</mat-icon>
              <span class="d-none d-xl-inline"> About</span>
            </button>
            <button mat-button class="nav-button" *ngIf="(showInstallButton|async)" (click)="install()">
              <mat-icon>arrow_downward</mat-icon>
              <span class="d-none d-xl-inline"> Install</span>
            </button>
          </span>
          <button mat-button class="sign-in-button" *ngIf="(signedOnUser|async)==null && !(loggingOn|async)"
            matTooltip="Grants access to private endpoints" matTooltipPosition="before" (click)="onLoginClick()">
            <fa-icon [icon]="iconService.fasSignInAlt"></fa-icon> Sign in
          </button>
          <button *ngIf="(signedOnUser|async)!=null && (signedOnUser|async).userInfo!=null"
            matTooltip="Sign out or change selected platform" mat-button [matMenuTriggerFor]="toolbarUserMenu">

            <mat-icon *ngIf="(signedOnUser|async).membership.destinyMemberships.length==1">person</mat-icon>
            <mat-icon *ngIf="(signedOnUser|async).membership.destinyMemberships.length>1">supervisor_account</mat-icon>
            &ensp;{{(signedOnUser|async).userInfo.platformName}}
          </button>
          <mat-menu #toolbarUserMenu="matMenu">
            <ng-container
              *ngIf="(signedOnUser|async)!=null && (signedOnUser|async).membership.destinyMemberships.length>1">
              <button mat-menu-item *ngFor="let avail of (signedOnUser|async).membership.destinyMemberships"
                [disabled]="avail == (signedOnUser|async).userInfo" (click)="selectUser(avail)">
                <fa-icon [icon]="PLATFORMS_DICT[avail.membershipType+''].icon"></fa-icon><span
                  style="margin-left: 1em">{{avail.platformName}}</span>
              </button>
            </ng-container>
            <button mat-menu-item (click)="onLogoutClick()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
          <button mat-icon-button routerLink="settings" class="d-none d-md-inline">
            <mat-icon>settings</mat-icon>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="(signedOnUser|async)!=null" class="sub-row">
          <span class="d-none d-md-inline"
            *ngIf="(signedOnUser|async).userInfo!=null">{{(signedOnUser|async).userInfo.displayName}} -
            {{(signedOnUser|async).userInfo.platformName}}</span>
          <span class="spacer"></span>
          <div class="currency-icons">
            <ng-container *ngFor="let c of (signedOnUser|async).selectedUserCurrencies|async">
              <span *ngIf="c.hash!='3147280338' && c.hash!='2817410917'" class="currency-chip" [matTooltip]="c.count+' '+c.name">
                <span class="currency-icon" [style.background-image]="'url(//www.bungie.net' + c.icon + ')'"></span>
                <span> {{c.count|number}}</span>
              </span>
            </ng-container>
          </div>
          <button mat-button class="d-none d-md-inline nav-button"
            (click)="loadClan(signedOnUser.value.membership.clans[0])"
            *ngIf="(signedOnUser|async)!=null && (signedOnUser|async).membership.clans!=null && (signedOnUser|async).membership.clans.length==1">
            <i class="icon-clan"></i> My Clan
          </button>
          <ng-container
            *ngIf="(signedOnUser|async)!=null && (signedOnUser|async).membership.clans!=null && (signedOnUser|async).membership.clans.length>1">
            <button mat-button [matMenuTriggerFor]="toolbarClanMenu">
              <mat-icon>flag</mat-icon> My Clans
            </button>
            <mat-menu #toolbarClanMenu="matMenu">
              <button mat-menu-item (click)="loadClan(clan)" *ngFor="let clan of (signedOnUser|async).membership.clans">
                <span>{{clan.name}}</span>
              </button>
            </mat-menu>
          </ng-container>

          <button mat-button class="d-none d-md-inline nav-button" 
            [routerLink]="[signedOnUser.value.userInfo.membershipType, signedOnUser.value.userInfo.membershipId]"          
            *ngIf="(signedOnUser|async)!=null">            
            <fa-icon [icon]="PLATFORMS_DICT[(signedOnUser|async).userInfo.membershipType+''].icon"></fa-icon>
            My Info
          </button>


        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card class='apiAlert' *ngIf="bungieService.apiDown===true">
        <mat-card-content>
          <div class="warn-text">The Bungie API is currently down for maintenance. This typically coincides with new
            releases and lasts a few hours
            past when the game is back online.
            <a href="https://twitter.com/D2Checklist">Msg me on Twitter</a> if you have any problems or questions.
          </div>
        </mat-card-content>
      </mat-card>

      <router-outlet #o="outlet"></router-outlet>
      <!-- <div *ngIf="(authGuard.loader$ | async)">
        <br>
        <div class="center-spinner">
          <mat-spinner class="loading" class="center-spinner"></mat-spinner>
        </div>
      </div> -->

      <div class="db-error" *ngIf="(destinyCacheService.error | async) != null">
        {{destinyCacheService.error | async}}
      </div>
      <div class="center-spinner db-progress">
        <div *ngIf="destinyCacheService.unzipping | async">
          <br>
          <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
          Processing manifest DB...
        </div>
        <div *ngIf="(destinyCacheService.percent | async) < 100">
          <br>
          <div *ngIf="destinyCacheService.checkingCache|async">
            <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
            Checking cache...
          </div>
          <div *ngIf="!(destinyCacheService.checkingCache|async)">
            <mat-progress-bar color="primary" mode="determinate" [value]="destinyCacheService.percent|async">
            </mat-progress-bar>
            Downloading database: {{destinyCacheService.percent|async|number : '0.0-0'}}%
          </div>
        </div>
      </div>

      <div class="push"></div>


    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.reddit.com/r/destinychecklistnet" target="_blank" rel="noopener">
            <fa-icon [icon]="iconService.fabReddit" size="2x"></fa-icon>            
            <span>Reddit</span>
          </a>
          <a href="https://github.com/dcaslin/d2-checklist/" target="_blank" rel="noopener">
            <fa-icon [icon]="iconService.fabGithub" size="2x"></fa-icon>
            <span>Source</span>
          </a>
          <a href="https://twitter.com/D2Checklist" target="_blank" rel="noopener">
            <fa-icon [icon]="iconService.fabTwitter" size="2x"></fa-icon>
            <span>Twitter</span>
          </a>

          <a matTooltip="destinychecklistnet at gmail.com" matTooltipPosition="above">
              <fa-icon [icon]="iconService.falEnvelope" size="2x"></fa-icon>
            <span>Email</span>
          </a>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS" target="_blank"
            rel="noopener">
            <fa-icon [icon]="iconService.fabPaypal" size="2x"></fa-icon>
            <span>Donate</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - Destiny Checklist |
          <a href="https://www.destinychecklist.net/privacy">Privacy Policy </a> | Not affiliated with Bungie

        </div>
      </div>
    </div>

  </mat-sidenav-container>
</div>