<ng-container *ngIf="state.player|async as player">
  <nav mat-tab-nav-bar color="accent">
    <a mat-tab-link routerLink="tree" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
      <fa-icon [icon]="iconService.farTrophy"></fa-icon><span class="d-none d-md-inline">&ensp;Triumphs</span>
    </a>   
    <a mat-tab-link routerLink="seals" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
      <fa-icon [icon]="iconService.farAward"></fa-icon><span class="d-none d-md-inline">&ensp;Seals</span>
    </a>
    <a mat-tab-link routerLink="closest" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
        <fa-icon [icon]="iconService.farPercent"></fa-icon><span class="d-none d-md-inline">&ensp;Closest</span>
    </a>
    <a mat-tab-link routerLink="search" routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive">
      <fa-icon [icon]="iconService.farSearch"></fa-icon><span class="d-none d-md-inline">&ensp;Search</span>
    </a>
    <a mat-tab-link routerLink="tracked" routerLinkActive #rla6="routerLinkActive" [active]="rla6.isActive">
        <fa-icon [icon]="iconService.farThumbtack"></fa-icon><span class="d-none d-md-inline">&ensp;Tracked</span>
    </a>
    <ng-container *ngIf="!(contentVaultOnly|async)">
      <a mat-tab-link routerLink="seasons" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
        <fa-icon [icon]="iconService.fasWheat"></fa-icon><span class="d-none d-md-inline">&ensp;Seasons</span>
      </a>
    </ng-container>
  </nav>
  <router-outlet></router-outlet>
</ng-container>