


.triumph-icon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-size: cover;
}

.searchField {
  margin-bottom: 10px;
}


.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}

