$anms-primary: mat-palette($mat-blue-grey, 900);
$anms-accent: mat-palette($mat-amber, A400);

$anms-theme: mat-light-theme(
    $anms-primary,
    $anms-accent
);


@mixin default-gear-tags {
    .upgrade-button{
        background-color: hsl(200, 65%, 71%);;
    }
    .mark-table>tbody>tr.upgrade>td{
        background-color: hsl(200, 65%, 91%); 
    }
    .keep-button{
        background-color: hsl(103, 44%, 69%);
    }
    .mark-table>tbody>tr.keep>td, 
    {
        background-color: hsl(103, 44%, 89%);
    }
    .infuse-button{
        background-color: hsl(50, 81%, 74%);
    }
    .mark-table>tbody>tr.infuse>td{
        background-color: hsl(50, 81%, 94%);
    }
    .junk-button{
        background-color: hsl(0, 43%, 71%);
    }
    .mark-table>tbody>tr.junk>td{
        background-color: hsl(0, 43%, 91%);
    }
}