$d2c-primary: mat-palette($mat-blue-grey, 900);
$d2c-accent: mat-palette($mat-amber, A400);

$d2c-theme: mat-light-theme($d2c-primary, $d2c-accent);

@mixin default-gear-tags($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

   
    .fake-link {
        color: rgba(0, 0, 0, 0.87);
    }

    .fake-link:hover {
        color: #ffc400 !important;
    }

    button.upgrade {
        background-color: hsl(200, 65%, 71%);
    }
    .mark-table > tbody > tr.upgrade > td,
    .mark-table > tbody > tr > td.upgrade {
        background-color: hsl(200, 65%, 91%);
    }
    button.keep {
        background-color: hsl(103, 44%, 69%);
    }
    .mark-table > tbody > tr.keep > td,
    .mark-table > tbody > tr > td.keep {
        background-color: hsl(103, 44%, 89%);
    }
    button.infuse {
        background-color: hsl(50, 81%, 74%);
    }
    .mark-table > tbody > tr.infuse > td,
    .mark-table > tbody > tr > td.infuse {
        background-color: hsl(50, 81%, 94%);
    }
    button.junk {
        background-color: hsl(0, 43%, 71%);
    }
    button.archive {
        background-color: hsl(0, 0%, 79%);
    }
    .mark-table > tbody > tr.junk > td,
    .mark-table > tbody > tr > td.junk {
        background-color: hsl(0, 43%, 91%);
    }

    .mark-table > tbody > tr.archive > td,
    .mark-table > tbody > tr > td.archive {
        background-color: hsl(0, 0%, 80%);
    }

    // transparent icons are impossible to see on a light theme
    .bungie-icon {
        background-color: #636363;
    }

    .nitro-consent-link button {
        color: mat-color($primary, lighter);
        &:hover {
            color: mat-color($accent);
        }
    }

    .footer {
        color: mat-color($primary, lighter);
        background-color: mat-color($primary, darker);

        .links,
        .signature {
            color: mat-color($primary, lighter);
            a {
                color: mat-color($primary, lighter);
                &:hover {
                    color: mat-color($accent);
                }
            }
        }
    }
}
