$anms-light-primary: mat-palette($mat-pink, 500);
$anms-light-accent: mat-palette($mat-deep-purple, 200);
$anms-light-warn: mat-palette($mat-deep-orange, 200);

$anms-light-theme: mat-light-theme(
    $anms-light-primary,
    $anms-light-accent,
    $anms-light-warn
);
