<mat-dialog-content>
    <h4>{{triumph.data.name}}</h4>
    <div class="simple-caption">{{triumph.data.desc}}</div>

    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]="iconService.fasChartLine"></fa-icon><span class="d-none d-md-inline">&ensp;Chart</span>
            </ng-template>
            <div class="tab-body">
                <d2c-clan-triumph-graph [data]="triumph.all"></d2c-clan-triumph-graph>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]="iconService.farSquare"></fa-icon><span class="d-none d-md-inline">&ensp;Incomplete&ensp;-</span>&ensp;{{triumph.notDone.length}}
            </ng-template>
            <div class="tab-body">
                <ng-container *ngTemplateOutlet="playerTable; context: {triumphs: triumph.notDone}">
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Complete">
            <ng-template mat-tab-label>
                <fa-icon [icon]="iconService.farCheckSquare"></fa-icon><span class="d-none d-md-inline">&ensp;Complete&ensp;-</span>&ensp;{{triumph.done.length}}
            </ng-template>
            <div class="tab-body">
                <ng-container *ngTemplateOutlet="playerTable; context: {triumphs: triumph.done}">
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<ng-template #playerTable let-triumphs='triumphs'>
    <div class="simple-caption" *ngIf="triumphs.length==0">None</div>

    <table class="checklist-table" *ngIf="triumphs.length>0">
        <thead>
            <tr>
                <th>
                    <a href="javascript:void(0)" (click)="sortData('name')"> Player
                        <ng-container *ngIf="sort.name=='name'">
                            <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                            <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                        </ng-container>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" (click)="sortData('pct')"> Progress
                        <ng-container *ngIf="sort.name=='pct'">
                            <fa-icon [icon]="iconService.fasSortUp" *ngIf="sort.ascending"></fa-icon>
                            <fa-icon [icon]="iconService.fasSortDown" *ngIf="!sort.ascending"></fa-icon>
                        </ng-container>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pt of triumphs">
                <td *ngIf="pt.member as member">
                    <a [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.membershipId, 'triumphs','tree',triumph.data.hash]">
                        {{member.destinyUserInfo.displayName}}
                    </a>
                    <ng-container *ngIf="member.player$|async as player">
                        <span class="simple-caption" *ngIf="player!=null && player.title.trim().length>0">
                            {{player.title}}
                        </span>
                    </ng-container>
                </td>
                <td>
                    {{pt.data.percent|number : '0.0-0'}}%
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>