<div mat-dialog-title style="margin-bottom: 0px" *ngIf="name|async as n">
    {{n|titlecase}}
    <span class="simple-caption-no-margin">
        <button mat-icon-button (click)="refreshMe.next()" >
            <fa-icon [icon]="iconService.fasSyncAlt" [spin]="(loading|async)===true"></fa-icon>
          </button>
    </span>
</div>
<mat-dialog-content *ngIf="bounties|async as b">
    <div class="grid-parent mat-typography">
        <div class="dashed-border bounty" *ngFor="let i of b">
            <div class="title">
                <div class="icon-parent">
                    <div class="icon" *ngIf="i.icon!=null"
                        [style.background-image]="'url(//www.bungie.net' + i.icon + ')'"></div>
                </div>
                <div class="icon-parent">
                    <h4 class="title-text">
                        <span [matTooltip]="i.desc">
                            <ng-container *ngIf="i.lowLinks==null || i.lowLinks.mapLink==null">{{i.name}}
                            </ng-container>
                            <a [href]="i.lowLinks.mapLink" *ngIf="i.lowLinks!=null && i.lowLinks.mapLink!=null"
                                target="_blank" rel="noopener">
                                {{i.name}}
                                <fa-icon [icon]="iconService.farMapMarkerAlt" class="accent-text"></fa-icon>
                            </a>
                        </span>
                        <br>
                        <span *ngIf="i.vendor" class="type-caption">{{i.vendor.name}}
                            <span *ngIf="i.status!=null" class="warn-text">
                                {{i.status}}
                            </span>
                        </span>
                    </h4>
                </div>
            </div>
            <div>
                <mat-chip-list aria-label="tags">
                    <mat-chip *ngFor="let t of i.tags">{{t}}</mat-chip>
                </mat-chip-list>
            </div>
            <div class="bounty-details">
                <small>{{i.desc}}</small>
                <div class='objective' *ngFor="let obj of i.objectives">
                    <ng-container *ngIf="obj.total">
                        - {{obj.total}} {{obj.units}}
                    </ng-container>
                    <ng-container *ngIf="obj.completionValue">
                        <fa-icon [icon]="iconService.farCheckSquare" *ngIf="obj.complete"
                            class="accent-text mat-option.mat-selected"></fa-icon>
                        <fa-icon [icon]="iconService.farSquare" *ngIf="!obj.complete"></fa-icon>
                        {{obj.progressDescription}}
                        <span *ngIf="obj.progress!=null">{{obj.progress}}/{{obj.completionValue}}</span>
                    </ng-container>
                </div>
            </div>
            <div class="rewards" *ngIf="i.values && i.values.length>0">
                <div class='reward' *ngFor="let v of i.values">
                    {{v.name}} <ng-container *ngIf="v.quantity>0">{{v.quantity}}</ng-container>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>