.hide-mobile-inline {
  display: inline;
  visibility: visible;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: row dense;
}

.objective {
  font-size: smaller;
  margin-left: 15px;
}

.rewards {
}

.fake-chip {
  opacity: 1 !important;
  cursor: inherit;
}

.bounty {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.bounty-details {
  flex-grow: 10;
}

.reward {
  font-style: italic;
  opacity: 0.8;
  display: inline-block;
  font-size: 10px;
  margin: 0px 5px 0px 5px;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
  font-size: 24px;
  box-sizing: content-box;
  padding: 4px;
}

.title-row-parent {
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.title-row-center {
  flex-grow: 1;
  flex-shrink: 1;
}

.vendor-bounty {
  cursor: pointer;
}

.selected-bounty {
  
}

.title-text {
  margin: 0px !important;
}

.title {
  display: flex;
  flex-direction: row;
}

.body-text {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
