@import 'styles-variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.player-header-image {
  background-size: cover;
}

.searchField{
  margin-bottom: 10px;
}

a:link {
  text-decoration: underline;
}

.body-text {
  width: auto;
  margin-left: auto; 
  margin-right: auto; 
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}