@import 'styles-variables';

.container-fluid {
  margin: 5px;
}

.center-spinner {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; /* Need a specific value to work */
}


.player-header-image {
  background-size: cover;
}

.searchField{
  margin-bottom: 10px;
}


.body-text {
  width: auto;
  margin-left: auto; 
  margin-right: auto; 
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}