table.checklist-table {
  & caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  & tr {
    padding: .35em;
  }

  & td {
    font-size: 14px;
    text-align: left;
    vertical-align: top;
  }

  & th {
    text-align: left;
    font-size: .85em;
    letter-spacing: .1em;
  }
}

.body-text {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.meta {
  text-align: left;
}

.item-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin-right: 6px;
  background-size: cover;
  transition: 0.25s;
}

.primary-stat {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 0 2px !important;
  background: rgba(255, 255, 255, 0.9);
  line-height: 13px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 700;
}

.gun {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}


.player-link {
  width: 100%;
  //margin-bottom: 10px;
}

.player-info {
  margin: 10px;
}


.mod-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mod-child-label {
  flex-grow: 1;
  flex-shrink: 1;
}

.mod-child-icon {
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 600px) {

  .mod-parent {
    flex-direction: column;
  }
  .mod-child-label {
    text-align: center;
  }


  .gun {
    flex-direction: column;
    align-items: center;
    margin: 2px;
  }
}
