<div mat-dialog-title style="margin-bottom: 0px">
    {{item.name}}
    <span style="margin-left: 10px" class="simple-darker-caption-no-margin">{{item.typeName}}</span>

</div>
<mat-dialog-content>

    <table class="tidy-auto-table">
        <tr>
            <th [attr.colspan]="maxPlugs">
                PVP Masterwork:
                <span class="pad-right" *ngFor="let mw of item.masterwork.recommendedPvpMws; last as isLast">
                    {{mw}}<ng-container *ngIf="!isLast">, </ng-container>
                </span>
            </th>
        </tr>
        <tr>
            <th [attr.colspan]="maxPlugs">
                PVE Masterwork:
                <span class="pad-right" *ngFor="let mw of item.masterwork.recommendedPveMws; last as isLast">
                    {{mw}}<ng-container *ngIf="!isLast">, </ng-container>
                </span>
            </th>
        </tr>

        <ng-container *ngFor="let socket of item.sockets">
            <tr *ngIf="socket.possiblePlugs.length>0">
                <td *ngFor="let plug of socket.possiblePlugs; last as isLastPlug">
                    <d2c-god-roll-plug [plug]="plug" [debugmode]="(parent.debugmode|async)"></d2c-god-roll-plug>
                </td>
                <td *ngFor="let i of makeArray(maxPlugs - socket.possiblePlugs.length)">
                    &nbsp;
                </td>
            </tr>
        </ng-container>


    </table>


</mat-dialog-content>