<div mat-dialog-title style="margin-bottom: 0px">
    {{item.name}}
    <span style="margin-left: 10px" class="simple-darker-caption-no-margin">{{item.typeName}}</span><br><span
        class="simple-caption-no-margin">Possible random rolls</span>
</div>
<mat-dialog-content>
    <table class="gear-table mark-table">
        <tbody>
            <tr>
                <td>
                    <ng-container *ngFor="let socket of item.sockets; last as isLastSocket">
                        <div *ngIf="socket.possiblePlugs!=null && socket.possiblePlugs.length>0" [class.bottom]="!isLastSocket">
                            <span *ngFor="let plug of socket.possiblePlugs; last as isLastPlug" [matTooltip]="plug.desc"
                            class="not-selected-plug"
                                matTooltipClass="preserve-white-space">
                                <d2c-god-roll-plug [plug]="plug" [highlightAllPerks]="parent.highlightAllPerks"
                                    [debugmode]="(parent.debugmode|async)"></d2c-god-roll-plug>
                                <ng-container *ngIf="!isLastPlug">|</ng-container>
                            </span>
                        </div>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>