<div mat-dialog-title style="margin-bottom: 0px">
    {{r.info.desc.displayProperties.name}}
    <span style="margin-left: 10px" class="simple-darker-caption-no-margin">{{r.info.type}}</span>
</div>
<mat-dialog-content class="mat-typography">
    <ng-container *ngIf="pve$|async as pve">
        <ng-container *ngIf="pvp$|async as pvp">

            <div class="flex-row">
                <div>
                    <mat-button-toggle-group class="pad-left" [(ngModel)]="parent.isController"
                        (change)="parent.changeConsole();parent.filterChanged$.next(true);updatePlatform()">
                        <mat-button-toggle [value]="false">MnK <fa-icon *ngIf="!parent.isController" class="pad-left" [icon]="iconService.fasCheck"></fa-icon></mat-button-toggle>
                        <mat-button-toggle [value]="true">Console <fa-icon *ngIf="parent.isController" class="pad-left" [icon]="iconService.fasCheck"></fa-icon></mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                
                <div>
                    <mat-button-toggle-group class="pad-left" [(ngModel)]="clickMode">
                        <mat-button-toggle *ngFor="let enum of clickOptions" [value]="enum">
                            <fa-icon
                                *ngIf="enum==clickModeEnum.GodRollPvP || enum==clickModeEnum.GoodRollPvP"
                                [class.accent-text]="enum==clickModeEnum.GodRollPvP"
                                [icon]="iconService.fasSwords"></fa-icon>
                            <i *ngIf="enum==clickModeEnum.GodRollPvE || enum==clickModeEnum.GoodRollPvE"
                                [class.accent-text]="enum==clickModeEnum.GodRollPvE" class="icon-strike"></i>
                            {{enum}}
                            <fa-icon *ngIf="clickMode==enum" class="pad-left" [icon]="iconService.fasCheck"></fa-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <button mat-stroked-button (click)="cloneRoll()" [matTooltip]="'Clone from alternative platform roll'">
                        <fa-icon [icon]="iconService.falCopy"></fa-icon> {{parent.isController?'Mnk':'Console'}}
                    </button>
                    &nbsp;
                    <button mat-stroked-button color="warn" (click)="clearRoll()">
                        <fa-icon [icon]="iconService.fasTrashAlt"></fa-icon> Clear
                    </button>
                </div>
            </div>

            <table class="tidy-auto-table">
                <tr>
                    <th [attr.colspan]="maxPlugs">
                        PVE Masterwork:
                        <span class="pad-right pad-left" *ngFor="let mw of mwOptions; last as isLast">
                            <mat-checkbox [checked]="pve.masterwork.includes(mw.toLowerCase())"
                                (change)="onMwCheckChange($event.checked,mw, pve.masterwork)">{{mw}}</mat-checkbox>
                        </span>
                    </th>
                </tr>
                <tr>
                    <th [attr.colspan]="maxPlugs">
                        PVP Masterwork:
                        <span class="pad-right pad-left" *ngFor="let mw of mwOptions; last as isLast">
                            <mat-checkbox [checked]="pvp.masterwork.includes(mw.toLowerCase())"
                                (change)="onMwCheckChange($event.checked, mw, pvp.masterwork)">{{mw}}</mat-checkbox>
                        </span>
                    </th>
                </tr>

                <ng-container *ngFor="let socket of r.info.sockets">
                    <tr *ngIf="socket.possiblePlugs.length>0">
                        <td *ngFor="let plug of socket.possiblePlugs; last as isLastPlug" [matTooltip]="plug.desc" matTooltipClass="preserve-white-space"
                            [class.half-opacity]="!plug.currentlyCanRoll">
                            <div class="fake-link" (click)="togglePerk(plug.name.toLowerCase())">
                                <fa-icon *ngIf="pvp.greatPerks.includes(plug.name.toLowerCase())" class="accent-text"
                                    [icon]="iconService.fasSwords"></fa-icon>
                                <fa-icon *ngIf="pvp.goodPerks.includes(plug.name.toLowerCase())"
                                    [icon]="iconService.fasSwords"></fa-icon>
                                <i *ngIf="pve.greatPerks.includes(plug.name.toLowerCase())"
                                    class="icon-strike accent-text perk"></i>
                                <i *ngIf="pve.goodPerks.includes(plug.name.toLowerCase())" class="icon-strike perk"></i>
                                <span class="pad-right" *ngIf="plug.enhanced"><fa-icon [icon]="iconService.fasUp"></fa-icon></span>{{plug.name}}
                            </div>
                        </td>
                        <td *ngFor="let i of makeArray(maxPlugs - socket.possiblePlugs.length)">
                            &nbsp;
                        </td>
                    </tr>
                </ng-container>


            </table>

        </ng-container>
    </ng-container>

</mat-dialog-content>