<ng-container *ngIf="state.player|async as player">
  <div class="hide-complete-collectibles">
    <mat-checkbox [(ngModel)]="state.hideCompleteCollectibles">Hide Completed</mat-checkbox>
  </div>
  <div class="badge-list">

    <ng-container *ngFor="let b of player.badges">
      <a [routerLink]="[b.hash]" class="badge-row tidy-cell" *ngIf="!state.hideCompleteCollectibles || !b.complete">
        <div *ngIf="b.icon!=null" class="badge-icon" [style.background-image]="'url(//www.bungie.net' + b.icon + ')'">
        </div>
        <div class="badge-info">
          <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="b.complete" class="accent-text mat-option.mat-selected"></fa-icon>          
          <fa-icon [icon]="iconService.farSquare" *ngIf="!b.complete"></fa-icon>
          {{b.name}}
          <ng-container *ngIf="debugmode|async"> {{b.hash}}</ng-container>
          <div class="simple-darker-larger-caption">
            {{b.bestProgress}}/{{b.total}}
          </div>
          <div class="simple-caption">
            {{b.desc}}
          </div>
        </div>
      </a>
    </ng-container>
  </div>

</ng-container>