<div *ngIf="item.masterwork!=null">
    <ng-container *ngIf="item.masterwork.godTierPvp">
        <fa-icon [icon]="iconService.fasSwords" class="accent-text god-tier-mw"
            matTooltip="This is the best PVP masterwork for this weapon"></fa-icon>
    </ng-container>
    <ng-container *ngIf="item.masterwork.godTierPve">
        <i matTooltip="This is the best PVE masterwork for this weapon"
            class="icon-strike accent-text god-tier-mw"></i>
    </ng-container>
    
    <span [matTooltip]="item.masterwork.desc" matTooltipClass="preserve-white-space">
        <ng-container *ngIf="item.masterwork.name=='Reload Speed'">Reload</ng-container>
        <ng-container *ngIf="item.masterwork.name!='Reload Speed'">{{item.masterwork.name}}</ng-container>
        {{item.masterwork.tier}}</span>
    <mat-progress-bar *ngIf="item.type == ItemType.Weapon" mode="determinate"
        [color]="item.masterwork.tier>=10?'accent':'primary'" [value]="item.masterwork.tier*10">
    </mat-progress-bar>
    <mat-progress-bar *ngIf="item.type == ItemType.Armor" mode="determinate"
        [color]="item.masterwork.tier>=5?'accent':'primary'" [value]="item.masterwork.tier*10*2">
    </mat-progress-bar>
</div>