.milestoneVisibilityButton{
    font-size: smaller;
    font-weight: lighter;
    margin-left: 0.5em;
  }


.check{
  font-size: large;
}

.clanMsRow{
  text-align: left;
}

.lifetime{
  font-size: small;
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  max-width: 125px;
}

.trophy{
  opacity: 0.7;
  padding-left: 0.25em;
}

.percent{
  font-size: smaller;
  font-weight: lighter;
}

.bottom-note{
  margin-left: 1.0em;
  text-align: left;
}


.ms-supp-info{
  margin-top: 5px;  
}