<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <h1>Settings</h1>
      <br>
      <div>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Select theme" name="theme" [ngModel]="theme" (selectionChange)="onThemeSelect($event)">
            <mat-option *ngFor="let t of themes" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Ad Options" name="disableads" [ngModel]="disableads" (selectionChange)="onDisableAdsSelect($event)">
            <mat-option *ngFor="let t of adChoices" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Debug" name="debug" [ngModel]="debugmode|async" (selectionChange)="onDebugSelect($event)">
            <mat-option *ngFor="let t of debugChoices" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>

      <p class="note" *ngIf="disableads===true">
        <mat-icon>block</mat-icon> You've disabled ads. If you end up finding this site or any of the other DestinyChecklist sites helpful, please consider
        making a donation with the link below. Or use the link to order the new hardcover newest Destiny Grimoire from Amazon (or buy something else), I'll get a small commission and it will cost you nothing else.
        <br>
        <br>
        <a class="space-right" href="https://www.amazon.com/Destiny-Grimoire-Anthology-Vol-I/dp/1945683449/ref=as_li_ss_il?keywords=Destiny+Grimoire+Anthology&qid=1572495020&s=books&sr=1-2&linkCode=li2&tag=destinychecklist-20&linkId=9f131e392b1f7808bc240d2989d4ae41&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1945683449&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=1945683449" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a class="space-right" href="https://www.amazon.com/Destiny-Grimoire-Anthology-II-Kingdoms/dp/1945683694/ref=as_li_ss_il?keywords=Destiny+Grimoire+Anthology&qid=1572494623&s=books&sr=1-1&linkCode=li2&tag=destinychecklist-20&linkId=aeaa782e14ab0b4b2e97e0c4d71caae1&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1945683694&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=1945683694" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a class="space-right" href="https://www.amazon.com/Destiny-Grimoire-Anthology-II-Kingdoms/dp/1945683694/ref=as_li_ss_il?keywords=Destiny+Grimoire+Anthology&qid=1572494623&s=books&sr=1-1&linkCode=li2&tag=destinychecklist-20&linkId=aeaa782e14ab0b4b2e97e0c4d71caae1&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1945683694&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=1945683694" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a class="space-right" href="https://www.amazon.com/Destiny-Grimoire-Anthology-Bungie-Inc/dp/1950366243/ref=as_li_ss_il?crid=16TGVQDA83BPQ&dchild=1&keywords=destiny+grimoire+anthology+volume+3&qid=1595305777&sprefix=destiny+grim,aps,144&sr=8-1&linkCode=li2&tag=destinychecklist-20&linkId=c2fba9e3844cd6ceada6ac06d8b92f3a&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1950366243&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=destinychecklist-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=destinychecklist-20&language=en_US&l=li2&o=1&a=1950366243" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        
        <a mat-raised-button color="accent" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS">
          <fa-icon [icon]="iconService.fabPaypal"></fa-icon> Donate
        </a>
      </p>
      <p class="note" *ngIf="(debugmode|async)===true">
        <mat-icon>bug_report</mat-icon> You've enabled debug mode. This might do nothing, or it might show extra information like hashes on certain items. 
        It will probably make your screen more cluttered and ugly, and may screw up mobile views. <mark>If you have any problems you should turn this back off.</mark>
      </p>
      <div class="button-row" *ngIf="debugmode|async">
          <button mat-stroked-button (click)="onFailClick()" >Test Fail</button>
          <button mat-stroked-button (click)="onSuccessClick()" >Test Success</button>
          <button mat-stroked-button (click)="onInfoClick()" >Test Info</button>
      </div>
    </div>
    <div *ngIf="(disableAds|async)!==true" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="(disableAds|async)!==true" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7629384993" display="block"></ng-adsense>
  </div>

</div>