<ng-container *ngIf="items[0] as model">


    <div mat-dialog-title style="margin-bottom: 0px" *ngIf="!showAllNames">
        {{model.name}}
        <d2c-season-indicator *ngIf="model.type == ItemType.Armor" [season]="model.seasonalModSlot"></d2c-season-indicator>
        <span style="margin-left: 10px" class="simple-darker-caption-no-margin">{{model.typeName}}</span><br><span
            class="simple-caption-no-margin hide-mobile-inline">{{model.desc}}</span>
    </div>
    <div *ngIf="showAllNames">
        <span style="margin-right: 25px; vertical-align: middle">{{model.typeName}}</span>
        <mat-checkbox [(ngModel)]="hideJunk" class="simple-darker-caption-no-margin">Hide Junk</mat-checkbox>

    </div>
    <mat-dialog-content *ngIf="parent.player$|async as player">
        <table class="gear-table mark-table">
            <thead>
                <tr *ngIf="showAllNames">
                    <th class="sticky">
                        <d2c-horizontal-sort field="name" [currVal]="sortBy" [descending]="sortDesc"
                            (sort)="sort($event)">Name
                        </d2c-horizontal-sort>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <th class="sticky" *ngIf="!hideJunk || i.mark!='junk'">

                            <button mat-stroked-button [matTooltip]="i.name+'\n'+i.desc"
                                [matMenuTriggerFor]="itemMenu" matTooltipClass="preserve-white-space">
                                <div class="item-name">
                                    {{i.name}}
                                    <!-- <span class="accent-text" *ngIf="i===source">*</span> -->
                                </div>
                                <d2c-season-indicator *ngIf="i.type == ItemType.Armor" [season]="i.seasonalModSlot"></d2c-season-indicator>
                            </button>
                            <mat-menu #itemMenu="matMenu">
                                <button mat-menu-item *ngIf="i.postmaster"
                                    (click)="parent.pullFromPostmaster(player, i)">
                                    <fa-icon [icon]="iconService.falEnvelopeOpen"></fa-icon> Pull from postmaster
                                </button>
                                <ng-container *ngIf="!i.postmaster">
                                    <ng-container *ngIf="i.owner|async as owner">
                                        <button mat-menu-item *ngIf="i.canReallyEquip"
                                            (click)="parent.equip(player, i)">
                                            <fa-icon [icon]="iconService.falTshirt"></fa-icon> Equip on {{owner.label}}
                                        </button>
                                    </ng-container>

                                    <button mat-menu-item *ngFor="let target of i.options"
                                        (click)="parent.transfer(player, i, target)">
                                        <fa-icon [icon]="iconService.falExchange"></fa-icon> Transfer to
                                        {{target.label}}
                                    </button>
                                </ng-container>
                            </mat-menu>
                            <div class="simple-caption-no-margin">
                                {{(i.owner|async)?.label}}

                                <span *ngIf="i.postmaster" class="margin-left warn-text">
                                    <fa-icon [icon]="iconService.fasEnvelope"></fa-icon>
                                </span>
                            </div>
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="compare-icon-lead">
                        <div>
                            <d2c-horizontal-sort field="power" [currVal]="sortBy" [descending]="sortDesc"
                                (sort)="sort($event)">Light</d2c-horizontal-sort>
                        </div>
                        <div>
                            <d2c-horizontal-sort *ngIf="model.type == ItemType.Weapon" field="damageType"
                                [currVal]="sortBy" [descending]="sortDesc" (sort)="sort($event)">Energy
                            </d2c-horizontal-sort>
                            <d2c-horizontal-sort *ngIf="model.type == ItemType.Armor" field="energyType"
                                [currVal]="sortBy" [descending]="sortDesc" (sort)="sort($event)">Energy
                            </d2c-horizontal-sort>
                        </div>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            <div class="compare-icon-cell">
                                <d2c-god-roll-item vertical="true" [item]="i" [debugmode]="debugmode|async">
                                </d2c-god-roll-item>
                                <d2c-item-icon [i]="i" [option]="i.type"
                                    (toggleLock)="parent.setLock(player, i, $event)"
                                    (pullPostmaster)="parent.pullFromPostmaster(player, i)"
                                    (equip)="parent.equip(player, i)" (transfer)="parent.transfer(player, i, $event)">
                                </d2c-item-icon>
                            </div>
                        </td>
                    </ng-container>
                </tr>
                <tr>
                    <th>
                        <d2c-horizontal-sort field="mark" [currVal]="sortBy" [descending]="sortDesc"
                            (sort)="sort($event)">Tag</d2c-horizontal-sort>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">

                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            <fa-icon *ngIf="i.notes" [matTooltip]="i.notes" class="accent-text pad-right" [icon]="iconService.fasStickyNote"></fa-icon>
                            <button mat-button [ngClass]="['detail-tag-button',i.mark!=null?i.mark:'']"
                                [matMenuTriggerFor]="menu">
                                <ng-container *ngIf="i.mark==null">
                                    <fa-icon [icon]="iconService.fasTags"></fa-icon>&ensp;
                                    Unmarked
                                </ng-container>
                                <ng-container *ngIf="i.mark!=null">
                                    <fa-icon [icon]="parent.markService.markDict[i.mark].icon"></fa-icon>&ensp;
                                    {{i.markLabel}}
                                </ng-container>
                            </button>
                            <mat-menu #menu="matMenu">
                                <ng-container *ngFor="let mc of parent.markService.markChoices">
                                    <button *ngIf="mc.value!=i.mark" mat-menu-item (click)="parent.mark(mc.value,i)">
                                        <fa-icon [icon]="mc.icon"></fa-icon>&ensp;
                                        {{mc.label}}
                                    </button>
                                </ng-container>

                                <button *ngIf="i.mark!=null" mat-menu-item (click)="parent.mark(null,i)">
                                    Remove Mark
                                </button>
                            </mat-menu>                            
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="model.type==ItemType.Armor">
                    <th>
                        <d2c-horizontal-sort field="energyCapacity" [currVal]="sortBy" [descending]="sortDesc"
                            (sort)="sort($event)">Capacity</d2c-horizontal-sort>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            {{i.energyCapacity}}
                        </td>
                    </ng-container>
                </tr>
                
                
                <tr *ngIf="model.type==ItemType.Armor">
                    <th>
                        <d2c-horizontal-sort field="preferredStatPoints" [currVal]="sortBy" [descending]="sortDesc"
                            (sort)="sort($event)">Pref Pts</d2c-horizontal-sort>                        
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            {{i.preferredStatPoints}}
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="model.type==ItemType.Armor">
                    <th>
                       <d2c-horizontal-sort field="totalStatPoints" [currVal]="sortBy" [descending]="sortDesc"
                            (sort)="sort($event)">Total Pts</d2c-horizontal-sort>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">                            
                            {{i.totalStatPoints}}
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="model.type==ItemType.Weapon">
                    <th>
                        <div>
                            <d2c-horizontal-sort field="masterwork.name" [currVal]="sortBy" [descending]="sortDesc"
                                (sort)="sort($event)">MW Type</d2c-horizontal-sort>
                        </div>
                        <div>
                            <d2c-horizontal-sort field="masterwork.tier" [currVal]="sortBy" [descending]="sortDesc"
                                (sort)="sort($event)">MW Tier</d2c-horizontal-sort>
                        </div>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            <d2c-god-roll-mw [item]="i" [debugmode]="debugmode|async"></d2c-god-roll-mw>
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="model.type==ItemType.Weapon || model.type==ItemType.Armor ">
                    <th>
                        <d2c-horizontal-sort field="powerCap" [currVal]="sortBy" [descending]="sortDesc"
                            (sort)="sort($event)">Cap</d2c-horizontal-sort>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            <ng-container *ngIf="i.powerCap<10000; else highCap">
                                <span class="simple-darker-caption-no-margin">{{i.powerCap}}</span>
                            </ng-container>
                            <ng-template #highCap>
                                <span class="simple-darker-caption-no-margin">None</span>
                            </ng-template>
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="model.type==ItemType.Weapon || model.type==ItemType.Armor ">
                    <th>
                        <d2c-horizontal-sort field="mods" [currVal]="sortBy" [descending]="sortDesc"
                            (sort)="sort($event)">Mod</d2c-horizontal-sort>
                    </th>
                    <ng-container *ngFor="let i of sortedItems|async">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            <ng-container *ngFor="let mod of i.mods">
                                <div [matTooltip]="mod.desc" matTooltipClass="preserve-white-space">
                                    {{mod.name}}
                                </div>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
                <ng-container
                    *ngIf="model.type==ItemType.Weapon || model.type==ItemType.Armor || model.type==ItemType.Ghost || model.type==ItemType.Vehicle">
                    <tr *ngFor="let mp of maxPlugs; index as i1">
                        <th *ngIf="i1==0">
                            Sockets
                        </th>
                        <th *ngIf="i1>0">
                            <div *ngFor="let item of [].constructor(mp); index as plugIndex" >
                                <d2c-horizontal-sort
                                [field]="'plug.'+i1+'.'+plugIndex" [currVal]="sortBy" [descending]="sortDesc"
                                (sort)="sort($event)"></d2c-horizontal-sort>
                            </div>
                            
                        </th>
                        <ng-container *ngFor="let i of sortedItems|async">
                            <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                                <ng-container *ngFor="let socket of i.sockets; index as i2; last as isLastSocket">
                                    <div *ngIf="i2 == i1">
                                        <span *ngFor="let plug of socket.plugs; last as isLastPlug"
                                            [class.not-selected-plug]="!plug.active">
                                            <d2c-god-roll-plug style="font-size: smaller" [plug]="plug"
                                                [debugmode]="(parent.debugmode|async)"></d2c-god-roll-plug>
                                            <ng-container *ngIf="!isLastPlug"><br></ng-container>
                                        </span>
                                    </div>
                                </ng-container>
                            </td>
                        </ng-container>
                    </tr>

                </ng-container>

                <ng-container *ngIf="model.type==ItemType.Weapon || model.type==ItemType.Armor">
                    <tr *ngFor="let stat of getAllStats(); let cntr = index">
                        <th>
                            <d2c-horizontal-sort [field]="'stat.'+stat.hash" [currVal]="sortBy" [descending]="sortDesc"
                                (sort)="sort($event)">{{stat.name}}</d2c-horizontal-sort>
                        </th>
                        <ng-container *ngFor="let i of sortedItems|async">

                            <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                                <ng-container *ngIf="getStat(stat, i) as targetStat; else noState">
                                    <span [class.baseonly]="targetStat.value==null">
                                        <span [ngClass]="getColor(targetStat)">
                                            {{targetStat.getValue()}}
                                        </span>
                                    </span>
                                    <span *ngIf="targetStat.enhancement>0" class="accent-text pad-left">+{{targetStat.enhancement}}</span>
                                    <span *ngIf="targetStat.enhancement<0" class="warn-text pad-left">{{targetStat.enhancement}}</span>
        
                                </ng-container>
                                <ng-template #noState>0</ng-template>
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </mat-dialog-content>
</ng-container>