.lifetime {
  font-size: small;
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  max-width: 125px;
}


.percent {
  font-size: smaller;
  font-weight: lighter;
}


.supp-info {
  font-size: small;
}

.check {
  margin-right: 0.15em;
}

.faint { 
  opacity: 0.5;
}