<div class="check" [style.display]="(detailed == true) ? 'block' : 'inline' ">
    <ng-container *ngIf="char.milestones[mileStoneName.key] as milestone else isNull">

        <ng-container *ngIf="detailed==true && (milestone.phases!=null && milestone.phases.length>0)  else noPhases">
            <ng-container *ngFor="let phase of milestone.phases">
                <i *ngIf="phase===true" style="margin-left: 5px"
                    class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                <i *ngIf="phase===false" style="margin-left: 5px" class="far fa-square"></i>
            </ng-container>
        </ng-container>
        <ng-template #noPhases>
            <ng-container *ngIf="milestone.complete==true else notComplete">
                <ng-container *ngIf="milestone.indeterminate">
                    <i class="accent-text fal fa-check-square" matTooltip="LL&lt;900, may not be unlocked"></i>
                </ng-container>
                <ng-container *ngIf="!milestone.indeterminate">
                    <i class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                </ng-container>
            </ng-container>
            <ng-template #notComplete>
                <ng-container *ngIf="milestone.pct==0 else nonZero">
                    <i class="far fa-square"></i>
                </ng-container>
                <ng-template #nonZero>
                    <i [matTooltip]="milestone.info" class="accent-text far fa-minus-square"></i>
                </ng-template>
            </ng-template>
        </ng-template>

        <div class="simple-caption" *ngIf="detailed==true && milestone.suppInfo!=null">
            {{milestone.suppInfo}}
        </div>

    </ng-container>
    <ng-template #isNull>
        <i class="far fa-times-square faint" matTooltip="Milestone missing, raise your PL or progress your quests"></i>
    </ng-template>
</div>