<ng-container *ngIf="season">
    <span class="indicator" *ngIf="season==10" matTooltip="Season of Worthy mod slot">
        <i class="icon-faction_osiris"></i>
        <!--<fa-icon [icon]="iconService.falEye"></fa-icon>
        <fa-icon [icon]="iconService.fasEye"></fa-icon> -->
    </span>
    <span class="indicator" *ngIf="season==9" matTooltip="Season of Dawn mod slot">
        <fa-icon [icon]="iconService.falSun"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==8" matTooltip="Season of the Undying mod slot">
        <fa-icon [icon]="iconService.falSkullCow"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==7" matTooltip="Season of Opulence mod slot">
        <fa-icon [icon]="iconService.falGem"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==5" matTooltip="Season of the Forge mod slot">
        <fa-icon [icon]="iconService.falHammer"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==4" matTooltip="Season of the Outlaw mod slot">
        <fa-icon [icon]="iconService.falHatCowboy"></fa-icon>
    </span>
</ng-container>