<ng-container *ngIf="season!=null">
    <span class="indicator" *ngIf="season==1" matTooltip="Last Wish Raid slot">
        <fa-icon [icon]="iconService.fasSkull"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==2" matTooltip="Garden of Salvation Raid slot">
        <fa-icon [icon]="iconService.fasSkull"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==3" matTooltip="Deepstone Crypt Raid slot">
        <fa-icon [icon]="iconService.fasSkull"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==4" matTooltip="Vault of Glass Raid slot">
        <fa-icon [icon]="iconService.fasSkull"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==5" matTooltip="Vow of the Disciple Raid slot">
        <fa-icon [icon]="iconService.fasSkull"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==6" matTooltip="King's Fall Raid slot">
        <fa-icon [icon]="iconService.fasSkull"></fa-icon>
    </span>    
    <span class="indicator" *ngIf="season==10" matTooltip="Artifice mod slot">
        <fa-icon [icon]="iconService.fasStarOfLife"></fa-icon>
    </span>
</ng-container>