<ng-container *ngIf="season!=null">

    <span class="indicator" *ngIf="season==2" matTooltip="Raid and Combat mod slots">
        <fa-icon [icon]="iconService.falInfinity"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==1" matTooltip="Combat mod slot">
        <fa-icon [icon]="iconService.falSwords"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==0" matTooltip="Legacy Mod Slot">
        <fa-icon [icon]="iconService.falScrollOld"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==-1" matTooltip="No special mod slot">
        <fa-icon [icon]="iconService.falBan"></fa-icon>
    </span>

    <span class="indicator" *ngIf="season==12" matTooltip="Season of the Hunt mod slot">
        <fa-icon [icon]="iconService.falBowArrow"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==11" matTooltip="Season of Arrivals mod slot">
        <fa-icon [icon]="iconService.farAlien"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==10" matTooltip="Season of Worthy mod slot">
        <i class="icon-faction_osiris"></i>
    </span>
    <span class="indicator" *ngIf="season==9" matTooltip="Season of Dawn mod slot">
        <fa-icon [icon]="iconService.falSun"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==8" matTooltip="Season of the Undying mod slot">
        <fa-icon [icon]="iconService.falSkullCow"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==7" matTooltip="Season of Opulence mod slot">
        <fa-icon [icon]="iconService.falGem"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==6" matTooltip="Season of the Drifter perk">
        <fa-icon [icon]="iconService.falGem"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==5" matTooltip="Season of the Forge mod slot">
        <fa-icon [icon]="iconService.falHammer"></fa-icon>
    </span>
    <span class="indicator" *ngIf="season==4" matTooltip="Season of the Outlaw mod slot">
        <fa-icon [icon]="iconService.falHatCowboy"></fa-icon>
    </span>
</ng-container>