<ng-container *ngIf="state.player|async as player">
  <div class="left" style="margin: 10px">
    <mat-form-field class="searchField">
      <input matInput (keyup)="searchSubject.next()" [(ngModel)]="displayFilterText" placeholder="Filter bounties">
      <button mat-button *ngIf="(realFilterText|async)!=null && (realFilterText|async).length>0" matSuffix
        mat-icon-button aria-label="Clear" (click)="displayFilterText=null;searchSubject.next()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <table class="responsive-table">
    <thead>
      <tr>
        <th class="header-cell">Bounty</th>
        <th class="header-cell">Player</th>
        <th class="header-cell">Expiration</th>
        <th class="header-cell">Progress</th>
        <th class="header-cell">Rewards</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let g of player.allBounties">
        <tr *ngIf="shouldShow(g)">
          <td class="lead" data-label="">
            <span class="name">
              <span *ngIf="g.icon!=null" class="item-icon"
                [style.background-image]="'url(//www.bungie.net' + g.icon + ')'"></span>
              <ng-container *ngIf="g.lowLinks==null || g.lowLinks.mapLink==null">{{g.name}}
              </ng-container>
              <a [href]="g.lowLinks.mapLink" *ngIf="g.lowLinks!=null && g.lowLinks.mapLink!=null" target="_blank"
                rel="noopener">
                {{g.name}}
                <i class='accent-text far fa-map-marker-alt'></i>
              </a>
            </span>
            <span *ngIf="debugmode|async">&ensp;[{{g.hash}}]</span>
            <div class="simple-caption bounty-caption">{{g.desc}}
            </div>
          </td>
          <td data-label="Player">

              <span *ngIf="g.owner.icon!=null" class="item-icon" 
              [style.background-image]="'url(//www.bungie.net' + g.owner.icon + ')'"></span>
            {{g.owner.label}}
          </td>
          <td data-label="Expiration">
            <span *ngIf="g.expirationDate!=null else noExp" class="expire-caption warn-text">
              <i class="fas fa-clock"></i>
              {{ g.expirationDate | amDifference: today | amDuration:'ms'}}
            </span>
            <ng-template #noExp>
              <span class="expire-caption">
                <i class="fas fa-clock"></i> None
              </span>
            </ng-template>

          </td>
          <td data-label="">
            <div class="total-progress">
              <div class="progress-pct">{{g.aggProgress|number : '1.0-0'}}%</div>
              <mat-progress-bar class="progress-bar" mode="determinate" [value]="g.aggProgress">
              </mat-progress-bar>
            </div>
            <div class="obj-desc" *ngFor="let obj of g.objectives">
              <i *ngIf="obj.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
              <i *ngIf="!obj.complete" class="far fa-square"></i>
              {{obj.progressDescription}}
              <span *ngIf="obj.progress!=null">{{obj.progress}}/{{obj.completionValue}}</span>
            </div>

          </td>

          <td data-label="">
            <ul class="obj-desc" *ngIf="g.values!=null && g.values.length>0">
              <li *ngFor="let v of g.values">
                <span *ngIf="v.quantity>0">{{v.quantity}}</span> {{v.name}}
              </li>
            </ul>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</ng-container>