.nav-toggles-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-toggles {
    margin-top: 10px;
}

.char-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.chars-toggle {
    flex-grow: 1;
}

.grid-parent[_ngcontent-mip-c230] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: row dense;
}

.bounty-title-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-right: 16px;
}

.bounty-title {
    font-size: 18px;
    font-weight: 500;
    flex-grow: 1;
    flex-shrink: 1;
}


.hide-check {
    font-size: small;
    font-weight: lighter;
}