<!-- <h4>Bounty Shopping List</h4> -->

<div class="subtitle">Currently held and available bounties for the selected character, grouped by shared objectives.
</div>

<div class="nav-toggles-container">
  <div class="nav-toggles char-row">
    <button mat-icon-button (click)="refresh.emit()">
      <fa-icon [icon]="iconService.fasSyncAlt"></fa-icon> <!-- [spin]="loading" -->
    </button>
    <mat-button-toggle-group class="chars-toggle" *ngIf="player?.characters" [value]="char$|async"
      (change)="char$.next($event.value)">
      <mat-button-toggle *ngFor="let c of player.characters" [value]="c">
        {{c.className}}
        <span class="d-none d-md-inline"> - {{c.light}}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <d2c-signed-on-loading-icon></d2c-signed-on-loading-icon>
  </div>
</div>


<div class="grid-parent">
  <div class="dashed-border">
    <div class="bounty-title-container" >
      <div class="bounty-title">
        Sets Currently Held
        <mat-checkbox class="hide-check" (change)="hideCompletePursuits$.next($event.checked)">
          Hide Completed
        </mat-checkbox>

      </div>
      <div class="bounty-subtitle">
        <a mat-button 
          [routerLink]="['/', player.characters[0].membershipType, player.characters[0].membershipId,'pursuits','bounties']">
          <fa-icon [icon]="iconService.farSearch"></fa-icon>
          See all
        </a>
      </div>
    </div>
    <div class="bounty-button-row loading-spinner" *ngIf="loading===true;else playerNotLoading">
      <fa-icon class="button-replacement fa-icon" [icon]="iconService.farSpinner" [spin]="true" size="2x"
        [fixedWidth]="true"></fa-icon>
    </div>
    <ng-template #playerNotLoading>
      <div class="bounty-button-row" *ngIf="charBountySets$|async as bs">
        <div *ngIf="bs.length==0" class="button-replacement simple-caption-no-margin">
          No groups of bounties held right now.
        </div>
        <ng-container *ngFor="let b of bs; let i = index">
          <button mat-stroked-button (click)="showModalBountySet.emit(b)"
            [matBadgeSize]="(showAllPlayerBounties$|async)?'small':'medium'" matBadgeColor=""
            *ngIf="i < BOUNTY_CUTOFF || (showAllPlayerBounties$|async)" [matBadge]="b.bounties.length">
            {{b.tag| titlecase}}
          </button>
        </ng-container>
        <button mat-stroked-button *ngIf="!(showAllPlayerBounties$|async) && bs.length > BOUNTY_CUTOFF"
          (click)="showAllPlayerBounties$.next(true)">
          <fa-icon [icon]="iconService.falPlusSquare"></fa-icon>
        </button>
        <button mat-stroked-button *ngIf="showAllPlayerBounties$|async" (click)="showAllPlayerBounties$.next(false)">
          <fa-icon [icon]="iconService.falMinusSquare"></fa-icon>
        </button>
      </div>
    </ng-template>
  </div>
  <div class="dashed-border">
    <div class="bounty-title-container">
      <div class="bounty-title">
        Sets For Sale
      </div>
      <div class="bounty-subtitle" *ngIf="char$|async as c">
        <a mat-button [routerLink]="['/vendors',c.id,'Bounties']">
          <fa-icon [icon]="iconService.farSearch"></fa-icon>
          See all
        </a>
      </div>
    </div>
    <div class="bounty-button-row loading-spinner"
      *ngIf="(vendorBountySets$|async).length==0 && vendorsLoading; else vendorsNotLoading">
      <fa-icon class="button-replacement fa-icon" [icon]="iconService.farSpinner" [spin]="true" size="2x"
        [fixedWidth]="true"></fa-icon>
    </div>
    <ng-template #vendorsNotLoading>
      <div class="bounty-button-row" *ngIf="vendorBountySets$|async as bs">
        <ng-container *ngFor="let b of bs; let i = index">
          <button mat-stroked-button (click)="showModalBountySet.emit(b)"
            [matBadgeSize]="(showAllVendorBounties$|async)?'small':'medium'" matBadgeColor=""
            *ngIf="i < BOUNTY_CUTOFF || (showAllVendorBounties$|async)" [matBadge]="b.bounties.length">
            {{b.tag| titlecase}}
          </button>
        </ng-container>
        <button mat-stroked-button *ngIf="!(showAllVendorBounties$|async) && bs.length > BOUNTY_CUTOFF"
          (click)="showAllVendorBounties$.next(true)">
          <fa-icon [icon]="iconService.falPlusSquare"></fa-icon>
        </button>
        <button mat-stroked-button *ngIf="showAllVendorBounties$|async" (click)="showAllVendorBounties$.next(false)">
          <fa-icon [icon]="iconService.falMinusSquare"></fa-icon>
        </button>
      </div>
    </ng-template>

  </div>
  <div class="dashed-border">
    <div class="bounty-title-container">
      <div class="bounty-title">
        Shopping List
      </div>
      <div class="bounty-subtitle" *ngIf="(shoppingList$|async).length>0">
        <a mat-button (click)="clearShoppingList.emit()">
          <fa-icon [icon]="iconService.farTimesSquare"></fa-icon>
          Clear All
        </a>
      </div>
    </div>
    <div class="bounty-button-row loading-spinner" 
      *ngIf="(vendorBountySets$|async).length==0 && vendorsLoading; else notShoppingListLoading">
      <fa-icon class="button-replacement fa-icon" [icon]="iconService.farSpinner" [spin]="true" size="2x"
        [fixedWidth]="true"></fa-icon>
    </div>
    <ng-template #notShoppingListLoading>
      <div class="bounty-button-row" *ngIf="vendorBountySets$|async as bs">
        <div *ngIf="(shoppingList$|async).length==0" class="button-replacement simple-caption-no-margin">
          Click on bounties for sale to add them here.
        </div>
        <div *ngFor="let i of shoppingList$|async" class="shopping-row">
          <div class="shopping-cell">
            <div class="shopping-icon" *ngIf="i.icon!=null"
              [style.background-image]="'url(//www.bungie.net' + i.icon + ')'">
            </div>
          </div>
          <div class="shopping-cell" class="shopping-list-vendor">
            <span [matTooltip]="i.desc" [class.shopping-done]="i.status=='Already held'">
              {{i.vendorItemInfo.vendor.name}} - {{i.name}}
            </span>
          </div>
          <div class="shopping-cell pointer" (click)="toggleVendorBounty.emit(i.hash)">
            <fa-icon [icon]="iconService.fasTimes"></fa-icon>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>