@import 'styles-variables';

.friend-icon{
  width: 32px;
  height: 32px;
  border-radius: 25%;
  background-size: cover;
  display: inline-block;
}

.icon-cell{
  width: 37px; 
  padding-left: 5px; 
  padding-right: 0em;
}

.searchField{
  width: 100px;
  margin-bottom: 10px;
  margin-right: 5px;
}

a:link {
  text-decoration: underline;
}

.body-text {
  width: auto;
  margin-left: auto; 
  margin-right: auto; 
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 800px;
}

.button-row {
  & button{  
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  & a{  
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }
}