<div class="childComponent">
  <div class="childVert">
    <div class="main">


      <h1>Friends</h1>
      <div class="info centerMe">
        <section class="body-2" style="text-align: left">To select friends, browse players on the site and click the 
            <fa-icon [icon]="iconService.farHeart" style="font-weight: normal !important"></fa-icon>
          so that it looks like this <span class="warn-text">
              <fa-icon [icon]="iconService.farHeart" style="font-weight: normal !important"></fa-icon></span>.
        </section>
        <div class="button-row">
          <a mat-button (click)="load()"><fa-icon [icon]="iconService.fasSyncAlt"></fa-icon> Refresh</a>
          <a mat-button (click)="showAllMilestones()" *ngIf="(hiddenMilestones|async).length>0">Show Hidden Milestones</a>
        </div>
      </div>
      <div class="center-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="(loading|async)===true || (modelPlayer==null && (members|async).length>0)"></mat-spinner>
      </div>
      <div class="body clan-body">
        <table class="responsive-table clan-table" *ngIf="(members|async)!=null && modelPlayer!=null">
          <thead>
            <tr>
              <th>
                Member
              </th>
              <ng-container *ngIf="modelPlayer!=null">
                <ng-container *ngFor="let mileStoneName of modelPlayer.milestoneList">
                  <th [matTooltip]="mileStoneName.desc" matTooltipClass="preserve-white-space" 
                    *ngIf="(hiddenMilestones|async).indexOf(mileStoneName.key)===-1">
                    {{mileStoneName.name}}
                    <span *ngIf="debugmode|async">{{mileStoneName.key}}</span>
                    <a href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
                      class="milestoneVisibilityButton" (click)="hideMilestone(mileStoneName.key)">
                      <fa-icon [icon]="iconService.falEyeSlash"></fa-icon>
                    </a>

                  </th>
                </ng-container>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members|async">
              <td class="lead">
                <a [routerLink]="['/',member.user.membershipType, member.user.membershipId]">
                  {{member.user.displayName}}
                </a>
                <a style="margin-left:0.25em" *ngIf="member.player==null" href="javascript:void(0)" (click)="loadPlayer(member)">
                  &ensp;<fa-icon [icon]="iconService.fasSync"></fa-icon>
                </a>
                <a style="margin-left:0.25em" [ngClass]="(favoritesMap|async)[storageService.getFavKey(member.user)]!==undefined?'warn-text':''"
                  (click)="storageService.toggleFav(member.user, member.bungieMembershipId)" href="javascript:void(0)">                  
                  <fa-icon [icon]="iconService.farTimes" style="font-weight: normal !important"></fa-icon>
                </a>

                <ng-container *ngIf="member.player!=null  && !member.player.superprivate">
                  <br>
                  <span class="simple-caption-no-margin">{{member.player.maxLL}}LL.
                    {{today| amDifference:member.player.profile.dateLastPlayed | amDuration:'ms'}} ago
                    <br>
                    {{member.player.triumphScore|number : '2.0-0'}} <fa-icon [icon]="iconService.falTrophy"></fa-icon>
                  </span>
                </ng-container>

              </td>

              <ng-container *ngIf="member.player!=null">

                <td *ngIf="member.player.characters!=null && member.player.characters.length>0 && member.player.characters[0].milestones==null"
                  [attr.colspan]="(modelPlayer.milestoneList).length">
                  Blocked by privacy settings
                </td>
                <ng-container *ngIf="member.player.characters!=null && member.player.characters.length>0 && member.player.characters[0].milestones!=null && modelPlayer!=null">
                  <ng-container *ngFor="let mileStoneName of modelPlayer.milestoneList">

                    <td *ngIf="(hiddenMilestones|async).indexOf(mileStoneName.key)===-1" class="clan-player-ms-cell"
                      [attr.data-label]="mileStoneName.name">

                      <span>
                        <a style="float: left" href="javascript:void(0)" matTooltip="Hide this milestone, click Show All to restore it later"
                          class="mobileVisibilityButton responsive-table-inline-mobile-only" (click)="hideMilestone(mileStoneName.key)">
                          <fa-icon [icon]="iconService.falEyeSlash"></fa-icon>
                        </a>
                      </span>
                      <ng-container *ngFor="let char of member.player.characters">
                        <d2c-milestone-check [char]="char" [mileStoneName]="mileStoneName" detailed="false"></d2c-milestone-check>
                      </ng-container>
                    </td>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="member.player==null && member.errorMsg==null && modelPlayer!=null">
                <ng-container *ngFor="let mileStoneName of modelPlayer.milestoneList">
                  <td *ngIf="(hiddenMilestones|async).indexOf(mileStoneName.key)===-1">...</td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="member.errorMsg!=null && modelPlayer!=null">
                <td colspan="0">
                  {{member.errorMsg}}
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    <div *ngIf="(disableAds|async)!==true" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="(disableAds|async)!==true" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>