@import 'styles-variables';
.info {
    max-width: 500px;
    margin-bottom: 20px;
}

.clan-player-ms-cell {
    min-width: 60px;
}

.clan-table {
    // max-width: 2000px !important;
}

.body {
    // max-width: 1200px;
    margin: 10px auto 0 auto;
    padding-bottom: 10px;
    font-size: 12px;
    z-index: 1;
}

table.clan-table {
    & td {
        white-space: nowrap;
    }
    & td.last-played {
        white-space: normal;
    }
}

.button-row {
    & button{  
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }
    & a{  
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
      text-decoration: none;
    }
  }

  
.mobileVisibilityButton{
    float: left;
    font-size: smaller;
    font-weight: lighter;
    margin-left: 4px;
  }
  
  