<div class="title-row">
    <div>
        <ng-container *ngIf="cntr">
            {{cntr+1}}.&ensp;
        </ng-container>
        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="t.complete && t.redeemed"
            class="accent-text mat-option.mat-selected"></fa-icon>

        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="t.complete && !t.redeemed"
            class="warn-text mat-option.mat-selected"></fa-icon>
        <fa-icon [icon]="iconService.farSquare" *ngIf="!t.complete"></fa-icon>
        <ng-container *ngIf="t.lowLinks==null || t.lowLinks.mapLink==null">
            {{t.name}} </ng-container>
        <a [href]="t.lowLinks.mapLink" *ngIf="t.lowLinks!=null && t.lowLinks.mapLink!=null" target="_blank"
            rel="noopener">
            {{t.name}}
            <fa-icon [icon]="iconService.farMapMarkerAlt" class="accent-text"></fa-icon>
        </a>
        <ng-container *ngIf="debugmode">{{t.hash}}</ng-container>
        <fa-icon [icon]="iconService.farStar" *ngIf="state.dTrackedTriumphIds[t.hash]!=true"
            (click)="state.trackTriumph(t)"></fa-icon>
        <fa-icon [icon]="iconService.fasStar" *ngIf="state.dTrackedTriumphIds[t.hash]==true" class="accent-text"
            (click)="state.untrackTriumph(t)"></fa-icon>
        <button *ngIf="hideOption" mat-icon-button (click)="state.hideClosestTriumph(t)" matTooltip="Hide this triumph from list">
            <fa-icon [icon]="iconService.fasEyeSlash"></fa-icon>
        </button>
        <br>
        <span class="simple-caption">
            <ng-container *ngFor="let p of t.path; index as i; last as isLast">
                <ng-container *ngIf="i>0">
                    <span class="fake-link" (click)="navigate.emit(p.hash)">{{p.path}}</span>
                    <ng-container *ngIf="debugmode">{{p.hash}} </ng-container>
                    <ng-container *ngIf="!isLast">
                        /
                    </ng-container>
                </ng-container>
            </ng-container>
        </span>
    </div>

    <div class="cv" *ngIf="t.contentVault && !t.complete"
        matTooltip="This Triumph will be vaulted next season, complete it now or never!">
        <fa-icon size="2x" [icon]="iconService.fasExclamationCircle" class="warn-text"></fa-icon>
    </div>
    <div class="cv" *ngIf="t.contentVault && t.complete"
        matTooltip="This Triumph will be vaulted next season, but you got it already! Nice!">
        <fa-icon size="2x" [icon]="iconService.fasCheckCircle" class="half-opacity"></fa-icon>
    </div>
</div>