<div class="title-row">
    <div>
        <ng-container *ngIf="cntr!=null">
            {{cntr+1}}.&ensp;
        </ng-container>
        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="t.complete && t.redeemed"
            class="accent-text mat-option.mat-selected"></fa-icon>

        <fa-icon [icon]="iconService.fasCheckSquare" *ngIf="t.complete && !t.redeemed"
            class="warn-text mat-option.mat-selected"></fa-icon>
        <fa-icon [icon]="iconService.farSquare" *ngIf="!t.complete"></fa-icon>
        {{t.name}}
        <ng-container *ngIf="t.lowLinks!=null">                      
            <a [href]="t.lowLinks.mapLink" class="triumph-icon" *ngIf="t.lowLinks.mapLink!=null && t.lowLinks.mapLink!=null" target="_blank" rel="noopener"> <fa-icon [icon]="iconService.farMapMarkerAlt" class="accent-text"></fa-icon> </a>
            <a [href]="t.lowLinks.loreLink" class="triumph-icon" *ngIf="t.lowLinks.loreLink!=null && t.lowLinks.loreLink.length>1" target="_blank" rel="noopener"> <fa-icon [icon]="iconService.fasBookSpells"></fa-icon></a>
            <a [href]="t.lowLinks.videoLink" class="triumph-icon" *ngIf="t.lowLinks.videoLink!=null && t.lowLinks.videoLink.length>1" target="_blank" rel="noopener"> <fa-icon [icon]="iconService.fabYoutube"></fa-icon></a>
          </ng-container>


        <ng-container *ngIf="debugmode">{{t.hash}}</ng-container>
        
        <fa-icon class="triumph-icon fake-link" [icon]="iconService.farStar" *ngIf="state.dTrackedTriumphIds[t.hash]!=true" (click)="state.trackTriumph(t)"></fa-icon>
        <fa-icon class="triumph-icon accent-text pointer" [icon]="iconService.fasStar" *ngIf="state.dTrackedTriumphIds[t.hash]==true" (click)="state.untrackTriumph(t)"></fa-icon>        
        <fa-icon class="triumph-icon" *ngIf="hideOption" (click)="state.hideClosestTriumph(t)" matTooltip="Hide this triumph from list" [icon]="iconService.fasEyeSlash"></fa-icon>
        <br>
        <span class="simple-caption">
            <ng-container *ngFor="let p of t.path; index as i; last as isLast">
                <ng-container *ngIf="i>0">
                    <span class="fake-link" (click)="navigate.emit(p.hash)">{{p.path}}</span>
                    <ng-container *ngIf="debugmode">{{p.hash}} </ng-container>
                    <ng-container *ngIf="!isLast">
                        /
                    </ng-container>
                </ng-container>
            </ng-container>
        </span>
    </div>
</div>