<span class="simple-caption">
  <span class="fake-link" *ngIf="pl!=null && Const.BOOSTS[pl]!=null" style="opacity: 0.75"
    (click)="sortClick.emit()"
    [matTooltip]="pl>0?Const.BOOSTS[pl].softCap+' soft cap. '+Const.BOOSTS[pl].hardCap+' hard cap.':'Problem with milestone'">
    {{rewards}}
    <ng-container *ngIf="pl>0">
      <ng-container *ngIf="Const.BOOSTS[pl].min == Const.BOOSTS[pl].max else diff">
        <ng-container *ngIf="Const.BOOSTS[pl].min>0">+</ng-container>{{Const.BOOSTS[pl].min}}
      </ng-container>
      <ng-template #diff>
        <ng-container *ngIf="Const.BOOSTS[pl].min>0">+</ng-container>{{Const.BOOSTS[pl].min}} to
        <ng-container *ngIf="Const.BOOSTS[pl].max>0">+</ng-container>{{Const.BOOSTS[pl].max}}
      </ng-template>
    </ng-container>
    <fa-icon *ngIf="sort=='rewardsDesc'" [icon]="iconService.falSortDown"></fa-icon>
    <fa-icon *ngIf="sort=='rewardsAsc'" [icon]="iconService.falSortUp"></fa-icon>
  </span>
</span>