<div class="privacy-content">
    <h1>Privacy Policy</h1>
    <p>
        The privacy of our visitors to D2Checklist is important to us for two big reasons. One: we have no interest in
        invading your privacy. Two: we don't want to break any laws, regulations, etc. In short D2Checklist: 
    </p>
    <ul>
        <li>Does not directly knowingly save any personally identifying information from users. Users logon directly via the (unaffiliated) Bungie API.</li>
        <li>Embeds ads in its pages similar to most other websites (within the terms clarified below)</li>
        <li>Uses Google Analytics to track site usage and improve services</li>
        <li>Is open source, with code hosted at https://github.com/dcaslin/d2-checklist/. Feel free to visit there to verify these claims (and please file a Github issue if you see any problems). The "master" branch is what is typically deployed to production.</li>
    </ul>
    <hr>
    <p> 
        This page is used to inform
        website
        visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone
        decided
        to
        use our Service, the d2checklist.com website.
    </p>
    <p>If you choose to use our Service, then you agree to the collection and use of information in relation with this
        policy. The Personal Information that we collect are used for providing and improving the Service. We will not
        use
        or
        share your information with anyone except as described in this Privacy Policy.</p>

    <h2>Information Collection and Use</h2>

    <p>For a better experience while using our Service, we may require you to provide us with certain personally
        identifiable information, including but not limited to your name, phone number, and postal address. The
        information
        that we collect will not be used to contact or identify you.</p>

    <h2>Log Data</h2>

    <p>We want to inform you that whenever you visit our Service, we collect information that your browser sends to us
        that
        is called Log Data. This Log Data may include information such as your computer’s Internet Protocol ("IP")
        address,
        browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those
        pages,
        and other statistics.</p>

    <h2>Cookies</h2>

    <p>Cookies are files with small amounts of data that are commonly used as an anonymous unique identifier. These are sent
        to
        your browser from the website that you visit and are stored on your computer’s hard drive.</p>

    <p>Our website uses these "cookies" to collection information and to improve our Service. You have the option to
        either
        accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse
        our
        cookies, you may not be able to use some portions of our Service.</p>

    <h2>Service Providers</h2>

    <p>We may employ third-party companies and individuals due to the following reasons:</p>

    <ul>
        <li>To facilitate our Service;</li>
        <li>To provide the Service on our behalf;</li>
        <li>To perform Service-related services; or</li>
        <li>To assist us in analyzing how our Service is used.</li>
    </ul>

    <p>We want to inform our Service users that these third parties have access to your Personal Information. The reason
        is
        to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the
        information for any other purpose.</p>

    <h2>Security</h2>

    <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially
        acceptable
        means of protecting it. But remember that no method of transmission over the internet, or method of electronic
        storage
        is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

    <h2>Links to Other Sites</h2>

    <p>Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that
        site.
        Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy
        Policy
        of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or
        practices of any third-party sites or services.</p>

    <strong>Children’s Privacy</strong>

    <p>Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable
        information
        from children under 13. In the case we discover that a child under 13 has provided us with personal information,
        we
        immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has
        provided us with personal information, please contact us so that we will be able to do necessary actions.</p>

    <h2>Changes to This Privacy Policy</h2>

    <p>
        We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any
        changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are
        effective
        immediately, after they are posted on this page.
    </p>

    <h2>Contact Us</h2>

    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to <a
            href="/cdn-cgi/l/email-protection#fd8d8f948b9c9e84bd91949a9589d39a9a">contact us</a>.</p>

    <div id="ccpa">
        <h2>For California Residents: CCPA Information</h2>
        <p>This Privacy Notice for California Residents supplements the information contained elsewhere in this Privacy
            Notice
            and applies solely to all visitors, users, and others who reside in the State of California (“consumers” or
            “you”).
            We adopt this notice to comply with the California Consumer Privacy Act of 2018 (CCPA) and any terms defined
            in
            the
            CCPA have the same meaning when used in this notice. </p>
        <h2>Rights and Choices</h2>
        <p>The CCPA provides consumers located in the state of California with certain rights regarding their personal
            information and data. The following section describes those rights and explains how to exercise them: </p>
        <h2>Access to Specific Information and Data Portability Rights</h2>
        <p>You have the right to request that the Company disclose certain information to you about our collection and
            use
            of
            your personal information over the past 12 months. Once we receive and confirm your verifiable consumer
            request
            (as
            described in the section “Exercising Access, Data Portability, and Deletion Rights”), we will disclose to
            you:
        </p>
        <ul>
            <li>The categories of personal information we collected about you.</li>
            <li>The categories of sources for the personal information we collected about you.</li>
            <li>Our business or commercial purpose for collecting or selling that personal information.</li>
            <li>The categories of third parties with whom we share that personal information.</li>
            <li>The specific pieces of personal information we collected about you (also called data portability
                request)
            </li>
            <li>
                If we sold or disclose your personal information for a business purpose, two separate lists disclosing:
                <ul>
                    <li>Sales, identifying the personal information categories that each category of recipient
                        purchased,
                        and </li>
                    <li>Disclosures for a business purpose, identifying the personal information categories that each
                        category of
                        recipient obtained </li>
                </ul>
            </li>
        </ul>
        <h2>Non-Discrimination</h2>
        <p>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we
            will
            not: </p>
        <ul>
            <li>Deny you goods or services.</li>
            <li>Charge you different prices or rates for goods or services, including through granting discounts or
                imposing
                penalties. </li>
            <li>Provide you a different level or quality of goods or services.</li>
            <li>Suggest that you may receive a different price or rate for goods or services or a different level of
                quality
                of
                goods or services. </li>
        </ul>
        <p>Any CCPA-permitted financial incentive we offer will reasonably relate to your value and contain written
            terms
            that
            describe the program’s material aspects. </p>
        <h2>Exercising Access, Data Portability, and Deletion Rights</h2>
        <p>To exercise the access, data portability, and deletion rights described above, please submit a verifiable
            consumer
            request to us by emailing us at destinychecklistnet at gmail.com</p>
        <p>Only you, or a person registered with the California Secretary of State that you authorize to act on your
            behalf,
            may make a verifiable consumer request related to your personal information. You may also make a verifiable
            consumer
            request on behalf of your minor child. </p>
        <p>You may only make a verifiable consumer request for access of data portability twice within a 12-month
            period.
            The
            verifiable consumer request must: </p>
        <ul>
            <li>Provide sufficient information that allows us to reasonably verify you are the person about whom we
                collected
                personal information or an authorized representative. </li>
            <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and
                respond to
                it.
            </li>
        </ul>
        <p>We cannot respond to your request or provide you with personal information if we cannot verify your identity
            or
            authority to make the request and confirm the personal information relates to you. </p>
        <p>Making a verifiable consumer request does not require you to create an account with us. We will only use
            personal
            information provided in a verifiable consumer request to verify the requestor’s identity or authority to
            make
            the
            request. </p>
        <h2>Information We Collect</h2>
        <p>Our websites, emails (with your consent, where required by law), and other products, services and platforms
            collect
            information that identifies, relates to, describes, references, is capable of being associated with, or
            could
            reasonably be linked, directly or indirectly, with a particular consumer or device (“personal information”).
            In
            particular, our websites, apps, emails, and other products, services and platforms may have collected the
            following
            categories of personal information from its consumers within the last twelve (12) months: </p>

        <table>
            <tr>
                <th style="width:50%">Category</th>
                <th>Collected</th>
            </tr>
            <tr>
                <td>A. Identifiers</td>
                <td>YES</td>
            </tr>
            <tr>
                <td> B. Personal information categories listed in the California Customer Records statute (Cal. Civ.
                    Code §
                    1798.80(e)) </td>
                <td>YES</td>
            </tr>
            <tr>
                <td>C. Protected classification characteristics under California or federal law</td>
                <td>NO</td>
            </tr>
            <tr>
                <td>D. Commercial information.</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>E. Biometric information.</td>
                <td>NO</td>
            </tr>
            <tr>
                <td>F. Internet or other similar network activity.</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>G. Geolocation data.</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>H. Sensory data.</td>
                <td>NO</td>
            </tr>
            <tr>
                <td>I. Professional or employment-related information.</td>
                <td>NO</td>
            </tr>
            <tr>
                <td>J. Inferences drawn from other personal information.</td>
                <td>YES</td>
            </tr>
        </table>

        <p>Personal information does not include:</p>
        <ul>
            <li>Publicly available information from government records.</li>
            <li>Deidentified or aggregated consumer information.</li>
            <li>
                Information excluded from the CCPA’s scope, like:
                <ul>
                    <li>health or medical information covered by the Health Insurance Portability and Accountability Act
                        of
                        1996
                        (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial
                        data;
                    </li>
                    <li>personal information covered by certain sector-specific privacy laws, including the Fair Credit
                        Reporting
                        Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act
                        (FIPA), and the
                        Driver’s Privacy. </li>
                </ul>
            </li>
        </ul>
        <h2>Use of Personal Information</h2>
        <p>We may use or disclose the personal information we collect for one or more of the following business
            purposes:
        </p>
        <ul>
            <li>To fulfill or meet the reason you provided the information. For example, if you share your name and
                contact
                information to request a newsletter or ask a question about our products or services, we will use that
                personal
                information to respond to your inquiry. If you provide your personal information to purchase a product
                or
                service,
                we or our third-party service providers will use that information to process your payment and facilitate
                delivery.
                We may also save your information to facilitate new product or service orders and requests. </li>
            <li>To provide, support, personalize, and develop our websites, emails, and other products, services and
                platforms.
            </li>
            <li>To create, maintain, customize, and secure your account with us.</li>
            <li>To process your requests, purchases, transactions, and payments and prevent transactional fraud.</li>
            <li>To provide you with support and to respond to your inquiries, including investigating and addressing
                your
                concerns and monitoring and improving our responses. </li>
            <li>To personalize your website, apps, emails, or other product, service or platform experience and to
                deliver
                content and product and service offerings relevant to your interests, including targeted offers and ads
                through
                our websites, apps, emails, and other products, services and platforms. </li>
            <li>To help maintain the safety, security, and integrity of our websites, apps, emails, and other products,
                services
                and platforms, databases and other technology assets, and business. </li>
            <li>For testing, research, analysis, and product development, including to develop and improve our websites,
                apps,
                emails, and other products, services and platforms. </li>
            <li>To respond to law enforcement requests and as required by applicable law, court order, or governmental
                regulations. </li>
            <li>As described to you when collecting your personal information or as otherwise set forth in the CCPA.
            </li>
            <li>To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale
                or
                transfer of some or all of the Company’s assets, whether as a going concern or as part of bankruptcy,
                liquidation,
                or similar proceeding, in which personal information held by the Company about our Website users is
                among
                the
                assets transferred. </li>
        </ul>
        <p>The Company will not collect additional categories of personal information or use the personal information we
            collected for materially different, unrelated, or incompatible purposes without providing you notice. </p>
        <h2>Sharing Personal Information</h2>
        <p>The Company may disclose your personal information to a third-party for a business purpose or sell your
            personal
            information, subject to your right to opt-out of those sales (see ‘Sales of Personal Information’ below).
            When
            we
            disclose personal information for a business purpose, we enter a contract that describes the purpose and
            requires
            the recipient to both keep that personal information confidential and not use it for any purpose except
            performing
            the contract. The CCPA prohibits third parties who purchase the personal information we hold from reselling
            it
            unless you have received explicit notice and an opportunity to opt-out of further sales (see ‘Sales of
            Personal
            Information’ below). </p>
        <p>We may share your personal information with the following categories of third parties:</p>
        <ul>
            <li>Subsidiaries and affiliates.</li>
            <li>Contractors and service providers.</li>
            <li>Data aggregators.</li>
            <li>Third parties with whom we partner to offer products and services to you.</li>
        </ul>
        <h2>Disclosures of Personal Information for a Business Purpose</h2>
        <p>In the preceding twelve (12) months, the Company has disclosed the following categories of personal
            information
            for
            a business purpose: </p>
        <ul>
            <li>[Category A: Identifiers.]</li>
            <li>[Category B: California Customer Records personal information categories.]</li>
            <li>[Category F: Internet or other similar network activity.]</li>
            <li>[Category G: Geolocation Data.]</li>
            <li>[Category K: Inferences drawn from other personal information.]</li>
        </ul>
        <h2>Sales of Personal Information</h2>
        <p>In the preceding twelve (12) months, the Company has sold the following categories of personal information
            collected through our ad-supported services: </p>
        <ul>
            <li>[Category A: Identifiers.]</li>
            <li>[Category F: Internet or other similar network activity.]</li>
            <li>[Category G: Geolocation Data.]</li>
            <li>[Category K: Inferences drawn from other personal information.]</li>
        </ul>
        <p>The Company and our advertising partners collect the personal information identified above (such as the
            cookies
            stored on your browser, the advertising identifier on your mobile device, or the IP address of your device)
            when
            you
            visit our websites, apps, and other products, services and platforms, or open our emails. We, and our
            partners,
            use
            this information to tailor and deliver ads to you on our websites, apps, emails, and other products,
            services
            and
            platforms, or to help tailor ads to you when you visit others’ sites (or use others’ apps). To tailor ads
            that
            may
            be more relevant to you, we and/or our partners may share the information we collect with third parties.</p>

    </div>