<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
    <div>
        <mat-checkbox [(ngModel)]="parent.highlightAllPerks" (change)="parent.updateHighlightAllPerks()">Always highlight god-roll perks</mat-checkbox>
    </div>
    <hr>
    <div>
        <mat-form-field class="gist-url-container">
            <input matInput name="override-wishlist-url" [(ngModel)]="tempWishlistPveOverrideUrl"
                placeholder="PvE Wishlist URL">
        </mat-form-field><br>
        <mat-form-field class="gist-url-container">
            <input matInput name="override-wishlist-url" [(ngModel)]="tempWishlistPvpOverrideUrl"
                placeholder="PvP Wishlist URL">
        </mat-form-field>
        <button
            [disabled]="parent.wishlistOverridePveUrl==tempWishlistPveOverrideUrl && parent.wishlistOverridePvpUrl==tempWishlistPvpOverrideUrl"
            (click)="parent.updateWishlistOverrideUrl(tempWishlistPveOverrideUrl, tempWishlistPvpOverrideUrl)"
            mat-button>Apply</button>
        <button [disabled]="parent.wishlistOverridePveUrl==null && parent.wishlistOverridePvpUrl==null"
            (click)="parent.updateWishlistOverrideUrl(null, null)" mat-button>Reset</button>
        <div class="simple-caption">
            You can add multiple URLs by seperating with a | symbol. Page will refresh on successful change.
        </div>
    </div>
</mat-dialog-content>