.list-icon {
    display: inline-block;
    box-sizing: content-box;
    width: 48px;
    height: 48px;
  }
  
  .reward-icon {
    background-color: #636363;
    width: 22px;
    height: 22px;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .check-col {
    width: 100px;
  }
  
  .check-col {
    width: 32px;
    vertical-align: middle !important;
  }
  .uber-icon-col {
    width: 64px;
  }
  
  .flex-row>div {
    margin: 5px;
  }
  
  
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-column>* {
    margin: 5px;
  }
  
  .filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .limited-width {
    max-width: 175px;
  }
  
  .activity-col {
    max-width: 150px;
  }
  
  .hide-mobile-inline {
    display: none;
    visibility: hidden;
  }
  
  .hide-mobile-block {
    display: none;
    visibility: hidden;
  }
  
  .mobile-only-inline {
    display: inline;
    visibility: visible;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .hide-mobile-table-cell {
    display: none;
    visibility: hidden;
  }
  
  .sorta-hide-mobile-table-cell {
    display: none;
    visibility: hidden;
  }
  
  
  .mobile-only-inline {
    display: inline;
    visibility: visible;
  }
  
  .mobile-only-block {
    display: inline;
    visibility: visible;
  }
  
  .mobile-only-table-cell {
    display: table-cell;
    visibility: visible;
  }
  
  @media screen and (min-width: 1200px) {
    .filter-container {
      min-width: 1100px;
    }
  
    .hide-mobile-inline {
      display: inline;
      visibility: visible;
    }
  
    .hide-mobile-block {
      display: block;
      visibility: visible;
    }
    .mobile-only-inline {
      display: none;
      visibility: hidden;
    }
    .mobile-only-block {
      display: none;
      visibility: hidden;
    }
    .sorta-mobile-only-block {
      display: none;
      visibility: hidden;
    }
    .hide-mobile-table-cell {
      display: table-cell;
      visibility: visible;
    }
    .mobile-only-table-cell {
      display: none;
      visibility: hidden;
    }
  }
  
  .wildcard-filter {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 700px;
    flex-grow: 1;
  }
  
  
  .filter-row {
    display: flex;
    flex-direction: row; 
    align-items: center;
  }
  
  .loading-indicator {
    margin-left: 5px;
    font-size: 14px;
    line-height: 0px;
  }

  .char-cell {
    text-align: center !important;
  }
  
  .gear-sort {
    white-space: nowrap;
    font-weight: 500;
  }