.stat-chip-list {
  max-width: 500px;
}

.stat-chip {
  padding: 5px;
  border-radius: 12px;
  margin-bottom: 5px !important;
  display: inline-block;
}

.player-header-image {
  background-size: cover;
}

.char-card {
  margin-bottom: 10px;
  text-align: left;
}

.dl-child {
  margin-right: 10px;
  margin-bottom: 0px;
}

.dl-row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
}

.mat-chip {
  margin-bottom: 5px;
}
