<span class="fake-link no-wrap" [class.unselected]="field!=currVal" [class.accent-text]="field==currVal" (click)="sortClicked()">
    <span class="break-word space"><ng-content></ng-content></span>
    <fa-icon *ngIf="field==currVal && descending" [icon]="iconService.fadSortDown" [rotate]="$any('270')"></fa-icon>
    <fa-icon *ngIf="field==currVal && !descending" [icon]="iconService.fadSortUp" [rotate]="$any('270')"></fa-icon>
    <fa-icon *ngIf="field!=currVal" [icon]="iconService.fadSort" [rotate]="$any('270')"></fa-icon>    
</span>