<ng-container *ngIf="state.player|async as player">
  <h4 class="triumph-score">Seasons
    <mat-checkbox class="hide-complete-triumphs" [(ngModel)]="state.hideCompleteTriumphs">
      Hide Completed
    </mat-checkbox>
  </h4>
  <div class="left" style="margin: 10px">
    <mat-form-field style="min-width: 250px">
      <mat-label>Season</mat-label>
      <mat-select [(ngModel)]="seasonIndex">
        <mat-option [value]="i" *ngFor="let c of player.seasons; let i = index">{{c.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="simple-caption">
      {{player.seasons[seasonIndex].records.length}} triumphs
    </span>
    <div>
      <table class="responsive-table">
        <tbody>
          <ng-container *ngFor="let t of player.seasons[seasonIndex].records">

            <tr *ngIf="t==null">
              <td>Triumph missing for now</td>
            </tr>
            <tr *ngIf="t!=null && (!state.hideCompleteTriumphs || !t.complete)">
              <td class="lead" data-label="">
                <ng-container *ngIf="t.lowLinks==null || t.lowLinks.mapLink==null">
                  {{t.name}} </ng-container>
                <a [href]="t.lowLinks.mapLink" *ngIf="t.lowLinks!=null && t.lowLinks.mapLink!=null" target="_blank"
                  rel="noopener">
                  {{t.name}}
                  <fa-icon [icon]="iconService.farMapMarkerAlt" class="accent-text"></fa-icon>
                </a>
                <ng-container *ngIf="debugmode|async">{{t.hash}}</ng-container>
                <fa-icon [icon]="iconService.farStar" *ngIf="state.dTrackedTriumphIds[t.hash]!=true" (click)="state.trackTriumph(t)"></fa-icon>                
                <fa-icon [icon]="iconService.fasStar" *ngIf="state.dTrackedTriumphIds[t.hash]==true" class="accent-text" (click)="state.untrackTriumph(t)"></fa-icon>
                <br>
                <span class="simple-caption">
                  <ng-container *ngFor="let p of t.path; index as i; last as isLast">
                    <ng-container *ngIf="i>0">
                      <a href="javascript:void(0)" [routerLink]="['..', 'tree', p.hash]">{{p.path}}</a>
                      <ng-container *ngIf="debugmode|async">{{p.hash}} </ng-container>
                      <ng-container *ngIf="!isLast">
                        /
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </span>
              </td>
              <td class="left" data-label="">
                {{t.percent}}%
                <mat-progress-bar class="low-hanging-node-prog" mode="determinate" [value]="t.percent">
                </mat-progress-bar>
              </td>

              <td class="left" data-label="">
                {{t.score}} pts
              </td>

              <td class="left" data-label="">
                <d2c-triumph-objectives [triumph]="t"></d2c-triumph-objectives>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>
  </div>
</ng-container>