<ng-container *ngIf="state.player|async as player">
  <h4 class="triumph-score">Seasons</h4>
  <div class="left" style="margin: 10px">
    <mat-form-field style="min-width: 250px">
      <mat-label>Season</mat-label>
      <mat-select [(ngModel)]="seasonIndex">
        <mat-option [value]="i" *ngFor="let c of player.seasons; let i = index">{{c.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="simple-caption">
      {{player.seasons[seasonIndex].records.length}} triumphs
    </span>
    <div>
      <table class="responsive-table">
        <tbody>
          <ng-container *ngFor="let t of player.seasons[seasonIndex].records">
            <tr>
              <td class="lead" data-label="">
                <ng-container *ngIf="t.lowLinks==null || t.lowLinks.mapLink==null">
                  {{t.name}} </ng-container>
                <a [href]="t.lowLinks.mapLink" *ngIf="t.lowLinks!=null && t.lowLinks.mapLink!=null" target="_blank"
                  rel="noopener">
                  {{t.name}}
                  <i class='accent-text far fa-map-marker-alt'></i>
                </a>
                <ng-container *ngIf="debugmode|async">{{t.hash}}</ng-container>
                <i *ngIf="state.dTrackedTriumphIds[t.hash]!=true" class="far fa-star" (click)="trackTriumph(t)"></i>
                <i *ngIf="state.dTrackedTriumphIds[t.hash]==true" class="fas fa-star accent-text"
                  (click)="untrackTriumph(t)"></i>

                <br>
                <span class="simple-caption">
                  <ng-container *ngFor="let p of t.path; index as i; last as isLast">
                    <ng-container *ngIf="i>0">
                      <a href="javascript:void(0)" [routerLink]="['..', 'tree', p.hash]">{{p.path}}</a>
                      <ng-container *ngIf="debugmode|async">{{p.hash}} </ng-container>
                      <ng-container *ngIf="!isLast">
                        /
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </span>
              </td>
              <td class="left" data-label="">
                {{t.percent}}%
                <mat-progress-bar class="low-hanging-node-prog" mode="determinate" [value]="t.percent">
                </mat-progress-bar>
              </td>

              <td class="left" data-label="">
                {{t.score}} pts
              </td>

              <td class="left" data-label="">
                <div class="low-hanging-desc">{{t.desc}}</div>
                <div class="low-hanging-desc" *ngFor="let o of t.objectives">
                  <span class="simple-caption">
                    <i *ngIf="o.complete" class="accent-text mat-option.mat-selected fas fa-check-square"></i>
                    <i *ngIf="!o.complete" class="far fa-square"></i>
                    {{o.progress}}/{{o.completionValue}} {{o.progressDescription}}
                  </span>
                  <mat-progress-bar class="pres-node-prog" mode="determinate"
                    [value]="o.progress*100/o.completionValue"></mat-progress-bar>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>
  </div>
</ng-container>