<ng-container *ngIf="!state.hidden">
    <button mat-button class="toggle-button" [matMenuTriggerFor]="menu" [class.warn-text]="!state.allSelected">
      <fa-icon *ngIf="state.config.icon" [icon]="state.config.icon"></fa-icon>
      <i *ngIf="state.config.iconClass" [class]="state.config.iconClass"></i>
      <span class="hide-mobile-inline">&ensp;{{state.config.title}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!state.allSelected" mat-menu-item (click)="selectAll()">
        <fa-icon [icon]="iconService.fasTimes"></fa-icon>
        Clear Filter
      </button>
      <a *ngFor="let choice of state.choices" mat-menu-item (click)="exclusiveSelect(choice)">
        <mat-checkbox [(ngModel)]="choice.value" (click)="select($event, choice); false"></mat-checkbox>
        {{choice.display}}
      </a>
    </mat-menu>
</ng-container>