<mat-dialog-content>
    <mat-tab-group>
        <mat-tab [label]="char.char.className+' - '+char.char.light" *ngFor="let char of chars">
            <div>
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>
                                <a href="https://www.reddit.com/r/destinychecklistnet/comments/ihku2a/d2checklist_new_feature_armor_season_mod_breakdown/"
                                    matTooltip="User guide" target="_blank" rel="noopener">
                                    <fa-icon [icon]="iconService.fasQuestionCircle"></fa-icon>
                                </a>
                            </th>
                            <th>Helmet</th>
                            <th>Arms</th>
                            <th>Chest</th>
                            <th>Legs</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="char._seasons|async as seasons">
                            <tr *ngFor="let season of seasons">
                                <td>
                                    <d2c-season-indicator [season]="season.season"></d2c-season-indicator> {{season.name}}
                                    <div *ngIf="season.note" class="simple-caption">{{season.note}}</div>
                                </td>
                                <td *ngFor="let bucket of season.buckets" [attr.data-label]="bucket.name">
                                    <div class="bucket-body">
                                        <div class="bucket-total">
                                            <span (click)="showBundle(bucket.all)" class="fake-link">{{bucket.all.keep}}
                                                / {{bucket.all.items.length}}</span>
                                        </div>
                                        <div class="bucket-energies">
                                            <div class="bucket-energy">
                                                <!-- <fa-icon [icon]="iconService.fasBolt" class="arc-text"
                                                    [fixedWidth]="true">
                                                </fa-icon> -->
                                                <span (click)="showBundle(bucket.arc)"
                                                    class="arc-text fake-link">{{bucket.arc.keep}} /
                                                    {{bucket.arc.items.length}}</span>
                                            </div>
                                            <div class="bucket-energy">
                                                <!-- <fa-icon [icon]="iconService.fasBolt" class="solar-text"
                                                    [fixedWidth]="true">
                                                </fa-icon> -->
                                                <span (click)="showBundle(bucket.solar)"
                                                    class="solar-text fake-link">{{bucket.solar.keep}} /
                                                    {{bucket.solar.items.length}}</span>
                                            </div>
                                            <div class="bucket-energy">
                                                <!-- <fa-icon [icon]="iconService.fasBolt" class="void-text"
                                                    [fixedWidth]="true">
                                                </fa-icon> -->
                                                <span (click)="showBundle(bucket.void)"
                                                    class="void-text fake-link">{{bucket.void.keep}} /
                                                    {{bucket.void.items.length}}</span>
                                            </div>
                                            <div class="bucket-energy">
                                                <!-- <fa-icon [icon]="iconService.fasBolt" class="void-text"
                                                    [fixedWidth]="true">
                                                </fa-icon> -->
                                                <span (click)="showBundle(bucket.stasis)"
                                                    class="stasis-text fake-link">{{bucket.stasis.keep}} /
                                                    {{bucket.stasis.items.length}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

        </mat-tab>
        <mat-tab label="Materials">
            <div class="mats-layout">
                <table class="simple-table mats-table" *ngIf="mats">
                    <tr>
                        <th colspan="3">Mats Held</th>
                    </tr>
                    <tr *ngFor="let mat of mats">
                        <td>
                            <span *ngIf="mat.displayProperties.icon!=null" class="mat-icon" 
                                [style.background-image]="'url(//www.bungie.net' + mat.displayProperties.icon + ')'">
                            </span>
                        </td>
                        <td>
                            {{mat.displayProperties.name}} 
                        </td>
                        <td>
                            {{mat.total}}
                        </td>
                    </tr>
                </table>

                <table class="simple-table mats-table" >
                    <tr>
                        <th>Lvl</th><th>Cost</th>                        
                    </tr>
                    <tr><td>6</td><td>1 core</td></tr>
                    <tr><td>7</td><td>2 cores</td></tr>
                    <tr><td>8</td><td>1 prism</td></tr>
                    <tr><td>9</td><td>2 prisms</td></tr>
                    <tr><td>10</td><td>1 asc shard (3 exotic)</td></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>