<mat-dialog-content>
    <mat-tab-group>
        <mat-tab [label]="char.char.className+' - '+char.char.light" *ngFor="let char of chars">
            <div>
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th class="lead">
                                <a href="https://www.reddit.com/r/destinychecklistnet/comments/ihku2a/d2checklist_new_feature_armor_season_mod_breakdown/"
                                    matTooltip="User guide" target="_blank" rel="noopener">
                                    <fa-icon [icon]="iconService.fasQuestionCircle"></fa-icon>
                                </a>
                            </th>
                            <th>Helmet</th>
                            <th>Arms</th>
                            <th>Chest</th>
                            <th>Legs</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="char._seasons|async as seasons">
                            <tr *ngFor="let season of seasons">
                                <td  class="lead">
                                    <d2c-season-indicator [season]="season.season"></d2c-season-indicator> {{season.name}}
                                    <div *ngIf="season.note" class="simple-caption">{{season.note}}</div>
                                </td>
                                <td *ngFor="let bucket of season.buckets" [attr.data-label]="bucket.name">
                                    <div class="bucket-body">
                                        <div class="bucket-total">
                                            <span (click)="showBundle(bucket.all)" class="fake-link">{{bucket.all.keep}}
                                                / {{bucket.all.items.length}}</span>
                                        </div>                                        
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </mat-tab>   
    </mat-tab-group>
</mat-dialog-content>