@import 'styles-variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.mat-select{
      margin-top: -7px;
 }
  
 .ll{
   float: right;
 }

.notes{
  text-align: left; 
  max-width: 700px;
}

.body-text {
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}

.searchField{
  margin-bottom: 10px;
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
      width: auto;
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {


  .body-text {
    width: auto;
  }
}

.mat-chip{
  margin-bottom: 5px;
}