@import 'styles-variables';

.grid-parent{
  display: grid;
  
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-column-gap: 10px;
   grid-row-gap: 10px;
  //margin:1em 0;
  grid-auto-flow: row dense;
}


// .mat-select{
//       margin-top: -7px;
//  }
  
 .ll{
   float: right;
 }

 .lighter{
   opacity: .6;
 }

 .activity-icon{
  //  width: 19px;
  //  height: 19px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  display: inline-block;
}

 
.modifier-chip{
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
::ng-deep .mat-card-header-text{
  text-align: left;
}

::ng-deep .mat-card-subtitle {
  margin-bottom: 0px !important;
}

::ng-deep .mat-list-item-content{
  text-align: left;
}

.more-info{
  text-align: left; 
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.button-replacement {
  margin-left: 21px !important;
}

.loading-spinner {
  margin: 20px !important;
}

.bounty-button-row {
  margin-top: 15px !important;
  text-align: left;
  & button{  
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  & a{  
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }
}


.info{
  //max-width: 700px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.bounties-card {
  // max-width: 600px;
  // margin-right: auto;
  // margin-left: auto;
}

.bounty-title-container {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 16px;
}

.bounty-title {
  font-size: 18px;
  font-weight: 500;
}

.bounty-subtitle {
  margin-left: 20px;
  font-size: smaller;
  font-weight: 400;

}

.info-section{
  text-align: left;
}

a.underline:link {
  text-decoration: underline;
}

.home-button-row{
  text-align: center; 
  // max-width: 700px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.home-button{
  margin-bottom: 5px;
}

.spacer{
  width:5px;
  height:auto;
  display:inline-block;
}

.mat-card{
  margin-bottom: 20px;
}

.nf-card-avatar {
  width: 106.6666666666667px;
  height: 60px;
  flex-shrink: 0;
  background-size: cover;
  border-radius: 0%;
}

.invert{
  filter: invert(50%);
}

.brighten{
  filter: brightness(1.8);
}

.nf-sub {
  margin-top: 5px !important;
  margin-left: 0.5em !important;
}

.fa-icon {
  opacity: 0.5;
  margin-left: 0.25em;
}

.icon{
  height: 24px;
  width: 24px;  
  margin-right: 10px;
  background-size: cover;
  display: block;
}

.list-icon{  
  background-size: cover;
  display: block;
}

.shopping-row {
  display: flex;
  flex-direction: row;
  align-items: center

}

.shopping-cell {
  padding: 4px;
}

.shopping-done {
  text-decoration: line-through;
}


.shopping-icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
  font-size: 24px;
  box-sizing: content-box;
}


.forge-icon {
  border-radius: 0px !important;
}


dl{
  margin-left: 20px;
}

.main{
  width: 100%;
}


.searchRow{
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}

.searchField{
  margin-bottom: 10px;
}

.searchPlatform{
  width: 75px;
  margin-right: 10px;
}

.searchGt{
  width: 125px;
  margin-right: 10px;
}