@import 'styles-variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}


.mat-select{
      margin-top: -7px;
 }
  
 .ll{
   float: right;
 }

.char-card{
  margin-bottom: 10px;
}
    
.body-text {
  margin: 20px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}

.player-header-image {
  background-size: cover;
}

.searchField{
  margin-bottom: 10px;
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
      width: auto;
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {


  .body-text {
    width: auto;
    margin: 40px auto 0 auto;
  }
}


