<div class="container-fluid">
  <h1>Coming Soon!</h1>
  <div class="body-text" [ngClass]="animateOnRouteEnter">
    <section class="mat-body-2">
      Hello! I'll add functionality out to this as I can in the coming days weeks. I aim to serve the same needs that 
      helped folks with Destiny 1 at <a href="https://www.destinychecklist.net">DestinyChecklist.net</a>.
      Main goals to start will be: 
      <br><br>
      <ul>
          <li>Checking on your and your friend's progress, rewards and copmletions</li>
          <li>Supporting clan tracking and rewards</li>
          <li>Helping you progress in PvE</li>
      </ul>
  </section>
    </div>
</div>
