<div class="childComponent mat-typography">
  <div class="childVert">
    <div class="main">
      <div [ngClass]="animateOnRouteEnter">
        <div class="centerMe">
          <div *ngIf="debugmode" style="margin-bottom: 25px; text-align: left">
            Version: {{version}}<br>
            Manifest: {{manifestVersion}}
          </div>
          <div class="searchRow">
            <mat-form-field class="searchField searchPlatform">
              <mat-select [(ngModel)]="selectedPlatform" placeholder="Platform" (selectionChange)="onPlatformChange()">
                <mat-select-trigger>
                  <i [ngClass]="selectedPlatform.iconClass"></i>&ensp;{{selectedPlatform.name }}
                </mat-select-trigger>
                <mat-option *ngFor="let p of platforms" [value]="p">
                  <i [ngClass]="p.iconClass"></i>&ensp;{{ p.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="searchField searchGt" class="gt">
              <input matInput placeholder="Gamer tag" [(ngModel)]="gamerTag" (keyup.enter)="routeSearch()"
                (change)="onGtChange()">
            </mat-form-field>
            <button mat-mini-fab color="primary searchField" (click)="routeSearch()" color="primary">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>

        <div class="home-button-row">
          <a mat-raised-button class="home-button" color="accent" [ngClass]="animateOnRouteEnter" target="_blank"
            href="https://amzn.to/2S6jAuf">
            <i class="fab fa-amazon"></i> Order Forsaken Annual Pass
          </a>
          <div class="spacer"></div>
          <a mat-raised-button class="home-button" color="primary" [ngClass]="animateOnRouteEnter" target="_blank"
            href="https://imgur.com/a/dUlLzny">
            <i class="fas fa-video"></i> Video tutorials
          </a>
        </div>
        <div class="center-spinner" *ngIf="loading===true">
            <mat-spinner class="loading" class="center-spinner"></mat-spinner>
          </div>    
        <div class="grid-parent" *ngIf="today!=null" width="100%">
          <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <a href="https://www.reddit.com/r/DestinyTheGame/comments/9t16yz/list_of_heroic_story_missions_from_fastest_to/"
                    class="underline" target="_blank" rel="noopener">
                    Daily Missions</a></mat-card-title>
                <mat-card-subtitle>
                  Complete 3 in a week for a powerful drop
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list role="list">
                  <mat-list-item *ngFor="let m of today.missions">
                    <span *ngIf="m.time<100" class="simple-caption-no-margin right-margin">{{m.time}} mins</span>
                    {{m.name}}
                    <ng-container *ngIf="debugmode">[{{m.hash}}]</ng-container>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="today.week!=null">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Dreaming City</mat-card-title>
                <mat-card-subtitle>Powerful weekly drops from T4 Blind Well, Petra's Weekly bounties and the Ascendant
                  Challenge</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-list-item>
                    <span class="simple-caption-no-margin right-margin">Ascendent Challenge</span>
                    <a [href]="today.week.ascendantVideo" target="_blank" rel="noopener">
                      {{today.week.ascendantChallenge}} <i class="accent-text fab fa-youtube"></i>
                    </a>
                  </mat-list-item>
                  <mat-list-item><span class="simple-caption-no-margin right-margin">Location</span>
                    {{today.week.location}}</mat-list-item>
                  <mat-list-item><span class="simple-caption-no-margin right-margin">Curse Strength</span>
                    {{today.week.curseStrength}}</mat-list-item>
                  <mat-list-item *ngIf="today.week.curseStrength=='Strong'">
                    <a href="https://www.youtube.com/watch?v=_lKQBwKfnnc" target="_blank" rel="noopener">
                      Shattered Throne Active <i class="accent-text fab fa-youtube"></i>
                    </a>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Flashpoint: {{today.flashpoint}}</mat-card-title>
              </mat-card-header>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Nightfalls</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list role="list">
                  <mat-list-item *ngFor="let n of today.nightfalls">

                    <span class="icon invert" [style.background-image]="'url(//www.bungie.net' + n.icon + ')'"></span>

                    {{n.name}}
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Reckoning Modifiers</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list role="list">
                  <mat-list-item *ngFor="let b of today.reckBurns" [matTooltip]="b.desc">
                    <span class="icon invert" [style.background-image]="'url(//www.bungie.net' + b.icon + ')'"></span>
                    {{b.name}}
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Heroic Modifiers</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list role="list">
                  <mat-list-item *ngFor="let b of today.burns" [matTooltip]="b.desc">
                    <span class="icon invert" [style.background-image]="'url(//www.bungie.net' + b.icon + ')'"></span>
                    {{b.name}}
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>

          <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Escalation Protocol</mat-card-title>
                <mat-card-subtitle>Complete all 7 waves for a chance at a weapon drop</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-list-item><span class="simple-caption-no-margin right-margin">Boss</span>
                    <a [href]="today.week.epVideo" target="_blank" rel="noopener">
                      {{today.week.escalationProtocolBoss}} <i class="accent-text fab fa-youtube"></i>
                    </a>
                  </mat-list-item>
                  <mat-list-item><span class="simple-caption-no-margin right-margin">Weapon</span>
                    {{today.week.escalationProtocolWeapon}}</mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row info" *ngIf="debugmode">
          <div class="d-block d-sm-none">XS</div>
          <div class="d-none d-sm-block d-md-none">SM</div>
          <div class="d-none d-md-block d-lg-none">MD</div>
          <div class="d-none d-lg-block d-xl-none">LG</div>
          <div class="d-none d-xl-block">XL</div>
        </div>
        <div class="home-button-row">
          <button *ngIf="!showMoreInfo" mat-raised-button (click)="showMoreInfo=true">
            <i class="fal fa-eye"></i> Show Detailed Milestones
          </button>
          <button *ngIf="showMoreInfo" mat-raised-button (click)="showMoreInfo=false">
            <i class="fal fa-eye-slash"></i> Hide Detailed Milestones
          </button>
        </div>

        <div *ngIf="showMoreInfo && today!=null" class="more-info">
          <mat-card *ngFor="let ms of today.publicMilestones">
            <mat-card-header>

              <div *ngIf="ms.icon!=null" mat-card-avatar class="transparent-icon"
                [style.background-image]="'url(//www.bungie.net' +  ms.icon  + ')'"></div>
              <mat-card-title>{{ms.name}} <ng-container *ngIf="ms.summary!=null">: {{ms.summary}}</ng-container> <span
                  class="accent-text" *ngIf="ms.rewards!=null">&emsp;{{ms.rewards}}</span><span *ngIf="debugmode">
                  {{ms.hash}}</span></mat-card-title>
              <mat-card-subtitle>
                <span class="d-none d-md-inline">{{ms.desc}}</span> Resets {{ms.end|date:'short'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="ms.summary==null">


              <ng-container *ngFor="let aggAct of ms.aggActivities; last as isLastAct">
                <h3>
                  {{aggAct.activity.name}}
                  <span *ngFor="let ll of aggAct.lls; last as isLast">{{ll}}
                    <ng-container *ngIf="!isLast"> - </ng-container>
                  </span>
                  <span *ngIf="debugmode"> {{aggAct.activity.hash}}</span>
                </h3>
                <p class="caption" *ngFor="let ch of aggAct.activity.challenges">
                  {{ch.name}} - {{ch.desc}} Requires: {{ch.completionValue}} {{ch.progressDescription}}
                </p>
                <ng-container *ngIf="aggAct.activity.modifiers!=null && aggAct.activity.modifiers.length>0">
                  <h4 class="lighter">Modifiers</h4>
                  <dl>
                    <ng-container *ngFor="let m of aggAct.activity.modifiers">
                      <dt class="lighter">{{m.name}}</dt>
                      <dd>
                        {{m.desc}} <span *ngIf="debugmode"> {{m.hash}}</span>
                      </dd>
                    </ng-container>
                  </dl>
                </ng-container>
                <ng-container *ngIf="aggAct.activity.loadoutReqs!=null && aggAct.activity.loadoutReqs.length>0">
                  <h4 class="lighter">Loadout Requirements</h4>
                  <dl>

                    <ng-container *ngFor="let lreq of aggAct.activity.loadoutReqs">
                      <dt class="lighter">{{lreq.equipmentSlot}}</dt>
                      <dd>
                        <span *ngFor="let i of lreq.allowedEquippedItems">{{i}} </span>
                        <span *ngFor="let i of lreq.allowedWeaponSubTypes">{{i}} </span>
                      </dd>
                    </ng-container>
                  </dl>
                </ng-container>
                <hr class="divider" *ngIf="!isLastAct">
              </ng-container>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>