<ng-container *ngIf="i!=null && i.icon!=null">
    <div *ngIf="hideMenu" class="item divider-border" [class.crafted]="i.crafted" [class.deepsight]="i.deepsight" [class.masterworked]="i.masterworked">
        <ng-container *ngTemplateOutlet="iconContents"></ng-container>
    </div>

    <div *ngIf="!hideMenu" class="pointer item divider-border"  [class.crafted]="i.crafted" [class.deepsight]="i.deepsight" [class.masterworked]="i.masterworked"
        [matMenuTriggerFor]="itemMenu">
        <ng-container *ngTemplateOutlet="iconContents"></ng-container>
    </div>

    <ng-template #iconContents>
        <img [src]="'//www.bungie.net' + i.icon" class="item-image" [class.redacted]="i.redacted" loading="lazy">
        <div class="icon-watermark" *ngIf="i.iconWatermark">
            <img [src]="'//www.bungie.net' + i.iconWatermark" class="img" loading="lazy">
        </div>
        <div *ngIf="i.power>0" class="primary-stat"
            [class.void]="i.damageType===DamageType.Void || i.energyType===EnergyType.Void"
            [class.arc]="i.damageType===DamageType.Arc || i.energyType===EnergyType.Arc"
            [class.solar]="i.damageType===DamageType.Thermal || i.energyType===EnergyType.Thermal"
            [class.stasis]="i.damageType===DamageType.Stasis || i.energyType===EnergyType.Stasis">
            {{i.power}}
        </div>

        <div class="gear-lock" *ngIf="!hideMenu">
            <fa-icon [icon]="iconService.fasLockAlt" *ngIf="i.locked|async"></fa-icon>
            <fa-icon [icon]="iconService.fasLockOpenAlt" *ngIf="(i.locked|async) === false"></fa-icon>
        </div>
        <div class="bottom-left">
            <div class="gear-equipped" *ngIf="i.equipped|async">
                <fa-icon [icon]="iconService.fasShieldCheck" title="Equipped"></fa-icon>
            </div>
            <div *ngIf="mark" class="tag-status" [ngClass]="mark+'-icon-bg'">
                <fa-icon [icon]="markService.markDict[mark].icon"></fa-icon>
            </div>
        </div>

    </ng-template>

    <mat-menu #itemMenu="matMenu">
        <button mat-menu-item *ngIf="i.postmaster" (click)="pullPostmaster.emit(true)">
            <fa-icon [icon]="iconService.falEnvelopeOpen"></fa-icon> Pull from postmaster
        </button>
        <ng-container *ngIf="!i.postmaster">
            <ng-container *ngIf="i.owner|async as owner">
                <button mat-menu-item *ngIf="i.canReallyEquip" (click)="equip.emit(true)">
                    <fa-icon [icon]="iconService.falTshirt"></fa-icon> Equip on {{owner.label}}
                </button>
            </ng-container>

            <button mat-menu-item *ngFor="let target of i.options" (click)="transfer.emit(target)">
                <fa-icon [icon]="iconService.falExchange"></fa-icon> Transfer to
                {{target.label}}
            </button>

        </ng-container>
        <button mat-menu-item
            *ngIf="(i.locked|async) === false && (i.type==ItemType.Weapon || i.type==ItemType.Armor || option==ItemType.Ghost || option==ItemType.Vehicle)"
            (click)="toggleLock.emit(true)">
            <fa-icon [icon]="iconService.fasLockAlt"></fa-icon> Lock
        </button>
        <button mat-menu-item *ngIf="i.locked|async" (click)="toggleLock.emit(false)">
            <fa-icon [icon]="iconService.fasLockOpenAlt"></fa-icon> Unlock
        </button>
    </mat-menu>

</ng-container>