<ng-container *ngIf="i.icon!=null">
    <div *ngIf="hideMenu" class="item divider-border" [class.masterworked]="i.masterworked">
        <ng-container *ngTemplateOutlet="iconContents"></ng-container>
    </div>

    <div *ngIf="!hideMenu" class="pointer item divider-border" [class.masterworked]="i.masterworked"
        [matMenuTriggerFor]="itemMenu">
        <ng-container *ngTemplateOutlet="iconContents"></ng-container>
    </div>

    <ng-template #iconContents>
        <img [src]="'//www.bungie.net' + i.icon" class="item-image" [class.redacted]="i.redacted" loading="lazy">
        <div class="icon-watermark" *ngIf="i.iconWatermark">
            <img [src]="'//www.bungie.net' + i.iconWatermark" class="img" loading="lazy">
        </div>
        <div *ngIf="i.power>0" class="primary-stat"
            [class.void]="i.damageType===DamageType.Void || i.energyType===EnergyType.Void"
            [class.arc]="i.damageType===DamageType.Arc || i.energyType===EnergyType.Arc"
            [class.solar]="i.damageType===DamageType.Thermal || i.energyType===EnergyType.Thermal">
            {{i.power}}
        </div>
        <div class="gear-lock" *ngIf="!hideMenu">
            <fa-icon [icon]="iconService.fasLockAlt" *ngIf="i.locked|async"></fa-icon>
            <fa-icon [icon]="iconService.fasLockOpenAlt" *ngIf="!(i.locked|async)"></fa-icon>
        </div>
        <div class="gear-equipped">
            <fa-icon [icon]="iconService.fasShieldCheck" *ngIf="i.equipped|async" title="Equipped"></fa-icon>
        </div>
    </ng-template>

    <mat-menu #itemMenu="matMenu">
        <button mat-menu-item *ngIf="i.postmaster" (click)="pullPostmaster.emit(true)">
            <fa-icon [icon]="iconService.falEnvelopeOpen"></fa-icon> Pull from postmaster
        </button>
        <ng-container *ngIf="!i.postmaster">
            <ng-container *ngIf="i.owner|async as owner">
                <button mat-menu-item *ngIf="i.canReallyEquip" (click)="equip.emit(true)">
                    <fa-icon [icon]="iconService.falTshirt"></fa-icon> Equip on {{owner.label}}
                </button>
            </ng-container>

            <button mat-menu-item *ngFor="let target of i.options" (click)="transfer.emit(target)">
                <fa-icon [icon]="iconService.falExchange"></fa-icon> Transfer to
                {{target.label}}
            </button>
            <button mat-menu-item
                *ngIf="!(i.locked|async) && (i.type==ItemType.Weapon || i.type==ItemType.Armor || option==ItemType.Ghost || option==ItemType.Vehicle)"
                (click)="toggleLock.emit(true)">
                <fa-icon [icon]="iconService.fasLockAlt"></fa-icon> Lock
            </button>
            <button mat-menu-item *ngIf="i.locked|async" (click)="toggleLock.emit(false)">
                <fa-icon [icon]="iconService.fasLockOpenAlt"></fa-icon> Unlock
            </button>

        </ng-container>
    </mat-menu>

</ng-container>