.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-5 {
  margin-bottom: 10px;
}


.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}
