@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import 'default-theme.scss';
@import 'light-theme.scss';
@import 'black-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/static/about/about.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
  @include anms-about-component-theme($theme);
  @include anms-big-input-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);
}
