@import "~@angular/material/theming";

@mixin d2c-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  a {
    color: mat-color($foreground, text);

    &:hover {
      color: mat-color($accent);
    }
  }

  .dashed-border {
    border-color: mat-color($foreground, divider);
    border-style: dashed;
    padding: 5px;
    margin: 2px;
  }

  .selected-dashed-border {
    border-color: mat-color($accent, 700) !important;
  }

  .inactive-text {
    color: mat-color($foreground, divider);
  }

  .divider-border {
    border: 1px solid black;
  }

  .divider {
    border-color: mat-color($foreground, divider);
    border-top-style: solid;
    border-bottom-style: none;
  }


  div.bottom-divider {
    border-bottom: 1px solid mat-color($foreground, divider);
  }

  code {
    color: mat-color($accent, lighter-contrast);
    background-color: mat-color($accent, lighter);
  }

  .bounty-chip {
    background-color: mat-color($background, unselected-chip);
    color: mat-color($foreground, unselected-chip);
    // background-color: #e0e0e0;
    // color: rgba(0,0,0,.87);
    padding: 4px 12px;
    margin: 3px;
    border-radius: 16px;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
  }

  .primary-bg-text {
    color: mat-color($primary, default-contrast);
    background-color: mat-color($primary);
  }

  .transparent-icon {
    background-size: cover;
    background-color: mat-color($primary);
    opacity: 0.9;
  }

  .accent-bg-text {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .warn-bg-text {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .accent-text {
    color: mat-color($accent, 700);
  }

  .disabled-text {
    color: mat-color($foreground, disabled);
  }

  .masterworked {
    box-shadow: 0 0 10px mat-color($accent, 700);
  }

  .warn-text {
    color: mat-color($warn) !important;
  }

  .primary-text {
    color: mat-color($primary);
  }

  .secondary-text {
    color: mat-color($foreground, secondary-text);
  }

  .bold {
    font-weight: bold;
  }


  .subtitle {
    font-size: 14px;
    opacity: 0.54;
  }

  .simple-caption {
    margin: 0.5em 0 0.75em;
    font-size: smaller;
    font-weight: lighter;
    color: mat-color($foreground, secondary-text);
  }

  .simple-caption-darker {
    margin: 0.5em 0 0.75em;
    font-size: smaller;
    color: mat-color($foreground, secondary-text);
  }


  .simple-darker-larger-caption {
    margin: 0.5em 0 0.75em;
    color: mat-color($foreground, secondary-text);
  }

  .simple-caption-darker-no-margin {
    font-size: smaller;
    color: mat-color($foreground, secondary-text);
  }

  .simple-caption-no-margin {
    font-size: smaller;
    font-weight: lighter;
    color: mat-color($foreground, secondary-text);
  }
  
  .simple-caption-darker-no-margin {
    font-size: smaller;
    color: mat-color($foreground, secondary-text);
  }

  .right-margin {
    margin-right: 10px;
  }

  .simple-warn-caption {
    margin: 0.5em 0 0.75em;
    font-size: smaller;
    font-weight: lighter;
    opacity: 0.8;
    color: mat-color($warn);
  }

  .type-caption {
    font-size: smaller;
    color: mat-color($foreground, secondary-text);
  }

  .check-progress-bar {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .light-border {
    border: 1px solid mat-color($background, unselected-chip);
  }

  table.responsive-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1250px;
    table-layout: auto;

    & caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    & tr {
      background: mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);

      padding: 0.35em;
    }

    & td {
      padding: 0.625em;
      text-align: center;
    }

    & td.lead {
      padding: 0.625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }

    & th {
      padding: 0.625em;
      text-align: center;
      font-size: 0.85em;
      letter-spacing: 0.1em;
      color: mat-color($foreground, secondary-text);
      //text-transform: uppercase;
    }
  }


  @media screen and (max-width: map-get($grid-breakpoints, lg)) {
    .mat-tab-label {
      min-width: 120px;
    }

    .mat-tab-link {
      min-width: 120px;
    }
  }

  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    .mat-tab-label {
      min-width: 100px;
    }

    .mat-tab-link {
      min-width: 100px;
    }
  }

  @media screen and (max-width: 650px) {
    .mat-tab-label {
      min-width: 50px;
    }

    .mat-tab-link {
      min-width: 50px;
    }
  }

  .responsive-table-inline-mobile-only {
    display: none;
  }


  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    .responsive-table-inline-mobile-only {
      display: inline;
    }

    .check-progress-bar {

      margin-top: unset;
      margin-right: unset;
      // margin-left: auto;
    }

    table.responsive-table {
      border: 0;

      & caption {
        font-size: 1.3em;
      }

      & thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      & tfoot {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      & tr {
        border-bottom: 3px solid mat-color($background, status-bar);
        display: block;
        margin-bottom: 0.625em;
      }

      & td {
        border-bottom: 1px solid mat-color($background, status-bar);
        display: block;
        font-size: 0.8em;
        text-align: right;
      }

      & td.lead {
        font-weight: bold;
        border-bottom: 1px solid mat-color($background, status-bar);
        display: block;
        font-size: 0.8em;
        text-align: left;
      }

      & td:before {
        content: attr(data-label);
        float: left;
      }

      & td:last-child {
        border-bottom: 0;
      }
    }
  }

  .tidy-cell {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
  }


  th.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: mat-color($background, card);
  }

  table.simple-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;

    & tr {
      background: mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);
      padding: 0.35em;
    }

    & td {
      padding: 0.625em;
      text-align: left;
    }

    & th {
      padding: 0.625em;
      text-align: left;
      font-size: 0.85em;
      letter-spacing: 0.1em;
      color: mat-color($foreground, secondary-text);
    }
  }

  table.tidy-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1250px;
    table-layout: fixed;

    & caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    & tr {
      background: mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);

      padding: 0.35em;
    }

    & td {
      padding: 0.625em;
      text-align: left;
      vertical-align: top;
    }

    & td.lead {
      padding: 0.625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }

    & th {
      padding: 0.625em;
      text-align: left;
      font-size: 0.85em;
      letter-spacing: 0.1em;
      color: mat-color($foreground, secondary-text);
    }
  }

  table.tidy-auto-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    max-width: 1250px;
    table-layout: auto;

    & caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    & tr {
      background: mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);

      padding: 0.35em;
    }

    & td {
      padding: 0.625em;
      text-align: left;
      vertical-align: top;
    }

    & td.lead {
      padding: 0.625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }

    & th {
      padding: 0.625em;
      text-align: left;
      font-size: 0.85em;
      letter-spacing: 0.1em;
      color: mat-color($foreground, secondary-text);
    }
  }


  table.gear-table {
    border: 1px solid mat-color($background, disabled-list-option);

    & tr {
      background: mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);
    }

    & td.lead {
      & .caption {
        color: mat-color($foreground, secondary-text);
      }
    }

    & th {
      color: mat-color($foreground, secondary-text);
    }
  }

  table.recent-players-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    min-width: 300px;
    max-width: 800px;

    table-layout: auto;

    & caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    & tr {
      background: mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);

      padding: 0.35em;
    }

    & td {
      padding: 0.625em;
      text-align: left;
      vertical-align: top;
    }

    & td.lead {
      padding: 0.625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }

    & th {
      padding: 0.625em;
      text-align: left;
      font-size: 0.85em;
      letter-spacing: 0.1em;
      color: mat-color($foreground, secondary-text);
    }
  }

  table.checklist-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    // width: 100%;
    max-width: 750px;
    table-layout: fixed;

    & caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    & tr {
      background: mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);

      padding: 0.35em;
    }

    & td {
      padding: 0.625em;
      text-align: left;
    }

    & td.lead {
      padding: 0.625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }

    & th {
      padding: 0.625em;
      text-align: left;
      font-size: 0.85em;
      letter-spacing: 0.1em;
      color: mat-color($foreground, secondary-text);
    }
  }

  table.timing-table {
    & td {
      padding: 0.425em;
      border: 1px solid mat-color($background, disabled-list-option);
      border-collapse: collapse;
    }

    & th {
      padding: 0.425em;
      border: 1px solid mat-color($background, disabled-list-option);
      border-collapse: collapse;
    }

    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
  }


  @media (max-width: map-get($grid-breakpoints, sm)) {
    table.checklist-table {
      width: 100%;
    }
  }
}