

@import 'styles-variables';
@import 'reboot';
@import 'grid';

@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import 'default-theme.scss';
@import 'light-theme.scss';
@import 'black-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include d2c-styles-reset-theme($theme);
  @include d2c-app-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($d2c-theme);
  @include custom-components-theme($d2c-theme);
  @include default-gear-tags($d2c-theme);
 
}

.light-theme {
  @include angular-material-theme($d2c-light-theme);
  @include custom-components-theme($d2c-light-theme);
  @include default-gear-tags($d2c-light-theme);
}

.black-theme {
  @include angular-material-theme($d2c-black-theme);
  @include custom-components-theme($d2c-black-theme);
  @include black-gear-tags($d2c-black-theme);

}

.break-easy{

  word-wrap: break-word;
  word-break: break-all;
  white-space: unset;
}

.break-word{
  word-wrap: break-word;
  word-break: normal;
  white-space: normal;
}

.fixed-spinner {
  z-index: 1000;
  position: fixed; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  top: 45%;
  width: 100px; /* Need a specific value to work */
}


.center-spinner {
  z-index: 1000;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; /* Need a specific value to work */
}

.data-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}
.mat-tab-label{
  padding-left: 10px !important;
  padding-right: 10px  !important;
}

.mat-tab-link{
  padding-left: 10px !important;
  padding-right: 10px  !important;
}

.tiny {
  font-size: small;
}

.left{
  text-align: left !important;
}

.mat-table {
  display: table;

  > .mat-header-row, > .mat-row {
    display: table-row;
    padding: 5px;
    border: none;

    > .mat-header-cell, > .mat-cell {
      display: table-cell;
      height: 48px;
      padding: 5px;
      //width: 150px;
      text-align: left;
      vertical-align: middle;

      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

.centerMe{
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
}


.childComponent{
  height: 100%;
  flex: 1 0 auto;

  
  display: flex;
  flex-direction: column;
  // background-color: purple;
}

.childVert{
  order: 1;
  flex: 1 1 auto;

  display: inline-flex;
  flex-direction: row;
  // background-color: yellow;
}

.adRight{
  order: 2;
  width: 300px;
  min-height: 300px;
  flex-grow: 0;
  // background-color: red;
}

.main{
  order: 1;
  height: 100%;
  padding: 20px;
  
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
  // background-color: green;
}


.adText {
  opacity: 0.5;
  text-align: center;
}


.mobile-button-row {
  display: none;
  visibility: hidden;
}


@media screen and (max-width: 600px) {
  .mobile-button-row {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  
  .tree-leaf{
    padding-left: 0px !important;
  }
}

.adBottom{
  order: 2;
  display: none;
  visibility: hidden;
  text-align: center;
  //background-color: pink;
}

@media (max-width: 1440px) {
  .adRight {
      width: 120px;
  }
}



@media (max-width: 960px) {
  .adRight {
      display: none;
      visibility: hidden;
  }
  
  .main{
    padding: 5px;
  }
    
  .adBottom{
    min-width: 336px;
    // background-color: pink;
    display: block;
    visibility: visible;
    height: 300px;
  }

}

.loading{
  text-align: center;
  margin-top: 100px;
  margin-left: auto; 
  margin-right: auto; 
}

.space-right{
  margin-right: 0.30em !important;
}

.space-left{
  margin-left: 0.30em !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  line-height: 32px !important;
}

mat-form-field.full-width .mat-form-field-infix{
    min-width: 0;
    width: 100% !important;
}

.preserve-white-space{
  white-space: pre-wrap;
}

.triumph-score {
  margin: 10px;
  text-align: left;
}


.pres-node-prog {
  max-width: 100px;
}

.hide-complete-triumphs {
  margin-left: 2em;
  font-size: small;
  font-weight: lighter;
}

.low-hanging-node-prog {
  max-width: 200px;
}

.low-hanging-desc {
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .low-hanging-desc {
    max-width: 300px;
  }
}


.transparent-leaf-icon {
  float: left;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}


.transparent-branch-icon {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 5px;
  background-size: cover;
}

.hide-complete-collectibles {
  text-align: left;
  margin: 5px;
  margin-top: 10px;
  margin-left: 1em;
  font-size: small;
  font-weight: lighter;
}

.collection-header {
  margin: 10px;
  text-align: left;
}

.pad-left{
  margin-left: 5px;
}

.pad-left-more{
  margin-left: 15px;
}

.pad-right{
  margin-right: 5px;
}


.void {
  background: #b184c5 !important;
}

.solar {
  background: #f2721b !important;
}

.arc {
  background: #85c5ec !important;
}

.void-text {
  color: #b184c5 !important;
}

.solar-text {
  color: #f2721b !important;
}

.arc-text {
  color: #85c5ec !important;
}

.pointer { 
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: cover;

  &.large {
    width: 96px;
    height: 96px;
  }

  &.small {
    width: 24px;
    height: 24px;
  }

  &.tiny {
    width: 12px;
    height: 12px;
  }

  &.size-22 {
    width: 22px;
    height: 22px;
  }
}

// add &#13; between your strings to break them into different lines
.multi-line-tooltip {
  white-space: pre-line;
}

