<h5 mat-dialog-title class="title-row">Optimize Gun Perks
    <button mat-icon-button (click)="parent.load()">
        <fa-icon [icon]="iconService.fasSyncAlt" [spin]="parent.loading|async"></fa-icon>
    </button>
</h5>
<div mat-dialog-content class="body">
    <p class="simple-caption-darker-no-margin">This will modify the selected perks on all of your guns to choose those preferred by your god rolls.</p>    
    <div *ngIf="fixMe$|async as f">
        You have {{f.length}} items with suboptimal perks. Click below to update them. Search <code>is:fixme</code> to see those items.
    </div>
    <div>
        <ng-container *ngIf="log$|async as log">
            <div  #scrollMe class="log solid-border" [scrollTop]="log.length === 0 ? 0 : scrollMe.scrollHeight">
                <div *ngFor="let l of log">{{l}}</div>
            </div>
        </ng-container>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="fixPerks()">Fix Perks</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>