<span *ngIf="item.pandaPvp>0" class="godroll">
  <fa-icon [icon]="iconService.fasSwords"
    matTooltip="Every slot on this gun has a perk that is either good or great for PVP"
    [class.accent-text]="item.pandaPvp>1"></fa-icon>&ensp;
</span>
<span *ngIf="item.pandaPve>0" class="godroll">
  <i matTooltip="Every slot on this gun has a perk that is either good or great for PVE"
    class="icon-strike"
    [class.accent-text]="item.pandaPve>1"
    ></i>&ensp;
</span>

<ng-container *ngIf="debugmode"> 
  <div>Pve: {{item.pandaPve}}</div> 
  <div>Pvp: {{item.pandaPvp}}</div>
</ng-container>