<span *ngIf="item.godRollPve && item.godRollPvp" class="godroll">
  <i matTooltip="PVP & PVE God roll! Search 'godroll' in the filter to find more of these."
  class="fas fa-star accent-text"></i>
</span>
<span *ngIf="item.godRollPve && !item.godRollPvp" class="godroll">
  <i matTooltip="PVE God roll! Search 'godrollpve' or 'godroll' in the filter to find more of these."
  class="fas fa-dragon accent-text"></i>&ensp;
</span>
<span *ngIf="item.godRollPvp && !item.godRollPve" class="godroll">
  <i matTooltip="PVP God roll! Search 'godrollpvp' or 'godroll' in the filter to find more of these."
  class="fas fa-swords accent-text"></i>&ensp;
</span>