<h1>ALPHA</h1>
<p class="warn-text">This works, but is still a work in progress!</p>
<h5 mat-dialog-title class="title-row">Mod Wizard
    <button mat-icon-button (click)="parent.load()">
        <fa-icon [icon]="iconService.fasSyncAlt" [spin]="parent.loading|async"></fa-icon>
        <!--[spin]="vendorsLoading"-->
    </button>
</h5>
<div mat-dialog-content>
    <div class="fixed-spinner">
        <fa-icon *ngIf="(gearService.loading|async)===true" [icon]="iconService.farSpinner" [spin]="true" size="3x"
            [fixedWidth]="true"></fa-icon>
    </div>
    <div class="nav-toggles char-row" *ngIf="parent.player$|async as player">
        <mat-button-toggle-group class="chars-toggle" *ngIf="player?.characters" [value]="char$|async"
            (change)="char$.next($event.value)">
            <mat-button-toggle *ngFor="let c of player.characters" [value]="c">
                {{c.className}}
                <span class="d-none d-md-inline"> - {{c.light}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <table class="simple-table margin-10">
        <tr>
            <td>Mode</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.pve" aria-label="Select an option">
                    <mat-radio-button [value]="true">PvE</mat-radio-button>
                    <mat-radio-button [value]="false">PvP</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>Priority Weapon</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.priorityWeapon" aria-label="Select an option">
                    <mat-radio-button *ngFor="let w of weapons$|async" [value]="w">{{w.name}}</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>Secondary Weapon</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.secondaryWeapon" aria-label="Select an option">
                    <mat-radio-button *ngFor="let w of weapons$|async" [value]="w">{{w.name}}</mat-radio-button>
                    <mat-radio-button [value]="null">None</mat-radio-button>

                </mat-radio-group>
            </td>
        </tr>
        <tr *ngIf="modChoices.pve">
            <td>Champions?</td>
            <td>
                <mat-checkbox [(ngModel)]="modChoices.champions"></mat-checkbox>
            </td>
        </tr>       
        <tr>
            <td>Seasonal Mods</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.seasonApproach" aria-label="Select an option">
                    <mat-radio-button [value]="SeasonalApproach.LeaveAlone">Leave Alone</mat-radio-button>
                    <mat-radio-button [value]="SeasonalApproach.Simple">
                        <ng-container *ngIf="modChoices.pve">Protective Light</ng-container>
                        <ng-container *ngIf="!modChoices.pve">High Energy Fire</ng-container>
                    </mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>Preferred Stat</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.preferredStat" aria-label="Select an option">
                    <mat-radio-button *ngFor="let s of PreferredStats" [value]="s.value">{{s.name}}</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
    </table>

    <div>
        <ng-container *ngIf="log$|async as log">
            <div  #scrollMe class="log solid-border" [scrollTop]="log.length === 0 ? 0 : scrollMe.scrollHeight">
                <div *ngIf="log.length==0">Operations will be logged here</div>
                <div *ngFor="let l of log">{{l}}</div>
            </div>
            
        </ng-container>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="applyMods()">Apply</button>
    <button mat-button (click)="clearMods()">Clear All Mods</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>