<h1>COMING SOON</h1>
<p class="warn-text">This is a work in progress that doesn't actually do anything yet!</p>
<h5 mat-dialog-title class="title-row">Mod Wizard
    <button mat-icon-button (click)="parent.load()">
        <fa-icon [icon]="iconService.fasSyncAlt" [spin]="parent.loading|async"></fa-icon>
        <!--[spin]="vendorsLoading"-->
    </button>
</h5>
<div mat-dialog-content>
    <div class="nav-toggles char-row" *ngIf="parent.player$|async as player">
        <mat-button-toggle-group class="chars-toggle" *ngIf="player?.characters" [value]="char$|async"
            (change)="char$.next($event.value)">
            <mat-button-toggle *ngFor="let c of player.characters" [value]="c">
                {{c.className}}
                <span class="d-none d-md-inline"> - {{c.light}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <table class="simple-table margin-10">
        <tr>
            <td>Mode</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.pve" aria-label="Select an option">
                    <mat-radio-button [value]="true">PvE</mat-radio-button>
                    <mat-radio-button [value]="false">PvP</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>Priority Weapon</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.priorityWeapon" aria-label="Select an option">
                    <mat-radio-button *ngFor="let w of weapons$|async" [value]="w">{{w.name}}</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>Secondary Weapon</td>
            <td>
                <mat-radio-group [(ngModel)]="modChoices.secondaryWeapon" aria-label="Select an option">
                    <mat-radio-button *ngFor="let w of weapons$|async" [value]="w">{{w.name}}</mat-radio-button>
                    <mat-radio-button [value]="null">None</mat-radio-button>

                </mat-radio-group>
            </td>
        </tr>
        <tr *ngIf="modChoices.pve">
            <td>Champions?</td>
            <td>
                <mat-checkbox [(ngModel)]="modChoices.champions"></mat-checkbox>
            </td>
        </tr>
        <tr *ngIf="modChoices.pve">
            <td>Protective Light?</td>
            <td>
                <mat-checkbox [(ngModel)]="modChoices.protectiveLight"></mat-checkbox>
            </td>
        </tr>
        <tr *ngIf="!modChoices.pve">
            <td>High Energy Fire?</td>
            <td>
                <mat-checkbox [(ngModel)]="modChoices.highEnergyFire"></mat-checkbox>
            </td>
        </tr>
       
    </table>

    <div>
        <!-- {{modChoices | json}} -->
    </div>



    <div *ngFor="let r of armor$|async">
        {{r.name}}
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button>Apply</button>
    <button mat-button>Clear All Mods</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>