.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
}

.mat-radio-group {
    display: flex;
    flex-direction: column;
}

table.responsive-table{
    & td {
      text-align: left;
      vertical-align: top;
    }
}
  

.mat-radio-button {
    margin: 3px;
}

@media(min-width:768px) {
    .mat-radio-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mat-radio-button ~ .mat-radio-button {
        margin-left: 10px;
    }
}

.char-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column>* {
    margin: 5px;
}

.log {
    overflow-y: scroll;
    // max-height: 100px;
    font-family: monospace, monospace;
    font-size: 0.8em;  
}

.info-text {
    max-width: 50em;
}