.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
}

.radio-button {
    margin: 5px;
}


.char-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chars-toggle {
    flex-grow: 1;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column>* {
    margin: 5px;
}