<div class="top-section">
  <div *ngIf="debugmode|async">
    <div>Version: {{version}}</div>
  </div>
  <div class="searchRow">
    <mat-form-field appearance="fill">
      <mat-label>Gamer Tag</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput placeholder="Bungie Name#1234" [formControl]="gamerTagControl" [matAutocomplete]="elasticAuto">
    </mat-form-field>
  </div>
  <div class="home-button-row">

    <a mat-raised-button class="home-button" color="accent" target="_blank" href="https://amzn.to/3QLQLVe">
      <fa-icon [icon]="iconService.fabAmazon"></fa-icon> Grimoire Anthology, Vol VI
    </a>
    <a mat-raised-button class="home-button" color="primary" target="_blank"
      href="https://www.youtube.com/channel/UCbpQ7BKU32m6J9jI2O8z09w">
      <fa-icon [icon]="iconService.fabYoutube"></fa-icon> Video tutorials
    </a>
    <ng-container *ngIf="favoritesList$|async as fl">
      <ng-container *ngIf="fl.length>0; else noFriends">
        <a mat-raised-button class="home-button" color="primary" [matMenuTriggerFor]="friendsMenu"
          [matBadge]="fl.length" matBadgePosition="after" matBadgeColor="warn">
          <fa-icon [icon]="iconService.fasHeart"></fa-icon> Friends
        </a>

        <mat-menu #friendsMenu="matMenu">
          <a mat-menu-item [routerLink]="['/','friends']" color="primary">
            <fa-icon [icon]="iconService.farList"></fa-icon> Show all
          </a>
          <a *ngFor="let ui of fl" mat-menu-item [routerLink]="['/',ui.membershipType, ui.membershipId]">
            <fa-icon [icon]="platformMap[ui.membershipType].icon"></fa-icon> {{ui.displayName}}
          </a>

        </mat-menu>
      </ng-container>
      <ng-template #noFriends>

        <button mat-raised-button disabled class="home-button" color="primary"
          matTooltip="Click the heart icon on player pages to save friends">
          <fa-icon [icon]="iconService.fasHeart"></fa-icon> Friends
        </button>

      </ng-template>
    </ng-container>

  </div>
</div>
<div class="center-spinner" *ngIf="(loading|async)===true">
  <mat-spinner class="loading" class="center-spinner"></mat-spinner>
</div>
<p *ngIf="(isSignedOn$|async) === false">
  <button mat-stroked-button (click)="logon()">
    <fa-icon [icon]="iconService.fasSignInAlt"></fa-icon> Sign In
  </button> to see bounty availabilities (this requires a private endpoint that doesn't work otherwise)
</p>
<mat-card *ngIf="isSignedOn$|async">
  <mat-expansion-panel class="mat-elevation-z0" [expanded]='dealsExpanded' (opened)="onToggleDeals(true)"
    (closed)="onToggleDeals(false)">
    <mat-expansion-panel-header>

      <mat-panel-title>
        <span class="mat-card-header">
          <span class="mat-card-title title-hack">Deals</span>
          <d2c-signed-on-loading-icon></d2c-signed-on-loading-icon>
        </span>
      </mat-panel-title>

      <mat-panel-description>
        Vendor items you should check out
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-content class="grid-parent deals-parent">
      <d2c-deals-container></d2c-deals-container>
    </mat-card-content>
  </mat-expansion-panel>
</mat-card>

<div class="grid-parent" *ngIf="today && today.publicMilestones" width="100%">

  <div>
    <mat-card *ngIf="today.raidChallenge as rc">
      <mat-card-header>
        <mat-card-title>Raid Challenge: {{rc.topic}}</mat-card-title>
        <mat-card-subtitle>{{rc.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-list>
          <mat-list-item>
            <a *ngIf="rc.video" [href]="rc.video" target="_blank" rel="noopener"> {{rc.desc}} <fa-icon
                [icon]="iconService.fabYoutube" class="accent-text">
              </fa-icon>
            </a>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="today?.lostSectors as ls">
      <mat-card-header>
        <mat-card-title>
          <div class="flex-row">
            <div>Lost Sectors </div>
            <div>
              <button class="pad-left-more" mat-stroked-button (click)="showLostSectorNextDays()">
                <fa-icon class="pad-right" [icon]="iconService.farCalendar"></fa-icon> Next 30 Days
              </button>
            </div>
          </div>
          <div class="warn-text simple-caption">These will be wrong until the new rotation is learned. This message will be removed once they're complete and correct.</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <d2c-legendary-lost-sector [ls]="ls.legendaryLostSector"></d2c-legendary-lost-sector>
          <d2c-legendary-lost-sector [ls]="ls.masterLostSector"></d2c-legendary-lost-sector>
        </mat-list>
        <!-- <div style="display:flex">
          <div style="text-align:left;">The rotation has changed on the new season.<br>We're collecting data now, will be updated ASAP</div>
        </div> -->
      </mat-card-content>
      <div class="simple-caption">
        <i><a target="_blank" rel="noopener"
            href="https://docs.google.com/spreadsheets/d/1kd0juMU-YWtFVc9BLQEnD5r_WETVBDgmWDkAWuq3SxE/edit#gid=1696033000">Source</a></i>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card *ngIf="today.publicMilestones.nightfall as nightfall">
      <mat-card-header>
        <mat-card-title>Nightfall
          <ng-container *ngIf="nightfall.activities.length>0">: {{nightfall.activities[0].desc}}</ng-container>
          <!-- <span *ngIf="nightfall.doubled" class="warn-text pad-left">Double Drops!</span> -->
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let n of nightfall.activities" class="fake-link" (click)="showBurns(n)">
            <span mat-list-icon class="list-icon" [class.invert]="n.icon.endsWith('png')"
              [class.brighten]="n.icon.endsWith('jpg')" *ngIf="n.icon"
              [style.background-image]="'url(//www.bungie.net' + n.icon + ')'"></span>
            <div mat-line>
              <span class="underline">{{removeActivityPrefixes(n.name)}}</span>
              <span class="tiny" *ngIf="debugmode|async"> {{n.hash}}</span>
            </div>
            <div mat-line>
              {{n.ll}} <span class="left simple-caption-darker-no-margin">{{n.modifiers.length}} modifiers</span>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card *ngIf="today.weeklyDungeon">
      <mat-card-header>
        <mat-card-title>{{today.weeklyDungeon}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Pinnacle awards once/wk/account. Repeatedly farmable for legendaries.
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="today.weeklyRaid">
      <mat-card-header>
        <mat-card-title>{{today.weeklyRaid}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Pinnacle awards once/wk/account. Repeatedly farmable for legendaries.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{today.wellMode}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span class="simple-caption-no-margin right-margin">
              {{today.wellWeapon.itemTypeDisplayName}}</span>
            <a href="https://imgur.com/a/TyK5MHx" target="_blank" rel="noopener">
              {{today.wellWeapon.displayProperties.name}}
              &nbsp;<fa-icon [icon]="iconService.fasInfoCircle" class="accent-text"></fa-icon></a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <!-- <mat-card>
      <mat-card-header>
        <mat-card-title>Altar of Sorrow</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span class="simple-caption-no-margin right-margin">
              {{today.altarOfSorrowsWeapon.itemTypeDisplayName}}</span>
            <a href="https://docs.google.com/spreadsheets/d/1VXPqxaD9pKuOfTYO-aNp_NiQ_032bdltsCQ2JG4FbJM/htmlview?sle=true#gid=0"
              target="_blank" rel="noopener">
              {{today.altarOfSorrowsWeapon.displayProperties.name}}
              &nbsp;<fa-icon [icon]="iconService.fasInfoCircle" class="accent-text"></fa-icon></a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card> -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dreaming City</mat-card-title>
        <mat-card-subtitle>Curse level rotates weekly</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span class="simple-caption-no-margin right-margin">Ascendant Challenge</span>
            <a [href]="today.week.ascendantVideo" target="_blank" rel="noopener">
              {{today.week.ascendantChallenge}} <fa-icon [icon]="iconService.fabYoutube" class="accent-text">
              </fa-icon>
            </a>
          </mat-list-item>
          <mat-list-item><span class="simple-caption-no-margin right-margin">Location</span>
            {{today.week.location}}</mat-list-item>
          <mat-list-item><span class="simple-caption-no-margin right-margin">Curse Strength</span>
            {{today.week.curseStrength}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #simpleBurns let-title="title" let-milestone="milestone">
  <mat-card *ngIf="milestone && milestone.modifiers">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let b of milestone.modifiers" [matTooltip]="b.desc">
          <span mat-list-icon class="list-icon" [class.invert]="b.icon.endsWith('png')"
            [class.brighten]="b.icon.endsWith('jpg')"
            [style.background-image]="'url(//www.bungie.net' + b.icon + ')'"></span>
          <div mat-line>{{b.name}}</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>

<d2c-robot-home></d2c-robot-home>

<mat-autocomplete #elasticAuto="matAutocomplete" (optionSelected)="select($event)"  [displayWith]="displayFn">
  <mat-option *ngFor="let v of elasticSearchService.filteredAutoCompleteOptions$|async" [value]="v">

    <img class="option-img" aria-hidden [src]="'https://www.bungie.net' + v.iconPath " height="36">
    {{v.displayName}} <fa-icon [icon]="platformMap[v.membershipType].icon"></fa-icon> <span class="pad-left simple-caption-darker-no-margin">{{v.lastPlayed|d2cAgoHumanized}}</span>
  </mat-option>
</mat-autocomplete>
