a:link {
    text-decoration: underline;
}


.robot-grid-parent {
    display: grid;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin:5px;
    grid-auto-flow: row dense;
}

@media (min-width: 1300px) {
    .robot-grid-parent {
        min-width: 900px;
    }
}

.panel-info {
    text-align: left;
}