<ng-container *ngIf="!hidden">
  <button mat-button [matMenuTriggerFor]="menu" [class.warn-text]="!isAllSelected"><i [class]="iconClass"></i>
    <span class="hide-mobile-inline">&ensp;{{title}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!isAllSelected" mat-menu-item (click)="selectAll()">
      <i class="fas fa-times"></i>
      Clear Filter
    </button>
    <a *ngFor="let choice of choices" mat-menu-item (click)="exclusiveSelect(choice)">
      <mat-checkbox [(ngModel)]="choice.value" (click)="select($event, choice); false"></mat-checkbox>
      {{choice.display}}
    </a>
  </mat-menu>
</ng-container>