<h2 mat-dialog-title>Wildcard Filter Info
</h2>
<mat-dialog-content>
    <p>The wildcard filter will filter by item name, along with masterwork, mod and perk names. It also has a few
        special commands (some of which match DIM's filters)</p>
    <ul>
        <li><code>is:wishlist</code> or <code>godroll</code> Show only items that match a god roll from <a href="https://github.com/darkelement1987/godroll"
                target="_blank" rel="noopener">DarkElement1987's curated list</a></li>
        <li><code>is:masterwork</code> Has a fully upgraded masterwork socket</li>
        <li><code>is:hasmod</code> Has a mod applied (so be careful infusing this into something else, since you'll
            lose the mod</li>
        <li><code>random</code> Is a random roll, and thus cannot be restored from Collections</li>
        <li><code>fixed</code> Is a fixed roll, you can always grab it from collections</li>
    </ul>
</mat-dialog-content>