<ng-container *ngIf="!hidden">
  <button mat-button [matMenuTriggerFor]="menu"><i [class]="iconClass"></i>
    <span class="hide-mobile-inline">&ensp;{{title}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="selectAll()">Select All</button>
    <a *ngFor="let choice of choices" mat-menu-item (click)="exclusiveSelect(choice)">
      <mat-checkbox [(ngModel)]="choice.value" (click)="select($event, choice); false"></mat-checkbox>
      {{choice.display}}
    </a>
  </mat-menu>
</ng-container>