<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <!-- <p class="simple-caption">
        <span class="warn-text">This is alpha code, still a work in progress</span>
      </p> -->
      <div class="fixed-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true || gearService.loading===true"></mat-spinner>
      </div>

      <mat-button-toggle-group #optionsgroup="matButtonToggleGroup" *ngIf="selectedUser!=null" [value]="option"
        (change)="option=optionsgroup.value; filterGear()">
        <mat-button-toggle *ngFor="let o of options" [value]="o">
          <i *ngIf="o.name=='Weapons'" class="far fa-axe-battle"></i>
          <i *ngIf="o.name=='Armor'" class="far fa-helmet-battle"></i>
          <i *ngIf="o.name=='Mods'" class="far fa-book-spells"></i>
          <i *ngIf="o.name=='Consumable'" class="far fa-flask-potion"></i>
          <i *ngIf="o.name=='Material'" class="far fa-gem"></i>
          <span class="d-none d-md-inline"> {{o.name}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <ng-container *ngIf="loading==false && selectedUser==null">
        <h2>Bungie Authentication Required</h2>
        <p style="max-width: 500px; text-align: left">You must grant this site access to your Bungie account for the
          site to access this info
          (gear management is part of the private API, like what DIM uses). Click the "Sign In" button on the upper
          right if you want to continue.</p>
      </ng-container>

      <div style="margin: 10px" [hidden]="selectedUser==null">
        <mat-form-field class="searchField">
          <input matInput #filter placeholder="Wildcard filter">
        </mat-form-field>

        <anms-gear-toggle iconClass="fas fa-tags" title="Tags" [choices]="markChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.Weapon, ItemType.Armor]" [currentItemType]="option.type">
        </anms-gear-toggle>

        <anms-gear-toggle iconClass="fas fa-swords" title="Type" [choices]="weaponTypeChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.Weapon]" [currentItemType]="option.type">
        </anms-gear-toggle>

        <anms-gear-toggle iconClass="fas fa-helmet-battle" title="Type" [choices]="armorTypeChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.Armor]" [currentItemType]="option.type">
        </anms-gear-toggle>


        <anms-gear-toggle iconClass="fas fa-book-spells" title="Type" [choices]="modTypeChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.GearMod]" [currentItemType]="option.type">
        </anms-gear-toggle>
        <anms-gear-toggle iconClass="fas fa-flask-potion" title="Type" [choices]="consumableTypeChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.Consumable]" [currentItemType]="option.type">
        </anms-gear-toggle>
        <anms-gear-toggle iconClass="fas fa-gem" title="Type" [choices]="exchangeTypeChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.ExchangeMaterial]" [currentItemType]="option.type">
        </anms-gear-toggle>
        <anms-gear-toggle iconClass="fas fa-hood-cloak" title="Class" [choices]="classTypeChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.Armor]" [currentItemType]="option.type">
        </anms-gear-toggle>
        <anms-gear-toggle iconClass="fas fa-users" title="Owner" [choices]="ownerChoices" (change)="filterChanged()">
        </anms-gear-toggle>
        <anms-gear-toggle iconClass="fas fa-balance-scale" title="Rarity" [choices]="rarityChoices" (change)="filterChanged()">
        </anms-gear-toggle>

        <button mat-button [matMenuTriggerFor]="menuShow"><i class="fas fa-plus-square"></i> Show</button>
        <mat-menu #menuShow="matMenu">
          <button mat-menu-item (click)="show(20)"><i *ngIf="size==20" class="fas fa-check"></i> 20 rows</button>
          <button mat-menu-item (click)="show(50)"><i *ngIf="size==50" class="fas fa-check"></i> 50 rows</button>
          <button mat-menu-item (click)="show(100)"><i *ngIf="size==100" class="fas fa-check"></i> 100 rows</button>
          <button mat-menu-item (click)="show(-1)"><i *ngIf="size==-1" class="fas fa-check"></i> All rows</button>
        </mat-menu>
        <a mat-button (click)="load()"><i class="fas fa-sync-alt"></i> Refresh</a>
        <a mat-button *ngIf="markService.dirty" (click)="markService.saveMarks()"><i class="fas fa-save"></i></a>

        {{gearToShow.length}} / {{total}}
      </div>
      <ng-container *ngIf="selectedUser!=null">
        <table class="tidy-table mark-table">
          <thead>
            <tr class="junk">
              <th class="limited-gear-width">
                <a href="javascript:void(0)" (click)="sort('power')">Light</a>
              </th>
              <th class="limited-gear-width">
                <a href="javascript:void(0)" (click)="sort('name')">Name</a>
              </th>
              <th class="limited-gear-width">
                <a href="javascript:void(0)" (click)="sort('typeName')">Type</a>
              </th>
              <th class="limited-gear-width">
                <a href="javascript:void(0)" (click)="sort('copies')">Copies</a>
              </th>
              <th class="limited-gear-width" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                <a href="javascript:void(0)" (click)="sort('masterwork')">Masterwork</a>
              </th>
              <th class="limited-gear-width" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                <a href="javascript:void(0)" (click)="sort('mod')">Mod</a>
              </th>
              <th *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                Sockets
              </th>

              <th class="limited-gear-width" *ngIf="option.type!=ItemType.Weapon && option.type!=ItemType.Armor">
                <a href="javascript:void(0)" (click)="sort('quantity')">Quantity</a>
              </th>
              <th *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor" style="width: 200px">
                Tag
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let i of gearToShow">
              <tr [ngClass]="i.mark">
                <td class="limited-gear-width">
                  <div *ngIf="i.icon!=null" class="item-image" [style.background-image]="'url(//www.bungie.net' + i.icon + ')'"
                    [class.masterworked]="i.masterworked">
                    <div *ngIf="i.power>0" class="primary-stat" [class.void]="i.damageType===DamageType.Void"
                      [class.arc]="i.damageType===DamageType.Arc" [class.solar]="i.damageType===DamageType.Thermal">
                      {{i.power}}
                    </div>
                    <div class="gear-lock">
                      <i *ngIf="i.locked" (click)="gearService.setLock(player, i, false)" class="fas fa-lock-alt"></i>
                      <i *ngIf="!i.locked && (i.type==ItemType.Weapon || i.type==ItemType.Armor)" (click)="gearService.setLock(player, i, true)"
                        class="fas fa-lock-open-alt"></i>
                    </div>
                    <div class="gear-notes">
                      <i *ngIf="i.equipped" class="fas fa-shield-check" title="Equipped"></i>
                    </div>
                  </div>
                  <div>{{i.owner.label}}</div>
                </td>
                <td class="limited-gear-width">
                  <i *ngIf="i.godRoll" matTooltip="God roll! Search 'godroll' in the filter to find more of these." class="fas fa-star accent-text"></i>
                  <a class="item-name" href="javascript:void(0)" (click)="showItem(i)">{{i.name}}</a>
                  <span *ngIf="debugmode">[{{i.hash}}]</span>

                  <div class="options bordered">
                    <div *ngIf="i.canReallyEquip">
                      <i>
                        <a href="javascript:void(0);" (click)="gearService.equip(player, i)">Equip</a>
                      </i>
                    </div>
                    <ng-container *ngFor="let target of i.options">
                      <div>
                        <i>
                          <a href="javascript:void(0);" (click)="gearService.transfer(player, i, target)">{{target.label}}</a>
                        </i>
                      </div>
                    </ng-container>
                  </div>
                  <!-- <a href="javascript:void(0)" *ngIf="!i.showStats && i.stats!=null && i.stats.length>0" (click)="i.showStats=true">
                    Stats <i class="fas fa-plus"></i>
                  </a>
                  <a href="javascript:void(0)" *ngIf="i.showStats" (click)="i.showStats=false">
                    Stats <i class="fas fa-minus"></i>
                  </a> -->
                  <table *ngIf="i.showStats==true">
                    <thead>
                      <tr>
                        <th>Stat</th>
                        <th>Base</th>
                        <th>Curr</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stat of i.stats">
                        <td>{{stat.name}}</td>
                        <td>{{stat.baseValue}}</td>
                        <td>{{stat.value}}</td>
                      </tr>
                    </tbody>
                  </table>


                </td>
                <td class="limited-gear-width">
                  {{i.typeName}}
                  <ng-container *ngIf="option.type == ItemType.Armor"><br>{{ClassAllowed[i.classAllowed]}}</ng-container>
                </td>
                <td class="limited-gear-width">
                  <a href="javascript:void(0)" (click)="showCopies(i)">{{i.copies}}</a><br>
                  <span class="simple-caption" *ngIf="i.isRandomRoll">Random</span>
                  <span class="simple-caption" *ngIf="!i.isRandomRoll">Fixed</span>
                </td>
                <td class="limited-gear-width" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                  <div *ngIf="i.masterwork!=null" [matTooltip]="i.masterwork.desc">
                    <!-- <div *ngIf="i.masterwork.icon!=null" class="mod-icon transparent-icon" [style.background-image]="'url(//www.bungie.net' + i.masterwork.icon + ')'"></div>
                    <br> -->
                    {{i.masterwork.name}} {{i.masterwork.tier}} <ng-container *ngIf="debugmode">[{{i.masterwork.hash}}]</ng-container>

                    <mat-progress-bar mode="determinate" 
                    [color]="i.masterwork.tier>=10?'accent':'primary'" [value]="i.masterwork.tier*10"></mat-progress-bar>
                  </div>
                </td>
                <td class="limited-gear-width" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                  <div *ngIf="i.mod!=null" [matTooltip]="i.mod.desc">
                    <!-- <div *ngIf="i.mod.icon!=null" class="mod-icon transparent-icon" [style.background-image]="'url(//www.bungie.net' + i.mod.icon + ')'"></div>
                    <br> -->
                    {{i.mod.name}} <ng-container *ngIf="debugmode">[{{i.mod.hash}}]</ng-container>

                  </div>
                </td>
                <td *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                  <div *ngFor="let socket of i.sockets; last as isLastSocket" [class.bottom]="!last">
                    <span *ngFor="let plug of socket.plugs; last as isLastPlug" [class.not-selected-plug]="!plug.active"
                      [matTooltip]="plug.desc">
                      <!-- <div *ngIf="plug.icon!=null" class="plug-icon transparent-icon" [style.background-image]="'url(//www.bungie.net' + plug.icon + ')'"></div> -->
                      {{plug.name}} <ng-container *ngIf="debugmode">[{{plug.hash}}]</ng-container>
                      <ng-container *ngIf="!isLastPlug">|</ng-container>
                    </span>
                  </div>
                </td>
                <td class="limited-gear-width" *ngIf="option.type!=ItemType.Weapon && option.type!=ItemType.Armor">
                  {{i.quantity}}
                </td>
                <td *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                  <button (click)="mark('upgrade',i)" mat-stroked-button class="tag-button upgrade-button">
                    <i class="fas fa-level-up-alt"></i>
                  </button>
                  <button (click)="mark('keep',i)" mat-stroked-button class="tag-button keep-button">
                    <i class="fas fa-save"></i>
                  </button>
                  <button (click)="mark('infuse',i)" mat-stroked-button class="tag-button infuse-button">
                    <i class="fas fa-syringe"></i>
                  </button>
                  <button (click)="mark('junk',i)" mat-stroked-button class="tag-button junk-button">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <mat-form-field>
                    <input matInput placeholder="Notes" maxlength="100" [(ngModel)]="i.notes" placeholder="Notes"
                      (change)="itemNotesChanged(i)">
                  </mat-form-field>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

      </ng-container>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>