<h2 mat-dialog-title>Wildcard Filter Info
</h2>
<mat-dialog-content>
    <p>The wildcard filter will filter by item name, along with masterwork, mod and perk names. It also has a few
        special commands (some of which match DIM's filters)</p>
    <ul>
        <li><code>AND</code> let's you type in multiple filters at once. For example <code>godroll AND rampage</code> or even <code>alloy AND rampage AND zen</code></li>
        <li><code>OR</code> let's you type in multiple filters at once. For example <code>solar OR void</code> (OR causes AND to be ignored, they cannot be combined) </li>
        <li><code>!</code> adds a NOT filter to your query. <code>!pulse monitor</code> will show guns missing Pulse Monitor. <code>!zen AND rampage</code></li> will show guns with rampage but not zen moment. This also works with "magic" words below, so you can use <code>!targetperk</code> to find all your armor missing features you care about (perhaps to mark it all as junk)
        <li><code>is:wishlist</code> or <code>godroll</code> Show only items that match a god roll from a curated list of rolls (see "Utilities" button for more info)</li>
        <li><code>is:wishlistpve</code> <code>is:wishlistpvp</code> or <code>godrollpvp</code> <code>godrollpve</code> Selected by PvE vs PvP god rolls</li>
        <li><code>fixme</code> Show items with godroll perks that aren't currently active</li>
        <li><code>is:masterwork</code> Has a fully upgraded masterwork socket</li>
        <li><code>is:hasmod</code> Has a mod applied (so be careful infusing this into something else, since you'll
            lose the mod</li>
        <li><code>random</code> Is a random roll, and thus cannot be restored from Collections</li>
        <li><code>fixed</code> Is a fixed roll, you can always grab it from collections</li>
        <li><code>targetperk</code> Armor with a perk that you've targetted</li>
        <li><code>freshtarget</code> Targetted perk that isn't already equipped (unless the item itself is equipped)</li>
        <li><code>manytargetperks</code> Highlights gear that has more than one target perk</li>
        <li><code>onetargetperk</code> Highlights gear that has ONLY one target perk</li>        
    </ul>
</mat-dialog-content>