@import "styles-variables";

.main {
  width: 100%;
}

.mod-obj {
  font-size: smaller;
}
.item-icon {
  //  width: 19px;
  //  height: 19px;
  width: 64px;
  height: 64px;
  background-size: cover;
  display: inline-block;
}

.gear-sort {
  white-space: nowrap;
}

.compare-icon-lead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70px;
}

.plug-icon {
  width: 1em;
  height: 1em;
  background-size: cover;
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
}

.tag-button {
  margin: 2px;
  font-size: 1em;
}

.detail-tag-button {
  margin: 0px;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 30px;
  font-size: small;
}

.mod-icon {
  width: 3em;
  height: 3em;
  background-size: cover;
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
}

.mw-progress {
  margin-bottom: 10px;
}

.item-name {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.baseonly {
  font-weight: lighter;
}

$gear-table-padding: 0.3em;
table.gear-table {
  border-collapse: collapse;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1250px;
  table-layout: auto;
  & caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  & tr {
    padding: 0.35em;
  }
  & td {
    font-size: 14px;
    padding: $gear-table-padding;
    text-align: left;
    vertical-align: top;
    & .caption {
      float: right;
      font-weight: lighter;
    }
  }
  & td.lead {
    padding: $gear-table-padding;
    text-align: left;
    font-weight: bold;
    & .caption {
      float: right;
      font-size: smaller;
      font-weight: lighter;
    }
  }
  & th {
    padding: $gear-table-padding;
    text-align: left;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    vertical-align: top;
  }
}

.current-class {
  margin-left: 40px;
}

.not-selected-plug {
  opacity: 0.5;
}

table.stat-table {
  border: 0px !important;
  padding: 0.2em !important;

  & tr {
    border: 0px !important;
    background-color: unset !important;
  }
  & td {
    font-size: small;
  }
}

.searchRow {
  display: block;
}

.socket {
  margin-bottom: 5px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.active {
  font-weight: bold;
}

.mat-stroked-button {
  line-height: 30px !important;
  padding: 0 10px !important;
}

.item-option {
  font-size: 12px;
}

.options {
  margin-top: 5px;
}

.total-pts {
  margin-top: 10px;
  font-weight: lighter;
}

.limited-gear-width {
  max-width: 175px;
}

.item-menu-button {
  width: 40px;
  margin-left: -5px;
  margin-right: -5px;
}

.hide-mobile-inline {
  display: none;
  visibility: hidden;
}

.hide-mobile-block {
  display: none;
  visibility: hidden;
}

.mobile-only-inline {
  display: inline;
  visibility: visible;
}

.hide-mobile-table-cell {
  display: none;
  visibility: hidden;
}

.mobile-only-inline {
  display: inline;
  visibility: visible;
}

.mobile-only-block {
  display: inline;
  visibility: visible;
}

.mobile-only-table-cell {
  display: table-cell;
  visibility: visible;
}

.tag-cell {
  max-width: 75px;
}

.mat-form-field-infix {
  min-width: 0;
  width: 140px !important;
}

.wildcard-filter {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 700px;
  width: 100%;
}

.current-char-icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 34px;
  width: 34px;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 1019px) {
  // .current-char {
  //   display: none;
  // }
}

.filter-buttons {
  display: block;
}

@media screen and (min-width: 500px) {
  .show-tablet-table-cell {
    display: table-cell;
    visibility: visible;
  }
}

@media screen and (min-width: 1019px) {
  .filter-buttons {
    display: inline;
  }

  .hide-mobile-inline {
    display: inline;
    visibility: visible;
  }

  .hide-mobile-block {
    display: block;
    visibility: visible;
  }
  .mobile-only-inline {
    display: none;
    visibility: hidden;
  }
  .mobile-only-block {
    display: none;
    visibility: hidden;
  }
  .hide-mobile-table-cell {
    display: table-cell;
    visibility: visible;
  }
  .mobile-only-table-cell {
    display: none;
    visibility: hidden;
  }
  .tag-cell {
    min-width: 190px;
    max-width: 200px;
  }
}

.gist-url-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.vertical-pad {
  margin-top: 10px;
}

.header-link {
  margin-left: 10px;
}

.mobile-details {
  text-decoration: underline !important;
}

.mobile-details-parent {
  margin-top: 5px;
}

.gist-url-container > * {
  width: 100%;
}

.bulk-operation-notes {
  max-width: 500px;
}

.important-note {
  margin-top: 5px;
}

.tag-page-container {
  display: flex;
  flex-direction: row;
}

.tag-page-container-tag {
  flex-grow: 1;
  flex-shrink: 1;
}

.tag-page-container-pages {
  flex-shrink: 1;
  margin-right: 10px;
}

.page-icon {
  width: 20px !important;
}

@media screen and (max-width: 600px) {
  .toggle-button {
    min-width: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.compare-icon-cell {
  display: flex;
  flex-direction: row;
}

.utility-body {
  margin: 10px;
}

.utility-download {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  button {
    margin: 5px;
  }
}

