<div mat-dialog-title style="margin-bottom: 0px">
    {{items[0].name}}
    <span style="margin-left: 10px" class="simple-darker-caption-no-margin">{{items[0].typeName}}</span><br><span class="simple-caption-no-margin hide-mobile-inline">{{items[0].desc}}</span>
</div>
<mat-checkbox [(ngModel)]="hideJunk">Hide Junk</mat-checkbox>
<mat-dialog-content>
    <table class="gear-table mark-table">
        <tbody>
            <tr>
                <th>Light</th>
                <ng-container *ngFor="let i of items">

                    <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                        {{i.power}}
                        <i *ngIf="i.godRoll" matTooltip="God roll! Search 'godroll' in the filter to find more of these."
                            class="fas fa-star accent-text"></i>
                    </td>
                </ng-container>

            </tr>
            <tr>
                <th>Tag</th>
                <ng-container *ngFor="let i of items">

                    <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                        <button mat-button [ngClass]="['detail-tag-button',i.mark!=null?i.mark:'']" [matMenuTriggerFor]="menu">
                            <ng-container *ngIf="i.mark==null">
                                <i class="fas fa-tags"></i>&ensp;
                                Unmarked
                            </ng-container>
                            <ng-container *ngIf="i.mark!=null">
                                <i [class]="parent.markService.markDict[i.mark].iconClass"></i>&ensp;
                                {{i.markLabel}}
                            </ng-container>
                        </button>
                        <mat-menu #menu="matMenu">
                            <ng-container *ngFor="let mc of parent.markService.markChoices">
                                <button *ngIf="mc.value!=i.mark" mat-menu-item 
                                (click)="parent.mark(mc.value,i)">
                                    <i [class]="mc.iconClass"></i>&ensp;
                                    {{mc.label}}
                                </button>
                            </ng-container>

                            <button *ngIf="i.mark!=null" mat-menu-item (click)="parent.mark(null,i)">
                                Remove Mark
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="items[0].type==ItemType.Weapon || items[0].type==ItemType.Armor">
                <th>Masterwork</th>

                <ng-container *ngFor="let i of items">

                    <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                        <div *ngIf="i.masterwork!=null" [matTooltip]="i.masterwork.desc" matTooltipClass="preserve-white-space">
                            {{i.masterwork.name}} {{i.masterwork.tier}}
                            
                            <mat-progress-bar *ngIf="i.type == ItemType.Weapon" mode="determinate" [color]="i.masterwork.tier>=10?'accent':'primary'" [value]="i.masterwork.tier*10"></mat-progress-bar>
                            <mat-progress-bar *ngIf="i.type == ItemType.Armor" mode="determinate" [color]="i.masterwork.tier>=5?'accent':'primary'" [value]="i.masterwork.tier*10*2"></mat-progress-bar>
                        </div>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="items[0].type==ItemType.Weapon || items[0].type==ItemType.Armor ">
                <th>Mod</th>

                <ng-container *ngFor="let i of items">

                    <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                        <div *ngIf="i.mod!=null" [matTooltip]="i.mod.desc" matTooltipClass="preserve-white-space">
                            {{i.mod.name}}
                        </div>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="items[0].type==ItemType.Weapon || items[0].type==ItemType.Armor || items[0].type==ItemType.Ghost || items[0].type==ItemType.Vehicle">
                <th>Sockets</th>

                <ng-container *ngFor="let i of items">

                    <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                        <div *ngFor="let socket of i.sockets; last as isLastSocket" [class.bottom]="!last">
                            <span *ngFor="let plug of socket.plugs; last as isLastPlug" [class.not-selected-plug]="!plug.active"
                                [matTooltip]="plug.desc" matTooltipClass="preserve-white-space">
                                <i *ngIf="plug.godRoll && i.godRoll" class="fas fa-star accent-text"></i>
                                <i *ngIf="plug.godRoll && !i.godRoll && parent.highlightAllPerks" class="fas fa-star"></i>
                  
                                {{plug.name}}
                                <ng-container *ngIf="!isLastPlug"><br></ng-container>
                            </span>
                        </div>
                    </td>
                </ng-container>
            </tr>

            <ng-container *ngIf="items[0].type==ItemType.Weapon || items[0].type==ItemType.Armor">
                <tr *ngFor="let stat of items[0].stats; let cntr = index">
                    <td>{{stat.name}}
                        <span class="caption" *ngIf="stat.baseValue!=null">
                            {{stat.baseValue}}
                        </span>
                    </td>

                    <ng-container *ngFor="let i of items">
                        <td *ngIf="!hideJunk || i.mark!='junk'" [ngClass]="i.mark">
                            {{i.stats[cntr].value}}
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</mat-dialog-content>