<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <!-- <p class="simple-caption">
        <span class="warn-text">This is alpha code, still a work in progress</span>
      </p> -->
      <div class="fixed-spinner">
        <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true || gearService.loading===true"></mat-spinner>
        <mat-spinner class="loading" class="center-spinner" *ngIf="filtering===true && !(loading===true || gearService.loading===true)"></mat-spinner>
      </div>

      <mat-button-toggle-group #optionsgroup="matButtonToggleGroup" *ngIf="selectedUser!=null" [value]="option"
        (change)="filterChanged()">
        <mat-button-toggle *ngFor="let o of options" [value]="o">
          <i *ngIf="o.name=='Weapons'" class="far fa-axe-battle"></i>
          <i *ngIf="o.name=='Armor'" class="far fa-helmet-battle"></i>
          <i *ngIf="o.name=='Ghosts'" class="far fa-ghost"></i>
          <i *ngIf="o.name=='Vehicles'" class="fas fa-plane-alt"></i>
          <i *ngIf="o.name=='Mods'" class="far fa-book-spells"></i>
          <i *ngIf="o.name=='Consumable'" class="far fa-flask-potion"></i>
          <i *ngIf="o.name=='Material'" class="far fa-gem"></i>
          <span class="d-none d-md-inline"> {{o.name}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <span style="margin-left: 15px" [hidden]="selectedUser==null">

        <button mat-button (click)="showArmorPerks()"><i class="far fa-stars"></i>
          <span class="hide-mobile-inline">&ensp;Armor Perks</span></button>
        <button mat-button (click)="showUtilities()"><i class="far fa-tools"></i>
          <span class="hide-mobile-inline">&ensp;Utilities</span></button>
      </span>
      <ng-container *ngIf="loading==false && selectedUser==null">
        <h2>Bungie Authentication Required</h2>
        <p style="max-width: 500px; text-align: left">You must grant this site access to your Bungie account for the
          site to access this info
          (gear management is part of the private API, like what DIM uses). Click the "Sign In" button on the upper
          right if you want to continue.</p>
      </ng-container>

      <div style="margin: 10px" [hidden]="selectedUser==null">
        <mat-form-field class="searchField">
          <input matInput #filter [(ngModel)]="visibleFilterText" placeholder="Wildcard filter">
          <button mat-button *ngIf="visibleFilterText" matSuffix mat-icon-button aria-label="Clear" (click)="visibleFilterText=null;filterText=null;filterChanged()">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Help" (click)="showWildcardHelp()">
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-form-field>
        <div class="filter-buttons">

          <anms-gear-toggle #markToggle iconClass="fas fa-tags" title="Tags" [choices]="markChoices" (change)="filterChanged()"
            [displayOptions]="[ItemType.Weapon, ItemType.Armor, ItemType.Ghost, ItemType.Vehicle]" [currentItemType]="option.type">
          </anms-gear-toggle>

          <anms-gear-toggle #weaponTypeToggle iconClass="fas fa-swords" title="Type" [choices]="weaponTypeChoices"
            (change)="filterChanged()" [displayOptions]="[ItemType.Weapon]" [currentItemType]="option.type">
          </anms-gear-toggle>

          <anms-gear-toggle #armorTypeToggle iconClass="fas fa-helmet-battle" title="Type" [choices]="armorTypeChoices"
            (change)="filterChanged()" [displayOptions]="[ItemType.Armor]" [currentItemType]="option.type">
          </anms-gear-toggle>
          <anms-gear-toggle #vehicleTypeToggle iconClass="fas fa-plane-alt" title="Type" [choices]="vehicleTypeChoices"
          (change)="filterChanged()" [displayOptions]="[ItemType.Vehicle]" [currentItemType]="option.type">
        </anms-gear-toggle>

          <anms-gear-toggle #modTypeToggle iconClass="fas fa-book-spells" title="Type" [choices]="modTypeChoices"
            (change)="filterChanged()" [displayOptions]="[ItemType.GearMod]" [currentItemType]="option.type">
          </anms-gear-toggle>
          <anms-gear-toggle #consumableTypeToggle iconClass="fas fa-flask-potion" title="Type" [choices]="consumableTypeChoices"
            (change)="filterChanged()" [displayOptions]="[ItemType.Consumable]" [currentItemType]="option.type">
          </anms-gear-toggle>
          <anms-gear-toggle #exchangeTypeToggle iconClass="fas fa-gem" title="Type" [choices]="exchangeTypeChoices"
            (change)="filterChanged()" [displayOptions]="[ItemType.ExchangeMaterial]" [currentItemType]="option.type">
          </anms-gear-toggle>
          <anms-gear-toggle #classTypeToggle iconClass="fas fa-hood-cloak" title="Class" [choices]="classTypeChoices"
            (change)="filterChanged()" [displayOptions]="[ItemType.Armor]" [currentItemType]="option.type">
          </anms-gear-toggle>
          <anms-gear-toggle #ownerToggle iconClass="fas fa-users" title="Owner" [choices]="ownerChoices" (change)="filterChanged()">
          </anms-gear-toggle>
          <anms-gear-toggle #equippedToggle iconClass="fas fa-tshirt" title="Equipped" [choices]="equippedChoices" (change)="filterChanged()"
          [displayOptions]="[ItemType.Weapon, ItemType.Armor, ItemType.Ghost, ItemType.Vehicle]" [currentItemType]="option.type">
            </anms-gear-toggle>
          <anms-gear-toggle #rarityToggle iconClass="fas fa-balance-scale" title="Rarity" [choices]="rarityChoices"
            (change)="filterChanged()">
          </anms-gear-toggle>

        </div>
        <button mat-button [matMenuTriggerFor]="menuShow"><i class="fas fa-plus-square"></i>
          <span class="hide-mobile-inline">&ensp;Show</span></button>
        <mat-menu #menuShow="matMenu">
          <button mat-menu-item (click)="show(20)"><i *ngIf="size==20" class="fas fa-check"></i> 20 rows</button>
          <button mat-menu-item (click)="show(50)"><i *ngIf="size==50" class="fas fa-check"></i> 50 rows</button>
          <button mat-menu-item (click)="show(100)"><i *ngIf="size==100" class="fas fa-check"></i> 100 rows</button>
          <button mat-menu-item (click)="show(-1)"><i *ngIf="size==-1" class="fas fa-check"></i> All rows</button>
        </mat-menu>
        <a mat-button (click)="load()"><i class="fas fa-sync-alt"></i>
          <span class="hide-mobile-inline">&ensp;Refresh</span></a>
        <a mat-button *ngIf="markService.dirty" (click)="markService.saveMarks()"><i class="fas fa-save"></i></a>
        <a mat-button *ngIf="filtersDirty==true" (click)="resetFilters()">
          <span class="fa-stack">
            <i class="fas fa-filter fa-stack-1x"></i>
            <i class="fas fa-ban fa-stack-2x warn-text"></i>
          </span>
        </a>

        <span class="simple-caption">{{gearToShow.length}} / {{total}}</span>
      </div>
      <ng-container *ngIf="selectedUser!=null">
        <div *ngIf="debugmode">
          <h5>Filters</h5>
          <div *ngFor="let note of filterNotes">
            {{note}}
          </div>
        </div>
        <table class="gear-table mark-table">
          <thead>
            <tr>
              <th class="limited-gear-width">
                <a href="javascript:void(0)" (click)="sort('power')">Light</a>
              </th>
              <th class="limited-gear-width">
                <a href="javascript:void(0)" (click)="sort('name')">Name</a>
              </th>
              <th class="limited-gear-width hide-mobile-table-cell">
                <a href="javascript:void(0)" (click)="sort('typeName')">Type</a>
              </th>
              <th class="limited-gear-width hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle">
                <a href="javascript:void(0)" (click)="sort('copies')">Copies</a>
              </th>
              <th class="limited-gear-width hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                <a href="javascript:void(0)" (click)="sort('masterwork')">Masterwork</a>
              </th>
              <th class="limited-gear-width hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                <a href="javascript:void(0)" (click)="sort('mod')">Mod</a>
              </th>
              <th class="hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle">
                Sockets
              </th>

              <th class="limited-gear-width" *ngIf="option.type!=ItemType.Weapon && option.type!=ItemType.Armor && option.type!=ItemType.Ghost && option.type!=ItemType.Vehicle">
                <a href="javascript:void(0)" (click)="sort('quantity')">Quantity</a>
              </th>
              <th class="tag-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle">
                Tag
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let i of gearToShow">
              <tr [ngClass]="i.mark">
                <td class="limited-gear-width">
                  <div *ngIf="i.icon!=null" class="item-image" [style.background-image]="'url(//www.bungie.net' + i.icon + ')'"
                    [class.masterworked]="i.masterworked">
                    <div *ngIf="i.power>0" class="primary-stat" [class.void]="i.damageType===DamageType.Void"
                      [class.arc]="i.damageType===DamageType.Arc" [class.solar]="i.damageType===DamageType.Thermal">
                      {{i.power}}
                    </div>
                    <div class="gear-lock">
                      <i *ngIf="i.locked" (click)="gearService.setLock(player, i, false)" class="fas fa-lock-alt"></i>
                      <i *ngIf="!i.locked && (i.type==ItemType.Weapon || i.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle)" (click)="gearService.setLock(player, i, true)"
                        class="fas fa-lock-open-alt"></i>
                    </div>
                    <div class="gear-equipped">
                      <i *ngIf="i.equipped" class="fas fa-shield-check" title="Equipped"></i>
                    </div>
                  </div>
                  <br>
                  <div class="mobile-only-block">
                    <button mat-button (click)="showCopies(i)"> {{i.copies}} <i class="fal fa-clone"></i></button>
                  </div>
                </td>
                <td class="limited-gear-width">
                  <i *ngIf="i.godRoll" matTooltip="God roll! Search 'godroll' in the filter to find more of these."
                    class="fas fa-star accent-text"></i>

                  <a *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle" class="item-name" href="javascript:void(0)" [matTooltip]="i.desc" matTooltipClass="preserve-white-space" (click)="showItem(i)">
                    {{i.name}}
                  </a>
                  <span *ngIf="option.type!=ItemType.Weapon && option.type!=ItemType.Armor && option.type!=ItemType.Ghost && option.type!=ItemType.Vehicle" class="item-name" [matTooltip]="i.desc" matTooltipClass="preserve-white-space">
                    {{i.name}}
                  </span>
                  <a mat-icon-button class="item-menu-button" [matMenuTriggerFor]="itemMenu">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <mat-menu #itemMenu="matMenu">
                    <button mat-menu-item *ngIf="i.canReallyEquip" (click)="equip(player, i)">
                      <i class="fal fa-tshirt"></i> Equip on {{i.owner.label}}
                    </button>
                    <button mat-menu-item *ngFor="let target of i.options" (click)="transfer(player, i, target)">
                      <i class="fal fa-exchange"></i> Transfer to {{target.label}}
                    </button>
                    <button mat-menu-item *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle" (click)="copyToClipboard(i)">
                      <i class="fal fa-copy"></i> Copy for reddit
                    </button>
                  </mat-menu>
                  <span *ngIf="debugmode">[{{i.hash}}]</span>

                  <div class="simple-caption">{{i.owner.label}}</div>



                  <div class="mobile-only-block">
                    <div *ngIf="i.masterwork!=null" [matTooltip]="i.masterwork.desc" matTooltipClass="preserve-white-space">
                      {{i.masterwork.name}} {{i.masterwork.tier}}
                      <mat-progress-bar *ngIf="i.type == ItemType.Weapon" mode="determinate" [color]="i.masterwork.tier>=10?'accent':'primary'" [value]="i.masterwork.tier*10"></mat-progress-bar>
                      <mat-progress-bar *ngIf="i.type == ItemType.Armor" mode="determinate" [color]="i.masterwork.tier>=5?'accent':'primary'" [value]="i.masterwork.tier*10*2"></mat-progress-bar>
                    </div>

                    <div *ngIf="i.mod!=null" [matTooltip]="i.mod.desc" matTooltipClass="preserve-white-space">
                      {{i.mod.name}}
                    </div>
                  </div>

                </td>

                <td class="limited-gear-width hide-mobile-table-cell">
                  {{i.typeName}}
                  <span class="simple-caption" *ngIf="i.isRandomRoll">Random</span>
                  <span class="simple-caption" *ngIf="!i.isRandomRoll">Fixed</span>
                  <ng-container *ngIf="option.type == ItemType.Armor"><br>{{ClassAllowed[i.classAllowed]}}</ng-container>
                  <ng-container *ngIf="debugmode"><br>[{{i.inventoryBucket}}]</ng-container>

                </td>
                <td class="limited-gear-width hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle">
                    <button mat-button (click)="showCopies(i)"> {{i.copies}} <i class="fal fa-clone"></i></button>
                </td>
                <td class="limited-gear-width hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                  <div *ngIf="i.masterwork!=null" [matTooltip]="i.masterwork.desc" matTooltipClass="preserve-white-space">
                    
                    {{i.masterwork.name}} {{i.masterwork.tier}} <ng-container *ngIf="debugmode">[{{i.masterwork.hash}}]</ng-container>

                    <mat-progress-bar *ngIf="option.type == ItemType.Weapon" mode="determinate" [color]="i.masterwork.tier>=10?'accent':'primary'" [value]="i.masterwork.tier*10"></mat-progress-bar>
                    <mat-progress-bar *ngIf="option.type == ItemType.Armor" mode="determinate" [color]="i.masterwork.tier>=5?'accent':'primary'" [value]="i.masterwork.tier*10*2"></mat-progress-bar>
                  </div>
                </td>
                <td class="limited-gear-width hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor">
                  <div *ngIf="i.mod!=null" [matTooltip]="i.mod.desc" matTooltipClass="preserve-white-space">
                    <!-- <div *ngIf="i.mod.icon!=null" class="mod-icon transparent-icon" [style.background-image]="'url(//www.bungie.net' + i.mod.icon + ')'"></div>
                    <br> -->
                    {{i.mod.name}} <ng-container *ngIf="debugmode">[{{i.mod.hash}}]</ng-container>

                  </div>
                </td>
                <td class="hide-mobile-table-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle">
                  <div *ngFor="let socket of i.sockets; last as isLastSocket" [class.bottom]="!isLastSocket">
                    <span *ngFor="let plug of socket.plugs; last as isLastPlug" [class.not-selected-plug]="!plug.active"
                      [matTooltip]="plug.desc" matTooltipClass="preserve-white-space">
                      <i *ngIf="plug.godRoll && i.godRoll" class="fas fa-star accent-text"></i>
                      <i *ngIf="plug.godRoll && !i.godRoll && highlightAllPerks" class="fas fa-star"></i>

                      <!-- <div *ngIf="plug.icon!=null" class="plug-icon transparent-icon" [style.background-image]="'url(//www.bungie.net' + plug.icon + ')'"></div> -->
                      {{plug.name}} <ng-container *ngIf="debugmode">[{{plug.hash}}]</ng-container>
                      <ng-container *ngIf="!isLastPlug">|</ng-container>
                    </span>
                  </div>
                </td>
                <td class="limited-gear-width" *ngIf="option.type!=ItemType.Weapon && option.type!=ItemType.Armor && option.type!=ItemType.Ghost && option.type!=ItemType.Vehicle">
                  {{i.quantity}}
                </td>
                <td class="tag-cell" *ngIf="option.type==ItemType.Weapon || option.type==ItemType.Armor || option.type==ItemType.Ghost || option.type==ItemType.Vehicle">
                  <div class="hide-mobile-block">
                    <button *ngFor="let mc of markService.markChoices" (click)="mark(mc.value,i)" mat-icon-button
                      [ngClass]="['tag-button',mc.value]" [matTooltip]="mc.label">
                      <i [class]="mc.iconClass"></i>
                    </button>
                  </div>
                  <div class="mobile-only-block">
                    <button mat-icon-button [matMenuTriggerFor]="tagMenu">
                      <i class="fas fa-tags"></i> Tag
                    </button>
                    <mat-menu #tagMenu="matMenu">
                      <button *ngFor="let mc of markService.markChoices" (click)="mark(mc.value,i)" mat-menu-item
                        [ngClass]="['tag-button',mc.value]">
                        <i [class]="mc.iconClass"></i>
                        {{mc.value}}
                      </button>
                    </mat-menu>
                  </div>
                  <div>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Notes" maxlength="100" [(ngModel)]="i.notes" placeholder="Notes"
                        (change)="itemNotesChanged(i)">
                    </mat-form-field>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

      </ng-container>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>