<h2 mat-dialog-title>Gear Utilities
</h2>
<mat-dialog-content>
    <p>
        <button mat-raised-button color="primary" (click)="parent.syncLocks()">Sync Locks</button> Update the lock
        state of your items
        to match their tags. Upgrade/Keep items will be locked. Infuse/Junk items will be unlocked.
    </p>
    <p>
        <button mat-raised-button color="primary" (click)="parent.shardMode()">Shard mode</button> Clears all
        non-equipped items from your most
        recent character, then transfers all the junk that will fit to them, so you can quickly and safely shard things
        in bulk.
    </p>
    <p>
            <button mat-raised-button color="primary" (click)="parent.upgradeMode()">Cheap Upgrade mode</button> 
            Clears all non-equipped items from your most
            recent character, then transfers as many sets of items where you have Infuse 
            and Upgrade of the same type (for cheap infusion).
        </p>
    
    <h4>Settings</h4>
    <div>
        <mat-checkbox [(ngModel)]="parent.highlightAllPerks" (change)="parent.updateHighlightAllPerks()">Highlight
            godroll perks on non-godroll items</mat-checkbox>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input matInput name="override-wishlist-url" [(ngModel)]="tempWishlistOverrideUrl" placeholder="Custom wishlist URL">
        </mat-form-field>
        <button [disabled]="parent.wishlistOverrideUrl==tempWishlistOverrideUrl" 
            (click)="parent.updateWishlistOverrideUrl(tempWishlistOverrideUrl)"
            mat-button>Apply</button>
        <button [disabled]="parent.wishlistOverrideUrl==null" 
            (click)="parent.updateWishlistOverrideUrl(null)"
            mat-button>Reset</button>
        <div class="simple-caption">
            <div *ngIf="parent.wishlistOverrideUrl!=null">
              Currently using {{parent.wishlistOverrideUrl}}
            </div>
            Default url is {{WishlistService.DEFAULT_URL}}. Page will refresh on successful change.
        </div>
    </div>
</mat-dialog-content>