<ng-container *ngIf="state.player|async as player">

  <table class="responsive-table" *ngIf="player.accountProgressions!=null && player.accountProgressions.length>0">
    <thead>
      <tr>
        <th scope="col">Account-wide Progressions</th>
        <th scope="col">Progress</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faction of player.accountProgressions">
        <td class="lead" data-label="">
          <span [matTooltip]="faction.desc" matTooltipClass="preserve-white-space">{{faction.name}}</span>
          <span class="light">
            <ng-container *ngIf="debugmode|async">{{faction.hash}} </ng-container>
            <ng-container *ngIf="faction.steps!=null && (faction.steps[faction.level]!=null)">

              <button mat-raised-button color="accent" (click)="openStepDialog(faction)">
                {{faction.title}}
              </button>

              <span style="margin-left: 5px" *ngIf="player.pvpStreak && faction.hash == '2000925172'">
                <span class="accent-text" *ngIf="player.pvpStreak.win">Streak: {{player.pvpStreak.count}} W</span>
                <span class="warn-text" *ngIf="!player.pvpStreak.win">Streak: {{player.pvpStreak.count}} L</span>
              </span>
            </ng-container>
          </span>
          <span class="caption">{{faction.info}}</span>
          <div class="row dl-row simple-caption">
            <dl class="col-xs-2 dl-child">
              <dt>Daily</dt>
              <dd>{{faction.dailyProgress| number:0}}</dd>
            </dl>
            <dl class="col-xs-2 dl-child">
              <dt>Weekly</dt>
              <dd>{{faction.weeklyProgress| number:0}}</dd>
            </dl>
            <dl class="col-xs-2 dl-child">
              <dt>To Next Level</dt>
              <dd>{{(faction.nextLevelAt - faction.progressToNextLevel)|
              number:0}}</dd>
            </dl>
            <dl class="col-xs-2 dl-child">
              <dt>Total Earned</dt>
              <dd>
                {{faction.currentProgress|number:0}} / {{faction.totalProgress|number:0}}
              </dd>
            </dl>
            <dl class="col-xs-2 dl-child" *ngIf="faction.currentResetCount != null">
              <dt>Season Resets</dt>
              <dd>
                {{faction.currentResetCount}}
              </dd>
            </dl>
            <dl class="col-xs-2 dl-child"  *ngIf="faction.lifetimeResetCount != null">
              <dt>Lifetime Resets</dt>
              <dd>
                  {{faction.lifetimeResetCount}}
              </dd>
            </dl>
          </div>
        </td>
        <td data-label="">
          {{faction.percentToNextLevel|percent:'1.0-0'}} 
          <ng-container *ngIf="(faction.level+1)<faction.steps.length; else atMax">
              to {{faction.nextTitle}}
          </ng-container>
          <ng-template #atMax>
              to Max
          </ng-template>
          
          <div>
            <mat-progress-bar mode="determinate" [value]="faction.percentToNextLevel*100">
            </mat-progress-bar>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <mat-tab-group>
    <mat-tab [label]="char.className+' - '+char.light" *ngFor="let char of player.characters">
      <div *ngIf="char.factions==null || char.factions.length==0">
        <br>
        <h2>Privacy</h2>
        <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
      </div>
      <table class="responsive-table" *ngIf="char.factions!=null && char.factions.length>0">
        <thead>
          <tr>
            <th scope="col">Character Faction</th>
            <th scope="col">Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let faction of char.factions">
            <td class="lead" data-label="">
              <span [matTooltip]="faction.desc" matTooltipClass="preserve-white-space">{{faction.name}}</span>
              <span class="light">Level {{faction.level}}
                <ng-container *ngIf="debugmode|async">{{faction.hash}}</ng-container>
                <ng-container *ngIf="faction.steps!=null && (faction.steps[faction.level]!=null)">
                  {{faction.title}}
                </ng-container>
              </span>
              <span class="caption">{{faction.info}}</span>
              <div class="row dl-row simple-caption">
                <dl class="col-xs-3 dl-child">
                  <dt>Daily</dt>
                  <dd>{{faction.dailyProgress| number:0}}</dd>
                </dl>
                <dl class="col-xs-3 dl-child">
                  <dt>Weekly</dt>
                  <dd>{{faction.weeklyProgress| number:0}}</dd>
                </dl>
                <dl class="col-xs-3 dl-child">
                  <dt>To Next Level</dt>
                  <dd>{{(faction.nextLevelAt - faction.progressToNextLevel)|
                  number:0}}</dd>
                </dl>
                <dl class="col-xs-3 dl-child">
                  <dt>Level Cap</dt>
                  <dd>
                    <ng-container *ngIf="faction.levelCap>0">
                      {{faction.levelCap| number:0}}
                    </ng-container>
                    <ng-container *ngIf="faction.levelCap<=0">
                      None
                    </ng-container>
                  </dd>
                </dl>
                <dl class="col-xs-3 dl-child">
                  <dt>Total Earned</dt>
                  <dd>
                    {{faction.currentProgress|number:0}}
                  </dd>
                </dl>
              </div>
            </td>
            <td data-label="">
              {{faction.percentToNextLevel|percent:'1.0-0'}} to level {{faction.level+1}}
              <div>
                <mat-progress-bar mode="determinate" [value]="faction.percentToNextLevel*100">
                </mat-progress-bar>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </mat-tab>
  </mat-tab-group>
</ng-container>