<nav mat-tab-nav-bar color="accent">
    <a mat-tab-link routerLink="progress" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
        <fa-icon [icon]="iconService.fasChartLine"></fa-icon><span class="d-none d-md-inline">&ensp;Progress</span>
    </a>
    <a mat-tab-link routerLink="chars" routerLinkActive #rla7="routerLinkActive" [active]="rla7.isActive">
            <fa-icon [icon]="iconService.fasUsers"></fa-icon><span class="d-none d-md-inline">&ensp;Chars</span>
    </a>
</nav>
<router-outlet></router-outlet>